{% extends 'home/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'source/profile_style.css' %}" />
<title>{{ source.name }} Profile | ResearchBrowser</title>
{% endblock %} {% block content %}
<div class="pageContainer">
  <div class="leftSide">
    <div class="profileContainer">
      <img class="profilePicture" src="{% static source.favicon_path %}" alt="favicon" />
    </div>
    <div class="containerHeader">Links:</div>
    <div class="sourceContainer">
      <div class="iconContainer">
        <img class="sourcePic" src="{{ website_logo }}" alt="website_logo" />
      </div>
      <a class="sourceLink" href="{{ source.url }}"></a>
    </div>
    <div class="containerHeader aboutHeader">About {{ source.name }}:</div>
    <div class="aboutSection">{{ source.about_text }}</div>
  </div>
  <div class="rightSide">
    <div class="rightSideUpperContainer">
      <div class="upperInnerContainer">
        <h3>{{ source.name }}</h3>
        {% if subscribed %}
        <button class="subscribeButton subscribed">Subscribed</button>
        {% else %}
        <button class="subscribeButton unsubscribed">Subscribe</button>
        {% endif %}
      </div>
      {% for sector in source.sector.all %}
      <a href="../../home/sector/{{ sector.name }}" class="expertise">{{ sector.name }}</a>
      {% empty %}
      <div class="expertise">No specific sector</div>
      {% endfor %}
      <div class="rankingsHeader">Rankings</div>
      <div class="rankingsContainer">
        <div class="avgRating">{{ average_rating }}</div>
        <div class="rating">
          <form class="rate-form" action="" method="POST">
            {% csrf_token %}
            <button type="submit" class="fa fa-star rankingStar" id="first"></button>
            <button type="submit" class="fa fa-star rankingStar" id="second"></button>
            <button type="submit" class="fa fa-star rankingStar" id="third"></button>
            <button type="submit" class="fa fa-star rankingStar" id="fourth"></button>
            <button type="submit" class="fa fa-star rankingStar" id="fifth"></button>
          </form>
          <br>
          <div id="confirm-box"></div>
        </div>
      </div>
    </div>
    <div class="listsAndArticlesWrapper">
      <div class="articlesUpperContainer">
        <div class="containerHeader">Latest Articles</div>
        <div class="articlesContainer">
          {% if articles %} {% for article in articles %}
          <div class="article">
            <img src="{% static article.source.favicon_path %}" />
            <div class="articleInformationContainer">
              <div class="articleTitle">{{ article.title }}</div>
              <div class="articleSectorAndDateContainer">
                {% for sector in article.source.sector.all %}
                <a href="../../home/sector/{{ sector.name }}">{{ sector.name }}</a>
                {% endfor %}
                <div class="articlePubDate">{{ article.pub_date }}</div>
                {% if article.source.top_source %}
                <i class="fas fa-star articleTopSource"></i>
                {% endif %}
                {% if article.source.paywall == "Yes" %}
                <i class="fas fa-lock articleFullPaywall"></i>
                {% elif article.source.paywall == "Semi" %}
                <i class="fas fa-lock articleSemiPaywall"></i>
                {% endif %}
              </div>
            </div>
            <a class="articleLink" href="{{ article.link }}"></a>
          </div>
          {% endfor %} {% endif %}
        </div>
        {% include "pagination.html" with page=articles %}
      </div>
      <div class="listsContainer">
        <div class="containerHeader">Lists</div>
        <div class="articlesContainer">
          {% if lists %} {% for list in lists %}
          <div class="article">
            {% if list.list_pic %}
            <img class="sourcePic" src="{{ list.list_pic.url }}" alt="favicon" />
            {% else %}
            <img class="sourcePic" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
            {% endif %}
            <div>{{ list.name }}</div>
            <a class="listLink" href="{% url 'home:home-list_details' list_id=list.list_id %}"></a>
          </div>
          {% endfor %} {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{{ user_rating|json_script:"user-rating" }}
<script src="{% static 'source/profile_script.js' %}"></script>
{% endblock content %}