{% extends 'home/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'source/profile_style.css' %}" />
<title>{{ source.name }} Profile | ResearchBrowser</title>
{% endblock %} {% block content %}

<div class="upperContainer">
  <div class="leftInnerContainer">
    <div class="listPictureContainer">
      <img class="profilePicture" src="{% static source.favicon_path %}" alt="favicon" />
    </div>
  </div>
  <div class="rightInnerContainer">
    <div class="upperInnerContainer">
      <h3 class="sourceName" id="source_id_{{ source.source_id }}">{{ source.name }}</h3>
      <div class="sourceContainer">
        <div class="iconContainer">
          <img class="sourcePic" src="{% static source.website.logo %}" alt="website_logo" />
        </div>
        <a class="sourceLink" href="{{ source.url }}"></a>
      </div>
      <div class="notificationAndSubscribtionContainer">
        {% if request.user.is_authenticated %}
        {% if notifications_activated %}
        <i class="fas fa-bell notificationActivated"></i>
        {% else %}
        <i class="fas fa-bell"></i>
        {% endif %}
        <button class="addSourceToListButton"><i class="fas fa-list"></i></button>
        <div class="addToListForm addSourceToListForm">
          <i class="fas fa-times"></i>
          <h3>Add to lists</h3>
          {% if user_lists %}
          <div class="listSelectionContainer">
            {% for list in user_lists %}
            <div class="listContainer">
              <label for="id_list_{{ list.list_id }}">
                {% if source in list.sources.all %}
                <input id="id_list_{{ list.list_id }}" class="sourceInList" type="checkbox" name="lists"
                  value="{{ list.list_id }}" checked="True"> {{ list }}
                {% else %}
                <input id="id_list_{{ list.list_id }}" class="sourceNotInList" type="checkbox" name="lists"
                  value="{{ list.list_id }}">
                {{ list }}
                {% endif %}
              </label>
            </div>
            {% endfor %}
          </div>
          <div class="buttonsContainer">
            <button class="saveButton">Save</button>
            <button class="createNewListButton">Create</button>
          </div>
          {% else %}
          <div class="listContainer">You haven't created any lists!</div>
          <button class="createNewListButton createFirstList">Create First List</button>
          {% endif %}
        </div>
        <div class="createListMenu sourcesCreateListMenu formContainer">
          <h3>Create A New List</h3>
          <i class="fas fa-times closeFormContainerButton"></i>
          <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
            {% csrf_token %} {{ add_list_form }}
            <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
          </form>
        </div>
        {% if subscribed %}
        <button class="subscribeButton subscribed">Subscribed</button>
        {% else %}
        <button class="subscribeButton unsubscribed">Subscribe</button>
        {% endif %}
        {% else %}
        <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i class="fas fa-list"></i></a>
        <a href="{% url 'account_login' %}" class="subscribeButton unsubscribed registrationLink">Subscribe</a>
        {% endif %}
      </div>
    </div>
    <div class="sectorContainer">Sector:
      <a href="{{ source.sector.get_absolute_url }}">{{ source.sector.name }}</a>
    </div>
    <div class="ratingsWrapper">
      <div class="rankingsUpperContainer">
        <div class="rankingsHeader">Ratings</div>
        {% if request.user.is_authenticated %}
        <button type="button" class="rateListButton openRateListButton">Rate</button>
        {% else %}
        <a href="{% url 'account_login' %}" class="rateListButton registrationLink">Rate</a>
        {% endif %}
        <div class="rate-formUpperContainer">
          <h3>Rate {{ source.name }}</h3>
          <div class="rate-form" action="" method="POST">
            <button type="submit" class="fa fa-star rankingStar" id="first"></button>
            <button type="submit" class="fa fa-star rankingStar" id="second"></button>
            <button type="submit" class="fa fa-star rankingStar" id="third"></button>
            <button type="submit" class="fa fa-star rankingStar" id="fourth"></button>
            <button type="submit" class="fa fa-star rankingStar" id="fifth"></button>
          </div>
        </div>
      </div>
      <div class="rankingsContainer">
        <div class="rating">
          <div class="ratedContainer">
            <button type="button" class="fa fa-star ratedStar" id="first"></button>
            <button type="button" class="fa fa-star ratedStar" id="second"></button>
            <button type="button" class="fa fa-star ratedStar" id="third"></button>
            <button type="button" class="fa fa-star ratedStar" id="fourth"></button>
            <button type="button" class="fa fa-star ratedStar" id="fifth"></button>
          </div>
          {% if average_rating != "None" %}
          <div class="avgRating"><span>{{ source.average_rating }}</span> out of 5</div>
          {% else %}
          <div class="avgRating">No Ratings</div>
          {% endif %}
        </div>
      </div>
      <div class="ratingsAmmountContainer">based on <span class="ratingsAmmount">
          {{ source.ammount_of_ratings }}</span> ratings</div>
    </div>
  </div>
</div>

{% if source.website.name == "Twitter" and latest_articles %}
<div class="twitterWrapper">
  <div class="tweetsContainer twitterHalfPageContainer">
    <div class="categoryHeader">Newest Tweets</div>
    <div class="smallFormContentWrapper">
      {% for tweet in latest_articles %}
      <div class="articleContainer" id="article_id_{{ tweet.article_id }}">
        <div class="leftContentSide">
          <img src="{% static tweet.source.favicon_path %}" />
        </div>
        <div class="rightContentSide">
          <div class="contentInfoContainer">
            <div class="sourceAndWebsiteContainer">
              <a href="{{ tweet.source.get_absolute_url }}">{{ tweet.source.name }}</a>
              <img src="{% static 'home/media/twitter_logo.png' %}">
            </div>
            <i class="fas fa-ellipsis-h"></i>
            <div class="articleOptionsContainer">
              {% if request.user.is_authenticated %}
              <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
              {% if tweet.title in highlighted_content_titles %}
              <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight
                  article</span></div>
              {% else %}
              <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight
                  article</span></div>
              {% endif %}
              {% else %}
              <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i
                  class="fas fa-list"></i>Add
                to list</a>
              <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                  class="fas fa-highlighter"></i><span>Highlight article</span></a>
              {% endif %}
            </div>
            <div class="addToListForm">
              <i class="fas fa-times"></i>
              <h3>Add To Lists</h3>
              {% if user_lists %}
              <div class="listSelectionContainer">
                {% for list in user_lists %}
                <div class="listContainer">
                  <label for="list_id_{{ list.list_id }}">
                    {% if tweet in list.articles.all %}
                    <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists" checked="True"> {{ list }}
                    {% else %}
                    <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists">
                    {{ list }}
                    {% endif %}
                  </label>
                </div>
                {% endfor %}
              </div>
              <div class="buttonsContainer">
                <button class="saveButton">Save</button>
                <button class="createNewListButton">Create</button>
              </div>
              {% else %}
              <div class="listContainer">You haven't created any lists!</div>
              <button class="createNewListButton createFirstList">Create First List</button>
              {% endif %}
            </div>
            <div class="createListMenu articleCreateListMenu formContainer">
              <h3>Create A New List</h3>
              <i class="fas fa-times closeFormContainerButton"></i>
              <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                {% csrf_token %} {{ add_list_form }}
                <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
              </form>
            </div>
          </div>
          <div class="contentBody">
            <p>{{ tweet.title }}</p>
          </div>
          <div class="timeContainer">
            <p>{{ tweet.pub_date }}</p>
          </div>
          <a class="contentLink" href="{{ tweet.link }}"></a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="pagination">
      <span class="step-links">
        {% for i in latest_articles.paginator.page_range %}
        {% if latest_articles.number == i %}
        <button class="currentPagination">{{ latest_articles.number }}</button>
        {% elif i > latest_articles.number|add:'-3' and i < latest_articles.number|add:'3' %} <a
          href="?latest_articles={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
      </span>
    </div>
  </div>
  <div class="mostLikedTweetsContainer twitterHalfPageContainer">
    <div class="categoryHeader">Most Liked Tweets</div>
    <div class="blurContainer">
      <div class="smallFormContentWrapper blur">
        <img src="{% static 'home/media/blurred_top_tweets.png'  %}">
      </div>
      <div class="blurOverlay"></div>
      <div class="comingSoon">Coming Soon</div>
    </div>
  </div>
</div>
{% else %}
{% if latest_articles %}
<div class="categoryHeader">Latest Content</div>
<div class="articlesWrapper">
  {% for article in latest_articles %}
  <div class="articleContainer" id="article_id_{{ article.article_id }}">
    <div class="authorImageContainer">
      <img src="{% static article.source.favicon_path %}" />
      <a href="{{ article.source.get_absolute_url }}"></a>
    </div>
    <div class="articleInformationContainer">
      <div class="articleTitle">{{ article.title }}
        <span class="articleTitleTooltip">{{ article.title }}</span>
      </div>
      <div class="articleSectorAndDateContainer">
        <a href="{{ article.source.sector.get_absolute_url }}">
          {{ article.source.sector }}</a>
        <div class="articlePubDate">{{ article.pub_date }}</div>
      </div>
    </div>
    <i class="fas fa-ellipsis-h"></i>
    <div class="articleWebsiteLogoContainer">
      <img class="articleWebsiteLogo" src="{% static article.source.website.logo %}" alt="">
      <a class="articleLink" href="{{ article.link }}"></a>
    </div>
    <div class="articleOptionsContainer">
      {% if request.user.is_authenticated %}
      <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
      {% if article.title in highlighted_content_titles %}
      <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight article</span></div>
      {% else %}
      <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight article</span></div>
      {% endif %}
      {% else %}
      <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i class="fas fa-list"></i>Add
        to list</a>
      <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
          class="fas fa-highlighter"></i><span>Highlight article</span></a>
      {% endif %}
    </div>
    <div class="addToListForm">
      <i class="fas fa-times"></i>
      <h3>Add To Lists</h3>
      {% if user_lists %}
      <div class="listSelectionContainer">
        {% for list in user_lists %}
        <div class="listContainer">
          <label for="list_id_{{ list.list_id }}">
            {% if article in list.articles.all %}
            <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists" checked="True"> {{ list }}
            {% else %}
            <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists">
            {{ list }}
            {% endif %}
          </label>
        </div>
        {% endfor %}
      </div>
      <div class="buttonsContainer">
        <button class="saveButton">Save</button>
        <button class="createNewListButton">Create</button>
      </div>
      {% else %}
      <div class="listContainer">You haven't created any lists!</div>
      <button class="createNewListButton createFirstList">Create First List</button>
      {% endif %}
    </div>
    <div class="createListMenu articleCreateListMenu formContainer">
      <h3>Create A New List</h3>
      <i class="fas fa-times closeFormContainerButton"></i>
      <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
        {% csrf_token %} {{ add_list_form }}
        <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
      </form>
    </div>
  </div>
  {% endfor %}
</div>
<div class="pagination">
  <span class="step-links">
    {% for i in latest_articles.paginator.page_range %}
    {% if latest_articles.number == i %}
    <button class="currentPagination">{{ latest_articles.number }}</button>
    {% elif i > latest_articles.number|add:'-3' and i < latest_articles.number|add:'3' %} <a
      href="?latest_articles={{ i }}">{{ i }}</a>
    {% endif %}
    {% endfor %}
  </span>
</div>
{% endif %}
{% endif %}


{% if lists %}
<div class="sliderWrapper">
  <div class="sliderHeader">
    <div>Lists with {{ source.name }}</div>
    <div class="progressBar"></div>
  </div>
  <div class="sliderContentContainer">
    <button class="handle leftHandle">
      <div class="handleSymbol">&#8249;</div>
    </button>
    <div class="slider">
      {% for list in lists %}
      <div class="contentWrapper">
        <div class="contentContainer">
          <div class="contentIconContainer">
            {% if list.list_pic %}
            <img class="contentIcon" src="{{ list.list_pic.url }}" alt="favicon" />
            {% else %}
            <img class="contentIcon" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
            {% endif %}
          </div>
          <a class="contentLink" href="{{ list.get_absolute_url }}"></a>
          <div class="contentNameContainer">
            <div class="contentName">{{ list.name }}</div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="handle rightHandle">
      <div class="handleSymbol">&#8250;</div>
    </button>
  </div>
</div>
{% endif %}

{{ user_rating|json_script:"user-rating" }}
<script src="{% static 'source/profile_script.js' %}"></script>
{% endblock content %}