{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/min_main_style.css' %}">
<title>FinBrowser</title>
<meta name="description" content="Good investment decisions are only possible with well-founded analysis. Unfortunately,
Wall Street has long had a monopoly on great research. However, that has changed in the last decade and now the
open web has become home to many experts freely sharing their investing knowledge with the world. With
FinBrowser, you can find and manage these sources.">
{% endblock %}
{% block content %}

{% create_fk_article_container "Article Of The Week" articles_of_the_week %}

<div class="twitterWrapper">
    <div class="tweetsContainer twitterHalfPageContainer">
        {% create_fk_tweets_container "Energy Crisis Tweets" energy_crisis_tweets %}
    </div>
    <div class="mostLikedTweetsContainer twitterHalfPageContainer">
        {% create_fk_tweets_container "Macro Tweets" macro_tweets %}
    </div>
</div>

{% create_fk_article_container "Trending Topics" trending_topic_articles %}

{% create_source_container "Highest Rated Sources" highest_rated_sources %}

{% create_fk_article_container "Audio Of The Week" audio_of_the_week %}

{% create_source_container "New Sources" newest_sources %}

{% endblock content %}