{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/min_main_style.css' %}">
<title>FinBrowser | Discover</title>
<meta name="description" content="Good investment decisions are only possible with well-founded analysis. Unfortunately,
Wall Street has long had a monopoly on great research. However, that has changed in the last decade and now the
open web has become home to many experts freely sharing their investing knowledge with the world. With
FinBrowser, you can find and manage these sources.">
{% endblock %}
{% block content %}



{% endblock content %}