<form method="POST" class="cookie-container">
    <div class="leftCookieSide">
        <h3>This Website Uses Cookies</h3>
        <p>
            We use cookies in this website to give you the best experience on our
            site and show you relevant ads. To find out more, read our
            <a href="{% url 'support:privacy-policy' %}">Privacy Policy</a> and <a
                href="{% url 'support:cookie-statement' %}">Cookie Policy</a>.
        </p>
        <div>
            {% csrf_token %}
            <label>Necessary</label>
            <input disabled="disabled" type="checkbox" checked>
            {{ cookie_settings_form }}
        </div>
    </div>
    <div class="rightCookieSide">
        <button type="submit" name="accept-all-cookies" class="cookie-btn">Accept All</button>
        <button type="submit" name="custom-cookie-settings" class="cookie-btn">Save</button>
    </div>
</form>