{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/articles_style.css' %}">
<title>ResearchBrowser | Articles</title>
{% endblock %}

{% block content %}

<div class="createListMenu formContainer">
    <h3>Create A New List</h3>
    <i class="fas fa-times closeFormContainerButton"></i>
    <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
        {% csrf_token %} {{ form }}
        <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
    </form>
</div>


<div class="filterBar">
    <div class="selectContainer">
        <label for="timeframe">Timeframe</label>
        <select id="timeframe">
            <option value="All" selected="selected">All</option>
            <option value="7">Last 7 days</option>
            <option value="30">Last 30 days</option>
            <option value="90">Last 90 days</option>
            <option value="365">Last 365 days</option>
        </select>
    </div>
    <div class="selectContainer">
        <label for="sector">Sector</label>
        <select id="sector">
            <option value="All" selected="selected">All</option>
            {% for sector in sectors %}
            <option value="{{ sector.name }}">{{ sector.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="selectContainer">
        <label for="paywall">Paywall</label>
        <select id="paywall">
            <option value="All" selected="selected">All</option>
            <option value="Yes">Yes</option>
            <option value="Semi">Semi</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="selectContainer">
        <label class="sourceLabel" for="sources">Sources</label>
        <details>
            <summary>All</summary>
            <ul>
                <li><img src="{% static 'home/media/infinity_favicon.png' %}" alt=""><span>All</span></li>
                <li><img src="{% static 'home/media/seekingalpha_favicon.png' %}" alt=""><span>SeekingAlpha</span></li>
                <li><img src="{% static 'home/media/spotify_favicon.png' %}" alt=""><span>Spotify</span></li>
                <li><img src="{% static 'home/media/substack_favicon.png' %}" alt=""><span>Substack</span></li>
                <li><img src="{% static 'home/media/twitter_favicon.png' %}" alt=""><span>Twitter</span></li>
                <li><img src="{% static 'home/media/youtube_favicon.png' %}" alt=""><span>YouTube</span></li>
                <li><img src="{% static 'home/media/default_favicon.png' %}" alt=""><span>Other</span></li>
            </ul>
        </details>
    </div>
    <div class="selectContainer searchSelectContainer">
        <div class="searchContainer">
            <input id="search" placeholder="Search term" type="text" autocomplete="off" />
            <i class="fas fa-search"></i>
        </div>
        <div id="autocomplete_list_results"></div>
    </div>
    <div class="selectContainer">
        <button class="searchButton">Search</button>
    </div>
</div>
<div class="lowerFilterBar">
    <div class="searchResultsContainer">
        <h4>Search Results</h4>
        <div><span>{{ results_found }}</span> Articles Found</div>
    </div>
</div>

<div class="popUpMenu createListMenu">
    <i class="fas fa-times red closeMenuButton"></i>
    <div class="menuHeader">Create A New List</div>
    <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
        {% csrf_token %} {{ add_list_form }}
        <div class="popUpButtonContainer">
            <input name="createListForm" type="submit" class="saveButton" value="Save" />
        </div>
    </form>
</div>

<div class="browserCategory">Long Form Content</div>
<div class="articlesContainer">
    {% for article in search_articles %}
    <div class="article" id="article{{ article.article_id }}">
        <div class="authorImageContainer">
            <img src="{% static article.source.favicon_path %}" />
            <a href="{{ article.source.get_absolute_url }}"></a>
        </div>
        <div class="articleInformationContainer">
            <div class="articleTitle">{{ article.title }}
                <span class="articleTitleTooltip">{{ article.title }}</span>
            </div>
            <div class="articleSectorAndDateContainer">
                <a href="{{ article.source.sector.get_absolute_url }}">{{ article.source.sector.name }}</a>
                <div class="articlePubDate">{{ article.pub_date }}</div>
                {% if article.source.top_source %}
                <i class="fas fa-star articleTopSource"></i>
                {% endif %}
                {% if article.source.paywall == "Yes" %}
                <i class="fas fa-lock articleFullPaywall"></i>
                {% elif article.source.paywall == "Semi" %}
                <i class="fas fa-lock articleSemiPaywall"></i>
                {% endif %}
            </div>
        </div>
        <img class="articleWebsiteLogo" src="{% static article.source.website.logo %}" alt="">
        <a class="articleLink" href="{{ article.link }}"></a>
        <i class="fas fa-ellipsis-h"></i>
        <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
            {% if request.user.is_authenticated %}
            <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
            {% if article.title in highlighted_articles_titles %}
            <div id="{{ article.article_id }}" class="addToHighlighted"><i class="fas fa-times"></i><span>Unhighlight
                    article</span></div>
            {% else %}
            <div id="{{ article.article_id }}" class="addToHighlighted"><i
                    class="fas fa-highlighter"></i><span>Highlight
                    article</span></div>
            {% endif %}
            {% else %}
            <a href="{% url 'account_login' %}" class="addToList registrationLink"><i class="fas fa-list"></i>Add
                to list</a>
            <a href="{% url 'account_login' %}" id="{{ article.article_id }}"
                class="addToHighlighted registrationLink"><i class="fas fa-highlighter"></i><span>Highlight
                    article</span></a>
            {% endif %}
        </div>
        <div class="addToListForm">
            <i class="fas fa-times"></i>
            <h3>Add to lists</h3>
            {% if user_lists %}
            <div class="listSelectionContainer">
                {% for list in user_lists %}
                <div class="listContainer">
                    <label for="id_list_{{ list.list_id }}">
                        {% if article in list.articles.all %}
                        <input id="id_list_{{ list.list_id }}" class="articleInList" type="checkbox" name="lists"
                            value="{{ list.list_id }}" checked="True"> {{ list }}
                        {% else %}
                        <input id="id_list_{{ list.list_id }}" class="articleNotInList" type="checkbox" name="lists"
                            value="{{ list.list_id }}">
                        {{ list }}
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="buttonsContainer">
                <button class="saveButton">Save</button>
                <button class="createNewListButton">Create</button>
            </div>
            {% else %}
            <div class="listContainer">You haven't created any lists!</div>
            <button class="createNewListButton createFirstList">Create First List</button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% if is_paginated %}
{% include "pagination.html" with page=page_obj %}
{% endif %}

<div class="articleSpace">
    <div class="leftSide">
        <div class="browserCategory">Twitter</div>
        <div class="allTweetsContainer">
            {% for tweet in tweets %}
            <div class="tweet-container">
                <div class="title">
                    <img src="{% static tweet.source.favicon_path %}" />
                    <div class="info">
                        <h4 class="name">{{ tweet.source.name }}</h4>
                        <p class="twitter-handle">@tweetoftheday</p>
                    </div>
                    <a href="{{ tweet.source.get_absolute_url }}"></a>
                </div>
                <div class="tweet">
                    <p>{{ tweet.title }}</p>
                </div>
                <div class="time-and-date">
                    <p>{{ tweet.pub_date }}</p>
                </div>
                <a href="{{ tweet.link }}"></a>
            </div>
            {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% for i in tweets.paginator.page_range %}
                    {% if tweets.number == i %}
                    <button class="currentPagination">{{ tweets.number }}</button>
                    {% elif i > tweets.number|add:'-3' and i < tweets.number|add:'3' %} <a
                        href="?tweets={{ i }}">{{ i }}</a>
                    {% endif %}
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
    <div class="rightSide">
        <div class="browserCategory subscribedSourcesArticleHeader">User Links</div>
        <div class="articlesContainer">
            {% for article in external_articles %}
            <div class="article" id="article{{ article_id }}">
                <div class="authorImageContainer">
                    <i class="fas fa-question-circle"></i>
                </div>
                <div class="articleInformationContainer">
                    <div class="articleTitle">{{ article.title }}</div>
                    <div class="articleSectorAndDateContainer">
                        <div class="articlePubDate">{{ article.pub_date }}</div>
                        {% if article.source.top_source %}
                        <i class="fas fa-star articleTopSource"></i>
                        {% endif %}
                        {% if article.source.paywall == "Yes" %}
                        <i class="fas fa-lock articleFullPaywall"></i>
                        {% elif article.source.paywall == "Semi" %}
                        <i class="fas fa-lock articleSemiPaywall"></i>
                        {% endif %}
                    </div>
                </div>
                <a class="articleLink" href="{{ article.link }}"></a>
                <i class="fas fa-ellipsis-h"></i>
                <div class="articleOptionsContainer articleOptionsContainer{{ article_id }}">
                    <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                    {% if article.title in highlighted_articles_titles %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-times"></i><span>Unhighlight
                            article</span></div>
                    {% else %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-highlighter"></i><span>Highlight
                            article</span></div>
                    {% endif %}
                </div>
                <div class="addToListForm">
                    <i class="fas fa-times"></i>
                    <h3>Add to lists</h3>
                    {% if user_lists %}
                    <div class="listSelectionContainer">
                        {% for list in user_lists %}
                        <div class="listContainer">
                            <label for="id_list_{{ list.list_id }}">
                                {% if article in list.articles.all %}
                                <input id="id_list_{{ list.list_id }}" class="articleInList" type="checkbox"
                                    name="lists" value="{{ list.list_id }}" checked="True"> {{ list }}
                                {% else %}
                                <input id="id_list_{{ list.list_id }}" class="articleNotInList" type="checkbox"
                                    name="lists" value="{{ list.list_id }}">
                                {{ list }}
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="buttonsContainer">
                        <button class="saveButton">Save</button>
                        <button class="createNewListButton">Create</button>
                    </div>
                    {% else %}
                    <div class="listContainer">You haven't created any lists!</div>
                    <button class="createNewListButton createFirstList">Create First List</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% for i in external_articles.paginator.page_range %}
                {% if external_articles.number == i %}
                <button class="currentPagination">{{ external_articles.number }}</button>
                {% elif i > external_articles.number|add:'-3' and i < external_articles.number|add:'3' %} <a
                    href="?external_articles={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
</div>


<script src="{% static 'home/articles_script.js' %}"></script>
{% endblock content %}