{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/articles_style.css' %}">
<title>ResearchBrowser | Articles</title>
{% endblock %}

{% block content %}


<h2>Articles</h2>
<div class="explanation">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, velit rem quo
    minus consequuntur aspernatur tempore ipsum minima magnam libero nemo tenetur
    expedita explicabo et. Optio rem maiores vero distinctio. Lorem ipsum, dolor
    sit amet consectetur adipisicing elit. Dignissimos illum delectus dolorem
    assumenda quidem facere sunt aliquam modi aperiam blanditiis? At laborum
    reprehenderit repellat quam necessitatibus harum esse deserunt dolore!
</div>

<div class="filterBar">
    <div class="selectContainer">
        <label for="timeframe">Timeframe</label>
        <select id="timeframe">
            <option value="All" selected="selected">All</option>
            <option value="7">Last 7 days</option>
            <option value="30">Last 30 days</option>
            <option value="90">Last 90 days</option>
            <option value="365">Last 365 days</option>
        </select>
    </div>
    <div class="selectContainer">
        <label for="sector">Sector</label>
        <select id="sector">
            <option value="All" selected="selected">All</option>
            {% for sector in sectors %}
            <option value="{{ sector.name }}">{{ sector.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="selectContainer">
        <label for="paywall">Paywall</label>
        <select id="paywall">
            <option value="All" selected="selected">All</option>
            <option value="Yes">Yes</option>
            <option value="Semi">Semi</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="selectContainer">
        <label class="sourceLabel" for="sources">Sources</label>
        <details>
            <summary>All</summary>
            <ul>
                <li><img src="{% static 'home/media/infinity_favicon.png' %}" alt=""><span>All</span></li>
                <li><img src="{% static 'home/media/medium_favicon.png' %}" alt=""><span>Medium</span></li>
                <li><img src="{% static 'home/media/seekingalpha_favicon.png' %}" alt=""><span>SeekingAlpha</span></li>
                <li><img src="{% static 'home/media/substack__favicon.png' %}" alt=""><span>Substack</span></li>
                <li><img src="{% static 'home/media/twitter_favicon.png' %}" alt=""><span>Twitter</span></li>
                <li><img src="{% static 'home/media/youtube_favicon.png' %}" alt=""><span>YouTube</span></li>
                <li><img src="{% static 'home/media/default_favicon.png' %}" alt=""><span>Other</span></li>
            </ul>
        </details>
    </div>
    <div class="selectContainer searchSelectContainer">
        <div class="searchContainer">
            <input id="search" placeholder="Search term" type="text" autocomplete="off" />
            <i class="fas fa-search"></i>
        </div>
        <div id="autocomplete_list_results"></div>
    </div>
    <div class="selectContainer">
        <button class="searchButton">Search</button>
    </div>
</div>
<div class="lowerFilterBar">
    <div class="searchResultsContainer">
        <h4>Search Results</h4>
        <div><span>{{ results_found }}</span> Articles Found</div>
    </div>
    <div class="filterContainer">
        <select id="sortBy">
            <option value="" selected="selected" class="selectPlaceholder">
                SortBy
            </option>
            <option value="likes">Likes</option>
            <option value="newest">Newest First</option>
            <option value="oldest">Oldest First</option>
        </select>
    </div>
</div>

<div class="articlesContainer">
    {% for article in search_articles %}
    <div class="article">
        <img src="{% static article.source.favicon_path %}" />
        <div>{{ article.title }}</div>
        <a href="{{ article.link }}"></a>
    </div>
    {% endfor %}
    {% include "pagination.html" with page=search_articles %}
</div>


<script src="{% static 'home/articles_script.js' %}"></script>
{% endblock content %}