{% load static %}
{% load i18n %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/base_style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'home/media/favicon.png' %}">
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <div class="outerHeaderContainer">
            <div class="headerContainer">
                <div class="logoContainer">
                    <div class="logoSpace">
                        <span>Research</span>
                        <span>Browser</span>
                        <a href="{% url 'home:main' %}"></a>
                    </div>
                </div>
                <nav class="mainNavigation" role="navigation" aria-label="Main">
                    <div class="mainNavigationLink"><span>Feed</span><a href="{% url 'home:feed' %}"></a></div>
                    <div class="mainNavigationLink"><span>Lists</span><a href="{% url 'home:lists' %}"></a></div>
                    <div class="mainNavigationLink"><span>Sectors</span><a href="{% url 'home:sectors' %}"></a></div>
                    <div class="mainNavigationLink"><span>Articles</span><a href="{% url 'home:articles' %}"></a></div>
                </nav>
                <div class="mainSearchWrapper">
                    <div class="mainSearchContainer">
                        <input id="mainAutocomplete" type="text" class="mainInputSearch" placeholder="Search">
                        <i class="fas fa-search"></i>
                    </div>
                    <div id="mainAutocomplete_result"></div>
                </div>
                <div class="userSpace">
                    <i class="fas fa-cog"><a href="{% url 'home:settings' %}"></a></i>
                    <i class="far fa-bell {% if request.user.is_authenticated %}notificationBell{% endif %}">
                        {% if request.user.is_authenticated == False %}
                        <a href="{% url 'account_login' %}"></a>
                        {% endif %}
                        {% if unseen_notifications %}
                        <span class="unseenNotifications">{{ unseen_notifications }}</span>
                        {% endif %}
                    </i>
                    <div class="notificationContainer">
                        <div class="notificationHeadersContainer">
                            <div class="activeNotificationCategory">Source Notifications</div>
                            <div>List Notifications</div>
                        </div>
                        <div class="notificationsContainer activeNotificationContainer smallFormContentWrapper">
                            {% if source_notifications %}
                            {% for notification in source_notifications %}
                            <div class="articleContainer {% if notification.user_has_seen == False %}unseenNotification{% endif %}"
                                id="article_id_{{ notification.article.article_id }}">
                                <div class="leftContentSide">
                                    <img src="{% static notification.article.source.favicon_path %}" />
                                </div>
                                <div class="rightContentSide">
                                    <div class="contentInfoContainer">
                                        <div class="sourceAndWebsiteContainer">
                                            <a
                                                href="{{ notification.article.source.get_absolute_url }}">{{ notification.article.source.name }}</a>
                                            <img src="{% static notification.article.source.website.logo %}" />
                                        </div>
                                        <i class="fas fa-ellipsis-h"></i>
                                        <div class="articleOptionsContainer">
                                            {% if request.user.is_authenticated %}
                                            <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
                                            {% if notification.article.title in highlighted_articles_titles %}
                                            <div class="addToHighlightedButton"><i
                                                    class="fas fa-times"></i><span>Unhighlight
                                                    article</span></div>
                                            {% else %}
                                            <div class="addToHighlightedButton"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></div>
                                            {% endif %}
                                            {% else %}
                                            <a href="{% url 'account_login' %}"
                                                class="addToListButton registrationLink"><i class="fas fa-list"></i>Add
                                                to list</a>
                                            <a href="{% url 'account_login' %}"
                                                class="addToHighlightedButton registrationLink"><i
                                                    class="fas fa-highlighter"></i><span>Highlight article</span></a>
                                            {% endif %}
                                        </div>
                                        <div class="addToListForm">
                                            <i class="fas fa-times"></i>
                                            <h3>Add To Lists</h3>
                                            {% if user_lists %}
                                            <div class="listSelectionContainer">
                                                {% for list in user_lists %}
                                                <div class="listContainer">
                                                    <label for="list_id_{{ list.list_id }}">
                                                        {% if notification.article in list.articles.all %}
                                                        <input id="list_id_{{ list.list_id }}" type="checkbox"
                                                            name="lists" checked="True"> {{ list }}
                                                        {% else %}
                                                        <input id="list_id_{{ list.list_id }}" type="checkbox"
                                                            name="lists">
                                                        {{ list }}
                                                        {% endif %}
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="buttonsContainer">
                                                <button class="saveButton">Save</button>
                                                <button class="createNewListButton">Create</button>
                                            </div>
                                            {% else %}
                                            <div class="listContainer">You haven't created any lists!</div>
                                            <button class="createNewListButton createFirstList">Create First
                                                List</button>
                                            {% endif %}
                                        </div>
                                        <div class="createListMenu articleCreateListMenu formContainer">
                                            <h3>Create A New List</h3>
                                            <i class="fas fa-times closeFormContainerButton"></i>
                                            <form action="" enctype="multipart/form-data" method="POST"
                                                class="createListForm">
                                                {% csrf_token %} {{ add_list_form }}
                                                <input name="createListForm" type="submit" class="formSubmitButton"
                                                    value="Save" />
                                            </form>
                                        </div>
                                    </div>
                                    <div class="contentBody">
                                        <p>{{ notification.article.title }}</p>
                                    </div>
                                    <div class="timeContainer">
                                        <p>{{ notification.article.pub_date }}</p>
                                    </div>
                                    <a class="contentLink" href="{{ notification.article.link }}"></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="noNotificationsAvailable">No Source Notifications Available</div>
                            {% endif %}
                        </div>
                        <div class="notificationsContainer smallFormContentWrapper">
                            {% if list_notifications %}
                            {% for notification in list_notifications %}
                            <div class="articleContainer {% if notification.user_has_seen == False %}unseenNotification{% endif %}"
                                id="article_id_{{ notification.article.article_id }}">
                                <div class="leftContentSide">
                                    <img src="{% static notification.article.source.favicon_path %}" />
                                </div>
                                <div class="rightContentSide">
                                    <div class="contentInfoContainer">
                                        <div class="sourceAndWebsiteContainer">
                                            <a
                                                href="{{ notification.article.source.get_absolute_url }}">{{ notification.article.source.name }}</a>
                                            <img src="{% static notification.article.source.website.logo %}" />
                                        </div>
                                        <i class="fas fa-ellipsis-h"></i>
                                        <div class="articleOptionsContainer">
                                            {% if request.user.is_authenticated %}
                                            <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
                                            {% if notification.article.title in highlighted_articles_titles %}
                                            <div class="addToHighlightedButton"><i
                                                    class="fas fa-times"></i><span>Unhighlight
                                                    article</span></div>
                                            {% else %}
                                            <div class="addToHighlightedButton"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></div>
                                            {% endif %}
                                            {% else %}
                                            <a href="{% url 'account_login' %}"
                                                class="addToListButton registrationLink"><i class="fas fa-list"></i>Add
                                                to list</a>
                                            <a href="{% url 'account_login' %}"
                                                class="addToHighlightedButton registrationLink"><i
                                                    class="fas fa-highlighter"></i><span>Highlight article</span></a>
                                            {% endif %}
                                        </div>
                                        <div class="addToListForm">
                                            <i class="fas fa-times"></i>
                                            <h3>Add To Lists</h3>
                                            {% if user_lists %}
                                            <div class="listSelectionContainer">
                                                {% for list in user_lists %}
                                                <div class="listContainer">
                                                    <label for="list_id_{{ list.list_id }}">
                                                        {% if notification.article in list.articles.all %}
                                                        <input id="list_id_{{ list.list_id }}" type="checkbox"
                                                            name="lists" checked="True"> {{ list }}
                                                        {% else %}
                                                        <input id="list_id_{{ list.list_id }}" type="checkbox"
                                                            name="lists">
                                                        {{ list }}
                                                        {% endif %}
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="buttonsContainer">
                                                <button class="saveButton">Save</button>
                                                <button class="createNewListButton">Create</button>
                                            </div>
                                            {% else %}
                                            <div class="listContainer">You haven't created any lists!</div>
                                            <button class="createNewListButton createFirstList">Create First
                                                List</button>
                                            {% endif %}
                                        </div>
                                        <div class="createListMenu articleCreateListMenu formContainer">
                                            <h3>Create A New List</h3>
                                            <i class="fas fa-times closeFormContainerButton"></i>
                                            <form action="" enctype="multipart/form-data" method="POST"
                                                class="createListForm">
                                                {% csrf_token %} {{ add_list_form }}
                                                <input name="createListForm" type="submit" class="formSubmitButton"
                                                    value="Save" />
                                            </form>
                                        </div>
                                    </div>
                                    <div class="contentBody">
                                        <p>{{ notification.article.title }}</p>
                                    </div>
                                    <div class="timeContainer">
                                        <p>{{ notification.article.pub_date }}</p>
                                    </div>
                                    <a class="contentLink" href="{{ notification.article.link }}"></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="noNotificationsAvailable">No List Notifications Available</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="profileWrapper">
                        {% if request.user.is_authenticated %}
                        <div class="userProfile">
                            {% if user.profile.profile_pic %}
                            <img src="{{ user.profile.profile_pic.url }}" alt="user-profile-pic">
                            {% else %}
                            <img src="{% static 'home/media/bigger_favicon.png' %}" alt="user-profile-pic">
                            {% endif %}
                            <div class="userInformation">
                                <div class="userName">{{ user.username }}</div>
                                <div class="accountType">{{ user.profile.account_type }}</div>
                            </div>
                            <i class="fas fa-sort-down"></i>
                        </div>
                        <div class="profileMenu">
                            <div>
                                <form method="post" action="{% url 'account_logout' %}">
                                    {% csrf_token %}
                                    {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}"
                                        value="{{ redirect_field_value }}" />
                                    {% endif %}
                                    <button type="submit"><i
                                            class="fas fa-sign-out-alt"></i>{% trans 'Sign Out' %}</button>
                                </form>
                            </div>
                        </div>
                        {% else %}
                        <div class="headerButtonContainer">
                            <a href="{% url 'account_login' %}">Login</a>
                            <a href="{% url 'account_signup' %}">Sign Up</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="overlay">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% block content %}
            {% endblock %}
            <script src="{% static 'home/base_script.js' %}"></script>
        </div>

    </main>
</body>



<footer>
    <ul>
        <li><a href="#">Contact</a></li>
        <li><a href="{% url 'support:cookie-statement' %}">Cookie Statement</a></li>
        <li><a href="{% url 'support:privacy-policy' %}">Privacy Policy</a></li>
        <li><a href="{% url 'support:terms-of-service' %}">Terms Of Service</a></li>
    </ul>
</footer>

</html>