{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/feed_style.css' %}">
<title>ResearchBrowser | Feed</title>
{% endblock %}

{% block content %}

<div class="sliderWrapper">
    <div class="sliderHeader">
        <div>My Lists</div>
        <div class="progressBar"></div>
    </div>
    <div class="sliderContentContainer">
        <button class="handle leftHandle">
            <div class="handleSymbol">&#8249;</div>
        </button>
        <div class="slider">
            {% for list in user_lists %}
            <div class="contentWrapper">
                <div class="contentContainer">
                    <div class="contentIconContainer">
                        {% if list.list_pic %}
                        <img class="contentIcon" src="{{ list.list_pic.url }}" alt="favicon" />
                        {% else %}
                        <img class="contentIcon" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
                        {% endif %}
                    </div>
                    <a class="contentLink" href="{{ list.get_absolute_url }}"></a>
                    <div class="contentNameContainer">
                        <div class="contentName">{{ list.name }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="contentWrapper interactionWrapper">
                <div class="createListButton"><i class="fas fa-plus"></i></div>
                <div class="createListMenu formContainer">
                    <h3>Create A New List</h3>
                    <i class="fas fa-times closeFormContainerButton"></i>
                    <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                        {% csrf_token %} {{ add_list_form }}
                        <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
                    </form>
                </div>
            </div>
        </div>
        <button class="handle rightHandle">
            <div class="handleSymbol">&#8250;</div>
        </button>
    </div>
</div>

<div class="sliderWrapper">
    <div class="sliderHeader">
        <div>Subscribed Lists</div>
        <div class="progressBar"></div>
    </div>
    <div class="sliderContentContainer">
        <button class="handle leftHandle">
            <div class="handleSymbol">&#8249;</div>
        </button>
        <div class="slider">
            {% for list in subscribed_lists %}
            <div class="contentWrapper">
                <div class="contentContainer">
                    <div class="contentIconContainer">
                        {% if list.list_pic %}
                        <img class="contentIcon" src="{{ list.list_pic.url }}" alt="favicon" />
                        {% else %}
                        <img class="contentIcon" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
                        {% endif %}
                    </div>
                    <a class="contentLink" href="{{ list.get_absolute_url }}"></a>
                    <div class="contentNameContainer">
                        <div class="contentName">{{ list.name }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="contentWrapper interactionWrapper">
                <div class="addListsButton"><i class="fas fa-plus"></i></div>
                <div class="addListsForm formContainer">
                    <h3>Add Lists</h3>
                    <i class="fas fa-times closeFormContainerButton"></i>
                    <input id="textInput" type="text">
                    <div class="searchResultWrapper">
                        <div id="searchResultsContainer"></div>
                        <div class="selectionContainer"></div>
                    </div>
                    <button class="formSubmitButton">Add</button>
                </div>
            </div>
        </div>
        <button class="handle rightHandle">
            <div class="handleSymbol">&#8250;</div>
        </button>
    </div>
</div>

<div class="sliderWrapper">
    <div class="sliderHeader">
        <div>Subscribed Sources</div>
        <div class="progressBar"></div>
    </div>
    <div class="sliderContentContainer">
        <button class="handle leftHandle">
            <div class="handleSymbol">&#8249;</div>
        </button>
        <div class="slider">
            {% for source in subscribed_sources %}
            <div class="contentWrapper">
                <div class="contentContainer">
                    <div class="contentIconContainer">
                        <img class="contentIcon" src="{% static source.favicon_path %}" alt="favicon" />
                    </div>
                    <a class="contentLink" href="{{ source.get_absolute_url }}"></a>
                    <div class="contentNameContainer">
                        <div class="contentName">{{ source.name }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="contentWrapper interactionWrapper">
                <div class="contentWrapper addSourcesButton"><i class="fas fa-plus"></i></div>
                <div class="contentWrapper addSourcesForm formContainer">
                    <h3>Add Sources</h3>
                    <i class="fas fa-times closeFormContainerButton"></i>
                    <input id="textInput" type="text">
                    <div class="searchResultWrapper">
                        <div id="searchResultsContainer"></div>
                        <div class="selectionContainer"></div>
                    </div>
                    <button class="formSubmitButton">Add</button>
                </div>
            </div>
        </div>
        <button class="handle rightHandle">
            <div class="handleSymbol">&#8250;</div>
        </button>
    </div>
</div>


{% if subscribed_articles %}
<div class="categoryHeader">Articles Of Subscribed Sources</div>
<div class="articlesWrapper">
    {% for article in subscribed_articles %}
    <div class="articleContainer" id="article_id_{{ article.article_id }}">
        <div class="authorImageContainer">
            <img src="{% static article.source.favicon_path %}" />
            <a href="{{ article.source.get_absolute_url }}"></a>
        </div>
        <div class="articleInformationContainer">
            <div class="articleTitle">{{ article.title }}
                <span class="articleTitleTooltip">{{ article.title }}</span>
            </div>
            <div class="articleSectorAndDateContainer">
                <a href="{{ article.source.sector.get_absolute_url }}">
                    {{ article.source.sector }}</a>
                <div class="articlePubDate">{{ article.pub_date }}</div>
            </div>
        </div>
        <i class="fas fa-ellipsis-h"></i>
        <div class="articleWebsiteLogoContainer">
            <img class="articleWebsiteLogo" src="{% static article.source.website.logo %}" alt="">
            <a class="articleLink" href="{{ article.link }}"></a>
        </div>
        <div class="articleOptionsContainer">
            {% if request.user.is_authenticated %}
            <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
            {% if article.title in highlighted_articles_titles %}
            <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight article</span></div>
            {% else %}
            <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight article</span></div>
            {% endif %}
            {% else %}
            <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i class="fas fa-list"></i>Add
                to list</a>
            <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                    class="fas fa-highlighter"></i><span>Highlight article</span></a>
            {% endif %}
        </div>
        <div class="addToListForm">
            <i class="fas fa-times"></i>
            <h3>Add To Lists</h3>
            {% if user_lists %}
            <div class="listSelectionContainer">
                {% for list in user_lists %}
                <div class="listContainer">
                    <label for="list_id_{{ list.list_id }}">
                        {% if article in list.articles.all %}
                        <input id="list_id_{{ list.list_id }}" class="articleInList" type="checkbox" name="lists"
                            checked="True"> {{ list }}
                        {% else %}
                        <input id="list_id_{{ list.list_id }}" class="articleNotInList" type="checkbox" name="lists">
                        {{ list }}
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="buttonsContainer">
                <button class="saveButton">Save</button>
                <button class="createNewListButton">Create</button>
            </div>
            {% else %}
            <div class="listContainer">You haven't created any lists!</div>
            <button class="createNewListButton createFirstList">Create First List</button>
            {% endif %}
        </div>
        <div class="createListMenu articleCreateListMenu formContainer">
            <h3>Create A New List</h3>
            <i class="fas fa-times closeFormContainerButton"></i>
            <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                {% csrf_token %} {{ add_list_form }}
                <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class="paginationAndAddExternalContainer">
    <div class="pagination">
        <span class="step-links">
            {% for i in subscribed_articles.paginator.page_range %}
            {% if subscribed_articles.number == i %}
            <button class="currentPagination">{{ subscribed_articles.number }}</button>
            {% elif i > subscribed_articles.number|add:'-3' and i < subscribed_articles.number|add:'3' %} <a
                href="?subscribed_articles={{ i }}">{{ i }}</a>
            {% endif %}
            {% endfor %}
        </span>
    </div>
    {% if not highlighted_articles %}
    <button class="addExternalLinkButton"><i class="fas fa-plus"></i>Add External Articles</button>
    {% endif %}
</div>
{% endif %}

{% if highlighted_articles %}
<div class="categoryHeader">Highlighted Articles</div>
<div class="articlesWrapper">
    {% for article in highlighted_articles %}
    <div class="articleContainer" id="article_id_{{ article.article.article_id }}">
        {% if article.article.source %}
        <div class="authorImageContainer">
            <img src="{% static article.article.source.favicon_path %}" />
            <a href="{{ article.article.source.get_absolute_url }}"></a>
        </div>
        {% else %}
        <div class="authorImageContainer imageContainerUserLink">
            <i class="fas fa-question-circle"></i>
            <a href="{{ article.article.source.get_absolute_url }}"></a>
        </div>
        {% endif %}
        <div class="articleInformationContainer">
            <div class="articleTitle">{{ article.article.title }}
                <span class="articleTitleTooltip">{{ article.article.title }}</span>
            </div>
            <div class="articleSectorAndDateContainer">
                <a href="{{ article.article.source.sector.get_absolute_url }}">
                    {{ article.article.source.sector }}</a>
                <div class="articlePubDate">{{ article.article.pub_date }}</div>
            </div>
        </div>
        <i class="fas fa-ellipsis-h"></i>
        {% if article.article.source %}
        <div class="articleWebsiteLogoContainer">
            <img class="articleWebsiteLogo" src="{% static article.article.source.website.logo %}">
            <a href="{{ article.article.source.get_absolute_url }}"></a>
        </div>
        {% else %}
        <div class="articleWebsiteLogoContainer imageContainerUserLink">
            <i class="fas fa-question-circle"></i>
            <a href="{{ article.article.source.get_absolute_url }}"></a>
        </div>
        {% endif %}
        <div class="articleOptionsContainer">
            {% if request.user.is_authenticated %}
            <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
            {% if article.article.title in highlighted_articles_titles %}
            <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight article</span></div>
            {% else %}
            <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight article</span></div>
            {% endif %}
            {% else %}
            <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i class="fas fa-list"></i>Add
                to list</a>
            <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                    class="fas fa-highlighter"></i><span>Highlight article</span></a>
            {% endif %}
        </div>
        <div class="addToListForm">
            <i class="fas fa-times"></i>
            <h3>Add To Lists</h3>
            {% if user_lists %}
            <div class="listSelectionContainer">
                {% for list in user_lists %}
                <div class="listContainer">
                    <label for="list_id_{{ list.list_id }}">
                        {% if article.article in list.articles.all %}
                        <input id="list_id_{{ list.list_id }}" class="articleInList" type="checkbox" name="lists"
                            checked="True"> {{ list }}
                        {% else %}
                        <input id="list_id_{{ list.list_id }}" class="articleNotInList" type="checkbox" name="lists">
                        {{ list }}
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="buttonsContainer">
                <button class="saveButton">Save</button>
                <button class="createNewListButton">Create</button>
            </div>
            {% else %}
            <div class="listContainer">You haven't created any lists!</div>
            <button class="createNewListButton createFirstList">Create First List</button>
            {% endif %}
        </div>
        <div class="createListMenu articleCreateListMenu formContainer">
            <h3>Create A New List</h3>
            <i class="fas fa-times closeFormContainerButton"></i>
            <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                {% csrf_token %} {{ add_list_form }}
                <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class="paginationAndAddExternalContainer">
    <div class="pagination">
        <span class="step-links">
            {% for i in highlighted_articles.paginator.page_range %}
            {% if highlighted_articles.number == i %}
            <button class="currentPagination">{{ highlighted_articles.number }}</button>
            {% elif i > highlighted_articles.number|add:'-3' and i < highlighted_articles.number|add:'3' %} <a
                href="?highlighted_articles={{ i }}">{{ i }}</a>
            {% endif %}
            {% endfor %}
        </span>
    </div>
    <button class="addExternalLinkButton"><i class="fas fa-plus"></i>Add External Articles</button>
</div>
{% endif %}


<div class="formContainer addExternalLinksContainer">
    <h3>Add External Articles</h3>
    <i class="fas fa-times closeFormContainerButton"></i>
    <form action="" enctype="multipart/form-data" method="POST" class="addExternalArticlesForm">
        {% csrf_token %} {{ add_external_articles_form }}
        <input name="addExternalArticlesForm" type="submit" class="formSubmitButton" value="Save" />
    </form>
</div>


<div class="twitterWrapper">
    <div class="highlightedTweetsContainer">
        <div class="categoryHeader">Highlighted Tweets</div>
        <div class="smallFormContentWrapper">
            {% for tweet in highlighted_tweets %}
            <div class="articleContainer" id="article_id_{{ tweet.article.article_id }}">
                <div class="leftContentSide">
                    <img src="{% static tweet.article.source.favicon_path %}" />
                </div>
                <div class="rightContentSide">
                    <div class="contentInfoContainer">
                        <div class="sourceAndWebsiteContainer">
                            <a href="{{ tweet.article.source.get_absolute_url }}">{{ tweet.article.source.name }}</a>
                            <img src="{% static 'home/media/twitter_logo.png' %}">
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                        <div class="articleOptionsContainer">
                            {% if request.user.is_authenticated %}
                            <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
                            {% if tweet.article.title in highlighted_articles_titles %}
                            <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight
                                    article</span></div>
                            {% else %}
                            <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight
                                    article</span></div>
                            {% endif %}
                            {% else %}
                            <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i
                                    class="fas fa-list"></i>Add
                                to list</a>
                            <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                                    class="fas fa-highlighter"></i><span>Highlight article</span></a>
                            {% endif %}
                        </div>
                        <div class="addToListForm">
                            <i class="fas fa-times"></i>
                            <h3>Add To Lists</h3>
                            {% if user_lists %}
                            <div class="listSelectionContainer">
                                {% for list in user_lists %}
                                <div class="listContainer">
                                    <label for="list_id_{{ list.list_id }}">
                                        {% if tweet.article in list.articles.all %}
                                        <input id="list_id_{{ list.list_id }}" class="articleInList" type="checkbox"
                                            name="lists" checked="True"> {{ list }}
                                        {% else %}
                                        <input id="list_id_{{ list.list_id }}" class="articleNotInList" type="checkbox"
                                            name="lists">
                                        {{ list }}
                                        {% endif %}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="buttonsContainer">
                                <button class="saveButton">Save</button>
                                <button class="createNewListButton">Create</button>
                            </div>
                            {% else %}
                            <div class="listContainer">You haven't created any lists!</div>
                            <button class="createNewListButton createFirstList">Create First List</button>
                            {% endif %}
                        </div>
                        <div class="createListMenu articleCreateListMenu formContainer">
                            <h3>Create A New List</h3>
                            <i class="fas fa-times closeFormContainerButton"></i>
                            <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                                {% csrf_token %} {{ add_list_form }}
                                <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
                            </form>
                        </div>
                    </div>
                    <div class="contentBody">
                        <p>{{ tweet.article.title }}</p>
                    </div>
                    <div class="timeContainer">
                        <p>{{ tweet.article.pub_date }}</p>
                    </div>
                    <a class="contentLink" href="{{ tweet.article.link }}"></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% for i in highlighted_tweets.paginator.page_range %}
                {% if highlighted_tweets.number == i %}
                <button class="currentPagination">{{ highlighted_tweets.number }}</button>
                {% elif i > highlighted_tweets.number|add:'-3' and i < highlighted_tweets.number|add:'3' %} <a
                    href="?highlighted_tweets={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    <div class="newestTweetsContainer">
        <div class="categoryHeader">Newest Tweets</div>
        <div class="smallFormContentWrapper">
            {% for tweet in newest_tweets %}
            <div class="articleContainer" id="article_id_{{ tweet.article_id }}">
                <div class="leftContentSide">
                    <img src="{% static tweet.source.favicon_path %}" />
                </div>
                <div class="rightContentSide">
                    <div class="contentInfoContainer">
                        <div class="sourceAndWebsiteContainer">
                            <a href="{{ tweet.source.get_absolute_url }}">{{ tweet.source.name }}</a>
                            <img src="{% static 'home/media/twitter_logo.png' %}">
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                        <div class="articleOptionsContainer">
                            {% if request.user.is_authenticated %}
                            <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
                            {% if tweet.title in highlighted_articles_titles %}
                            <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight
                                    article</span></div>
                            {% else %}
                            <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight
                                    article</span></div>
                            {% endif %}
                            {% else %}
                            <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i
                                    class="fas fa-list"></i>Add
                                to list</a>
                            <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                                    class="fas fa-highlighter"></i><span>Highlight article</span></a>
                            {% endif %}
                        </div>
                        <div class="addToListForm">
                            <i class="fas fa-times"></i>
                            <h3>Add To Lists</h3>
                            {% if user_lists %}
                            <div class="listSelectionContainer">
                                {% for list in user_lists %}
                                <div class="listContainer">
                                    <label for="list_id_{{ list.list_id }}">
                                        {% if tweet in list.articles.all %}
                                        <input id="list_id_{{ list.list_id }}" class="articleInList" type="checkbox"
                                            name="lists" checked="True"> {{ list }}
                                        {% else %}
                                        <input id="list_id_{{ list.list_id }}" class="articleNotInList" type="checkbox"
                                            name="lists">
                                        {{ list }}
                                        {% endif %}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="buttonsContainer">
                                <button class="saveButton">Save</button>
                                <button class="createNewListButton">Create</button>
                            </div>
                            {% else %}
                            <div class="listContainer">You haven't created any lists!</div>
                            <button class="createNewListButton createFirstList">Create First List</button>
                            {% endif %}
                        </div>
                        <div class="createListMenu articleCreateListMenu formContainer">
                            <h3>Create A New List</h3>
                            <i class="fas fa-times closeFormContainerButton"></i>
                            <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                                {% csrf_token %} {{ add_list_form }}
                                <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
                            </form>
                        </div>
                    </div>
                    <div class="contentBody">
                        <p>{{ tweet.title }}</p>
                    </div>
                    <div class="timeContainer">
                        <p>{{ tweet.pub_date }}</p>
                    </div>
                    <a class="contentLink" href="{{ tweet.link }}"></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% for i in newest_tweets.paginator.page_range %}
                {% if newest_tweets.number == i %}
                <button class="currentPagination">{{ newest_tweets.number }}</button>
                {% elif i > newest_tweets.number|add:'-3' and i < newest_tweets.number|add:'3' %} <a
                    href="?newest_tweets={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    <div class="mostLikedTweetsContainer">
        <div class="categoryHeader">Most Liked Tweets</div>
        <div class="upperBlurContainer">
            <div class="smallFormContentWrapper blur">
                {% for tweet in newest_tweets %}
                <div class="articleContainer" id="article_id_{{ tweet.article_id }}">
                    <div class="leftContentSide">
                        <img src="{% static tweet.source.favicon_path %}" />
                    </div>
                    <div class="rightContentSide">
                        <div class="contentInfoContainer">
                            <div class="sourceAndWebsiteContainer">
                                <a href="{{ tweet.source.get_absolute_url }}">{{ tweet.source.name }}</a>
                                <img src="{% static 'home/media/twitter_logo.png' %}">
                            </div>
                            <i class="fas fa-ellipsis-h"></i>
                            <div class="articleOptionsContainer">
                                {% if request.user.is_authenticated %}
                                <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
                                {% if tweet.title in highlighted_articles_titles %}
                                <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight
                                        article</span></div>
                                {% else %}
                                <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight
                                        article</span></div>
                                {% endif %}
                                {% else %}
                                <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i
                                        class="fas fa-list"></i>Add
                                    to list</a>
                                <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                                        class="fas fa-highlighter"></i><span>Highlight article</span></a>
                                {% endif %}
                            </div>
                            <div class="addToListForm">
                                <i class="fas fa-times"></i>
                                <h3>Add To Lists</h3>
                                {% if user_lists %}
                                <div class="listSelectionContainer">
                                    {% for list in user_lists %}
                                    <div class="listContainer">
                                        <label for="list_id_{{ list.list_id }}">
                                            {% if tweet in list.articles.all %}
                                            <input id="list_id_{{ list.list_id }}" class="articleInList" type="checkbox"
                                                name="lists" checked="True"> {{ list }}
                                            {% else %}
                                            <input id="list_id_{{ list.list_id }}" class="articleNotInList"
                                                type="checkbox" name="lists">
                                            {{ list }}
                                            {% endif %}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="buttonsContainer">
                                    <button class="saveButton">Save</button>
                                    <button class="createNewListButton">Create</button>
                                </div>
                                {% else %}
                                <div class="listContainer">You haven't created any lists!</div>
                                <button class="createNewListButton createFirstList">Create First List</button>
                                {% endif %}
                            </div>
                            <div class="createListMenu articleCreateListMenu formContainer">
                                <h3>Create A New List</h3>
                                <i class="fas fa-times closeFormContainerButton"></i>
                                <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                                    {% csrf_token %} {{ add_list_form }}
                                    <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
                                </form>
                            </div>
                        </div>
                        <div class="contentBody">
                            <p>{{ tweet.title }}</p>
                        </div>
                        <div class="timeContainer">
                            <p>{{ tweet.pub_date }}</p>
                        </div>
                        <a class="contentLink" href="{{ tweet.article.link }}"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="blurOverlay"></div>
            <div class="comingSoon">Coming Soon</div>
        </div>
    </div>
</div>

<script src="{% static 'home/feed_script.js' %}"></script>
{% endblock content %}