{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/feed_style.css' %}">
<title>ResearchBrowser | Feed</title>
{% endblock %}

{% block content %}
<div class="categoryWrapper">
    <div class="categoryNameDiv">My Lists</div>
    <div class="carousel-container">
        <div onClick="prev();" class="prev"></div>
        <div class="carousel-list">
            <ul class="slider-content">
                {% for list in user_lists %}
                <li>
                    <div class="sourceContainer">
                        <div class="iconContainer">
                            {% if list.list_pic %}
                            <img class="sourcePic" src="{{ list.list_pic.url }}" alt="favicon" />
                            {% else %}
                            <img class="sourcePic" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
                            {% endif %}
                        </div>
                        <a class="sourceLink" href="{% url 'home:home-list_details' list_id=list.list_id %}"></a>
                        <div class="sourceNameOuterContainer">
                            <div class="sourceNameInnerContainer">{{ list.name }}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div onClick="next();" class="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
</div>

<div class="categoryWrapper">
    <div class="categoryNameDiv">Subscribed Lists</div>
    <div class="carousel-container">
        <div onClick="prev();" class="prev"></div>
        <div class="carousel-list">
            <ul class="slider-content">
                {% for list in subscribed_lists %}
                <li>
                    <div class="sourceContainer">
                        <div class="iconContainer">
                            {% if list.list_pic %}
                            <img class="sourcePic" src="{{ list.list_pic.url }}" alt="favicon" />
                            {% else %}
                            <img class="sourcePic" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
                            {% endif %}
                        </div>
                        <a class="sourceLink" href="{% url 'home:home-list_details' list_id=list.list_id %}"></a>
                        <div class="sourceNameOuterContainer">
                            <div class="sourceNameInnerContainer">{{ list.name }}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div onClick="next();" class="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
</div>

<div class="categoryWrapper">
    <div class="categoryNameDiv">Subscribed Sources</div>
    <div class="carousel-container">
        <div onClick="prev();" class="prev"></div>
        <div class="carousel-list">
            <ul class="slider-content">
                {% for source in subscribed_sources %}
                <li>
                    <div class="sourceContainer">
                        <div class="iconContainer">
                            <img class="sourcePic" src="{% static source.favicon_path %}" alt="favicon" />
                        </div>
                        <a class="sourceLink" href="{% url 'source:source-profile' domain=source.domain %}"></a>
                        <div class="sourceNameOuterContainer">
                            <div class="sourceNameInnerContainer">{{ source.name }}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div onClick="next();" class="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
</div>



<div class="browserCategory subscribedSourcesArticleHeader">Articles Of Subscribed Sources</div>
<div class="articlesContainer">
    {% for article in subscribed_articles %}
    <div class="article">
        <img src="{% static article.source.favicon_path %}" />
        <div>{{ article.title }}</div>
        <a href="{{ article.link }}"></a>
    </div>
    {% endfor %}
    {% include "pagination.html" with page=subscribed_articles %}
</div>
{% endblock content %}