{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/feed_style.css' %}">
<title>ResearchBrowser | Feed</title>
{% endblock %}

{% block content %}

<div class="createListMenu formContainer">
    <h3>Create A New List</h3>
    <i class="fas fa-times closeFormContainerButton"></i>
    <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
        {% csrf_token %} {{ add_list_form }}
        <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
    </form>
</div>

<div class="addSourcesForm formContainer">
    <h3>Add Sources</h3>
    <i class="fas fa-times closeFormContainerButton"></i>
    <input id="textInput" type="text">
    <div class="searchResultWrapper">
        <div id="searchResultsContainer"></div>
        <div class="selectionContainer"></div>
    </div>
    <button class="formSubmitButton">Add</button>
</div>

<div class="addListsForm formContainer">
    <h3>Add Lists</h3>
    <i class="fas fa-times closeFormContainerButton"></i>
    <input id="textInput" type="text">
    <div class="searchResultWrapper">
        <div id="searchResultsContainer"></div>
        <div class="selectionContainer"></div>
    </div>
    <button class="formSubmitButton">Add</button>
</div>


<div class="addExternalLinksContainer formContainer">
    <h3>Add External Articles</h3>
    <i class="fas fa-times closeFormContainerButton"></i>
    <form action="" enctype="multipart/form-data" method="POST" class="addExternalArticlesForm">
        {% csrf_token %} {{ add_external_articles_form }}
        <input name="addExternalArticlesForm" type="submit" class="formSubmitButton" value="Save" />
    </form>
</div>

<div class="categoryWrapper">
    <div class="categoryNameDiv">My Lists</div>
    <div class="carousel-container">
        <div onClick="prev();" class="prev"></div>
        <div class="carousel-list">
            <ul class="slider-content">
                {% for list in user_lists %}
                <li>
                    <div class="sourceContainer">
                        <div class="iconContainer">
                            {% if list.list_pic %}
                            <img class="sourcePic" src="{{ list.list_pic.url }}" alt="favicon" />
                            {% else %}
                            <img class="sourcePic" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
                            {% endif %}
                        </div>
                        <a class="sourceLink" href="{% url 'home:list-details' list_id=list.list_id %}"></a>
                        <div class="sourceNameOuterContainer">
                            <div class="sourceNameInnerContainer">{{ list.name }}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                <li>
                    <div class="sourceContainer addXButton createListButton"><i class="fas fa-plus"></i></div>
                </li>
            </ul>
        </div>
        <div onClick="next();" class="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
</div>

<div class="categoryWrapper">
    <div class="categoryNameDiv">Subscribed Lists</div>
    <div class="carousel-container">
        <div onClick="prev();" class="prev"></div>
        <div class="carousel-list">
            <ul class="slider-content">
                {% for list in subscribed_lists %}
                <li>
                    <div class="sourceContainer">
                        <div class="iconContainer">
                            {% if list.list_pic %}
                            <img class="sourcePic" src="{{ list.list_pic.url }}" alt="favicon" />
                            {% else %}
                            <img class="sourcePic" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
                            {% endif %}
                        </div>
                        <a class="sourceLink" href="{% url 'home:list-details' list_id=list.list_id %}"></a>
                        <div class="sourceNameOuterContainer">
                            <div class="sourceNameInnerContainer">{{ list.name }}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                <li>
                    <div class="sourceContainer addXButton addListsButton"><i class="fas fa-plus"></i></div>
                </li>
            </ul>
        </div>
        <div onClick="next();" class="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
</div>

<div class="categoryWrapper">
    <div class="categoryNameDiv">Subscribed Sources</div>
    <div class="carousel-container">
        <div onClick="prev();" class="prev"></div>
        <div class="carousel-list">
            <ul class="slider-content">
                {% for source in subscribed_sources %}
                <li>
                    <div class="sourceContainer">
                        <div class="iconContainer">
                            <img class="sourcePic" src="{% static source.favicon_path %}" alt="favicon" />
                        </div>
                        <a class="sourceLink" href="{% url 'source:profile' domain=source.domain %}"></a>
                        <div class="sourceNameOuterContainer">
                            <div class="sourceNameInnerContainer">{{ source.name }}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
                <li>
                    <div class="sourceContainer addXButton addSourcesButton"><i class="fas fa-plus"></i></div>
                </li>
            </ul>
        </div>
        <div onClick="next();" class="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
</div>


{% if subscribed_articles %}
<div class="browserCategory subscribedSourcesArticleHeader">Articles Of Subscribed Sources</div>
<div class="articlesContainer">
    {% for article in subscribed_articles %}
    <div class="article">
        <img src="{% static article.source.favicon_path %}" />
        <div class="articleInformationContainer">
            <div class="articleTitle">{{ article.title }}</div>
            <div class="articleSectorAndDateContainer">
                <a href="{% url 'home:sector-details' article.source.sector.first.slug %}">
                    {{ article.source.sector.first.name }}</a>
                <div class="articlePubDate">{{ article.pub_date }}</div>
                {% if article.source.top_source %}
                <i class="fas fa-star articleTopSource"></i>
                {% endif %}
                {% if article.source.paywall == "Yes" %}
                <i class="fas fa-lock articleFullPaywall"></i>
                {% elif article.source.paywall == "Semi" %}
                <i class="fas fa-lock articleSemiPaywall"></i>
                {% endif %}
            </div>
        </div>
        <a class="articleLink" href="{{ article.link }}"></a>
        <i class="fas fa-ellipsis-h"></i>
        <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
            <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
            {% if article.title in highlighted_articles_titles %}
            <div id="{{ article.article_id }}" class="addToHighlighted"><i class="fas fa-times"></i><span>Unhighlight
                    article</span></div>
            {% else %}
            <div id="{{ article.article_id }}" class="addToHighlighted"><i
                    class="fas fa-highlighter"></i><span>Highlight
                    article</span></div>
            {% endif %}
        </div>
        <div class="addToListForm">
            <i class="fas fa-times"></i>
            <h3>Add to lists</h3>
            <div class="listSelectionContainer">
                {% for list in user_lists %}
                <div class="listContainer">
                    <label for="id_list_{{ list.list_id }}">
                        {% if article in list.articles.all %}
                        <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists" value="{{ list.list_id }}"
                            checked="True"> {{ list }}
                        {% else %}
                        <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists" value="{{ list.list_id }}">
                        {{ list }}
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="saveButtonContainer">
                <button class="saveButton">Save</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if subscribed_articles %}
{% include "pagination.html" with page=subscribed_articles %}
{% endif %}
{% endif %}

{% if highlighted_articles %}
<div class="browserCategory subscribedSourcesArticleHeader">Highlighted Articles</div>
<div class="articlesContainer">
    {% for highlighted_article in highlighted_articles %}
    {% if highlighted_article.article %}
    <div class="article">
        <img src="{% static highlighted_article.article.source.favicon_path %}" />
        <div class="articleInformationContainer">
            <div class="articleTitle">{{ highlighted_article.article.title }}</div>
            <div class="articleSectorAndDateContainer">
                <a href="{% url 'home:sector-details' highlighted_article.article.source.sector.first.slug %}">
                    {{ highlighted_article.article.source.sector.first.name }}</a>
                <div class="articlePubDate">{{ highlighted_article.article.pub_date }}</div>
                {% if highlighted_article.article.source.top_source %}
                <i class="fas fa-star articleTopSource"></i>
                {% endif %}
                {% if highlighted_article.article.source.paywall == "Yes" %}
                <i class="fas fa-lock articleFullPaywall"></i>
                {% elif highlighted_article.article.source.paywall == "Semi" %}
                <i class="fas fa-lock articleSemiPaywall"></i>
                {% endif %}
            </div>
        </div>
        <a class="articleLink" href="{{ highlighted_article.article.link }}"></a>
        <i class="fas fa-ellipsis-h"></i>
        <div class="articleOptionsContainer articleOptionsContainer{{ highlighted_article.article.article_id }}">
            <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
            {% if article.title in highlighted_articles_titles %}
            <div id="{{ article.article_id }}" class="addToHighlighted"><i class="fas fa-times"></i><span>Unhighlight
                    article</span></div>
            {% else %}
            <div id="{{ article.article_id }}" class="addToHighlighted"><i
                    class="fas fa-highlighter"></i><span>Highlight
                    article</span></div>
            {% endif %}
        </div>
        <div class="addToListForm">
            <i class="fas fa-times"></i>
            <h3>Add to lists</h3>
            <div class="listSelectionContainer">
                {% for list in user_lists %}
                <div class="listContainer">
                    <label for="id_list_{{ list.list_id }}">
                        {% if article in list.articles.all %}
                        <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists" value="{{ list.list_id }}"
                            checked="True"> {{ list }}
                        {% else %}
                        <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists" value="{{ list.list_id }}">
                        {{ list }}
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="saveButtonContainer">
                <button class="saveButton">Save</button>
            </div>
        </div>
    </div>
    {% else %}
    <div class="article">
        <i class="fas fa-question-circle"></i>
        <div class="articleInformationContainer">
            <div class="articleTitle">{{ highlighted_article.external_article.title }}</div>
            <div class="articleSectorAndDateContainer">
                <a href="{% url 'home:sector-details' slug=highlighted_article.external_article.sector.slug %}">
                    {{ highlighted_article.external_article.sector }}</a>
                <div class="articlePubDate">{{ highlighted_article.external_article.pub_date }}</div>
            </div>
        </div>
        <a class="articleLink" href="{{ highlighted_article.external_article.link }}"></a>
        <i class="fas fa-ellipsis-h"></i>
        <div
            class="articleOptionsContainer articleOptionsContainer{{ highlighted_article.external_article.article_id }}">
            <div id="{{ highlighted_article.external_article.article_id }}" class="deleteExternalLink"><i
                    class="fas fa-times"></i><span>Unhighlight
                    article</span></div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% if highlighted_articles %}
<div class="paginationAndAddExternalContainer">
    {% include "pagination.html" with page=highlighted_articles %}
    <button class="addExternalLinkButton"><i class="fas fa-plus"></i>Add External Source</button>
</div>
{% endif %}

{% endif %}
<script src="{% static 'home/feed_script.js' %}"></script>
{% endblock content %}