{% extends 'home/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/lists_style.css' %}" />
<title>Lists</title>
{% endblock %} {% block content %}
<h2>Lists</h2>
<div class="explanation">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim, velit rem quo
  minus consequuntur aspernatur tempore ipsum minima magnam libero nemo tenetur
  expedita explicabo et. Optio rem maiores vero distinctio. Lorem ipsum, dolor
  sit amet consectetur adipisicing elit. Dignissimos illum delectus dolorem
  assumenda quidem facere sunt aliquam modi aperiam blanditiis? At laborum
  reprehenderit repellat quam necessitatibus harum esse deserunt dolore!
</div>

<div class="filterBar">
  <div class="selectContainer">
    <label for="timeframe">Timeframe</label>
    <select id="timeframe">
      <option value="All" selected="selected">All</option>
      <option value="7">Last 7 days</option>
      <option value="30">Last 30 days</option>
      <option value="90">Last 90 days</option>
      <option value="365">Last 365 days</option>
    </select>
  </div>
  <div class="selectContainer">
    <label for="content">Content</label>
    <select id="content">
      <option value="all" selected="selected">All</option>
      <option value="articles">Articles</option>
      <option value="articles">Sources</option>
    </select>
  </div>
  <div class="selectContainer">
    <label for="sources">Sources</label>
    <select id="sources">
      <option value="all" selected="selected">All</option>
      <option value="medium">Medium</option>
      <option value="seekingalpha">Seeking Alpha</option>
      <option value="substack">Substack</option>
      <option value="twitter">Twitter</option>
      <option value="youtube">YouTube</option>
    </select>
  </div>
  <div class="selectContainer searchSelectContainer">
    <div class="searchContainer">
      <input id="search" placeholder="Search term" type="text" autocomplete="off" />
      <i class="fas fa-search"></i>
    </div>
    <div id="autocomplete_list_results"></div>
  </div>
  <div class="selectContainer">
    <button class="searchButton">Search</button>
  </div>
  <div class="selectContainer">
    <button class="createListButton">
      Create List<i class="fas fa-plus"></i>
    </button>
  </div>
</div>
<div class="lowerFilterBar">
  <div class="searchResultsContainer">
    <h4>Search Results</h4>
    <div><span>{{ results_found }}</span> Lists Found</div>
  </div>
  <div class="filterContainer">
    <select id="sortBy">
      <option value="" selected="selected" class="selectPlaceholder">
        SortBy
      </option>
      <option value="likes">Likes</option>
      <option value="newest">Newest First</option>
      <option value="oldest">Oldest First</option>
    </select>
  </div>
</div>

<div class="popUpMenu createListMenu">
  <i class="fas fa-times red closeMenuButton"></i>
  <div class="menuHeader">Create A New List</div>
  <form action="" method="POST" class="createListForm">
    {% csrf_token %} {{ add_list_form }}
    <div class="popUpButtonContainer">
      <input name="createListForm" type="submit" class="green saveButton" value="Save" />
    </div>
  </form>
</div>

<div class="overlay">
  {% if lists %} {% for list in lists %}
  <div class="browserCategory">{{ list.name }}</div>
  <div class="categoryContainer">
    {% for source in list.sources.all %}
    <div class="sourceContainer" draggable="true">
      <div class="iconContainer">
        <img class="sourcePic" src="{% static source.favicon_path %}" alt="favicon" />
        <i class="fas fa-times sourceDeleteOptionOff"></i>
      </div>
      <a class="sourceLink" href="{% url 'source:source-profile' domain=source.domain %}"></a>
      <div class="sourceNameOuterContainer">
        <div class="sourceNameInnerContainer">{{ source.domain }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %} {% endif %} {% include "pagination.html" with page=lists %}
</div>
<script src="{% static 'home/lists_script.js' %}"></script>
{% endblock %}