{% extends 'home/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/lists_style.css' %}" />
<title>ResearchBrowser | Lists</title>
{% endblock %} {% block content %}
<h2>Lists</h2>


<div class="createListMenu formContainer">
  <h3>Create A New List</h3>
  <i class="fas fa-times closeFormContainerButton"></i>
  <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
    {% csrf_token %} {{ add_list_form }}
    <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
  </form>
</div>

<div class="filterBar">
  <div class="selectContainer">
    <label for="timeframe">Timeframe</label>
    <select id="timeframe">
      <option value="All" selected="selected">All</option>
      <option value="7">Last 7 days</option>
      <option value="30">Last 30 days</option>
      <option value="90">Last 90 days</option>
      <option value="365">Last 365 days</option>
    </select>
  </div>
  <div class="selectContainer">
    <label for="content">Content</label>
    <select id="content">
      <option value="All" selected="selected">All</option>
      <option value="Articles">Articles</option>
      <option value="Sources">Sources</option>
    </select>
  </div>
  <div class="selectContainer">
    <label for="minimum_rating">Minimum Rating</label>
    <select id="minimum_rating">
      <option value="All" selected="selected">All</option>
      <option value="4.5">4.5 Stars</option>
      <option value="4">4.0 Stars </option>
      <option value="3.5">3.5 Stars</option>
      <option value="3">3.0 Stars</option>
      <option value="2.5">2.5 Stars</option>
      <option value="2">2.0 Stars</option>
    </select>
  </div>
  <div class="selectContainer">
    <label class="sourceLabel" for="sources">Sources</label>
    <details>
      <summary>All</summary>
      <ul>
        <li><img src="{% static 'home/media/infinity_favicon.png' %}" alt=""><span>All</span></li>
        <li><img src="{% static 'home/media/medium_favicon.png' %}" alt=""><span>Medium</span></li>
        <li><img src="{% static 'home/media/seekingalpha_favicon.png' %}" alt=""><span>SeekingAlpha</span></li>
        <li><img src="{% static 'home/media/substack_favicon.png' %}" alt=""><span>Substack</span></li>
        <li><img src="{% static 'home/media/twitter_favicon.png' %}" alt=""><span>Twitter</span></li>
        <li><img src="{% static 'home/media/youtube_favicon.png' %}" alt=""><span>YouTube</span></li>
        <li><img src="{% static 'home/media/default_favicon.png' %}" alt=""><span>Other</span></li>
      </ul>
    </details>
  </div>
  <div class="selectContainer searchSelectContainer">
    <div class="searchContainer">
      <input id="search" placeholder="Search term" type="text" autocomplete="off" />
      <i class="fas fa-search"></i>
    </div>
    <div id="autocomplete_list_results"></div>
  </div>
  <div class="selectContainer">
    <button class="searchButton">Search</button>
  </div>
</div>
<div class="lowerFilterBar">
  <div class="searchResultsContainer">
    <h4>Search Results</h4>
    <div><span>{{ results_found }}</span> Lists Found</div>
  </div>
  {% if request.user.is_authenticated %}
  <button class="createListButton">
    <i class="fas fa-plus"></i>Create List
  </button>
  {% else %}
  <a href="{% url 'registration:login' %}" class="createListButton registrationLink">
    <i class="fas fa-plus"></i>Create List
  </a>
  {% endif %}
</div>

<div class="listOverlay">

  <div class="listHeader">
    <div>List</div>
    <div>Rating</div>
    <div>Ammount</div>
    <div>Creator</div>
  </div>

  {% if lists %} {% for list in lists %}
  <div class="listResultUpperCont">
    <div class="listCont">
      {% if list.list_pic %}
      <img src="{{ list.list_pic.url }}" alt="">
      {% else %}
      <img src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
      {% endif %}
      <div>{{ list.name }}</div>
    </div>
    <div class="ratingsCont">
      <div>Ø {{ list.get_average_rating }} out of {{ list.get_ammount_of_ratings }} ratings</div>
    </div>
    <div class="numberOfSourcesAndArticleCont">
      <span> {{ list.articles.all|length }} Articles | {{ list.sources.all|length }} Sources</span>
    </div>
    <div class="creatorCont">
      {% if list.creator.profile.profile_pic %}
      <img src="{{ list.creator.profile.profile_pic.url }}" alt="user-profile-pic">
      {% else %}
      <img src="{% static 'home/media/profile-picture.png' %}" alt="user-profile-pic">
      {% endif %}
      <div>{{ list.creator.username }}</div>
    </div>
    <a href="{% url 'home:list-details' list_id=list.list_id  %}"></a>
  </div>
  {% endfor %}
  {% endif %}
</div>
{% if lists %}
{% include "pagination.html" with page=lists %}
{% endif %}
<script src="{% static 'home/lists_script.js' %}"></script>
{% endblock %}

</div>