{% extends 'home/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/list_details_style.css' %}" />
<title>{{ list.name }} List | ResearchBrowser</title>
{% endblock %} {% block content %}



<div class="addSourcesForm">
    <h3>Add Sources</h3>
    <i class="fas fa-times addSourcesCloseButton"></i>
    <input id="addSourcesInput" type="text">
    <div class="sourceSearchResultContainer">
        <div id="sourceSearchResults"></div>
        <div class="selectedSourcesContainer"></div>
    </div>
    <button>Add</button>
</div>

<form action="" class="changeListForm" method="POST" enctype="multipart/form-data">
    <div class="upperContainer">
        <div class="leftInnerContainer">
            <div class="listPictureContainer">
                {% if list.creator == request.user %}
                {% if list.list_pic %}
                <img src="{{ list.list_pic.url }}">
                {% csrf_token %}
                {{ change_list_pic_form }}
                {% else %}
                <img src="{% static 'home/media/bigger_favicon.png' %}">
                {% csrf_token %}
                {{ change_list_pic_form }}
                {% endif %}
                {% else %}
                {% if list.list_pic %}
                <img src="{{ list.list_pic.url }}">
                {% else %}
                <img src="{% static 'home/media/bigger_favicon.png' %}">
                {% endif %}
                {% endif %}
                <i class="fas fa-camera"></i>
            </div>
        </div>
        <div class="rightInnerContainer">
            <div class="rightFirstRowContainer">
                <h3 id="list_detail_for_{{ list.list_id }}">{{ list.name }}</h3>
                <div class="nameChangeContainer">{{ change_list_name_form }}</div>
                {% if list.creator == request.user %}
                <button class="editButton"><i class="fas fa-edit"></i> Edit</button>
                <div class="buttonContainer">
                    <button class="deleteListButton">Delete List</button>
                    <a href="{{ list.list_id }}" class="cancelButton">Cancel</a>
                    <input name="changeListForm" type="submit" value="Save">
                </div>
                {% else %}
                {% if subscribed %}
                <button class="subscribeButton subscribed">Subscribed</button>
                {% else %}
                <button class="subscribeButton unsubscribed">Subscribe</button>
                {% endif %}
                {% endif %}
            </div>
            <div class="creatorContainer">
                <span>by </span>
                <a href="{% url 'accounts:profile' slug=list.creator.profile.slug %}">
                    {{ list.creator.username }}</a>
            </div>
            <div class="ratingsWrapper">
                <div class="rankingsUpperContainer">
                    <div class="rankingsHeader">Ratings</div>
                    <button class="rateListButton">Rate List</button>
                    <div class="rate-formUpperContainer">
                        <h3>Rate {{ list.name }}</h3>
                        <div class="rate-form" action="" method="POST">
                            <button type="submit" class="fa fa-star rankingStar" id="first"></button>
                            <button type="submit" class="fa fa-star rankingStar" id="second"></button>
                            <button type="submit" class="fa fa-star rankingStar" id="third"></button>
                            <button type="submit" class="fa fa-star rankingStar" id="fourth"></button>
                            <button type="submit" class="fa fa-star rankingStar" id="fifth"></button>
                        </div>
                    </div>
                </div>
                <div class="rankingsContainer">
                    <div class="rating">
                        <div class="ratedContainer">
                            <button class="fa fa-star ratedStar" id="first"></button>
                            <button class="fa fa-star ratedStar" id="second"></button>
                            <button class="fa fa-star ratedStar" id="third"></button>
                            <button class="fa fa-star ratedStar" id="fourth"></button>
                            <button class="fa fa-star ratedStar" id="fifth"></button>
                        </div>
                        {% if average_rating != "None" %}
                        <div class="avgRating"><span>{{ average_rating }}</span> out of 5</div>
                        {% else %}
                        <div class="avgRating">No Ratings</div>
                        {% endif %}
                    </div>
                </div>
                <div class="ratingsAmmountContainer">based on <span class="ratingsAmmount">
                        {{ ammount_of_ratings }}</span> ratings</div>
            </div>
        </div>
    </div>
</form>

<div class="listOverlay">

    <div class="categoryWrapper">
        <div class="categoryNameDiv">Sources</div>
        <div class="carousel-container">
            <div onClick="prev();" class="prev"></div>
            <div class="carousel-list">
                <ul class="slider-content">
                    {% for source in list.sources.all %}
                    <li>
                        <div class="sourceContainer">
                            <div class="iconContainer">
                                <img class="sourcePic" src="{% static source.favicon_path %}" alt="favicon" />
                            </div>
                            {% if list.creator == request.user %}
                            <i class="fas fa-trash sourceDeleteOption"></i>
                            {% endif %}
                            <a class="sourceLink" href="{% url 'source:profile' domain=source.domain %}"></a>
                            <div class="sourceNameOuterContainer">
                                <div class="sourceNameInnerContainer">{{ source.name }}</div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    {% if list.creator == request.user %}
                    <div class="sourceContainer addSourcesButton"><i class="fas fa-plus"></i></div>
                    {% endif %}
                </ul>
            </div>
            <div onClick="next();" class="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>

    {% if highlighted_articles or articles %}
    <div class="articleSpace">
        {% if highlighted_articles %}
        <div class="leftSide">
            <div class="browserCategory">Highlighted Articles</div>
            <div class="articlesContainer highlightedArticlesContainer">
                {% for article in highlighted_articles %}
                <div class="article">
                    <img src="{% static article.source.favicon_path %}" />
                    <div class="articleInformationContainer">
                        <div class="articleTitle">{{ article.title }}</div>
                        <div class="articleSectorAndDateContainer">
                            {% for sector in article.source.sector.all %}
                            <a href="{% url 'home:sector-details' name=sector.name %}">{{ sector.name }}</a>
                            {% endfor %}
                            <div class="articlePubDate">{{ article.pub_date }}</div>
                            {% if article.source.top_source %}
                            <i class="fas fa-star articleTopSource"></i>
                            {% endif %}
                            {% if article.source.paywall == "Yes" %}
                            <i class="fas fa-lock articleFullPaywall"></i>
                            {% elif article.source.paywall == "Semi" %}
                            <i class="fas fa-lock articleSemiPaywall"></i>
                            {% endif %}
                        </div>
                    </div>
                    <a class="articleLink" href="{{ article.link }}"></a>
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
                        <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                        {% if article.title in highlighted_articles_titles %}
                        <div id="{{ article.article_id }}" class="addToHighlighted"><i
                                class="fas fa-times"></i><span>Unhighlight
                                article</span></div>
                        {% else %}
                        <div id="{{ article.article_id }}" class="addToHighlighted"><i
                                class="fas fa-highlighter"></i><span>Highlight
                                article</span></div>
                        {% endif %}
                    </div>
                    <div class="addToListForm">
                        <i class="fas fa-times"></i>
                        <h3>Add to lists</h3>
                        <div class="listSelectionContainer">
                            {% for list in user_lists %}
                            <div class="listContainer">
                                <label for="id_list_{{ list.list_id }}">
                                    {% if article in list.articles.all %}
                                    <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                        value="{{ list.list_id }}" checked="True"> {{ list }}
                                    {% else %}
                                    <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                        value="{{ list.list_id }}">
                                    {{ list }}
                                    {% endif %}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="saveButtonContainer">
                            <button class="saveButton">Save</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% include "pagination.html" with page=articles %}
            </div>
        </div>
        <div class="rightSide">
            <div class="browserCategory">Latest Articles From Sources</div>
            {% if articles %}
            <div class="articlesContainer">
                {% for article in articles %}
                <div class="article">
                    <img src="{% static article.source.favicon_path %}" />
                    <div class="articleInformationContainer">
                        <div class="articleTitle">{{ article.title }}</div>
                        <div class="articleSectorAndDateContainer">
                            {% for sector in article.source.sector.all %}
                            <a href="{% url 'home:sector-details' name=sector.name %}">{{ sector.name }}</a>
                            {% endfor %}
                            <div class="articlePubDate">{{ article.pub_date }}</div>
                            {% if article.source.top_source %}
                            <i class="fas fa-star articleTopSource"></i>
                            {% endif %}
                            {% if article.source.paywall == "Yes" %}
                            <i class="fas fa-lock articleFullPaywall"></i>
                            {% elif article.source.paywall == "Semi" %}
                            <i class="fas fa-lock articleSemiPaywall"></i>
                            {% endif %}
                        </div>
                    </div>
                    <a class="articleLink" href="{{ article.link }}"></a>
                    <i class="fas fa-ellipsis-h"></i>
                    <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
                        <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                        {% if article.title in highlighted_articles_titles %}
                        <div id="{{ article.article_id }}" class="addToHighlighted"><i
                                class="fas fa-times"></i><span>Unhighlight
                                article</span></div>
                        {% else %}
                        <div id="{{ article.article_id }}" class="addToHighlighted"><i
                                class="fas fa-highlighter"></i><span>Highlight
                                article</span></div>
                        {% endif %}
                    </div>
                    <div class="addToListForm">
                        <i class="fas fa-times"></i>
                        <h3>Add to lists</h3>
                        <div class="listSelectionContainer">
                            {% for list in user_lists %}
                            <div class="listContainer">
                                <label for="id_list_{{ list.list_id }}">
                                    {% if article in list.articles.all %}
                                    <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                        value="{{ list.list_id }}" checked="True"> {{ list }}
                                    {% else %}
                                    <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                        value="{{ list.list_id }}">
                                    {{ list }}
                                    {% endif %}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="saveButtonContainer">
                            <button class="saveButton">Save</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% include "pagination.html" with page=articles %}
            </div>
            {% endif %}
        </div>
        {% else %}
        <div class="browserCategory subscribedSourcesArticleHeader">Articles Of Subscribed Sources</div>
        <div class="singleArticlesContainer">
            {% for article in articles %}
            <div class="article">
                <img src="{% static article.source.favicon_path %}" />
                <div class="articleInformationContainer">
                    <div class="articleTitle">{{ article.title }}</div>
                    <div class="articleSectorAndDateContainer">
                        {% for sector in article.source.sector.all %}
                        <a href="{% url 'home:sector-details' name=sector.name %}">{{ sector.name }}</a>
                        {% endfor %}
                        <div class="articlePubDate">{{ article.pub_date }}</div>
                        {% if article.source.top_source %}
                        <i class="fas fa-star articleTopSource"></i>
                        {% endif %}
                        {% if article.source.paywall == "Yes" %}
                        <i class="fas fa-lock articleFullPaywall"></i>
                        {% elif article.source.paywall == "Semi" %}
                        <i class="fas fa-lock articleSemiPaywall"></i>
                        {% endif %}
                    </div>
                </div>
                <a class="articleLink" href="{{ article.link }}"></a>
                <i class="fas fa-ellipsis-h"></i>
                <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
                    <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                    {% if article.title in highlighted_articles_titles %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-times"></i><span>Unhighlight
                            article</span></div>
                    {% else %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-highlighter"></i><span>Highlight
                            article</span></div>
                    {% endif %}
                </div>
                <div class="addToListForm">
                    <i class="fas fa-times"></i>
                    <h3>Add to lists</h3>
                    <div class="listSelectionContainer">
                        {% for list in user_lists %}
                        <div class="listContainer">
                            <label for="id_list_{{ list.list_id }}">
                                {% if article in list.articles.all %}
                                <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                    value="{{ list.list_id }}" checked="True"> {{ list }}
                                {% else %}
                                <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                    value="{{ list.list_id }}">
                                {{ list }}
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="saveButtonContainer">
                        <button class="saveButton">Save</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if articles %}
        {% include "pagination.html" with page=articles %}
        {% endif %}
        {% endif %}
    </div>
</div>
{% endif %}

</div>

{{ user_rating|json_script:"user-rating" }}
<script src="{% static 'home/list_details_script.js' %}"></script>
{% endblock content %}