{% extends 'home/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/list_details_style.css' %}" />
<title>{{ list.name }} List | ResearchBrowser</title>
{% endblock %} {% block content %}

<div class="addSourcesForm">
    <h3>Add Sources</h3>
    <i class="fas fa-times addSourcesCloseButton"></i>
    <input id="addSourcesInput" type="text">
    <div class="sourceSearchResultContainer">
        <div id="sourceSearchResults"></div>
        <div class="selectedSourcesContainer"></div>
    </div>
    <button>Add</button>
</div>

<div class="createListMenu formContainer">
    <h3>Create A New List</h3>
    <i class="fas fa-times closeFormContainerButton"></i>
    <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
        {% csrf_token %} {{ add_list_form }}
        <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
    </form>
</div>

<form action="" class="changeListForm" method="POST" enctype="multipart/form-data">
    <div class="upperContainer">
        <div class="leftInnerContainer">
            <div class="listPictureContainer">
                {% csrf_token %}
                {% if list.creator == request.user %}
                {% if list.list_pic %}
                <img src="{{ list.list_pic.url }}">
                {% else %}
                <img src="{% static 'home/media/bigger_favicon.png' %}">
                {% endif %}
                {{ change_list_pic_form }}
                {% else %}
                {% if list.list_pic %}
                <img src="{{ list.list_pic.url }}">
                {% else %}
                <img src="{% static 'home/media/bigger_favicon.png' %}">
                {% endif %}
                {% endif %}
                <i class="fas fa-camera"></i>
            </div>
        </div>
        <div class="rightInnerContainer">
            <div class="rightFirstRowContainer">
                <h3 id="list_detail_for_{{ list.list_id }}">{{ list.name }}</h3>
                <div class="nameChangeContainer">{{ change_list_name_form }}</div>
                {% if list.creator == request.user %}
                <div class="notificationAndSubscribtionContainer">
                    {% if notifications_activated %}
                    <i class="fas fa-bell notificationActivated"></i>
                    {% else %}
                    <i class="fas fa-bell"></i>
                    {% endif %}
                    <button type="button" class="editButton"><i class="fas fa-edit"></i> Edit</button>
                    <div class="buttonContainer">
                        <button type="button" class="deleteListButton">Delete List</button>
                        <a href="{{ list.get_absolute_url }}" class="cancelButton">Cancel</a>
                        <input name="changeListForm" type="submit" value="Save">
                    </div>
                </div>
                {% else %}
                <div class="notificationAndSubscribtionContainer">
                    {% if request.user.is_authenticated %}
                    {% if notifications_activated %}
                    <i class="fas fa-bell notificationActivated"></i>
                    {% else %}
                    <i class="fas fa-bell"></i>
                    {% endif %}
                    {% if subscribed %}
                    <button type="button" class="subscribeButton subscribed">Subscribed</button>
                    {% else %}
                    <button type="button" class="subscribeButton unsubscribed">Subscribe</button>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'account_login' %}"
                        class="subscribeButton unsubscribed registrationLink">Subscribe</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="creatorContainer">
                <span>by </span>
                <a href="{{ list.creator.profile.get_absolute_url }}">{{ list.creator.username }}</a>
            </div>
            <div class="ratingsWrapper">
                {% if list.creator != request.user %}
                <div class="rankingsUpperContainer">
                    <div class="rankingsHeader">Ratings</div>
                    {% if request.user.is_authenticated %}
                    <button type="button" class="rateListButton">Rate List</button>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="rateListButton registrationLink">Rate
                        List</a>
                    {% endif %}
                    <div class="rate-formUpperContainer">
                        <h3>Rate {{ list.name }}</h3>
                        <div class="rate-form" action="" method="POST">
                            <button type="button" class="fa fa-star rankingStar" id="first"></button>
                            <button type="button" class="fa fa-star rankingStar" id="second"></button>
                            <button type="button" class="fa fa-star rankingStar" id="third"></button>
                            <button type="button" class="fa fa-star rankingStar" id="fourth"></button>
                            <button type="button" class="fa fa-star rankingStar" id="fifth"></button>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="rankingsContainer">
                    <div class="rating">
                        <div class="ratedContainer">
                            <button type="button" class="fa fa-star ratedStar" id="first"></button>
                            <button type="button" class="fa fa-star ratedStar" id="second"></button>
                            <button type="button" class="fa fa-star ratedStar" id="third"></button>
                            <button type="button" class="fa fa-star ratedStar" id="fourth"></button>
                            <button type="button" class="fa fa-star ratedStar" id="fifth"></button>
                        </div>
                        {% if average_rating != "None" %}
                        <div class="avgRating"><span>{{ list.average_rating }}</span> out of 5</div>
                        {% else %}
                        <div class="avgRating">No Ratings</div>
                        {% endif %}
                    </div>
                </div>
                <div class="ratingsAmmountContainer">based on <span class="ratingsAmmount">
                        {{ list.ammount_of_ratings }}</span> ratings</div>
            </div>
        </div>
    </div>
</form>

<div class="listOverlay">


    <div class="sliderWrapper">
        <div class="sliderHeader">
            <div>Sources</div>
            <div class="progressBar"></div>
        </div>
        <div class="sliderContentContainer">
            <button class="handle leftHandle">
                <div class="handleSymbol">&#8249;</div>
            </button>
            <div class="slider">
                {% for source in list.sources.all|dictsort:"name" %}
                <div class="contentWrapper">
                    <div class="contentContainer">
                        <div class="contentIconContainer">
                            <img class="contentIcon" src="{% static source.favicon_path %}" alt="favicon" />
                        </div>
                        {% if list.creator == request.user %}
                        <i class="fas fa-trash sourceDeleteOption" id="source_id_{{ source.source_id }}"></i>
                        {% endif %}
                        <a class="contentLink" href="{{ source.get_absolute_url }}"></a>
                        <div class="contentNameContainer">
                            <div class="contentName">{{ source.name }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if list.creator == request.user %}
                <div class="contentWrapper addSourcesButton"><i class="fas fa-plus"></i></div>
                {% endif %}
            </div>
            <button class="handle rightHandle">
                <div class="handleSymbol">&#8250;</div>
            </button>
        </div>
    </div>

    <!-- <div class="categoryWrapper">
        <div class="categoryNameDiv">Sources</div>
        <div class="carousel-container">
            <div onClick="prev();" class="prev"></div>
            <div class="carousel-list">
                <ul class="slider-content">
                    {% for source in list.sources.all|dictsort:"name" %}
                    <li>
                        <div class="sourceContainer">
                            <div class="iconContainer">
                                <img class="sourcePic" src="{% static source.favicon_path %}" alt="favicon" />
                            </div>
                            {% if list.creator == request.user %}
                            <i class="fas fa-trash sourceDeleteOption" id="source_id_{{ source.source_id }}"></i>
                            {% endif %}
                            <a class="sourceLink" href="{{ source.get_absolute_url }}"></a>
                            <div class="sourceNameOuterContainer">
                                <div class="sourceNameInnerContainer">{{ source.name }}</div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    {% if list.creator == request.user %}
                    <li class="addSourcesButtonLi">
                        <div class="sourceContainer addSourcesButton"><i class="fas fa-plus"></i></div>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div onClick="next();" class="next">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>
    </div> -->

    <div class="categoryHeader">Articles Of Subscribed Sources</div>
    <div class="singleArticlesContainer">
        {% for article in latest_articles %}
        <div class="article" id="article{{ article.article_id }}">
            <div class="authorImageContainer">
                <img src="{% static article.source.favicon_path %}" />
                <a href="{{ article.source.get_absolute_url }}"></a>
            </div>
            <div class="articleInformationContainer">
                <div class="articleTitle">{{ article.title }}</div>
                <div class="articleSectorAndDateContainer">
                    <a href="{{ article.source.sector.get_absolute_url }}">
                        {{ article.source.sector.name }}</a>
                    <div class="articlePubDate">{{ article.pub_date }}</div>
                    {% if article.source.top_source %}
                    <i class="fas fa-star articleTopSource"></i>
                    {% endif %}
                    {% if article.source.paywall == "Yes" %}
                    <i class="fas fa-lock articleFullPaywall"></i>
                    {% elif article.source.paywall == "Semi" %}
                    <i class="fas fa-lock articleSemiPaywall"></i>
                    {% endif %}
                </div>
            </div>
            <a class="articleLink" href="{{ article.link }}"></a>
            <i class="fas fa-ellipsis-h"></i>
            <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
                {% if request.user.is_authenticated %}
                <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                {% if article.title in highlighted_articles_titles %}
                <div id="{{ article.article_id }}" class="addToHighlighted"><i
                        class="fas fa-times"></i><span>Unhighlight
                        article</span></div>
                {% else %}
                <div id="{{ article.article_id }}" class="addToHighlighted"><i
                        class="fas fa-highlighter"></i><span>Highlight
                        article</span></div>
                {% endif %}
                {% else %}
                <a href="{% url 'account_login' %}" class="addToList registrationLink"><i class="fas fa-list"></i>Add to
                    list</a>
                <a href="{% url 'account_login' %}" id="{{ article.article_id }}"
                    class="addToHighlighted registrationLink"><i class="fas fa-highlighter"></i><span>Highlight
                        article</span></a>
                {% endif %}
            </div>
            <div class="addToListForm">
                <i class="fas fa-times"></i>
                <h3>Add to lists</h3>
                {% if user_lists %}
                <div class="listSelectionContainer">
                    {% for list in user_lists %}
                    <div class="listContainer">
                        <label for="id_list_{{ list.list_id }}">
                            {% if article in list.articles.all %}
                            <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                value="{{ list.list_id }}" checked="True"> {{ list }}
                            {% else %}
                            <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                value="{{ list.list_id }}">
                            {{ list }}
                            {% endif %}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="buttonsContainer">
                    <button class="saveButton">Save</button>
                    <button class="createNewListButton">Create</button>
                </div>
                {% else %}
                <div class="listContainer">You haven't created any lists!</div>
                <button class="createNewListButton createFirstList">Create First List</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% for i in latest_articles.paginator.page_range %}
            {% if latest_articles.number == i %}
            <button class="currentPagination">{{ latest_articles.number }}</button>
            {% elif i > latest_articles.number|add:'-3' and i < latest_articles.number|add:'3' %} <a
                href="?latest_articles={{ i }}">{{ i }}</a>
            {% endif %}
            {% endfor %}
        </span>
    </div>






    <!-- ##################################################################### -->


    <div class="categoryHeader">Highlighted Articles</div>
    <div class="singleArticlesContainer highlightedArticlesContainer">
        {% for article in highlighted_articles %}
        <div class="article" id="article{{ article.article_id }}">
            <i class="fas fa-times"></i>
            <div class="authorImageContainer">
                <img src="{% static article.source.favicon_path %}" />
                <a href="{{ article.source.get_absolute_url }}"></a>
            </div>
            <div class="articleInformationContainer">
                <div class="articleTitle">{{ article.title }}</div>
                <div class="articleSectorAndDateContainer">
                    <a href="{{ article.source.sector.get_absolute_url }}">
                        {{ article.source.sector.name }}</a>
                    <div class="articlePubDate">{{ article.pub_date }}</div>
                    {% if article.source.top_source %}
                    <i class="fas fa-star articleTopSource"></i>
                    {% endif %}
                    {% if article.source.paywall == "Yes" %}
                    <i class="fas fa-lock articleFullPaywall"></i>
                    {% elif article.source.paywall == "Semi" %}
                    <i class="fas fa-lock articleSemiPaywall"></i>
                    {% endif %}
                </div>
            </div>
            <a class="articleLink" href="{{ article.link }}"></a>
            <i class="fas fa-ellipsis-h"></i>
            <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
                {% if request.user.is_authenticated %}
                <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                {% if article.title in highlighted_articles_titles %}
                <div id="{{ article.article_id }}" class="addToHighlighted"><i
                        class="fas fa-times"></i><span>Unhighlight
                        article</span></div>
                {% else %}
                <div id="{{ article.article_id }}" class="addToHighlighted"><i
                        class="fas fa-highlighter"></i><span>Highlight
                        article</span></div>
                {% endif %}
                {% else %}
                <a href="{% url 'account_login' %}" class="addToList registrationLink"><i class="fas fa-list"></i>Add to
                    list</a>
                <a href="{% url 'account_login' %}" id="{{ article.article_id }}"
                    class="addToHighlighted registrationLink"><i class="fas fa-highlighter"></i><span>Highlight
                        article</span></a>
                {% endif %}
            </div>
            <div class="addToListForm">
                <i class="fas fa-times"></i>
                <h3>Add to lists</h3>
                {% if user_lists %}
                <div class="listSelectionContainer">
                    {% for list in user_lists %}
                    <div class="listContainer">
                        <label for="id_list_{{ list.list_id }}">
                            {% if article in list.articles.all %}
                            <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                value="{{ list.list_id }}" checked="True"> {{ list }}
                            {% else %}
                            <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                value="{{ list.list_id }}">
                            {{ list }}
                            {% endif %}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="buttonsContainer">
                    <button class="saveButton">Save</button>
                    <button class="createNewListButton">Create</button>
                </div>
                {% else %}
                <div class="listContainer">You haven't created any lists!</div>
                <button class="createNewListButton createFirstList">Create First List</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% for i in highlighted_articles.paginator.page_range %}
            {% if highlighted_articles.number == i %}
            <button class="currentPagination">{{ highlighted_articles.number }}</button>
            {% elif i > highlighted_articles.number|add:'-3' and i < highlighted_articles.number|add:'3' %}
            <a href="?highlighted_articles={{ i }}">{{ i }}</a>
            {% endif %}
            {% endfor %}
        </span>
    </div>

</div>

{{ user_rating|json_script:"user-rating" }}
<script src="{% static 'home/list_details_script.js' %}"></script>
{% endblock content %}