{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/main_style.css' %}">
<title>ResearchBrowser | Research Sources For Investors</title>
{% endblock %}
{% block content %}
<div class="websiteBigNameContainer">
    <div>Research</div>
    <div>Browser</div>
</div>
<div class="websiteAbout">WallStreet's biggest edge over retail is the information advantage. However, the Internet is
    changing this and retail
    investors now have access to a multitude of incredibly good sources. Here you will find a curated list of over a
    thousand of the best sources available on the web.</div>
<a href="{% url 'registration:register' %}" class="registrationButton">Join ResearchBrowser</a>

{% endblock content %}