{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/new_settings_style.css' %}">
<title>ResearchBrowser | Settings</title>
{% endblock %}
{% block content %}

<div class="settingSidebar">
    <h3>Settings</h3>
    <div class="settingOption activeSettingOption" data-for-tab="0">Profile</div>
    <div class="settingOption" data-for-tab="1">Password</div>
    <div class="settingOption" data-for-tab="2">Notifications</div>
    <div class="settingOption" data-for-tab="3">My Lists</div>
</div>
<div class="contentSection">

    <div class="tabsContent tabsContentActive" data-tab="0">

        <div class="editSection">
            {% csrf_token %}
            <h2>Account</h2>
            <div class="usernameAndEmailContainer">
                <div class="usernameContainer">
                    {{ email_and_name_change_form.username.label_tag }}
                    {{ email_and_name_change_form.username }}
                </div>
                <div class="emailContainer">
                    {{ email_and_name_change_form.email.label_tag }}
                    {{ email_and_name_change_form.email }}
                </div>
            </div>
            <div class="profilePicAndBannerContainer">
                <div class="profilePicContainer">
                    {{ profile_change_form.profile_pic.label_tag }}
                    <div class="profilePicInnerContainer">
                        <img src="{{ user.profile.profile_pic.url }}" alt="">
                        <div class="changeProfilePicButton">
                            <span>Change</span>
                            {{ profile_change_form.profile_pic }}
                        </div>
                        <button class="removeProfilePicButton">Remove</button>
                    </div>
                </div>
                <div class="profileBannerContainer">
                    {{ profile_change_form.profile_banner.label_tag }}
                    <div class="profileBannerInnerContainer">
                        <img src="{{ user.profile.profile_banner.url }}" alt="">
                        <div class="changeProfileBannerButton">
                            <span>Change</span>
                            {{ profile_change_form.profile_banner }}
                        </div>
                        <button class="removeProfileBannerButton">Remove</button>
                    </div>
                </div>
            </div>
            <label>Add Social Links:</label>
            <div class="addSocialLinksContainer">
                <input placeholder="Enter website url" class="linkInput" type="text">
                <div class="selectContainer">
                    <details>
                        <summary>Select Website</summary>
                        <ul>
                            <li><img src="{% static 'home/media/facebook_favicon.png' %}" alt=""><span>Facebook</span>
                            </li>
                            <li><img src="{% static 'home/media/linkedin_favicon.png' %}" alt=""><span>LinkedIn</span>
                            </li>
                            <li><img src="{% static 'home/media/medium_favicon.png' %}" alt=""><span>Medium</span></li>
                            <li><img src="{% static 'home/media/seekingalpha_favicon.png' %}"
                                    alt=""><span>SeekingAlpha</span>
                            </li>
                            <li><img src="{% static 'home/media/substack__favicon.png' %}" alt=""><span>Substack</span>
                            </li>
                            <li><img src="{% static 'home/media/twitter_favicon.png' %}" alt=""><span>Twitter</span>
                            </li>
                            <li><img src="{% static 'home/media/youtube_favicon.png' %}" alt=""><span>YouTube</span>
                            </li>
                            <li><img src="{% static 'home/media/default_favicon.png' %}" alt=""><span>Other</span></li>
                        </ul>
                    </details>
                </div>
            </div>

            <div class="bioContainer">
                {{ bio_change_form.media }}
                {{ bio_change_form }}
            </div>

            <div class="buttonContainer">
                <button href="{% url 'home:settings' %}" class="cancelButton">Cancel</button>
                <input name="changeProfileForm" type="submit" value="Save">
            </div>
        </div>

    </div>
    <div class="tabsContent" data-tab="1">
        <h2>Change Password</h2>
        <form action="" class="changePasswordForm" method="POST">
            {% csrf_token %}
            {{ change_password_form }}
            <input name="changePasswordForm" type="submit" class="passwordChangeSubmit" value="Save" />
        </form>
    </div>
    <div class="tabsContent" data-tab="2"></div>
    <div class="tabsContent" data-tab="3"></div>
</div>
<script src="{% static 'home/settings_script.js' %}"></script>
{% endblock content %}