{% extends 'home/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/sector_details_style.css' %}" />
<title>{{ sector.name }} Sector | ResearchBrowser</title>
{% endblock %} {% block content %}
<div class="browserCategory">Sources</div>
<div class="carousel-container">
    <div onClick="prev();" class="prev"></div>
    <div class="carousel-list">
        <ul class="slider-content">
            {% for source in sector.sectors.all %}
            <li>
                <div class="sourceContainer">
                    <div class="iconContainer">
                        <img class="sourcePic" src="{% static source.favicon_path %}" alt="favicon" />
                    </div>
                    <a class="sourceLink" href="{% url 'source:profile' domain=source.domain %}"></a>
                    <div class="sourceNameOuterContainer">
                        <div class="sourceNameInnerContainer">{{ source.name }}</div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div onClick="next();" class="next">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
</div>

{% if articles_from_sector %}
{% if articles_from_top_sources %}
<div class="articleSpace">
    <div class="leftSide">
        <div class="browserCategory">Articles From Sectors Best Sources</div>
        {% if articles_from_top_sources %}
        <div class="articlesContainer">
            {% for article in articles_from_top_sources %}
            <div class="article">
                <img src="{% static article.source.favicon_path %}" />
                <div class="articleInformationContainer">
                    <div class="articleTitle">{{ article.title }}</div>
                    <div class="articleSectorAndDateContainer">
                        {% for sector in article.source.sector.all %}
                        <a href="{% url 'home:sector-details' slug=sector.slug %}">{{ sector.name }}</a>
                        {% endfor %}
                        <div class="articlePubDate">{{ article.pub_date }}</div>
                        {% if article.source.top_source %}
                        <i class="fas fa-star articleTopSource"></i>
                        {% endif %}
                        {% if article.source.paywall == "Yes" %}
                        <i class="fas fa-lock articleFullPaywall"></i>
                        {% elif article.source.paywall == "Semi" %}
                        <i class="fas fa-lock articleSemiPaywall"></i>
                        {% endif %}
                    </div>
                </div>
                <a class="articleLink" href="{{ article.link }}"></a>
                <i class="fas fa-ellipsis-h"></i>
                <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
                    {% if request.user.is_authenticated %}
                    <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                    {% if article.title in highlighted_articles_titles %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-times"></i><span>Unhighlight
                            article</span></div>
                    {% else %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-highlighter"></i><span>Highlight
                            article</span></div>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'registration:login' %}" class="addToList"><i class="fas fa-list"></i>Add to
                        list</a>
                    <a href="{% url 'registration:login' %}" id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-highlighter"></i><span>Highlight
                            article</span></a>
                    {% endif %}
                </div>
                <div class="addToListForm">
                    <i class="fas fa-times"></i>
                    <h3>Add to lists</h3>
                    <div class="listSelectionContainer">
                        {% for list in user_lists %}
                        <div class="listContainer">
                            <label for="id_list_{{ list.list_id }}">
                                {% if article in list.articles.all %}
                                <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                    value="{{ list.list_id }}" checked="True"> {{ list }}
                                {% else %}
                                <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                    value="{{ list.list_id }}">
                                {{ list }}
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="saveButtonContainer">
                        <button class="saveButton">Save</button>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% include "pagination.html" with page=articles_from_top_sources %}
        </div>
        {% endif %}
    </div>
    <div class="rightSide">
        <div class="browserCategory">Latest Articles From Sector</div>
        {% if articles_from_sector %}
        <div class="articlesContainer">
            {% for article in articles_from_sector %}
            <div class="article">
                <img src="{% static article.source.favicon_path %}" />
                <div class="articleInformationContainer">
                    <div class="articleTitle">{{ article.title }}</div>
                    <div class="articleSectorAndDateContainer">
                        {% for sector in article.source.sector.all %}
                        <a href="{% url 'home:sector-details' slug=sector.slug %}">{{ sector.name }}</a>
                        {% endfor %}
                        <div class="articlePubDate">{{ article.pub_date }}</div>
                        {% if article.source.top_source %}
                        <i class="fas fa-star articleTopSource"></i>
                        {% endif %}
                        {% if article.source.paywall == "Yes" %}
                        <i class="fas fa-lock articleFullPaywall"></i>
                        {% elif article.source.paywall == "Semi" %}
                        <i class="fas fa-lock articleSemiPaywall"></i>
                        {% endif %}
                    </div>
                </div>
                <a class="articleLink" href="{{ article.link }}"></a>
                <i class="fas fa-ellipsis-h"></i>
                <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
                    {% if request.user.is_authenticated %}
                    <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                    {% if article.title in highlighted_articles_titles %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-times"></i><span>Unhighlight
                            article</span></div>
                    {% else %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-highlighter"></i><span>Highlight
                            article</span></div>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'registration:login' %}" class="addToList"><i class="fas fa-list"></i>Add to
                        list</a>
                    <a href="{% url 'registration:login' %}" id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-highlighter"></i><span>Highlight
                            article</span></a>
                    {% endif %}
                </div>
                <div class="addToListForm">
                    <i class="fas fa-times"></i>
                    <h3>Add to lists</h3>
                    <div class="listSelectionContainer">
                        {% for list in user_lists %}
                        <div class="listContainer">
                            <label for="id_list_{{ list.list_id }}">
                                {% if article in list.articles.all %}
                                <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                    value="{{ list.list_id }}" checked="True"> {{ list }}
                                {% else %}
                                <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                    value="{{ list.list_id }}">
                                {{ list }}
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="saveButtonContainer">
                        <button class="saveButton">Save</button>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% include "pagination.html" with page=articles_from_sector %}
        </div>
        {% endif %}
    </div>
</div>
{% else %}
<div class="browserCategory singleArticlesContainerHeader">Latest Articles From Sector</div>
<div class="singleArticlesContainer">
    {% for article in articles_from_sector %}
    <div class="article">
        <img src="{% static article.source.favicon_path %}" />
        <div class="articleInformationContainer">
            <div class="articleTitle">{{ article.title }}</div>
            <div class="articleSectorAndDateContainer">
                {% for sector in article.source.sector.all %}
                <a href="{% url 'home:sector-details' slug=sector.slug %}">{{ sector.name }}</a>
                {% endfor %}
                <div class="articlePubDate">{{ article.pub_date }}</div>
                {% if article.source.top_source %}
                <i class="fas fa-star articleTopSource"></i>
                {% endif %}
                {% if article.source.paywall == "Yes" %}
                <i class="fas fa-lock articleFullPaywall"></i>
                {% elif article.source.paywall == "Semi" %}
                <i class="fas fa-lock articleSemiPaywall"></i>
                {% endif %}
            </div>
        </div>
        <a class="articleLink" href="{{ article.link }}"></a>
        <i class="fas fa-ellipsis-h"></i>
        <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
            {% if request.user.is_authenticated %}
            <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
            {% if article.title in highlighted_articles_titles %}
            <div id="{{ article.article_id }}" class="addToHighlighted"><i class="fas fa-times"></i><span>Unhighlight
                    article</span></div>
            {% else %}
            <div id="{{ article.article_id }}" class="addToHighlighted"><i
                    class="fas fa-highlighter"></i><span>Highlight
                    article</span></div>
            {% endif %}
            {% else %}
            <a href="{% url 'registration:login' %}" class="addToList"><i class="fas fa-list"></i>Add to
                list</a>
            <a href="{% url 'registration:login' %}" id="{{ article.article_id }}" class="addToHighlighted"><i
                    class="fas fa-highlighter"></i><span>Highlight
                    article</span></a>
            {% endif %}
        </div>
        <div class="addToListForm">
            <i class="fas fa-times"></i>
            <h3>Add to lists</h3>
            <div class="listSelectionContainer">
                {% for list in user_lists %}
                <div class="listContainer">
                    <label for="id_list_{{ list.list_id }}">
                        {% if article in list.articles.all %}
                        <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists" value="{{ list.list_id }}"
                            checked="True"> {{ list }}
                        {% else %}
                        <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists" value="{{ list.list_id }}">
                        {{ list }}
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="saveButtonContainer">
                <button class="saveButton">Save</button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if articles_from_sector %}
{% include "pagination.html" with page=articles_from_sector %}
{% endif %}
{% endif %}
{% endif %}

{% endblock content %}