{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/sectors_style.css' %}">
<title>ResearchBrowser | Sectors</title>
{% endblock %}

{% block content %}
<h2>Sectors</h2>
<!-- <div class="explanation">Here you can see a registry with all sources that are gathered by the site. Each site was
    sorted
    into atleast one category. Sources that fit into multiple categories were sorted into multiple categories. The
    sources
    were selected for their quality of the viewpoints they delivered. However, the includement of these source on this
    site
    is no endorsement of any views by the views. The goal of the selection was to give the user a wide view of many
    views
    on a topic.</div> -->


{% if sectors %}
{% for sector in sectors %}
<div class="browserCategory">{{ sector.name }}</div>
<div class="categoryContainer">
    {% for source in sector.sectors.all %}
    <div class="sourceContainer">
        <div class="iconContainer">
            <img class="sourcePic" src="{% static source.favicon_path %}" alt="favicon">
            {% if source.top_source %}
            <i class="fas fa-star"></i>
            {% endif %}
        </div>
        <a class="sourceLink" href="{% url 'source:profile' domain=source.domain %}"></a>
        <div class="sourceNameOuterContainer">
            <div class="sourceNameInnerContainer">{{ source.name }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endif %}



{% endblock %}