{% extends 'home/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/sector_details_style.css' %}" />
<title>{{ sector.name }} Sector | ResearchBrowser</title>
{% endblock %} {% block content %}


<div class="createListMenu formContainer">
    <h3>Create A New List</h3>
    <i class="fas fa-times closeFormContainerButton"></i>
    <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
        {% csrf_token %} {{ add_list_form }}
        <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
    </form>
</div>



<div class="row">
    <div class="header">
        <div>Sources</div>
        <div class="progress-bar"></div>
    </div>
    <div class="container">
        <button class="handle left-handle">
            <div class="text">&#8249;</div>
        </button>
        <div class="slider">
            {% for source in sector.sectors.all|dictsort:"name" %}
            <div class="sourceWrapper">
                <div class="sourceContainer">
                    <div class="iconContainer">
                        <img class="sourcePic" src="{% static source.favicon_path %}" alt="favicon" />
                    </div>
                    <a class="sourceLink" href="{{ source.get_absolute_url }}"></a>
                    <div class="sourceNameOuterContainer">
                        <div class="sourceNameInnerContainer">{{ source.name }}</div>
                    </div>
                </div>
            </div>


            {% endfor %}
        </div>
        <button class="handle right-handle">
            <div class="text">&#8250;</div>
        </button>
    </div>
</div>

{% if articles_from_sector %}
{% if articles_from_top_sources %}
<div class="articleSpace">
    <div class="leftSide">
        <div class="browserCategory">Articles From Sectors Best Sources</div>
        {% if articles_from_top_sources %}
        <div class="articlesContainer">
            {% for article in articles_from_top_sources %}
            <div class="article">
                <div class="authorImageContainer">
                    <img src="{% static article.source.favicon_path %}" />
                    <a href="{{ article.source.get_absolute_url }}"></a>
                </div>
                <div class="articleInformationContainer">
                    <div class="articleTitle">{{ article.title }}</div>
                    <div class="articleSectorAndDateContainer">
                        <a href="{{ article.source.sector.first.get_absolute_url }}">
                            {{ article.source.sector.first.name }}</a>
                        <div class="articlePubDate">{{ article.pub_date }}</div>
                        {% if article.source.top_source %}
                        <i class="fas fa-star articleTopSource"></i>
                        {% endif %}
                        {% if article.source.paywall == "Yes" %}
                        <i class="fas fa-lock articleFullPaywall"></i>
                        {% elif article.source.paywall == "Semi" %}
                        <i class="fas fa-lock articleSemiPaywall"></i>
                        {% endif %}
                    </div>
                </div>
                <a class="articleLink" href="{{ article.link }}"></a>
                <i class="fas fa-ellipsis-h"></i>
                <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
                    {% if request.user.is_authenticated %}
                    <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                    {% if article.title in highlighted_articles_titles %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-times"></i><span>Unhighlight
                            article</span></div>
                    {% else %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-highlighter"></i><span>Highlight
                            article</span></div>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'account_login' %}" class="addToList registrationLink"><i
                            class="fas fa-list"></i>Add to
                        list</a>
                    <a href="{% url 'account_login' %}" id="{{ article.article_id }}"
                        class="addToHighlighted registrationLink"><i class="fas fa-highlighter"></i><span>Highlight
                            article</span></a>
                    {% endif %}
                </div>
                <div class="addToListForm">
                    <i class="fas fa-times"></i>
                    <h3>Add to lists</h3>
                    {% if user_lists %}
                    <div class="listSelectionContainer">
                        {% for list in user_lists %}
                        <div class="listContainer">
                            <label for="id_list_{{ list.list_id }}">
                                {% if article in list.articles.all %}
                                <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                    value="{{ list.list_id }}" checked="True"> {{ list }}
                                {% else %}
                                <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                    value="{{ list.list_id }}">
                                {{ list }}
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="buttonsContainer">
                        <button class="saveButton">Save</button>
                        <button class="createNewListButton">Create</button>
                    </div>
                    {% else %}
                    <div class="listContainer">You haven't created any lists!</div>
                    <button class="createNewListButton createFirstList">Create First List</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% include "pagination.html" with page=articles_from_top_sources %}
        </div>
        {% endif %}
    </div>
    <div class="rightSide">
        <div class="browserCategory">Latest Articles From Sector</div>
        {% if articles_from_sector %}
        <div class="articlesContainer">
            {% for article in articles_from_sector %}
            <div class="article">
                <div class="authorImageContainer">
                    <img src="{% static article.source.favicon_path %}" />
                    <a href="{{ article.source.get_absolute_url }}"></a>
                </div>
                <div class="articleInformationContainer">
                    <div class="articleTitle">{{ article.title }}</div>
                    <div class="articleSectorAndDateContainer">
                        <a href="{{ article.source.sector.first.get_absolute_url }}">
                            {{ article.source.sector.first.name }}</a>
                        <div class="articlePubDate">{{ article.pub_date }}</div>
                        {% if article.source.top_source %}
                        <i class="fas fa-star articleTopSource"></i>
                        {% endif %}
                        {% if article.source.paywall == "Yes" %}
                        <i class="fas fa-lock articleFullPaywall"></i>
                        {% elif article.source.paywall == "Semi" %}
                        <i class="fas fa-lock articleSemiPaywall"></i>
                        {% endif %}
                    </div>
                </div>
                <a class="articleLink" href="{{ article.link }}"></a>
                <i class="fas fa-ellipsis-h"></i>
                <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
                    {% if request.user.is_authenticated %}
                    <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                    {% if article.title in highlighted_articles_titles %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-times"></i><span>Unhighlight
                            article</span></div>
                    {% else %}
                    <div id="{{ article.article_id }}" class="addToHighlighted"><i
                            class="fas fa-highlighter"></i><span>Highlight
                            article</span></div>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'account_login' %}" class="addToList registrationLink"><i
                            class="fas fa-list"></i>Add to
                        list</a>
                    <a href="{% url 'account_login' %}" id="{{ article.article_id }}"
                        class="addToHighlighted registrationLink"><i class="fas fa-highlighter"></i><span>Highlight
                            article</span></a>
                    {% endif %}
                </div>
                <div class="addToListForm">
                    <i class="fas fa-times"></i>
                    <h3>Add to lists</h3>
                    {% if user_lists %}
                    <div class="listSelectionContainer">
                        {% for list in user_lists %}
                        <div class="listContainer">
                            <label for="id_list_{{ list.list_id }}">
                                {% if article in list.articles.all %}
                                <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                    value="{{ list.list_id }}" checked="True"> {{ list }}
                                {% else %}
                                <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                    value="{{ list.list_id }}">
                                {{ list }}
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="buttonsContainer">
                        <button class="saveButton">Save</button>
                        <button class="createNewListButton">Create</button>
                    </div>
                    {% else %}
                    <div class="listContainer">You haven't created any lists!</div>
                    <button class="createNewListButton createFirstList">Create First List</button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% include "pagination.html" with page=articles_from_sector %}
        </div>
        {% endif %}
    </div>
</div>
{% else %}
<div class="browserCategory singleArticlesContainerHeader">Latest Articles From Sector</div>
<div class="singleArticlesContainer">
    {% for article in articles_from_sector %}
    <div class="article">
        <div class="authorImageContainer">
            <img src="{% static article.source.favicon_path %}" />
            <a href="{{ article.source.get_absolute_url }}"></a>
        </div>
        <div class="articleInformationContainer">
            <div class="articleTitle">{{ article.title }}</div>
            <div class="articleSectorAndDateContainer">
                <a href="{{ article.source.sector.first.get_absolute_url }}">
                    {{ article.source.sector.first.name }}</a>
                <div class="articlePubDate">{{ article.pub_date }}</div>
                {% if article.source.top_source %}
                <i class="fas fa-star articleTopSource"></i>
                {% endif %}
                {% if article.source.paywall == "Yes" %}
                <i class="fas fa-lock articleFullPaywall"></i>
                {% elif article.source.paywall == "Semi" %}
                <i class="fas fa-lock articleSemiPaywall"></i>
                {% endif %}
            </div>
        </div>
        <a class="articleLink" href="{{ article.link }}"></a>
        <i class="fas fa-ellipsis-h"></i>
        <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
            {% if request.user.is_authenticated %}
            <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
            {% if article.title in highlighted_articles_titles %}
            <div id="{{ article.article_id }}" class="addToHighlighted"><i class="fas fa-times"></i><span>Unhighlight
                    article</span></div>
            {% else %}
            <div id="{{ article.article_id }}" class="addToHighlighted"><i
                    class="fas fa-highlighter"></i><span>Highlight
                    article</span></div>
            {% endif %}
            {% else %}
            <a href="{% url 'account_login' %}" class="addToList registrationLink"><i class="fas fa-list"></i>Add
                to
                list</a>
            <a href="{% url 'account_login' %}" id="{{ article.article_id }}"
                class="addToHighlighted registrationLink"><i class="fas fa-highlighter"></i><span>Highlight
                    article</span></a>
            {% endif %}
        </div>
        <div class="addToListForm">
            <i class="fas fa-times"></i>
            <h3>Add to lists</h3>
            {% if user_lists %}
            <div class="listSelectionContainer">
                {% for list in user_lists %}
                <div class="listContainer">
                    <label for="id_list_{{ list.list_id }}">
                        {% if article in list.articles.all %}
                        <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists" value="{{ list.list_id }}"
                            checked="True"> {{ list }}
                        {% else %}
                        <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists" value="{{ list.list_id }}">
                        {{ list }}
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="buttonsContainer">
                <button class="saveButton">Save</button>
                <button class="createNewListButton">Create</button>
            </div>
            {% else %}
            <div class="listContainer">You haven't created any lists!</div>
            <button class="createNewListButton createFirstList">Create First List</button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% if articles_from_sector %}
{% include "pagination.html" with page=articles_from_sector %}
{% endif %}
{% endif %}
{% endif %}


<script src="{% static 'home/sector_details_script.js' %}"></script>
{% endblock content %}