{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/sectors_style.css' %}">
<title>ResearchBrowser | Sectors</title>
{% endblock %}

{% block content %}
<h2>Sectors</h2>

{% if sectors %}
{% for sector in sectors %}
<div class="browserCategory">{{ sector.name }}</div>
<div class="categoryContainer">
    {% for source in sector.source_set.all|dictsort:"name" %}
    <div class="sourceContainer">
        <div class="iconContainer">
            <img class="sourcePic" src="{% static source.favicon_path %}" alt="favicon">
            {% if source.top_source %}
            <i class="fas fa-star"></i>
            {% endif %}
        </div>
        <a class="sourceLink" href="{{ source.get_absolute_url }}"></a>
        <div class="sourceNameOuterContainer">
            <div class="sourceNameInnerContainer">{{ source.name }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endif %}



{% endblock %}