{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/settings_style.css' %}">
<title>ResearchBrowser | Settings</title>
{% endblock %}
{% block content %}

<div class="settingSidebar">
    <h3>Settings</h3>
    <div class="settingOption activeSettingOption" data-for-tab="0">Profile</div>
    <div class="settingOption" data-for-tab="1">Password</div>
    <div class="settingOption" data-for-tab="2">Notifications</div>
    <div class="settingOption" data-for-tab="3">My Lists</div>
</div>
<div class="contentSection">

    <div class="tabsContent tabsContentActive" data-tab="0">
        <form action="" class="editSection changeProfileForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Account</h2>
            <div class="usernameAndEmailContainer">
                <div class="usernameContainer">
                    {{ email_and_name_change_form.username.label_tag }}
                    {{ email_and_name_change_form.username }}
                </div>
                <div class="emailContainer">
                    {{ email_and_name_change_form.email.label_tag }}
                    {{ email_and_name_change_form.email }}
                </div>
            </div>
            <div class="profilePicAndBannerContainer">
                <div class="profilePicContainer">
                    {{ profile_change_form.profile_pic.label_tag }}
                    <div class="profilePicInnerContainer">
                        {% if user.profile.profile_pic %}
                        <img src="{{ user.profile.profile_pic.url }}" alt="">
                        {% else %}
                        <img src="{% static 'home/media/profile-picture.png' %}" alt="user-profile-pic">
                        {% endif %}
                        <div class="changeProfilePicButton">
                            <span>Change</span>
                            {{ profile_change_form.profile_pic }}
                        </div>
                        <button type="button" class="removeProfilePicButton">Remove</button>
                    </div>
                </div>
                <div class="profileBannerContainer">
                    {{ profile_change_form.profile_banner.label_tag }}
                    <div class="profileBannerInnerContainer">
                        {% if user.profile.profile_banner %}
                        <img class="profileBanner" src="{{ user.profile.profile_banner.url }}" alt="profile-banner">
                        {% else %}
                        <img class="profileBanner" src="{% static 'home/media/standard-banner.jpg' %}"
                            alt="profile-banner">
                        {% endif %}
                        <div class="changeProfileBannerButton">
                            <span>Change</span>
                            {{ profile_change_form.profile_banner }}
                        </div>
                        <button type="button" class="removeProfileBannerButton">Remove</button>
                    </div>
                </div>
            </div>
            <label>Edit Social Links:</label>
            {% for social in social_links %}
            <div class="existingSocialContainer">
                <img id="{{ social.website.name }}" src="{% static social.website.favicon %}" alt="">
                <input type="text" value="{{ social.url }}">
                <button type="button" class="removeSocialLinkButton">Remove</button>
            </div>
            {% endfor %}
            <div class="socialLinksWrapper">
                <div class="addSocialLinksContainer">
                    <div class="selectContainer">
                        <details>
                            <summary><i class="fa fa-caret-down"></i></summary>
                            <ul>
                                {% for website in websites %}
                                <li><img class="{{ website.name }}" src="{% static website.favicon %}" alt=""></li>
                                {% endfor %}
                            </ul>
                        </details>
                    </div>
                    <input placeholder="Enter website url" class="linkInput" type="text">
                </div>
                <button type="button" name="changeProfileForm" class="addSocialLinkButton">Add</button>
            </div>

            <div class="bioContainer">
                {{ profile_change_form.bio.label_tag }}
                {{ profile_change_form.media }}
                {{ profile_change_form.bio }}
            </div>

            <div class="buttonContainer">
                <button href="{% url 'home:settings' %}" class="cancelButton">Cancel</button>
                <input class="saveButton" name="changeProfileForm" type="submit" value="Save">
            </div>
        </form>

    </div>
    <div class="tabsContent" data-tab="1">
        <h2>Change Password</h2>
        <form action="" class="changePasswordForm" method="POST">
            {% csrf_token %}
            {{ change_password_form }}
            <input name="changePasswordForm" type="submit" class="passwordChangeSubmit" value="Save" />
        </form>
    </div>
    <div class="tabsContent" data-tab="2"></div>
    <div class="tabsContent" data-tab="3"></div>
</div>
<script src="{% static 'home/settings_script.js' %}"></script>
{% endblock content %}