{% load static %}
{% load i18n %}
{% load account socialaccount %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration/login_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="{% static 'home/media/favicon.png' %}">
    <title>ResearchBrowser | Login</title>
</head>

<body>
    <main>
        <div class="loginUserForm">
            <div id="info-wrapper">
                <span class="brand">
                    <i class="fa fa-home"></i>
                    <a href="{% url 'home:main' %}"></a>
                </span>
                <img class="sourcePic" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
            </div>
            <div id="form-wrapper">
                <div>
                    <h1>Login</h1>
                    <p class="enterCredentialsSeperator">Enter your credentials to continue.</p>
                </div>


                <div class="googleAuthContainer">
                    <button class="googleAuthButton">
                        <img class="googleLogo" src="{% static 'home/media/google_icon.png' %}" />
                        Sign in with Google
                        <form class="googleSignButton" action="{% provider_login_url 'google' %}" method="post">
                            {% csrf_token %}
                            <input type="submit">
                        </form>
                    </button>
                </div>

                <div class="seperator">Or Sign In With Email</div>


                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <a href="{% url 'account_reset_password' %}" class="forgotPassword">Forgot Password?</a>
                    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
                </form>


                <div class="createAccount">Not registred yet? <a href="{{ signup_url }}">Create an
                        Account</a></div>
            </div>
        </div>
    </main>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <script src="{% static 'home/base_script.js' %}"></script>
    {% block content %}
    {% endblock %}
</body>

</html>


<!-- 
                <div>
                    {% csrf_token %}
                    {{ user_login_form }}
                
                    <a href="{% url 'account_reset_password' %}" class="forgotPassword">Forgot Password?</a>
                
                    <input class="signInButton" name="loginUserForm" type="submit" value="Sign In">
                
                </div> -->