{% load static %}
{% load i18n %}
{% load account %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration/password_reset_style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'home/media/favicon.png' %}">
    <title>ResearchBrowser | Password Reset</title>
</head>

<body>
    <main>
        <div class="pwResetContainer">
            <h1>{% trans "Password Reset" %}</h1>
            <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder.
                Otherwise
                contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
            <a href="{% url 'home:main' %}" class="returnToHomeButton">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                Return To Home
            </a>
        </div>
    </main>
</body>

</html>