{% load static %}
{% load i18n %}
{% load account %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration/password_reset_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="{% static 'home/media/favicon.png' %}">
    <title>ResearchBrowser | Password Reset</title>
</head>

<body>
    <main>
        <div class="signupForm">
            <div id="info-wrapper">
                <span class="brand">B</span>
                <div class="notification">
                    <h2>Special announcement</h2>
                    <p>It's time to party! Phasellus semper augue quis metus imperdiet porttitor. Suspendisse suscipit
                        cursus
                        fermentum. Praesent vel erat vitae quam dapibus molestie. In malesuada finibus felis, vel
                        faucibus ex
                        pellentesque ac. Vivamus nec tellus ac ante vulputate luctus.</p>
                </div>
            </div>
            <div id="form-wrapper">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please
                    request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                <form method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" value="{% trans 'change password' %}" />
                </form>
                {% endif %}
            </div>
        </div>
    </main>
</body>

</html>