{% load static %}
{% load i18n %}
{% load account socialaccount %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'registration/register_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="{% static 'home/media/favicon.png' %}">
    <title>ResearchBrowser | Register</title>
</head>

<body>
    <main>
        <div class="signupForm">
            <div id="info-wrapper">
                <span class="brand">B</span>
                <div class="notification">
                    <h2>Special announcement</h2>
                    <p>It's time to party! Phasellus semper augue quis metus imperdiet porttitor. Suspendisse suscipit
                        cursus
                        fermentum. Praesent vel erat vitae quam dapibus molestie. In malesuada finibus felis, vel
                        faucibus ex
                        pellentesque ac. Vivamus nec tellus ac ante vulputate luctus.</p>
                </div>
            </div>
            <div id="form-wrapper">

                <h1>Create Account</h1>
                <div class="googleAuthContainer">
                    <button class="googleAuthButton">
                        <img class="googleLogo" src="{% static 'home/media/google_icon.png' %}" />
                        Sign in with Google
                        <form class="googleSignButton" action="{% provider_login_url 'google' %}" method="post">
                            {% csrf_token %}
                            <input type="submit">
                        </form>
                    </button>
                </div>
                <div class="seperator">or use your email for registration</div>
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}

                    {% for field in form %}
                    <p>
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.name == "terms_and_privacy" %}
                        <label class="container">I agree to the <a href="{% url 'support:terms-of-service' %}">Terms</a>
                            and
                            <a href="{% url 'support:privacy-policy' %}">Privacy Policy</a>.
                        </label>
                        {% endif %}
                    </p>
                    {% endfor %}

                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}

                    <div class="actionButtonsContainer">
                        <button type="submit">{% trans "Sign Up" %}</button>
                        <a href="{{ login_url }}" class="signInButton">Sign In</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>