.firstRow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.firstRow .nameContainer {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    user-select: none;
}

.firstRow .nameContainer .listOptionsContainer {
    z-index: 5;
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    background: white;
    font-size: 1.8rem;
    width: 100%;
    min-width: 300px;
    max-width: 100%;
    box-shadow: var(--box-shadowScheme);
}

.firstRow .nameContainer .listOptionsContainer .listsContainer {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 30rem;
}

.firstRow .nameContainer .listOptionsContainer .listOption {
    position: relative;
    padding: 1rem 1rem 1rem 1.5rem;
    border-bottom: 0.1rem solid #e2e6ea;
    overflow: hidden;
}

.firstRow .nameContainer .listOptionsContainer .listOption:hover {
    background: var(--primary-fontColor);
    color: white;
}

.firstRow .nameContainer .listOptionsContainer .listOption a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.firstRow .nameContainer .listOptionsContainer .createListButton {
    color: white;
    background: var(--primary-fontColor);
    border: 0.1rem solid #e2e6ea;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    text-decoration: none;
    border-radius: 0.45rem;
    padding: 1rem;
    width: 95%;
    margin: 1rem 2.5%;
}

.firstRow .nameContainer .listOptionsContainer .createListButton .fa-plus {
    margin-right: 1rem;
}

/* .firstRow .nameContainer .listOptionsContainer {
  z-index: 5;
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  background: white;
  font-size: 1.8rem;
  width: 100%;
  box-shadow: var(--box-shadowScheme);
}

.firstRow .nameContainer .listOptionsContainer .listsContainer {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 38.5rem;
}

.firstRow .nameContainer .listOptionsContainer .listOption {
  position: relative;
  padding: 1rem 1rem 1rem 1.5rem;
  border-top: 0.1rem solid #e2e6ea;
  overflow: hidden;
}

.firstRow .nameContainer .listOptionsContainer .listOption:hover {
  background: var(--primary-fontColor);
  color: white;
}

.firstRow .nameContainer .listOptionsContainer .listOption a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.firstRow .nameContainer .listOptionsContainer .createListButton {
  color: white !important;
  background: var(--primary-fontColor);
  border: 0.1rem solid #e2e6ea;
  cursor: pointer;
  font-size: 1.8rem;
  transition: background 0.2s, box-shadow 0.2s, color 0.2s;
  text-decoration: none;
  border-radius: 0.45rem;
  padding: 1rem;
  box-shadow: var(--box-shadowScheme);
  width: 90%;
  margin: 1rem 2.5%;
} */

.firstRow h2 {
    color: var(--secondary-fontColor);
    margin-right: 1rem;
}

.firstRow .actionButtonContainer button {
    color: white;
    background: var(--primary-fontColor);
    border: 0.1rem solid #e2e6ea;
    cursor: pointer;
    font-size: 1.85rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    text-decoration: none;
    border-radius: 0.45rem;
    padding: 1.36rem 2.72rem;
    opacity: unset;
    box-shadow: var(--box-shadowScheme);
    margin-left: 1rem;
}

.firstRow .actionButtonContainer button:hover,
.firstRow .nameContainer .listOptionsContainer .createListButton:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8;
}

.firstRow .actionButtonContainer button i {
    margin-right: 1rem;
}

.upperContainer {
    display: flex;
    margin: 2rem 0;
}

.leftInnerContainer {
    width: 30%;
}

.listPictureContainer {
    position: relative;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 0 auto;
    height: 20rem;
    width: 20rem;
}

.listPictureContainer img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.listPictureContainer label,
.nameChangeContainer,
.nameChangeContainer label {
    display: none;
}

.listPictureContainer #id_list_pic {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.listPictureContainer i {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 72.5%;
    background: var(--primary-fontColor);
    padding: 0.8rem 1.2rem;
    color: white;
    border-radius: 0.8rem;
    font-size: 1.8rem;
}

.rightInnerContainer {
    width: 65%;
    margin-left: 5%;
}

.rightFirstRowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3rem;
}

.nameChangeContainer {
    width: 45rem;
}

.nameChangeContainer input {
    font-size: 3.5rem;
    outline: none;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
}

.rightFirstRowContainer .creatorContainerSmartphonePositioning {
    display: none;
}

.notificationAndSubscribtionContainer {
    display: flex;
    margin-right: 0.5rem;
}

.notificationAndSubscribtionContainer .fa-bell {
    border-left: unset;
}

.notificationAndSubscribtionContainer .notificationActivated {
    color: var(--primary-fontColor);
}

.subscribeButton,
.editButton,
.cancelButton,
.buttonContainer input,
.deleteListButton {
    color: var(--primary-fontColor);
    background: white;
    border: 0.1rem solid #e2e6ea;
    cursor: pointer;
    font-size: 1.85rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    text-decoration: none;
    border-radius: 0.45rem;
    padding: 1.36rem 2.72rem;
    opacity: unset;
    box-shadow: var(--box-shadowScheme);
}

.subscribeButton:hover,
.editButton,
.subscribed,
.cancelButton:hover,
.buttonContainer input {
    color: white !important;
    background: var(--primary-fontColor) !important;
}

.editButton:hover,
.subscribeButton:hover,
.cancelButton:hover,
.buttonContainer input:hover,
.deleteListButton:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.editButton:hover,
.buttonContainer input:hover {
    background: #1a73e8 !important;
}

.subscribed:hover {
    color: var(--primary-fontColor) !important;
    background: white !important;
}

.editButton i {
    margin-right: 0.3rem;
}

.buttonContainer {
    display: none;
    margin-left: auto;
}

.cancelButton {
    background: white !important;
    color: var(--primary-fontColor) !important;
}

.deleteListButton {
    background: red;
    width: unset;
    color: white;
}

.creatorContainer {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.creatorContainer span:last-of-type {
    color: var(--primary-fontColor);
    margin-left: 0.3rem;
    text-decoration: none;
}

.interactionWrapper {
    position: relative;
}

.slider .interactionWrapper .formContainer:hover,
.slider .interactionWrapper:hover {
    transform: unset;
}

.slider .interactionWrapper .addButton:hover {
    transform: scale(1.1);
}

.interactionWrapper .addSourcesButton {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.interactionWrapper .addSourcesForm {
    position: absolute;
    height: 100%;
}

.slider .formContainer {
    width: 100%;
}

.formContainer #textInput {
    font-size: 1.6rem;
    padding: 0.4rem 1rem;
    color: #000;
    border: 0.2rem solid #e2e6ea;
    border-radius: 0.8rem;
    width: 90%;
    margin: 1rem 0;
}

.formContainer .searchResultWrapper {
    position: relative;
    height: 100%;
    width: 90%;
    overflow-y: scroll;
}

.formContainer .searchResultWrapper #searchResultsContainer {
    z-index: 5;
}

.formContainer .searchResultWrapper #searchResultsContainer {
    z-index: 5;
}

.formContainer .searchResultWrapper #searchResultsContainer,
.formContainer .searchResultWrapper .selectionContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
}

.formContainer .searchResult {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 0.1rem solid rgb(226, 230, 234);
    text-decoration: none;
    color: var(--secondary-fontColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.formContainer .searchResult i {
    margin-left: auto;
    margin-right: 2rem;
    color: white;
    background: red;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
}

.formContainer .searchResult img {
    width: 2.5rem;
    height: 2.5rem;
}

.addSourcesForm .formSubmitButton {
    width: 90% !important;
}

.smallScreenUpperContainer {
    display: none;
    flex-direction: column;
}

.smallScreenUpperContainer .infoAndInteractionWrapper {
    display: flex;
}

.smallScreenUpperContainer .infoAndInteractionWrapper .listPictureContainer {
    width: 10rem;
    height: 10rem;
    margin: 0;
}

.smallScreenUpperContainer .infoAndInteractionWrapper .creatorContainer {
    margin-top: 0;
}

.smallScreenUpperContainer .notificationAndSubscribtionContainer {
    margin: 2rem auto 0;
    width: 100%;
}

.smallScreenUpperContainer .notificationAndSubscribtionContainer button {
    width: 100%;
}

.smallScreenUpperContainer .ratingsWrapper {
    margin: 2rem auto 0;
}

.sliderWrapper .slider .removeFromListButton,
.sliderWrapper .slider .removeFromListButton:hover {
    background: red;
    color: white;
}

.contentColumnWrapper .contentColumnContainer {
    width: 100%;
}

.listMenuWrapper {
    display: none;
    z-index: 998;
    position: absolute;
    max-width: 1250px;
    width: 100%;
    height: 100%;
}

.listMenuWrapper .menuContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 95%;
    max-height: 100%;
}

.listMenuWrapper .editMenu,
.listMenuWrapper .addSourceContainer {
    display: none;
    background: white;
    box-shadow: var(--box-shadowScheme);
    font-size: 2rem;
    border-radius: 0.45rem;
    padding: 2rem;
}

.listMenuWrapper .editMenu .listNameContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.listMenuWrapper .editMenu .listNameContainer input {
    font-size: 1.6rem;
    width: 100%;
    border: 0.1rem solid rgb(226, 230, 234);
    border-radius: 0.45rem;
    margin: 1rem auto 0;
    padding: 1.25rem 3rem 1.25rem 1.5rem;
}

.listMenuWrapper .editMenu .mainListContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin: 2rem 0 1rem;
}

.listMenuWrapper .editMenu .mainListContainer input {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.listMenuWrapper .editMenu button {
    color: white;
    background: var(--primary-fontColor);
    border: 0.2rem solid;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1rem;
    box-shadow: var(--box-shadowScheme);
    width: 100%;
    margin-top: 1rem;
}

.listMenuWrapper .editMenu button:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8;
}

.listMenuWrapper .editMenu button:last-of-type {
    color: red;
    background: white;
    border: 0.3rem solid;
}

.listMenuWrapper .editMenu button:last-of-type:hover {
    background: red;
    color: white;
}

.listMenuWrapper .addSourceContainer .header,
.listMenuWrapper .editMenu .header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #e2e6ea;
    padding-bottom: 1rem;
}

.listMenuWrapper .addSourceContainer .header h2,
.listMenuWrapper .editMenu .header h2 {
    font-size: 2.5rem;
}

.listMenuWrapper .addSourceContainer .header .fa-times,
.listMenuWrapper .editMenu .header .fa-times {
    position: absolute;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: grey;
}

.listMenuWrapper .addSourceContainer .header .fa-times:hover,
.listMenuWrapper .editMenu .header .fa-times:hover {
    background: #f5f5f5;
}

.listMenuWrapper .addSourceContainer input {
    font-size: 1.6rem;
    width: 100%;
    border: 0.1rem solid rgb(226, 230, 234);
    border-radius: 0.45rem;
    margin: 1rem auto 0;
    padding: 1.25rem 3rem 1.25rem 1.5rem;
}

.listMenuWrapper .addSourceContainer .searchResultWrapper {
    overflow-y: auto;
    height: 30rem;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.listMenuWrapper .addSourceContainer .searchResultWrapper .selectionContainer .fa-trash {
    position: absolute;
    right: 0.6rem;
    color: white;
    background: red;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.6rem 0.75rem;
}

.listMenuWrapper .addSourceContainer .addSourceButton {
    border: 0.1rem solid #e2e6ea;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1rem;
    width: 100%;
    margin: 2rem 0 0;
    background: var(--primary-fontColor);
    color: white;
}

.listMenuWrapper .addSourceContainer .addSourceButton:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8;
}

@media (max-width: 1000px) {
    .leftInnerContainer {
        width: unset;
    }

    .listPictureContainer {
        height: 15rem;
        width: 15rem;
    }

    .rightInnerContainer {
        width: calc(100% - 15rem - 3%);
        margin-left: 3%;
    }

    .rightInnerContainer .rightFirstRowContainer {
        font-size: 2.5rem;
    }

    .creatorContainer {
        margin-top: -0.5rem;
    }

    .notificationAndSubscribtionContainer {
        margin-right: 0;
    }

    .notificationAndSubscribtionContainer .buttonContainer {
        position: absolute;
        top: 10.5rem;
        right: 4rem;
        flex-direction: column;
    }

    .listPictureContainer i {
        bottom: 7.5%;
        left: 67.5%;
    }
}

@media (max-width: 750px) {
    .notificationAndSubscribtionContainer .buttonContainer {
        right: 2rem;
    }
}

@media (max-width: 700px) {
    .upperContainer {
        display: none;
    }
    .smallScreenUpperContainer {
        display: flex;
    }
    .smallScreenUpperContainer .notificationAndSubscribtionContainer .buttonContainer {
        position: relative;
        flex-direction: row;
        top: 0;
        right: 0;
        margin: 0 auto;
    }
    .smallScreenUpperContainer .notificationAndSubscribtionContainer .buttonContainer button,
    .smallScreenUpperContainer .notificationAndSubscribtionContainer .buttonContainer input,
    .smallScreenUpperContainer .notificationAndSubscribtionContainer .buttonContainer a {
        margin-bottom: 0;
        width: unset;
    }
    .smallScreenUpperContainer .notificationAndSubscribtionContainer .buttonContainer button,
    .smallScreenUpperContainer .notificationAndSubscribtionContainer .buttonContainer a {
        margin-right: 2rem;
    }
    .listPictureContainer i {
        bottom: 7.5%;
        left: 57.5%;
        font-size: 1.6rem;
        padding: 0.6rem 0.9rem;
    }
    .rightInnerContainer {
        width: calc(100% - 10rem - 3%);
    }
}

@media (max-width: 500px) {
    .rightInnerContainer .rightFirstRowContainer {
        font-size: 2.3rem;
    }
    .nameChangeContainer input {
        font-size: 3rem;
    }
}

@media (max-width: 350px) {
    .smallScreenUpperContainer .notificationAndSubscribtionContainer .buttonContainer button,
    .smallScreenUpperContainer .notificationAndSubscribtionContainer .buttonContainer a {
        margin-right: 1rem;
    }
}

/* @media (max-width: 750px) {

  .listPictureContainer {
    height: 10rem;
    width: 10rem;
  }

  .listPictureContainer i {
    left: 50%;
  }

  .rightInnerContainer .rightFirstRowContainer {
    font-size: 2.2rem;
    flex-direction: column;
    align-items: unset;
  }

  .nameChangeContainer {
    width: unset;
  }

  .nameChangeContainer input {
    font-size: 2.3rem;
  }

  .rightFirstRowContainer .creatorContainerSmartphonePositioning {
    display: block;
  }

  .creatorContainer {
    display: none;
    margin-top: unset;
  }

  .notificationAndSubscribtionContainer {
    width: 100%;
    margin: 1rem 0;
  }

  .buttonContainer {
    margin-left: 0;
  }

  .cancelButton,
  .buttonContainer input,
  .deleteListButton {
    font-size: 1.6rem;
    padding: 0.75rem 1.5rem;
    margin-left: 0.5rem;
    width: unset;
  }


  .notificationAndSubscribtionContainer .fa-bell {
    padding-left: unset;
  }

  .ratingsWrapper {
    margin-top: unset;
  }

  .rate-form {
    display: flex;
    justify-content: center;
  }

  .rankingStar,
  .ratedStar {
    font-size: 3.5rem;
  }

  .addSourcesButton {
    font-size: 10rem;
  }
} */

.warningMessageContainer {
    align-items: center;
    background: #fff;
    border-radius: 0.45rem;
    display: none;
    flex-direction: column;
    width: 325px;
    z-index: 1000;
    box-shadow: var(--box-shadowScheme);
    padding: 2rem;
    margin: 0 auto;
}

.warningMessageContainer .faTimesContainer {
    background: red;
    border-radius: 50%;
    color: #fff;
    font-size: 4.5rem;
    position: absolute;
    top: -4.5rem;
    padding: 1.5rem 3.3rem;
}

.warningMessageContainer h3 {
    color: red;
    font-size: 3rem;
    margin: 3rem 0 2rem;
}

.warningMessageContainer span {
    font-size: 2rem;
    text-align: justify;
}

.warningMessageContainer .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.warningMessageContainer .buttonContainer button {
    background: #fff;
    border: 0.1rem solid #e2e6ea;
    border-radius: 0.45rem;
    cursor: pointer;
    font-size: 2rem;
    padding: 1.36rem 2.72rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    color: #708090;
    width: 47.5%;
}

.warningMessageContainer .buttonContainer button:last-of-type,
.warningMessageContainer .buttonContainer button:hover {
    background: red;
    color: #fff;
}

.warningMessageContainer .buttonContainer button:last-of-type:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.infoLink {
    position: absolute;
    right: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.infoLink:hover {
    background: #f5f5f5;
}

.infoLink .fa-info {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.3rem;
    color: gray;
    border: 0.2rem solid;
}

.addSourceContainer #searchResultsContainer .searchResult:hover {
    cursor: pointer;
}

.addSourceContainer .selectionContainer .searchResult:hover {
    background: unset;
    color: unset;
}

.addSourceContainer .searchResultWrapper .selectionContainer .fa-times {
    margin-left: auto;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.addSourceContainer .searchResultWrapper .selectionContainer .fa-times:hover {
    background: #f5f5f5;
}

.landingSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.7rem 0;
    overflow-x: hidden;
    min-height: calc(100vh - 17rem);
}

.landingSection .landingSectionContainer {
    min-width: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingSection .landingSectionContainer h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 7.5rem;
    line-height: 1.15;
    text-align: center;
}

.landingSection .landingSectionContainer h1 span {
    color: var(--primary-fontColor);
}

.landingSection .landingSectionContainer p {
    font-size: 2.3rem;
    margin: 1rem 0 1.5rem;
    max-width: 69rem;
    text-align: center;
    line-height: 1.7;
}

.main p {
    color: #9e9aa7;
}

.signUpButton {
    display: inline-block;
    color: var(--primary-fontColor);
    background-color: white;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.3s;
    font-size: 2.3rem;
    box-shadow: var(--box-shadowScheme);
    padding: 1.6rem 4.8rem;
    color: white;
    background-color: var(--primary-fontColor);
    text-decoration: none;
}

.signUpButton:hover {
    transform: scale(1.05);
}

.landingSection .landingSectionImage {
    position: relative;
}

.featuresContainer {
    margin-top: 11.35rem;
    background-color: #eff0f5;
}

.featureSubContainer {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.sectionText {
    text-align: center;
    margin-bottom: 5.6rem;
}

.sectionText h2 {
    margin-top: 5rem;
    font-size: 7.5rem;
}

.sectionText p {
    width: 65%;
    margin: 0.8rem auto 0;
    font-size: 2.3rem;
}

.firstRow .nameContainer .noOverflowHeader{
    max-width: unset;
    overflow: unset;
}

@media (max-width: 1000px) {
    .firstRow h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 775px) {
    .firstRow .nameContainer {
        width: calc(100% - 12rem);
    }

    .firstRow .actionButtonContainer {
        margin-left: auto;
        display: flex;
        align-items: center;
        position: absolute;
        right: 1rem;
        top: 0;
    }

    .firstRow .actionButtonContainer button {
        border-radius: 50%;
        color: var(--primary-fontColor);
        background: white;
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box-shadowScheme);
        cursor: pointer;
        font-size: 2.5rem;
        padding: unset;
    }
    .firstRow .actionButtonContainer button:last-of-type {
        background: var(--primary-fontColor);
        color: white;
    }
    .firstRow .actionButtonContainer button span {
        display: none;
    }
    .firstRow .actionButtonContainer button i {
        margin-right: 0;
    }
}

@media (max-width: 700px) {
    .firstRow .nameContainer h2 {
        max-width: 100%;
        white-space: nowrap;
        overflow: auto;
    }
}

@media (max-width: 550px) {
    .firstRow {
        padding-left: 1rem;
    }
}

/* unregistered */

@media (max-width: 1250px) {
    .featureSubContainer {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .landingSection {
        display: flex;
        flex-direction: column;
        margin: 0 5%;
        padding: 2.3rem 0;
        min-height: unset;
    }

    .landingSection .landingSectionContainer h1,
    .sectionText h2 {
        font-size: 6.5rem;
        text-align: center;
    }

    .landingSectionImage {
        margin-top: 4rem;
    }

    .featuresContainer {
        margin-top: unset;
    }

    .sectionText p {
        width: 100%;
    }

    .featureWrapper > div:nth-child(2) {
        margin-top: unset;
    }

    .featureWrapper .feature:before,
    .featureWrapper .feature::after {
        display: none;
    }

    .featureSubContainer {
        width: 90%;
    }

    .featureWrapper {
        align-items: unset;
        display: unset;
        grid-template-columns: unset;
        gap: unset;
    }

    .feature .featureDescription {
        margin-bottom: 2.5rem;
    }

    .featureWrapper > div:nth-child(3) {
        margin-top: unset;
    }

    .popupContainer .createListPopup,
    .popupContainer .addListsPopup,
    .popupContainer .addSourcesPopup {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .popupContainer .createListPopup,
    .popupContainer .addListsPopup,
    .popupContainer .addSourcesPopup {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .landingSection .landingSectionContainer {
        min-width: unset;
    }

    .landingSection .landingSectionContainer h1,
    .sectionText h2 {
        font-size: 3.2rem;
    }

    .landingSection {
        padding: 2.3rem 0;
        margin: unset;
    }

    .sectionText p,
    .landingSection .landingSectionContainer p {
        text-align: justify;
        font-size: 2rem;
    }

    .landingSection .landingSectionContainer p {
        max-width: 90%;
    }

    .landingSectionContainer .signUpButton {
        font-size: 2rem;
        padding: 1.2rem 3.6rem;
    }

    .landingSectionImage {
        margin-top: 3.4rem;
    }

    .sectionText h2 {
        margin-top: 2rem;
    }

    .popupContainer .createListPopup,
    .popupContainer .addListsPopup,
    .popupContainer .addSourcesPopup {
        width: 100%;
        position: relative;
        top: 0;
        transform: unset;
        left: 0;
    }
}
