{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/min_profile_style.css' %}">
<title>{{ profile.user.username }} Userprofile | FinBrowser</title>
<meta name="description" content="FinBrowser profile of {{ profile.user.username }}.">
{% endblock %}

{% block content %}

<div class="upperContainer">
    <div class="leftInnerContainer">
        <div class="listPictureContainer">
            {% if profile.profile_pic %}
            <img src="{{ profile.profile_pic.url }}" alt="user-profile-pic">
            {% else %}
            <div class="logoPlaceholder">{{ profile.user.username.0 }}</div>
            {% endif %}
        </div>
    </div>
    <div class="rightInnerContainer">
        <div class="upperInnerContainer">
            <div class="profileNameAndWebsiteContainer">
                <h3 class="profileName">{{ profile.user.username }}</h3>
                {% if social_links %}
                <div class="socialMediaLinkContainer">
                    {% for link in social_links %}
                    <div class="icon">
                        <img src="{% static link.website.logo %}" alt="">
                        <a href="{{ link.url }}"></a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if created_lists %}
{% create_list_slider_container "Created Lists" created_lists %}
{% endif %}

{% if subscribed_lists %}
{% create_list_slider_container "Subscribed Lists" subscribed_lists %}
{% endif %}

{% if subscribed_sources %}
{% create_source_container "Subscribed Sources" subscribed_sources %}
{% endif %}

{% if highlighted_content %}
<div class="contentColumnWrapper">
    <div class="contentColumnContainer halfPageContainer">
        {% create_fk_content_container "Highlighted Content" highlighted_content request user_lists csrf_token add_list_form highlighted_content_ids %}
    </div>
</div>
{% include "pagination.html" with page=highlighted_content %}
{% endif %}

{% endblock content %}