{% extends 'home/base.html' %}
{% load tz %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/min_settings_style_v16.css' %}">
<title>Settings | FinBrowser</title>
{% endblock %}

{% block content %}
<div class="pageWrapper">
    <h1>Account Settings</h1>
    <div class="tabsContainer" role="navigation" aria-label="Settings Menu">
        <button class="activatedTab" data-for-tab="0">Profile</button>
        <button data-for-tab="1">Password</button>
        <button data-for-tab="2">Notifications</button>
    </div>
    <div class="contentSection">
        <div class="tabsContent tabsContentActive" data-tab="0">
            <form class="editSection changeProfileForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h2>Account</h2>
                <div class="usernameAndEmailContainer">
                    <div class="usernameContainer">
                        {{ email_and_name_change_form.username.label_tag }}
                        {{ email_and_name_change_form.username }}
                    </div>
                    <div class="emailContainer" id="upi#{{ user.profile.profile_id }}">
                        {{ email_and_name_change_form.email.label_tag }}
                        {{ email_and_name_change_form.email }}
                    </div>
                </div>
                <div class="profilePicContainer">
                    <div class="profilePicInnerContainer">
                        {% if user.profile.profile_pic %}
                        <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture">
                        {% else %}
                        <img src="{% static 'home/media/favicon.png' %}" alt="Profile Picture">
                        {% endif %}
                        <input hidden="true" type="file" accept="image/*" />
                        <button type="button" class="changeProfilePicButton finButtonWhite">Change</button>
                        {% if user.profile.profile_pic %}
                        <button type="button" class="removeProfilePicButton finButtonBlue">Remove</button>
                        {% else %}
                        <button type="button" disabled class="removeProfilePicButton disabledRemove">Remove</button>
                        {% endif %}
                    </div>
                </div>
                {{ change_timezone_form }}
                <div class="buttonContainer">
                    <button type="submit" href="{% url 'accounts:settings' %}"
                        class="cancelButton finButtonWhite">Cancel</button>
                    <input class="saveButton finButtonBlue" name="changeProfileForm" type="submit" value="Save">
                </div>
            </form>
        </div>
        <div class="tabsContent" data-tab="1">
            <h2>Change Password</h2>
            <form class="changePasswordForm" method="POST">
                {% csrf_token %} {{ change_password_form }}
                <input name="changePasswordForm" type="submit" class="passwordChangeSubmit finButtonBlue"
                    value="Save" />
            </form>
        </div>
        {% if user_source_notifications or user_stock_notifications or user_keyword_notifications %}
        <div class="tabsContent notificationTab" data-tab="2">
            {% if user_source_notifications.count > 0 %}
            <h2>Source Notifications</h2>
            <div class="notificationContainer">
                <div class="sliderWrapper">
                    <div class="sliderContentContainer">
                        <button aria-label="Slide Left" class="handle leftHandle finButtonWhite">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <div class="slider">
                            {% for notification in user_source_notifications %}
                            <div class="contentWrapper" id="fsss?si#{{ notification.source.source_id }}">
                                <img src="{% static notification.source.favicon_path %}" alt="Source Picture" />
                                <div class="contentRatingContainer">
                                    <i class="fa fa-star"></i>
                                    <span>{{ notification.source.average_rating }}</span>
                                </div>
                                <div class="nameContainer">
                                    <span>{{notification.source.name}}</span>
                                </div>
                                {% if notification.source in subscribed_sources %}
                                <button class="subscribeButton subscribed finButtonBlue">Subscribed</button>
                                {% else %}
                                <button class="subscribeButton finButtonWhite">Subscribe</button>
                                {% endif %}
                                <button id="nid#{{notification.notification_id}}"
                                    class="notificationButton notificationActivated finButtonBlue">Notification
                                    Off</button>
                                <a class="contentLink" href="{{ notification.source.get_absolute_url }}"
                                    aria-label="Open Profile Of {{ notification.source.name }}"></a>
                            </div>
                            {% endfor %}
                        </div>
                        <button aria-label="Slide right" class="handle rightHandle finButtonWhite">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if user_stock_notifications.count > 0 %}
            <h2>Stock Notifications</h2>
            <div class="notificationContainer">
                {% for notification in user_stock_notifications %}
                <div class="keywordContainer">
                    <i class="fas fa-check"></i>
                    {{ notification.stock.ticker }}
                    <i class="fas fa-times" id="stni#{{ notification.notification_id }}" role="button"
                        aria-label="Delete Notification">
                    </i>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if user_keyword_notifications.count > 0 %}
            <h2>Keyword Notifications</h2>
            <div class="notificationContainer">
                {% for notification in user_keyword_notifications %}
                <div class="keywordContainer">
                    <i class="fas fa-check"></i>
                    {{ notification.keyword }}
                    <i class="fas fa-times" id="kni#{{ notification.notification_id }}" role="button"
                        aria-label="Delete Notification">
                    </i>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% else %}
        <div class="tabsContent notificationTab noNotificationsFoundTab" data-tab="2">
            <div class="emptyInformationContainer highlightedListEmpyContainer">
                <h3>No Notifications Activated!</h3>
                <div>Hey, I've got a neat little tip for you! On FinBrowser, you have the ability to set up
                    notifications for stocks, sources, and specific keywords that matter to you in the stock market.
                    This means you'll always be in the loop whenever new information becomes available. And the best
                    part? It's a breeze to set up. All you have to do is head over to the page of your favorite source
                    or stock and click on the notification button. And if you want to add keyword notifications, simply
                    open up the notifications menu and head over to the keyword tab. From there, you can easily add any
                    relevant keywords to your list. Easy, right? So why not give it a shot and see how this
                    feature can help keep you on top of your investing game?
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <script src="{% static 'accounts/min_settings_script_v9.js' %}"></script>

</div>
{% endblock content %}