{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'home/media/favicon.ico' %}">
    <link rel="prefetch" as="font" href="{% static 'home/fonts/lato-v23-latin/lato-v23-latin-900.woff2' %}"
        type="font/woff2" crossorigin="anonymous">
    <link rel="prefetch" as="font" href="{% static 'home/fonts/lato-v23-latin/lato-v23-latin-900.woff' %}"
        type="font/woff" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/min_base_style_v1.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script nonce="{{request.csp_nonce}}" async src="https://www.googletagmanager.com/gtag/js?id=G-JNS80QXCXR"></script>
    <script nonce="{{request.csp_nonce}}">
        window.dataLayer = window.dataLayer || [];
        function gtag() { window.dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-JNS80QXCXR');
    </script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <script nonce="{{request.csp_nonce}}">0</script>
    <div class="fullScreenPlaceholder">
        <div class="fullScreenWrapper">
            <div role="form" class="addToListForm addSourceToListForm">
                <div class="formHeaderContainer">
                    <h3>Add <span></span> to your lists</h2>
                        <i role="button" aria-label="Close form" class="fas fa-times closeFormContainerButton"></i>
                </div>
                {% if user_lists %}
                <div class="descContainer">
                    <span>Name</span>
                    <span>In List</span>
                </div>
                <div class="listSelectionContainer">
                    {% for list in user_lists %}
                    <div class="listContainer">
                        <label for="id_list_{{ list.list_id }}">{{ list.name }}</label>
                        <input id="id_list_{{ list.list_id }}" class="sourceNotInList" type="checkbox" name="lists"
                            value="{{ list.list_id }}">
                        <input id="sourcesInList{{ list.list_id }}" class="sourcesInList"
                            value="{{ list.sources.all|get_source_ids_in_list }}" hidden />
                        <input id="articlesInList{{ list.list_id }}" class="articlesInList"
                            value="{{ list.articles.all|get_article_ids_in_list }}" hidden />
                    </div>
                    {% endfor %}
                </div>
                <div class="buttonsContainer">
                    <button aria-label="Reset form" class="cancelButton finButtonWhite">Reset</button>
                    <button aria-label="Save selections" class="saveButton finButtonBlue">Save</button>
                </div>
                {% endif %}
            </div>
            <div role="alert" class="authPromptContainer">
                <i role="button" aria-label="Close form" class="fas fa-times"></i>
                <img src="{% static 'home/media/finbrowser-logo.png' %}" alt="FinBrowser logo">
                <h3></h3>
                <div class="desc">Welcome! In order to carry out this action, you must be signed in with your FinBrowser
                    account. No account yet? No problem! Creating a new one is a breeze and will only take a minute of
                    your time.</div>
                <div class="buttonContainer">
                    <a aria-label="Open registration page" class="registerButton finButtonWhite"
                        href="{% url 'account_signup' %}">Register</a>
                    <a aria-label="Open login page" class="loginButton finButtonBlue"
                        href="{% url 'account_login' %}">Login</a>
                </div>
            </div>
            <div role="definition" class="explanationContainer">
                <div class="formHeaderContainer">
                    <h3></h3>
                    <i role="button" aria-label="Close explanation" class="fas fa-times closeFormContainerButton"></i>
                </div>
                <div class="explanation"></div>
            </div>
            <div class="smallScreenSearchContainer">
                <div class="mainSearchWrapper">
                    <div class="mainSearchContainer">
                        <input aria-label="Search" id="mainAutocompleteSmallScreen" type="search"
                            class="mainInputSearch" placeholder="Search" autocomplete="off" spellcheck="false">
                        <i role="search" class="fas fa-search"></i>
                    </div>
                </div>
                <div class="smallFormContentWrapper">
                    <div id="mainAutocomplete_result"></div>
                    <div class="recommendedContainer">
                        <h3>Recommended Content</h3>
                        <div class="trendingTopicsContainer">
                            {% create_fk_content_container trending_topics_search request highlighted_content_ids "trending_topics_search" %}
                        </div>
                    </div>
                    <div class="noResultsFound"></div>
                </div>

            </div>
        </div>
        <i role="button" aria-label="Close image" class="fas fa-times outerCloseButton"></i>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages|slice:":1" %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <header>
        <div class=" outerHeaderContainer">
            <div class="headerContainer">
                <i role="button" aria-label="Open dropdown navigation" class="fa-solid fa-bars"></i>
                <div class="logoContainer">
                    <div class="logoSpace">
                        <img class="logoLarge" src="{% static 'home/media/finbrowser-logo.png' %}"
                            alt="FinBrowser logo">
                        <a aria-label="Open feed" href="{% url 'home:feed' %}"></a>
                    </div>
                </div>
                <nav class="mainNavigation" aria-label="Main">
                    <div class="mainNavigationLink"><span>Portfolio</span><a aria-label="Open portfolio"
                            href="{% url 'stock:portfolio' %}"></a>
                    </div>
                    <div class="mainNavigationLink"><span>Lists</span><a aria-label="Open lists"
                            href="{% url 'list:lists' %}"></a>
                    </div>
                    <div class="mainNavigationLink"><span>Sources</span><a aria-label="Open sources"
                            href="{% url 'source:source_ranking' %}"></a>
                    </div>
                    <div class="mainNavigationLink"><span>Guide</span><a aria-label="Open guide"
                            href="{% url 'home:guide' %}"></a>
                    </div>
                </nav>
                <div class="mainSearchWrapper">
                    <div class="mainSearchContainer">
                        <input aria-label="Search" id="mainAutocomplete" type="search" class="mainInputSearch"
                            placeholder="Search" autocomplete="off" spellcheck="false">
                        <i role="search" class="fas fa-search"></i>
                    </div>
                    <div id="mainAutocomplete_result"></div>
                </div>
                <i role="button" aria-label="Open search modal" class="fas fa-search smallScreenSearchIcon"></i>
                {% if request.user.is_authenticated %}
                <div class="userSpace">
                    {% if request.user.is_authenticated %}
                    <i role="button" aria-label="Open notification sidebar"
                        class="far fa-bell {% if request.user.is_authenticated %}notificationBell{% endif %}">
                        {% if unseen_notifications %}
                        <span class="unseenNotifications">{{ unseen_notifications }}</span>
                        {% endif %}
                    </i>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <div class="userProfile" role="button" aria-label="Open settings link and logout option">
                        {% if user.profile.profile_pic %}
                        <img src="{{ user.profile.profile_pic.url }}" alt="Your profile picture"">
                        {% else %}
                        <img src=" {% static 'home/media/favicon.png' %}" alt="Your profile picture"">
                        {% endif %}
                    </div>
                    <div class=" profileMenu">
                        <div class="profileMenuInfoOption">
                            {% if user.profile.profile_pic %}
                            <img src="{{ user.profile.profile_pic.url }}" alt="Your profile picture">
                            {% else %}
                            <img src="{% static 'home/media/favicon.png' %}" alt="Your profile picture"">
                            {% endif %}
                            <span class=" userNameSpan">{{ user.username }}</span>
                            <span class="userEmailSpan">{{ user.email }}</span>
                        </div>
                        <div class="profileMenuOption">
                            <i role="button" class="fas fa-cog"></i>
                            <span>Settings</span>
                            <a aria-label="Open settings" href="{% url 'accounts:settings' %}"></a>
                        </div>
                        <div class="profileMenuOption">
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button type="submit"><i class="fas fa-sign-out-alt"></i>{% trans 'Sign Out' %}</button>
                            </form>
                        </div>
                    </div>
                    <div class="notificationPopupWrapper">
                        <div class="notificationHeader">
                            <h3>Notifications</h3>
                            <i class="fas fa-cog"><a href="{% url 'accounts:settings' %}#notifications"></a></i>
                        </div>
                        <div class="notificationHeadersContainer" role="navigation"
                            aria-label="Notification navigation">
                            <button class="activeNotificationCategory" data-for-tab="0">Sources</button>
                            <button data-for-tab="1">Stocks</button>
                            <button data-for-tab="2">Keywords</button>
                        </div>
                        <div class="notificationsContainer activeNotificationContainer smallFormContentWrapper"
                            data-tab="0">
                            {% if source_notifications %}
                            {% for notification in source_notifications %}
                            <div class="articleContainer {% if notification.user_has_seen == False %}unseenNotification{% endif %}"
                                id="bsoni?ai#{{ notification.article.article_id }}">
                                <div class="leftContentSide">
                                    <div class="profileImageContainer">
                                        <img src="{% static notification.article.source.favicon_path %}"
                                            alt="Source Picture" />
                                        <a aria-label="Open profile of {{ notification.article.source.name }}"
                                            class="sourceProfile"
                                            href="{{ notification.article.source.get_absolute_url }}"></a>
                                    </div>
                                </div>
                                <div class="rightContentSide">
                                    <div class="contentInfoContainer">
                                        <div class="sourceAndWebsiteContainer">
                                            <a aria-label="Open profile of {{ notification.article.source.name }}"
                                                class="sourceProfile"
                                                href="{{ notification.article.source.get_absolute_url }}">{{ notification.article.source.name }}</a>
                                            <div class="sourceWebsiteProfileContainer">
                                                {% if notification.article.source.website.name == "YouTube" %}
                                                <img class="youtubeLogo"
                                                    src="{% static notification.article.source.website.logo %}"
                                                    alt="Website logo" />
                                                {% else %}
                                                <img src="{% static notification.article.source.website.logo %}"
                                                    alt="Website logo" />
                                                {% endif %}
                                                <a aria-label="Open external website of {{ notification.article.source.name }}"
                                                    href="{{ notification.article.source.url }}" target="_blank"></a>
                                            </div>
                                        </div>
                                        <i class="fas fa-ellipsis-h" role="button"
                                            aria-label="Open article interactions menu"></i>
                                        <div class="articleOptionsContainer">
                                            {% if request.user.is_authenticated %}
                                            <div role="button" aria-label="Open add to list modal"
                                                class="addToListButton"><i class="fas fa-list"></i>Add to list
                                            </div>
                                            {% if notification.article.article_id in highlighted_content_ids %}
                                            <div class="addToHighlightedButton" role="button"
                                                aria-label="Unhighlight article"><i
                                                    class="fas fa-times"></i><span>Unhighlight
                                                    article</span></div>
                                            {% else %}
                                            <div class="addToHighlightedButton" role="button"
                                                aria-label="Highlight article"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></div>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if notification.article.tweet_type.type == "Retweet" %}
                                    <div class="retweetWrapper">Retweeted post by
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Reply" %}
                                    <div class="replyWrapper">Replying to
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type != "Retweet" %}
                                    <div class="contentBody">
                                        <p>{{ notification.article.title }}</p>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.image_path %}
                                    <img class="tweetImage"
                                        src="{% static notification.article.tweet_type.image_path %}" alt="Tweet image">
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Quote" or notification.article.tweet_type.type == "Retweet" or notification.article.tweet_type.type == "Reply" %}
                                    <div class="quoteWrapper">
                                        <div class="quoteUpperContainer">
                                            <div class="quoteAuthor">{{ notification.article.tweet_type.author }}</div>
                                        </div>
                                        <div class="quoteText">{{ notification.article.tweet_type.text }}</div>
                                        {% if notification.article.tweet_type.initial_tweet_img_path %}
                                        <img class="tweetImage"
                                            src="{% static notification.article.tweet_type.initial_tweet_img_path %}"
                                            alt="Tweet reply image">
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="timeContainer">
                                        <p>{{ notification.article.pub_date }}</p>
                                    </div>
                                    <a aria-label="Open link to content" class=" contentLink"
                                        href="{{ notification.article.link }}" target="_blank"></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="noNotificationsAvailable">No Source Notifications Available</div>
                            {% endif %}
                        </div>
                        <div class="notificationsContainer smallFormContentWrapper" data-tab="1">
                            {% if stock_notifications %}
                            {% for notification in stock_notifications %}
                            <div class="articleContainer {% if notification.user_has_seen == False %}unseenNotification{% endif %}"
                                id="bstni?ai#{{ notification.article.article_id }}">
                                <div class="leftContentSide">
                                    <div class="profileImageContainer">
                                        <img src="{% static notification.article.source.favicon_path %}"
                                            alt="Picture of {{ notification.article.source.name }}" />
                                        <a class="sourceProfile"
                                            href="{{ notification.article.source.get_absolute_url }}"
                                            aria-label="Open profile of {{ notification.article.source.name }}"></a>
                                    </div>
                                </div>
                                <div class="rightContentSide">
                                    <div class="contentInfoContainer">
                                        <div class="sourceAndWebsiteContainer">
                                            <a class="sourceProfile"
                                                href="{{ notification.article.source.get_absolute_url }}"
                                                aria-label="Open profile of {{ notification.article.source.name }}">{{ notification.article.source.name }}</a>
                                            <div class="sourceWebsiteProfileContainer">
                                                {% if notification.article.source.website.name == "YouTube" %}
                                                <img class="youtubeLogo"
                                                    src="{% static notification.article.source.website.logo %}"
                                                    alt="Website Logo" />
                                                {% else %}
                                                <img src="{% static notification.article.source.website.logo %}"
                                                    alt="Website Logo" />
                                                {% endif %}
                                                <a href="{{ notification.article.source.url }}" target="_blank"
                                                    aria-label="Open external website of {{ notification.article.source.name }}"></a>
                                            </div>
                                        </div>
                                        <i class="fas fa-ellipsis-h" role="button"
                                            aria-label="Open article interactions menu"></i>
                                        <div class="articleOptionsContainer">
                                            {% if request.user.is_authenticated %}
                                            <div class="addToListButton" role="button"><i class="fas fa-list"></i>Add to
                                                list
                                            </div>
                                            {% if notification.article.article_id in highlighted_content_ids %}
                                            <div class="addToHighlightedButton" role="button"><i
                                                    class="fas fa-times"></i><span>Unhighlight
                                                    article</span></div>
                                            {% else %}
                                            <div class="addToHighlightedButton" role="button"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></div>
                                            {% endif %}
                                            {% else %}
                                            <a aria-label="Login To Articles Add To Lists"
                                                href="{% url 'account_login' %}"
                                                class="addToListButton registrationLink"><i class="fas fa-list"></i>Add
                                                to list</a>
                                            <a aria-label="Login To Highlight Articles" href="{% url 'account_login' %}"
                                                class="addToHighlightedButton registrationLink"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if notification.article.tweet_type.type == "Retweet" %}
                                    <div class="retweetWrapper">Retweeted post by
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Reply" %}
                                    <div class="replyWrapper">Replying to
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type != "Retweet" %}
                                    <div class="contentBody">
                                        <p>{{ notification.article.title }}</p>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.image_path %}
                                    <img class="tweetImage"
                                        src="{% static notification.article.tweet_type.image_path %}" alt="Tweet image">
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Quote" or notification.article.tweet_type.type == "Retweet" or notification.article.tweet_type.type == "Reply" %}
                                    <div class="quoteWrapper">
                                        <div class="quoteUpperContainer">
                                            <div class="quoteAuthor">{{ notification.article.tweet_type.author }}</div>
                                        </div>
                                        <div class="quoteText">{{ notification.article.tweet_type.text }}</div>
                                        {% if notification.article.tweet_type.initial_tweet_img_path %}
                                        <img class="tweetImage"
                                            src="{% static notification.article.tweet_type.initial_tweet_img_path %}"
                                            alt="Tweet reply image">
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="timeContainer">
                                        <p>{{ notification.article.pub_date }}</p>
                                    </div>
                                    <a class="contentLink" aria-label="Open link to content"
                                        href="{{ notification.article.link }}" target="_blank"></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="noNotificationsAvailable">No Stock Notifications Available</div>
                            {% endif %}
                        </div>
                        <div class="notificationsContainer smallFormContentWrapper" data-tab="2">
                            {% if keyword_notifications %}
                            {% for notification in keyword_notifications %}
                            <div class="articleContainer {% if notification.user_has_seen == False %}unseenNotification{% endif %}"
                                id="bkni?ai#{{ notification.article.article_id }}">
                                <div class="leftContentSide">
                                    <div class="profileImageContainer">
                                        <img src="{% static notification.article.source.favicon_path %}"
                                            alt="Picture of {{ notification.article.source.name }}" />
                                        <a class="sourceProfile"
                                            href="{{ notification.article.source.get_absolute_url }}"
                                            aria-label="Open profile of {{ notification.article.source.name }}"></a>
                                    </div>
                                </div>
                                <div class="rightContentSide">
                                    <div class="contentInfoContainer">
                                        <div class="sourceAndWebsiteContainer">
                                            <a class="sourceProfile"
                                                href="{{ notification.article.source.get_absolute_url }}"
                                                aria-label="Open profile of {{ notification.article.source.name }}">{{ notification.article.source.name }}</a>
                                            <div class="sourceWebsiteProfileContainer">
                                                {% if notification.article.source.website.name == "YouTube" %}
                                                <img class="youtubeLogo"
                                                    src="{% static notification.article.source.website.logo %}"
                                                    alt="Website logo" />
                                                {% else %}
                                                <img src="{% static notification.article.source.website.logo %}"
                                                    alt="Website logo" />
                                                {% endif %}
                                                <a href="{{ notification.article.source.url }}" target="_blank"
                                                    aria-label="Open external website of {{ notification.article.source.name }}"></a>
                                            </div>
                                        </div>
                                        <i class="fas fa-ellipsis-h" role="button"
                                            aria-label="Open article interactions menu"></i>
                                        <div class="articleOptionsContainer">
                                            {% if request.user.is_authenticated %}
                                            <div class="addToListButton" role="button"
                                                aria-label="Open add to list modal"><i class="fas fa-list"></i>Add to
                                                list
                                            </div>
                                            {% if notification.article.article_id in highlighted_content_ids %}
                                            <div class="addToHighlightedButton" role="button"
                                                aria-label="Unhighlight content"><i
                                                    class="fas fa-times"></i><span>Unhighlight
                                                    article</span></div>
                                            {% else %}
                                            <div class="addToHighlightedButton" role="button"
                                                aria-label="Highlight content"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></div>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if notification.article.tweet_type.type == "Retweet" %}
                                    <div class="retweetWrapper">Retweeted post by
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Reply" %}
                                    <div class="replyWrapper">Replying to
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type != "Retweet" %}
                                    <div class="contentBody">
                                        <p>{{ notification.article.title }}</p>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.image_path %}
                                    <img class="tweetImage"
                                        src="{% static notification.article.tweet_type.image_path %}" alt="Tweet image">
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Quote" or notification.article.tweet_type.type == "Retweet" or notification.article.tweet_type.type == "Reply" %}
                                    <div class="quoteWrapper">
                                        <div class="quoteUpperContainer">
                                            <div class="quoteAuthor">{{ notification.article.tweet_type.author }}</div>
                                        </div>
                                        <div class="quoteText">{{ notification.article.tweet_type.text }}</div>
                                        {% if notification.article.tweet_type.initial_tweet_img_path %}
                                        <img class="tweetImage"
                                            src="{% static notification.article.tweet_type.initial_tweet_img_path %}"
                                            alt="Tweet reply image">
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="timeContainer">
                                        <p>{{ notification.article.pub_date }}</p>
                                    </div>
                                    <a class="contentLink" href="{{ notification.article.link }}" target="_blank"
                                        aria-label="Open link to content"></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="noNotificationsAvailable">No Keyword Notifications Available</div>
                            {% endif %}
                            <div class="createKeywordNotificationModal">
                                <div>Keyword:<span class="infoLink"><i role="button"
                                            aria-label="Open keyword explanation" class="fas fa-info"></i></span></div>
                                <input id="keywordNotificationInput" minlength="3" maxlength="30" type="text"
                                    autocomplete="off" spellcheck="false">
                                <button class="saveButton finButtonBlue">Add</button>
                                <button class="discardButton finButtonWhite">Discard</button>
                            </div>
                            <div class="addKeywordsContainer"><button class="finButtonBlue"><i
                                        class="fas fa-plus"></i>Add Keywords</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="headerButtonContainer">
                    <a href="{% url 'account_login' %}" aria-label="Login">Login</a>
                    <a href="{% url 'account_signup' %}" aria-label="Logout">Sign Up</a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <div class="overlay">
            <nav class="horizontalNavigation" aria-label="Smartphone navigation">
                <div class="mainNavigationLink">
                    <span>Portfolio</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open portfolio" href="{% url 'stock:portfolio' %}"></a>
                </div>
                <div class="mainNavigationLink">
                    <span>Lists</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open lists" href="{% url 'list:lists' %}"></a>
                </div>
                <div class="mainNavigationLink">
                    <span>Sources</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open sources" href="{% url 'source:source_ranking' %}"></a>
                </div>
                <div class="mainNavigationLink">
                    <span>Guide</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open guide" href="{% url 'home:guide' %}"></a>
                </div>
                {% if request.user.is_authenticated %}
                <div class="mainNavigationLink">
                    <span>Settings</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open settings" href="{% url 'accounts:settings' %}"></a>
                </div>
                <div class="mainNavigationLink">
                    <span>Notifications</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open notifications" href="{% url 'home:notifications' %}"></a>
                </div>
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="finButtonBlue" type="submit">{% trans 'Logout' %}</button>
                </form>
                {% else %}
                <div class="headerButtonContainer">
                    <a href="{% url 'account_login' %}" aria-label="Login">Login</a>
                    <a href="{% url 'account_signup' %}" aria-label="Logout">Sign Up</a>
                </div>
                {% endif %}
            </nav>

            {% block content %}
            {% endblock %}
            <script src="{% static 'home/min_base_script_v1.js' %}"></script>
        </div>

    </main>
</body>



<footer>
    <img class="logoLarge" src="{% static 'home/media/finbrowser-logo.png' %}" alt="FinBrowser logo">
    <ul>
        <li><a aria-label="Open contact" href="{% url 'support:contact' %}">Contact</a></li>
        <li><a aria-label="Open cookie statement" href="{% url 'support:cookie-statement' %}">Cookie Statement</a></li>
        <li><a aria-label="Open privacy policy" href="{% url 'support:privacy-policy' %}">Privacy Policy</a></li>
        <li><a aria-label="Open terms of service" href="{% url 'support:terms-of-service' %}">Terms Of Service</a></li>
    </ul>
    <div class="twitterFollowContainer"><i class="fa-brands fa-twitter"></i>Follow me on Twitter<a
            href="https://twitter.com/ebirdmax99" target="_blank" aria-label="Open my Twitter profile"></a></div>
</footer>




</html>