{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'home/media/favicon.png' %}">
    <link rel="prefetch" as="font" href="{% static 'home/fonts/lato-v23-latin/lato-v23-latin-900.woff2' %}"
        type="font/woff2" crossorigin="anonymous">
    <link rel="prefetch" as="font" href="{% static 'home/fonts/lato-v23-latin/lato-v23-latin-900.woff' %}"
        type="font/woff" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/fontawesome/css/all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/min_base_style_v34.css' %}">
    <script nonce="{{request.csp_nonce}}" async src="https://www.googletagmanager.com/gtag/js?id=G-JNS80QXCXR"></script>
    <script nonce="{{request.csp_nonce}}">
        window.dataLayer = window.dataLayer || [];
        function gtag() { window.dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-JNS80QXCXR');
    </script>
    {% block head %}
    {% endblock %}
</head>

<body>
    <script nonce="{{request.csp_nonce}}">0</script>
    <div class="fullScreenPlaceholder">
        <div class="fullScreenWrapper">
            <div role="form" class="addToListForm addSourceToListForm">
                <div class="formHeaderContainer">
                    <h2>Add <span></span> To Your Lists</h2>
                    <i class="fas fa-times closeFormContainerButton"></i>
                </div>
                {% if user_lists %}
                <div class="descContainer">
                    <span>Name</span>
                    <span>In List</span>
                </div>
                <div class="listSelectionContainer">
                    {% for list in user_lists %}
                    <div class="listContainer">
                        <label>{{ list.name }}</label>
                        <input id="id_list_{{ list.list_id }}" class="sourceNotInList" type="checkbox" name="lists"
                            value="{{ list.list_id }}">
                        <input class="sourcesInList" value="{{ list.sources.all|get_source_ids_in_list }}" hidden />
                        <input class="articlesInList" value="{{ list.articles.all|get_article_ids_in_list }}" hidden />
                    </div>
                    {% endfor %}
                </div>
                <div class="buttonsContainer">
                    <button class="cancelButton">Cancel</button>
                    <button class="saveButton">Save</button>
                </div>
                {% endif %}
            </div>
            <div class="authPromptContainer">
                <i class="fas fa-times"></i>
                <img src="{% static 'home/media/finbrowser-logo.png' %}">
                <h3></h3>
                <div class="desc">Hey there! If you haven't already, you'll need to log in or create a new account in
                    order to continue. Don't worry, it's quick and easy!</div>
                <div class="buttonContainer">
                    <a class="loginButton" href="{% url 'account_login' %}">Login</a>
                    <a class="registerButton" href="{% url 'account_signup' %}">Register</a>
                </div>
            </div>
            <div class="explanationContainer">
                <div class="formHeaderContainer">
                    <h3></h3>
                    <i class="fas fa-times closeFormContainerButton"></i>
                </div>
                <div class="explanation"></div>
            </div>
            <div class="smallScreenSearchContainer">
                <div class="mainSearchWrapper">
                    <div class="mainSearchContainer">
                        <input aria-label="Search" id="mainAutocomplete" type="text" class="mainInputSearch"
                            placeholder="Search" autocomplete="off" spellcheck="false">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-times closeSearchButton"></i>
                    </div>
                </div>
                <div class="smallFormContentWrapper">
                    <div id="mainAutocomplete_result"></div>
                    <div class="recommendedContainer">
                        <h3>Recommended Content</h3>
                        <div class="trendingTopicsContainer">
                            {% create_fk_content_container trending_topics_search request highlighted_content_ids "trending_topics_search" %}
                        </div>
                    </div>
                    <div class="noResultsFound"></div>
                </div>

            </div>
        </div>
        <i class="fas fa-times closeImageButton"></i>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages|slice:":1" %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <header>
        <div class=" outerHeaderContainer">
            <div class="headerContainer">
                <i role="button" aria-label="Open Dropdown Navigation" class="fa-solid fa-bars"></i>
                <div class="logoContainer">
                    <div class="logoSpace">
                        <img class="logoLarge" src="{% static 'home/media/finbrowser-logo.png' %}"
                            alt="Finbrowser logo large">
                        <img class="logoSmall" src="{% static 'home/media/favicon.png' %}" alt="Finbrowser logo small">
                        <a aria-label="Open Main Page" href="{% url 'home:feed' %}"></a>
                    </div>
                </div>
                <nav class="mainNavigation" aria-label="Main">
                    <div class="mainNavigationLink"><span>Portfolio</span><a aria-label="Open Sectors"
                            href="{% url 'stock:portfolio' %}"></a>
                    </div>
                    <div class="mainNavigationLink"><span>Lists</span><a aria-label="Open Content"
                            href="{% url 'list:lists' %}"></a>
                    </div>
                    <div class="mainNavigationLink"><span>Sources</span><a aria-label="Open Lists"
                            href="{% url 'source:source_ranking' %}"></a>
                    </div>
                    <div class="mainNavigationLink"><span>Guide</span><a aria-label="Open Content"
                            href="{% url 'home:guide' %}"></a>
                    </div>
                </nav>
                <div class="mainSearchWrapper">
                    <div class="mainSearchContainer">
                        <input aria-label="Search" id="mainAutocomplete" type="search" class="mainInputSearch"
                            placeholder="Search" autocomplete="off" spellcheck="false">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-times closeSearchButton"></i>
                    </div>
                    <div id="mainAutocomplete_result"></div>
                </div>
                <i class="fas fa-search smallScreenSearchIcon"></i>
                {% if request.user.is_authenticated %}
                <div class="userSpace">
                    {% if request.user.is_authenticated %}
                    <i class="far fa-bell {% if request.user.is_authenticated %}notificationBell{% endif %}">
                        {% if unseen_notifications %}
                        <span class="unseenNotifications">{{ unseen_notifications }}</span>
                        {% endif %}
                    </i>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <div class="userProfile">
                        {% if user.profile.profile_pic %}
                        <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture">
                        {% else %}
                        <div role="img" aria-label="Profile Picture Placeholder" class="logoPlaceholder">
                            {{ user.username.0 }}</div>
                        {% endif %}
                    </div>
                    <div class="profileMenu">
                        <div class="profileMenuInfoOption">
                            {% if user.profile.profile_pic %}
                            <img src="{{ user.profile.profile_pic.url }}" alt="Profile Picture">
                            {% else %}
                            <div role="img" aria-label="Profile Picture Placeholder" class="logoPlaceholder">
                                {{ user.username.0 }}</div>
                            {% endif %}
                            <span class="userNameSpan">{{ user.username }}</span>
                            <span class="userEmailSpan">{{ user.email }}</span>
                        </div>
                        <div class="profileMenuOption">
                            <i class="fas fa-cog"></i>
                            <span>Settings</span>
                            <a aria-label="Open Settings" href="{% url 'accounts:settings' %}"></a>
                        </div>
                        <div class="profileMenuOption">
                            <form method="post" action="{% url 'account_logout' %}">
                                {% csrf_token %}
                                {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}"
                                    value="{{ redirect_field_value }}" />
                                {% endif %}
                                <button type="submit"><i class="fas fa-sign-out-alt"></i>{% trans 'Sign Out' %}</button>
                            </form>
                        </div>
                    </div>
                    <div class="notificationPopupWrapper">
                        <div class="notificationHeader">
                            <h3>Notifications</h3>
                            <i class="fas fa-cog"><a href="{% url 'accounts:settings' %}#notifications"></a></i>
                        </div>
                        <div class="notificationHeadersContainer" role="navigation"
                            aria-label="Notification Navigation">
                            <button class="activeNotificationCategory" data-for-tab="0">Sources</button>
                            <button data-for-tab="1">Stocks</button>
                            <button data-for-tab="2">Keywords</button>
                        </div>
                        <div class="notificationsContainer activeNotificationContainer smallFormContentWrapper"
                            data-tab="0">
                            {% if source_notifications %}
                            {% for notification in source_notifications %}
                            <div class="articleContainer {% if notification.user_has_seen == False %}unseenNotification{% endif %}"
                                id="bsoni?ai#{{ notification.article.article_id }}">
                                <div class="leftContentSide">
                                    <div class="profileImageContainer">
                                        <img src="{% static notification.article.source.favicon_path %}"
                                            alt="Source Picture" />
                                        <a aria-label="Open Profile Of {{ notification.article.source.name }}"
                                            class="sourceProfile"
                                            href="{{ notification.article.source.get_absolute_url }}"></a>
                                    </div>
                                </div>
                                <div class="rightContentSide">
                                    <div class="contentInfoContainer">
                                        <div class="sourceAndWebsiteContainer">
                                            <a aria-label="Open Profile Of {{ notification.article.source.name }}"
                                                class="sourceProfile"
                                                href="{{ notification.article.source.get_absolute_url }}">{{ notification.article.source.name }}</a>
                                            <div class="sourceWebsiteProfileContainer">
                                                {% if notification.article.source.website.name == "YouTube" %}
                                                <img class="youtubeLogo"
                                                    src="{% static notification.article.source.website.logo %}"
                                                    alt="Website Logo" />
                                                {% else %}
                                                <img src="{% static notification.article.source.website.logo %}"
                                                    alt="Website Logo" />
                                                {% endif %}
                                                <a aria-label="Open External Profile Of {{ notification.article.source.name }}"
                                                    href="{{ notification.article.source.url }}" target="_blank"></a>
                                            </div>
                                        </div>
                                        <i class="fas fa-ellipsis-h" role="button"
                                            aria-label="Open Article Interactions"></i>
                                        <div class="articleOptionsContainer">
                                            {% if request.user.is_authenticated %}
                                            <div class="addToListButton"><i class="fas fa-list"></i>Add to list
                                            </div>
                                            {% if notification.article.article_id in highlighted_content_ids %}
                                            <div class="addToHighlightedButton" role="button"><i
                                                    class="fas fa-times"></i><span>Unhighlight
                                                    article</span></div>
                                            {% else %}
                                            <div class="addToHighlightedButton" role="button"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></div>
                                            {% endif %}
                                            {% else %}
                                            <a aria-label="Login To Articles Add To Lists"
                                                href="{% url 'account_login' %}"
                                                class="addToListButton registrationLink"><i class="fas fa-list"></i>Add
                                                to list</a>
                                            <a aria-label="Login To Highlight Articles" href="{% url 'account_login' %}"
                                                class="addToHighlightedButton registrationLink"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></a>
                                            {% endif %}
                                        </div>
                                        <div class="addToListForm" role="form" aria-labelledby="addToListsForm">
                                            <div id="addToListsForm" class="formHeaderContainer">Add To Lists<i
                                                    class="fas fa-times closeFormContainerButton"></i>
                                            </div>
                                            {% if user_lists %}
                                            <div class="listSelectionContainer">
                                                {% for list in user_lists %}
                                                <div class="listContainer">
                                                    <label
                                                        for="bsoni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}">
                                                        {% if notification.article in list.articles.all %}
                                                        <input
                                                            id="bsoni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}"
                                                            type="checkbox" name="lists" checked="True"> {{ list }}
                                                        {% else %}
                                                        <input
                                                            id="bsoni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}"
                                                            type="checkbox" name="lists">
                                                        {{ list }}
                                                        {% endif %}
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="buttonsContainer">
                                                <button class="saveButton">Save</button>
                                            </div>
                                            {% else %}
                                            <div class="listContainer">You haven't created any lists!</div>
                                            <button class="createNewListButton createFirstList">Create First
                                                List</button>
                                            {% endif %}
                                        </div>
                                        <div class="createListMenu articleCreateListMenu formContainer">
                                            <div class="formHeaderContainer">Create A New List<i
                                                    class="fas fa-times closeFormContainerButton"></i>
                                            </div>
                                            <form enctype="multipart/form-data" method="POST" class="createListForm">
                                                {% csrf_token %} {{ add_list_form }}
                                                <input name="createListForm" type="submit" class="formSubmitButton"
                                                    value="Save" />
                                            </form>
                                        </div>
                                    </div>
                                    {% if notification.article.tweet_type.type == "Retweet" %}
                                    <div class="retweetWrapper">Retweeted post by
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Reply" %}
                                    <div class="replyWrapper">Replying to
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type != "Retweet" %}
                                    <div class="contentBody">
                                        <p>{{ notification.article.title }}</p>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.image_path %}
                                    <img class="tweetImage"
                                        src="{% static notification.article.tweet_type.image_path %}" alt="Tweet Image">
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Quote" or notification.article.tweet_type.type == "Retweet" or notification.article.tweet_type.type == "Reply" %}
                                    <div class="quoteWrapper">
                                        <div class="quoteUpperContainer">
                                            <div class="quoteAuthor">{{ notification.article.tweet_type.author }}</div>
                                        </div>
                                        <div class="quoteText">{{ notification.article.tweet_type.text }}</div>
                                        {% if notification.article.tweet_type.initial_tweet_img_path %}
                                        <img class="tweetImage"
                                            src="{% static notification.article.tweet_type.initial_tweet_img_path %}"
                                            alt="Tweet Reply Image">
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="timeContainer">
                                        <p>{{ notification.article.pub_date }}</p>
                                    </div>
                                    <a aria-label="Open Content" class=" contentLink"
                                        href="{{ notification.article.link }}" target="_blank"></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="noNotificationsAvailable">No Source Notifications Available</div>
                            {% endif %}
                        </div>
                        <div class="notificationsContainer smallFormContentWrapper" data-tab="1">
                            {% if stock_notifications %}
                            {% for notification in stock_notifications %}
                            <div class="articleContainer {% if notification.user_has_seen == False %}unseenNotification{% endif %}"
                                id="bstni?ai#{{ notification.article.article_id }}">
                                <div class="leftContentSide">
                                    <div class="profileImageContainer">
                                        <img src="{% static notification.article.source.favicon_path %}"
                                            alt="Source Picture" />
                                        <a class="sourceProfile"
                                            href="{{ notification.article.source.get_absolute_url }}"
                                            aria-label="Open Profile Of {{ notification.article.source.name }}"></a>
                                    </div>
                                </div>
                                <div class="rightContentSide">
                                    <div class="contentInfoContainer">
                                        <div class="sourceAndWebsiteContainer">
                                            <a class="sourceProfile"
                                                href="{{ notification.article.source.get_absolute_url }}"
                                                aria-label="Open Profile Of {{ notification.article.source.name }}">{{ notification.article.source.name }}</a>
                                            <div class="sourceWebsiteProfileContainer">
                                                {% if notification.article.source.website.name == "YouTube" %}
                                                <img class="youtubeLogo"
                                                    src="{% static notification.article.source.website.logo %}"
                                                    alt="Website Logo" />
                                                {% else %}
                                                <img src="{% static notification.article.source.website.logo %}"
                                                    alt="Website Logo" />
                                                {% endif %}
                                                <a href="{{ notification.article.source.url }}" target="_blank"
                                                    aria-label="Open External Profile Of {{ notification.article.source.name }}"></a>
                                            </div>
                                        </div>
                                        <i class="fas fa-ellipsis-h" role="button"
                                            aria-label="Open Article Interactions"></i>
                                        <div class="articleOptionsContainer">
                                            {% if request.user.is_authenticated %}
                                            <div class="addToListButton" role="button"><i class="fas fa-list"></i>Add to
                                                list
                                            </div>
                                            {% if notification.article.article_id in highlighted_content_ids %}
                                            <div class="addToHighlightedButton" role="button"><i
                                                    class="fas fa-times"></i><span>Unhighlight
                                                    article</span></div>
                                            {% else %}
                                            <div class="addToHighlightedButton" role="button"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></div>
                                            {% endif %}
                                            {% else %}
                                            <a aria-label="Login To Articles Add To Lists"
                                                href="{% url 'account_login' %}"
                                                class="addToListButton registrationLink"><i class="fas fa-list"></i>Add
                                                to list</a>
                                            <a aria-label="Login To Highlight Articles" href="{% url 'account_login' %}"
                                                class="addToHighlightedButton registrationLink"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></a>
                                            {% endif %}
                                        </div>
                                        <div class="addToListForm" role="form" aria-labelledby="addToListsForm">
                                            <div id="addToListsForm" class="formHeaderContainer">Add To Lists<i
                                                    class="fas fa-times closeFormContainerButton"></i>
                                            </div>
                                            {% if user_lists %}
                                            <div class="listSelectionContainer">
                                                {% for list in user_lists %}
                                                <div class="listContainer">
                                                    <label
                                                        for="bstni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}">
                                                        {% if notification.article in list.articles.all %}
                                                        <input
                                                            id="bstni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}"
                                                            type="checkbox" name="lists" checked="True"> {{ list }}
                                                        {% else %}
                                                        <input
                                                            id="bstni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}"
                                                            type="checkbox" name="lists">
                                                        {{ list }}
                                                        {% endif %}
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="buttonsContainer">
                                                <button class="saveButton">Save</button>
                                            </div>
                                            {% else %}
                                            <div class="listContainer">You haven't created any lists!</div>
                                            <button class="createNewListButton createFirstList">Create First
                                                List</button>
                                            {% endif %}
                                        </div>
                                        <div class="createListMenu articleCreateListMenu formContainer">
                                            <div class="formHeaderContainer">Create A New List<i
                                                    class="fas fa-times closeFormContainerButton"></i>
                                            </div>
                                            <form enctype="multipart/form-data" method="POST" class="createListForm">
                                                {% csrf_token %} {{ add_list_form }}
                                                <input name="createListForm" type="submit" class="formSubmitButton"
                                                    value="Save" />
                                            </form>
                                        </div>
                                    </div>
                                    {% if notification.article.tweet_type.type == "Retweet" %}
                                    <div class="retweetWrapper">Retweeted post by
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Reply" %}
                                    <div class="replyWrapper">Replying to
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type != "Retweet" %}
                                    <div class="contentBody">
                                        <p>{{ notification.article.title }}</p>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.image_path %}
                                    <img class="tweetImage"
                                        src="{% static notification.article.tweet_type.image_path %}" alt="Tweet Image">
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Quote" or notification.article.tweet_type.type == "Retweet" or notification.article.tweet_type.type == "Reply" %}
                                    <div class="quoteWrapper">
                                        <div class="quoteUpperContainer">
                                            <div class="quoteAuthor">{{ notification.article.tweet_type.author }}</div>
                                        </div>
                                        <div class="quoteText">{{ notification.article.tweet_type.text }}</div>
                                        {% if notification.article.tweet_type.initial_tweet_img_path %}
                                        <img class="tweetImage"
                                            src="{% static notification.article.tweet_type.initial_tweet_img_path %}"
                                            alt="Tweet Reply Image">
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="timeContainer">
                                        <p>{{ notification.article.pub_date }}</p>
                                    </div>
                                    <a class="contentLink" href="{{ notification.article.link }}" target="_blank"></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="noNotificationsAvailable">No Stock Notifications Available</div>
                            {% endif %}
                        </div>
                        <div class="notificationsContainer smallFormContentWrapper" data-tab="2">
                            {% if keyword_notifications %}
                            {% for notification in keyword_notifications %}
                            <div class="articleContainer {% if notification.user_has_seen == False %}unseenNotification{% endif %}"
                                id="bkni?ai#{{ notification.article.article_id }}">
                                <div class="leftContentSide">
                                    <div class="profileImageContainer">
                                        <img src="{% static notification.article.source.favicon_path %}"
                                            alt="Source Picture" />
                                        <a class="sourceProfile"
                                            href="{{ notification.article.source.get_absolute_url }}"
                                            aria-label="Open Profile Of {{ notification.article.source.name }}"></a>
                                    </div>
                                </div>
                                <div class="rightContentSide">
                                    <div class="contentInfoContainer">
                                        <div class="sourceAndWebsiteContainer">
                                            <a class="sourceProfile"
                                                href="{{ notification.article.source.get_absolute_url }}"
                                                aria-label="Open Profile Of {{ notification.article.source.name }}">{{ notification.article.source.name }}</a>
                                            <div class="sourceWebsiteProfileContainer">
                                                {% if notification.article.source.website.name == "YouTube" %}
                                                <img class="youtubeLogo"
                                                    src="{% static notification.article.source.website.logo %}"
                                                    alt="Website Logo" />
                                                {% else %}
                                                <img src="{% static notification.article.source.website.logo %}"
                                                    alt="Website Logo" />
                                                {% endif %}
                                                <a href="{{ notification.article.source.url }}" target="_blank"
                                                    aria-label="Open External Profile Of {{ notification.article.source.name }}"></a>
                                            </div>
                                        </div>
                                        <i class="fas fa-ellipsis-h" role="button"
                                            aria-label="Open Article Interactions"></i>
                                        <div class="articleOptionsContainer">
                                            {% if request.user.is_authenticated %}
                                            <div class="addToListButton" role="button"><i class="fas fa-list"></i>Add to
                                                list
                                            </div>
                                            {% if notification.article.article_id in highlighted_content_ids %}
                                            <div class="addToHighlightedButton" role="button"><i
                                                    class="fas fa-times"></i><span>Unhighlight
                                                    article</span></div>
                                            {% else %}
                                            <div class="addToHighlightedButton" role="button"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></div>
                                            {% endif %}
                                            {% else %}
                                            <a href="{% url 'account_login' %}" class="addToListButton registrationLink"
                                                aria-label="Login To Articles Add To Lists"><i
                                                    class="fas fa-list"></i>Add
                                                to list</a>
                                            <a href="{% url 'account_login' %}"
                                                class="addToHighlightedButton registrationLink"
                                                aria-label="Login To Highlight Articles"><i
                                                    class="fas fa-highlighter"></i><span>Highlight
                                                    article</span></a>
                                            {% endif %}
                                        </div>
                                        <div class="addToListForm" role="form" aria-labelledby="addToListsForm">
                                            <div id="addToListsForm" class="formHeaderContainer">Add To Lists<i
                                                    class="fas fa-times closeFormContainerButton"></i>
                                            </div>
                                            {% if user_lists %}
                                            <div class="listSelectionContainer">
                                                {% for list in user_lists %}
                                                <div class="listContainer">
                                                    <label
                                                        for="bkni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}">
                                                        {% if notification.article in list.articles.all %}
                                                        <input
                                                            id="bkni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}"
                                                            type="checkbox" name="lists" checked="True"> {{ list }}
                                                        {% else %}
                                                        <input
                                                            id="bkni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}"
                                                            type="checkbox" name="lists">
                                                        {{ list }}
                                                        {% endif %}
                                                    </label>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="buttonsContainer">
                                                <button class="saveButton">Save</button>
                                            </div>
                                            {% else %}
                                            <div class="listContainer">You haven't created any lists!</div>
                                            <button class="createNewListButton createFirstList">Create First
                                                List</button>
                                            {% endif %}
                                        </div>
                                        <div class="createListMenu articleCreateListMenu formContainer">
                                            <div class="formHeaderContainer">Create A New List<i
                                                    class="fas fa-times closeFormContainerButton"></i>
                                            </div>
                                            <form enctype="multipart/form-data" method="POST" class="createListForm">
                                                {% csrf_token %} {{ add_list_form }}
                                                <input name="createListForm" type="submit" class="formSubmitButton"
                                                    value="Save" />
                                            </form>
                                        </div>
                                    </div>
                                    {% if notification.article.tweet_type.type == "Retweet" %}
                                    <div class="retweetWrapper">Retweeted post by
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Reply" %}
                                    <div class="replyWrapper">Replying to
                                        <span>@{{ notification.article.tweet_type.author }}</span>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.type != "Retweet" %}
                                    <div class="contentBody">
                                        <p>{{ notification.article.title }}</p>
                                    </div>
                                    {% endif %}
                                    {% if notification.article.tweet_type.image_path %}
                                    <img class="tweetImage"
                                        src="{% static notification.article.tweet_type.image_path %}" alt="Tweet Image">
                                    {% endif %}
                                    {% if notification.article.tweet_type.type == "Quote" or notification.article.tweet_type.type == "Retweet" or notification.article.tweet_type.type == "Reply" %}
                                    <div class="quoteWrapper">
                                        <div class="quoteUpperContainer">
                                            <div class="quoteAuthor">{{ notification.article.tweet_type.author }}</div>
                                        </div>
                                        <div class="quoteText">{{ notification.article.tweet_type.text }}</div>
                                        {% if notification.article.tweet_type.initial_tweet_img_path %}
                                        <img class="tweetImage"
                                            src="{% static notification.article.tweet_type.initial_tweet_img_path %}"
                                            alt="Tweet Reply Image">
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    <div class="timeContainer">
                                        <p>{{ notification.article.pub_date }}</p>
                                    </div>
                                    <a class="contentLink" href="{{ notification.article.link }}" target="_blank"
                                        aria-label="Open Content"></a>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="noNotificationsAvailable">No Keyword Notifications Available</div>
                            {% endif %}
                            <div class="createKeywordNotificationModal">
                                <div>Keyword:<span class="infoLink"><i class="fas fa-info"></i></span></div>
                                <input minlength="3" maxlength="30" type="text" autocomplete="off" spellcheck="false">
                                <button class="saveButton">Add</button>
                                <button class="discardButton">Discard</button>
                            </div>
                            <div class="addKeywordsContainer"><button><i class="fas fa-plus"></i>Add Keywords</button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% else %}
                <div class="headerButtonContainer">
                    <a href="{% url 'account_login' %}" aria-label="Login">Login</a>
                    <a href="{% url 'account_signup' %}" aria-label="Logout">Sign Up</a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <div class="overlay">
            <nav class="horizontalNavigation" aria-label="Smartphone Navigation">
                <div class="mainNavigationLink">
                    <span>Portfolio</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open Sectors" href="{% url 'stock:portfolio' %}"></a>
                </div>
                <div class="mainNavigationLink">
                    <span>Lists</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open Content" href="{% url 'list:lists' %}"></a>
                </div>
                <div class="mainNavigationLink">
                    <span>Sources</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open Lists" href="{% url 'source:source_ranking' %}"></a>
                </div>
                <div class="mainNavigationLink">
                    <span>Guide</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open Content" href="{% url 'home:guide' %}"></a>
                </div>
                {% if request.user.is_authenticated %}
                <div class="mainNavigationLink">
                    <span>Settings</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open Settings" href="{% url 'accounts:settings' %}"></a>
                </div>
                <div class="mainNavigationLink">
                    <span>Notifications</span>
                    <i class="fa-solid fa-chevron-right"></i>
                    <a aria-label="Open Notifications" href="{% url 'home:notifications' %}"></a>
                </div>
                <form class="mainNavigationLink" method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button type="submit">{% trans 'Logout' %}</button>
                </form>
                {% else %}
                <div class="headerButtonContainer">
                    <a href="{% url 'account_login' %}" aria-label="Login">Login</a>
                    <a href="{% url 'account_signup' %}" aria-label="Logout">Sign Up</a>
                </div>
                {% endif %}
            </nav>

            {% block content %}
            {% endblock %}
            <script src="{% static 'home/min_base_script_v21.js' %}"></script>
        </div>

    </main>
</body>



<footer>
    <ul>
        <li><a aria-label="Open Contact" href="{% url 'support:contact' %}">Contact</a></li>
        <li><a aria-label="Open Cookie Statement" href="{% url 'support:cookie-statement' %}">Cookie Statement</a></li>
        <li><a aria-label="Open Privacy Policy" href="{% url 'support:privacy-policy' %}">Privacy Policy</a></li>
        <li><a aria-label="Open Terms Of Service" href="{% url 'support:terms-of-service' %}">Terms Of Service</a></li>
    </ul>
</footer>




</html>