{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/min_feed_style_v15.css' %}">
<title>Feed | FinBrowser</title>
<meta name="description"
    content="Stay up-to-date with the latest stock market news and analysis curated by FinBrowser. This platform features content from top sources like Substack, Twitter, SeekingAlpha, and more.">
{% endblock %}

{% block content %}

{% if error_page %}
<div class="errorContainer">
    <img src="{% static 'home/media/404_image.png' %}" alt="404 Image">
    <div class="errorMessageContainer">
        <h2>404 ERROR</h2>
        <span>Page not found!</span>
        <span>The page you are looking for does not exist on this website! Instead, take a look at some of the latest
            news and analysis.</span>
    </div>
</div>
{% endif %}


<div class="pageWrapper">
    <div class="longFormContentContainer">
        <div class="firstRow">
            <div class="smallLatestContainer">
                <h3>Latest Analysis</h3>
                {% for content in latest_analysis %}
                <div class="smallContentContainer">
                    <img src="{% static content.source.favicon_path %}" alt="Source Picture" />
                    <div>{{ content.title }}</div>
                    <a class="contentLink" href="{{ content.link }}" target="_blank" aria-label="Open Content"></a>
                </div>
                {% endfor %}
            </div>
            <div class="smallLatestContainer">
                <h3>Latest News</h3>
                {% for content in latest_news %}
                <div class="smallContentContainer">
                    <img src="{% static content.source.favicon_path %}" alt="Source Picture" />
                    <div>{{ content.title }}</div>
                    <a class="contentLink" href="{{ content.link }}" target="_blank" aria-label="Open Content"></a>
                </div>
                {% endfor %}
            </div>
        </div>
        <h3>Trending Topics</h3>
        <div class="trendingTopicsContainer">
            {% create_fk_content_container trending_topics request highlighted_content_ids "trending_topics" %}
        </div>
        <h3>Recommended Sources</h3>
        {% create_source_container recommended_sources subscribed_sources request %}
        <div class="tabsContainer" id="content" role="navigation" aria-label="Stock Content Navigation">
            <button class="activatedTab" data-for-tab="0">Recommended Content</button>
            <button data-for-tab="1">Recommended Tweets</button>
        </div>
        <h3 class="recommendedHeader">Recommended Content</h3>
        <div class="recommendedContentContainer tabsContent tabsContentActive">
            {% create_content_container recommended_content request highlighted_content_ids "recommended_content" %}
        </div>
    </div>
    <div class="tweetsContainer tabsContent">
        <h3 class="recommendedHeader">Recommended Tweets</h3>
        {% create_content_container top_tweets request highlighted_content_ids "top_tweets" %}
    </div>
</div>


<script src="{% static 'home/min_feed_script_v6.js' %}"></script>

{% endblock content %}