{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/min_feed_style.css' %}">
<title>FinBrowser | Feed</title>
{% endblock %}

{% block content %}

<div class="addListsForm formContainer smartphoneAddListsForm">
    <div class="formHeaderContainer">Add Lists<i class="fas fa-times closeFormContainerButton"></i>
    </div>
    <input id="textInput" type="text">
    <div class="searchResultWrapper">
        <div id="searchResultsContainer"></div>
        <div class="selectionContainer"></div>
    </div>
    <button class="formSubmitButton">Add</button>
</div>

<div class="addSourcesForm formContainer smartphoneAddSourcesForm">
    <div class="formHeaderContainer">Add Sources<i class="fas fa-times closeFormContainerButton"></i>
    </div>
    <input id="textInput" type="text">
    <div class="searchResultWrapper">
        <div id="searchResultsContainer"></div>
        <div class="selectionContainer"></div>
    </div>
    <button class="formSubmitButton">Add</button>
</div>

<div class="sliderWrapper">
    <div class="sliderHeader">
        <div class="sliderHeaderTitle">My Lists</div>
        <div class="progressBar"></div>
    </div>
    <div class="sliderContentContainer">
        <button class="handle leftHandle">
            <div class="handleSymbol">&#8249;</div>
        </button>
        <div class="slider">
            {% for list in user_lists %}
            <div class="contentWrapper">
                <div class="contentContainer">
                    <div class="contentIconContainer">
                        {% if list.list_pic %}
                        <img class="contentIcon" src="{{ list.list_pic.url }}" alt="favicon" />
                        {% else %}
                        <img class="contentIcon" src="{% static 'home/media/finbrowser-bigger-logo.png' %}"
                            alt="favicon" />
                        {% endif %}
                    </div>
                    <a class="contentLink" href="{{ list.get_absolute_url }}"></a>
                    <div class="contentNameContainer">
                        <div class="contentName">{{ list.name }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="contentWrapper interactionWrapper">
                <div class="createListButton addButton"><i class="fas fa-plus"></i></div>
                <div class="createListMenu formContainer">
                    <div class="formHeaderContainer">Create A New List<i
                            class="fas fa-times closeFormContainerButton"></i>
                    </div>
                    <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                        {% csrf_token %} {{ add_list_form }}
                        <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
                    </form>
                </div>
            </div>
        </div>
        <button class="handle rightHandle">
            <div class="handleSymbol">&#8250;</div>
        </button>
    </div>
</div>

<div class="sliderWrapper">
    <div class="sliderHeader">
        <div class="sliderHeaderTitle">Subscribed Lists</div>
        <div class="progressBar"></div>
    </div>
    <div class="sliderContentContainer">
        <button class="handle leftHandle">
            <div class="handleSymbol">&#8249;</div>
        </button>
        <div class="slider">
            {% for list in subscribed_lists %}
            <div class="contentWrapper">
                <div class="contentContainer">
                    <div class="contentIconContainer">
                        {% if list.list_pic %}
                        <img class="contentIcon" src="{{ list.list_pic.url }}" alt="favicon" />
                        {% else %}
                        <img class="contentIcon" src="{% static 'home/media/finbrowser-bigger-logo.png' %}"
                            alt="favicon" />
                        {% endif %}
                    </div>
                    <a class="contentLink" href="{{ list.get_absolute_url }}"></a>
                    <div class="contentNameContainer">
                        <div class="contentName">{{ list.name }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="contentWrapper interactionWrapper">
                <div class="addListsButton addButton"><i class="fas fa-plus"></i></div>
                <div class="addListsForm formContainer">
                    <div class="formHeaderContainer">Add Lists<i class="fas fa-times closeFormContainerButton"></i>
                    </div>
                    <input id="textInput" type="text">
                    <div class="searchResultWrapper">
                        <div id="searchResultsContainer"></div>
                        <div class="selectionContainer"></div>
                    </div>
                    <button class="formSubmitButton">Add</button>
                </div>
            </div>
        </div>
        <button class="handle rightHandle">
            <div class="handleSymbol">&#8250;</div>
        </button>
    </div>
</div>

<div class="sliderWrapper">
    <div class="sliderHeader">
        <div class="sliderHeaderTitle">Subscribed Sources</div>
        <div class="progressBar"></div>
    </div>
    <div class="sliderContentContainer">
        <button class="handle leftHandle">
            <div class="handleSymbol">&#8249;</div>
        </button>
        <div class="slider">
            {% for source in subscribed_sources %}
            <div class="contentWrapper">
                <div class="contentContainer">
                    <div class="contentIconContainer">
                        <img class="contentIcon" src="{% static source.favicon_path %}" alt="favicon" />
                    </div>
                    <a class="contentLink" href="{{ source.get_absolute_url }}"></a>
                    <div class="contentNameContainer">
                        <div class="contentName">{{ source.name }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="contentWrapper interactionWrapper">
                <div class="addSourcesButton addButton"><i class="fas fa-plus"></i></div>
                <div class="contentWrapper addSourcesForm formContainer">
                    <div class="formHeaderContainer">Add Sources<i class="fas fa-times closeFormContainerButton"></i>
                    </div>
                    <input id="textInput" type="text">
                    <div class="searchResultWrapper">
                        <div id="searchResultsContainer"></div>
                        <div class="selectionContainer"></div>
                    </div>
                    <button class="formSubmitButton">Add</button>
                </div>
            </div>
        </div>
        <button class="handle rightHandle">
            <div class="handleSymbol">&#8250;</div>
        </button>
    </div>
</div>


{% if subscribed_content %}
{% create_article_container "Content Of Subscribed Sources" subscribed_content request %}
<div class="paginationAndAddExternalContainer">
    <div class="pagination">
        <span class="step-links">
            {% for i in subscribed_content.paginator.page_range %}
            {% if subscribed_content.number == i %}
            <button class="currentPagination">{{ subscribed_content.number }}</button>
            {% elif i > subscribed_content.number|add:'-3' and i < subscribed_content.number|add:'3' %} <a
                href="?subscribed_content={{ i }}">{{ i }}</a>
            {% endif %}
            {% endfor %}
        </span>
    </div>
    {% if not highlighted_content %}
    <button class="addExternalLinkButton"><i class="fas fa-plus"></i>Add Content</button>
    {% endif %}
</div>
{% endif %}

{% if highlighted_content %}
{% create_fk_article_container "Highlighted Content" highlighted_content request %}
<div class="paginationAndAddExternalContainer">
    <div class="pagination">
        <span class="step-links">
            {% for i in highlighted_content.paginator.page_range %}
            {% if highlighted_content.number == i %}
            <button class="currentPagination">{{ highlighted_content.number }}</button>
            {% elif i > highlighted_content.number|add:'-3' and i < highlighted_content.number|add:'3' %}
            <a href="?highlighted_content={{ i }}">{{ i }}</a>
            {% endif %}
            {% endfor %}
        </span>
    </div>
    <button class="addExternalLinkButton"><i class="fas fa-plus"></i>Add Content</button>
</div>
{% endif %}

<div class="addExternalLinksFormWrapper">
    <div class="formContainer addExternalLinksContainer">
        <div class="formHeaderContainer">Add Content<i class="fas fa-times closeFormContainerButton"></i>
        </div>
        <form action="" enctype="multipart/form-data" method="POST" class="addExternalArticlesForm">
            {% csrf_token %} {{ add_external_articles_form }}
            <input name="addExternalArticlesForm" type="submit" class="formSubmitButton" value="Save" />
        </form>
    </div>
</div>

{% if newest_tweets %}
<div class="twitterWrapper">
    {% if highlighted_tweets %}
    <div class="highlightedTweetsContainer">
        {% create_fk_tweets_container "Highlighted Tweets" highlighted_tweets request %}
        <div class="pagination">
            <span class="step-links">
                {% for i in highlighted_tweets.paginator.page_range %}
                {% if highlighted_tweets.number == i %}
                <button class="currentPagination">{{ highlighted_tweets.number }}</button>
                {% elif i > highlighted_tweets.number|add:'-3' and i < highlighted_tweets.number|add:'3' %} <a
                    href="?highlighted_tweets={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    {% endif %}
    <div class="newestTweetsContainer {% if not highlighted_tweets %}twitterHalfPageContainer{% endif %}">
        {% create_tweets_container "Newest Tweets" newest_tweets request %}
        <div class="pagination">
            <span class="step-links">
                {% for i in newest_tweets.paginator.page_range %}
                {% if newest_tweets.number == i %}
                <button class="currentPagination">{{ newest_tweets.number }}</button>
                {% elif i > newest_tweets.number|add:'-3' and i < newest_tweets.number|add:'3' %} <a
                    href="?newest_tweets={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    <div class="mostLikedTweetsContainer {% if not highlighted_tweets %}twitterHalfPageContainer{% endif %}">
        <div class="categoryHeader">Most Liked Tweets</div>
        <div class="blurContainer">
            <div class="smallFormContentWrapper blur">
                <img src="{% static 'home/media/blurred_top_tweets.png'  %}">
            </div>
            <div class="blurOverlay"></div>
            <div class="comingSoon">Coming Soon</div>
        </div>
    </div>
</div>
{% endif %}

<script src="{% static 'home/min_feed_script_v2.js' %}"></script>
{% endblock content %}