{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/min_guide_style_v2.css' %}">
<title>Guide | FinBrowser</title>
{% endblock %}
{% block content %}

<div class="pageWrapper">
    <div class="desc">Hey there, my dear readers! I am thrilled to share with you the story behind FinBrowser. As a
        curious stock researcher,
        I was frustrated by the lack of a one-stop-shop to access high-quality insights from the best authors in the
        market. It
        was a daunting task to sift through endless content on the internet to find these talented creators with
        valuable
        perspectives to offer. And then it hit me - why not build a platform that consolidates all this information for
        investors? That's right, FinBrowser was born out of the need to provide a central hub for investors to discover
        the best
        stock market content creators out there. So, no more spending hours digging around the depths of the internet -
        let
        FinBrowser do the heavy lifting for you!</div>
    <div class="sliderHeader">
        <h2>The Best</h2>
        <div>
            <a href="/sources?top_sources_only=on">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container the_best subscribed_sources request %}
    <div class="desc">Let me walk you through some of the amazing features you'll find on FinBrowser. For all you
        deep-divers out there who
        love a good long-form read, we've got you covered. Our platform provides links to the best authors on
        SeekingAlpha,
        Substack, and individual blogs. Trust me, you won't have to go through a grueling search anymore to find the
        insights
        you're looking for.</div>
    <div class="sliderHeader">
        <h2>Long-Form</h2>
        <div>
            <a href="/sources?website=SeekingAlpha&website=Substack&website=Other">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container long_form subscribed_sources request %}
    <div class="desc">Now, I understand that sometimes you're on the go and don't have the time to read a lengthy
        article. Fear not! We've got
        something for you too. We've curated a collection of the best stock market podcasters on Spotify and YouTube so
        that you
        can stay in the loop while you're on the move.</div>
    <div class="sliderHeader">
        <h2>Podcasts</h2>
        <div>
            <a href="/sources?website=Spotify&website=YouTube">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container podcast subscribed_sources request %}
    <div class="desc">But wait, there's more! We recognize that Twitter is a hot spot for experts to share their
        thoughts and opinions on the
        market, so we've also put together a list of the best stock market content creators on Twitter. Stay up to date
        with the
        latest buzz in the industry by following our list.</div>
    <div class="sliderHeader">
        <h2>Twitter</h2>
        <div>
            <a href="/sources?website=Twitter">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>

    {% create_source_container twitter subscribed_sources request %}
    <div class="desc">
        Let me tell you about another awesome feature you'll find on FinBrowser. We not only provide you with the best
        content creators on individual websites, but we also give you insight into which sources cover specific sectors.

        Now, let's say you're a tech investor through and through, but you've been hearing a lot of buzz about energy
        stocks lately and want to get in on the action. No problem! Just head on over to our Energy page where you'll
        find recent articles on the topic, as well as a list of expert investors who cover the sector. We've made it
        easy for you to stay informed and up to date on the sectors that matter to you.

        So, whether you're an industry veteran or just dipping your toes in the water, FinBrowser has got you covered.
        We'll show you the best content creators and sources that cover the sectors you care about, so you can make
        informed investment decisions with confidence. Come check us out and see for yourself!
    </div>

    <div class="sliderHeader">
        <h2>Energy</h2>
        <div>
            <a href="/sources?sector=Energy">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container energy subscribed_sources request %}

    <div class="desc">But that's not all, folks! We've got a ton of other functionality that will elevate your investing
        game to the next
        level. First off, if you want to stay up to date on your favorite stocks, we've got you covered. Our platform
        provides
        you with the latest information on the stocks you care about, as well as sources that cover them. No more
        scouring
        the
        internet for updates - we've done the work for you. But that's not all! We know that organizing your investments
        can
        be
        a hassle, so we've made it easy for you to create portfolios and lists. Keep track of your investments and stay
        organized all in one place. And to top it off, we've got some incredible notification features too. Get alerted
        when
        new
        content is posted about specific stocks or keywords, or when your favorite content creators release new content.
        We
        make
        sure you don't miss a thing!</div>

    <div class="desc"> In summary, FinBrowser is the ultimate platform for investors looking to stay informed and up to
        date
        on the stock
        market. With our curated selection of the best content creators and sources covering a range of sectors, you can
        be
        sure
        that you're getting access to quality insights and perspectives. Whether you're a seasoned investor or just
        starting
        out, our platform has everything you need to make informed investment decisions and stay on top of the latest
        market
        trends. So why wait? Head on over to FinBrowser today and see for yourself what all the buzz is about!</div>
</div>





{% endblock content %}