{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/min_guide_style_v7.css' %}">
<title>Guide | FinBrowser</title>
<meta name="description" content="Uncover valuable sources for financial analysis with FinBrowser's guide.">
{% endblock %}
{% block content %}

<div class="pageWrapper">
    <div class="desc"> Welcome to FinBrowser! I'm Max, a 24-year-old Software Developer from Berlin, and I'm thrilled to
        share my passion for the stock market with you. On this platform, I've curated the best stock market content
        available on the web, providing easy access to high-quality analysis, commentary and news tailored to your
        interests. As a fellow retail investor, I understand the difficulties of navigating the vast landscape of stock
        market research. Finding reliable sources amidst the sea of mediocre content can be overwhelming. That's why I
        created FinBrowser, a one-stop destination that saves you time and effort.</div>

    <div class="desc"> Let me take you on a tour of the features awaiting you on FinBrowser. If you're like me and enjoy
        immersing yourself in long-form reads, you're in for a treat. I've curated a collection of the best authors on
        SeekingAlpha, Substack, and individual blogs, so we can dive deep into their insightful and comprehensive
        articles.</div>
    <div class="sliderHeader">
        <h2>Long-Form</h2>
        <div>
            <a href="/sources?website=SeekingAlpha&website=Substack&website=Other">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container long_form subscribed_sources request %}
    <div class="desc">But hey, I get it. Life can be fast-paced, and sometimes you need your stock market updates on the
        go. Don't worry, I've got you covered! FinBrowser also offers a carefully curated selection of the best stock
        market podcasters on Spotify and YouTube. Tune in while you're on the move and stay informed, no matter where
        you are.</div>
    <div class="sliderHeader">
        <h2>Podcasts</h2>
        <div>
            <a href="/sources?website=Spotify&website=YouTube">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container podcast subscribed_sources request %}
    <div class="desc">And that's not all! Twitter has become a hub for industry experts to share their market insights
        and opinions. That's why I've compiled a list of the finest stock market content creators on Twitter. By
        following these sources, you'll be in the know and stay ahead of the curve with the latest buzz in the industry.
    </div>
    <div class="sliderHeader">
        <h2>Twitter</h2>
        <div>
            <a href="/sources?website=Twitter">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container twitter subscribed_sources request %}
    <div class="desc">But wait, there's more! In addition to these incredible sources, FinBrowser also brings you
        content from a vast array of online publications from industry news providers. Stay updated with breaking news,
        analysis, and market trends from a wide range of trusted sources, all in one place.
    </div>
    <div class="sliderHeader">
        <h2>Industry News Provider</h2>
        <div>
            <a href="/sources?website=Other&content=News">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container industry_news_provider subscribed_sources request %}
    <div class="desc">
        At FinBrowser, I place a high priority on curating quality sources for the platform. Many of the selected
        sources have backgrounds as industry insiders, bringing extensive experience and knowledge from their years of
        working in the industry they cover. You can rely on their expertise to gain valuable insights. Investment funds
        are also featured, providing in-depth investment cases for their holdings, offering you a deeper understanding
        of potential investment opportunities. Furthermore, I include content from a diverse range of former and current
        financial professionals, such as financial analysts and chief investment officers, who offer their expertise on
        the market.
    </div>
    <div class="sliderHeader">
        <h2>Industry Insider</h2>
        <div>
            <a href="/sources?tag=Industry+Insider">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container insider subscribed_sources request %}
    <div class="sliderHeader">
        <h2>Investment Funds</h2>
        <div>
            <a href="/sources?tag=Investment+Fund&tag=Venture+Capital+Fund">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container investment_fund subscribed_sources request %}
    <div class="sliderHeader">
        <h2>Financial Professionals</h2>
        <div>
            <a
                href="/sources?tag=Investment+Banker&tag=Financial+Analyst&tag=Former+Finance+Career&tag=Chief+Investment+Officer&tag=Economist&tag=Senior+Finance+Role&tag=Investment+Fund+Partner">VIEW
                ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container financial_professionals subscribed_sources request %}

    <div class="desc">In this section, I'd like to provide you with an overview of some of the sectors covered on
        FinBrowser and the top sources within these industries.</div>

    <div class="desc">When it comes to tech, FinBrowser offers a treasure trove of exceptional content creators. <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/not-boring-by-packy-mccormick.webp"
            alt="Source Picture"> <a href="/source/not-boring-by-packy-mccormick">Not
            Boring</a> stands out with his engaging and in-depth deep dives, where he explores various aspects of
        emerging technologies. <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/software-stack-investing.webp"
            alt="Source Picture"><a href="/source/software-stack-investing">SoftwareStackInvesting</a>, on the other
        hand,
        offers
        insightful analysis of the latest happenings in
        the software industry, providing valuable information that investors would typically pay exorbitant amounts of
        money for. And let's not forget the <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/all-in-podcast.webp"
            alt="Source Picture"> <a href="/source/all-in-podcast">All-In-Podcast</a>, a must-watch for anyone
        interested in the tech sector, as it features discussions and insights from four of the most influential figures
        in the industry.</div>
    <div class="sliderHeader">
        <h2>Tech</h2>
        <div>
            <a href="/sources?sector=Tech">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container tech subscribed_sources request %}


    <div class="desc">
        While FinTech is a subset of the broader tech category, there's so much incredible coverage on this topic that I
        had to give it its own dedicated space. It's no surprise considering how much FinTech has boomed in the past
        decade, completely transforming the financial industry. The younger generation is all about FinTech, ditching
        traditional financial institutions for innovative options. This shift is definitely here to stay. Given how
        disruptive this industry is, it's important to not just focus on the big FinTech players, but also keep an eye
        on the up-and-coming unicorn startups that are shaping the field. I highly recommend checking out the
        thought-provoking long-form articles from <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/fintech-brain-food.webp"
            alt="Source Picture"><a href="/source/fintech-brain-food">Fintech Brain Food</a> and staying in
        the loop with the latest happenings
        through <img src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/popular-fintech.webp"
            alt="Source Picture"><a href="/source/popular-fintech">Popular Fintech's</a>
        coverage.
    </div>
    <div class="sliderHeader">
        <h2>FinTech</h2>
        <div>
            <a href="/sources?sector=Fintech">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container fintech subscribed_sources request %}

    <div class="desc">These days, it's common for most new investors to start out in the tech sector. But it wasn't
        always like that. Back in the day, many new investors cut their teeth in the small-cap sector. While some lost
        their hard-earned money, those who persisted and learned the ropes became some of the most well-known investors.
        Small-cap stocks don't receive as much coverage from financial analysts, which means there's a greater
        opportunity to uncover hidden gems or potential disasters. Fortunately, the internet and platforms like <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/ian-cassel.webp"
            alt="Source Picture"><a href="/source/ian-cassel">Ian
            Cassel's</a> MicrocapClub provide some reliable research to rely on. Moreover, writers on Substack, such as
        <img src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/vestrule.webp"
            alt="Source Picture"><a href="/source/vestrule">Vestrule</a>
        and <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/the-superinvestors-of-augustusville.webp"
            alt="Source Picture"><a href="/source/the-superinvestors-of-augustusville">The Superinvestors of
            Augustusville</a>, offer
        fantastic insights into lesser-known businesses that may have
        flown under your radar.
    </div>
    <div class="sliderHeader">
        <h2>Small Cap</h2>
        <div>
            <a href="/sources?sector=Small+Cap">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container small_cap subscribed_sources request %}

    <div class="desc">
        Moving from small caps, let's dive into an even smaller realm: semiconductors (not the smoothest transition, I
        admit). The recent pandemic has
        underscored the criticality of semiconductors for the global economy. It's no wonder
        that experts often refer to them as the "oil" of the 21st century. As an investor, it's imperative to stay
        informed about this industry. Fortunately, there is a wealth of excellent sources covering the sector. You may
        already be familiar with <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/asianometry.webp"
            alt="Source Picture"><a href="/source/asianometry">Asianometry</a>, a popular YouTube channel known for its
        exceptional and engaging coverage
        of the semiconductor industry. Additionally, Substack newsletters like <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/fabricated-knowledge-substack.webp"
            alt="Source Picture"><a href="/source/fabricated-knowledge-substack">Fabricated Knowledge</a>, <a
            href="/source/semianalysis">SemiAnalysis</a>, and <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/semianalysis.webp"
            alt="Source Picture"><a href="/source/semi-literate">SemiLiterate</a>
        offer valuable insights, providing a comprehensive overview of trends and individual companies
        within the sector. But let's not overlook the multitude of top analysts who provide insightful commentary on
        recent activities in the semiconductor sector on Twitter. <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/sravan-kundojjala.webp"
            alt="Source Picture"><a href="/source/sravan-kundojjala">Sravan
            Kundojjala</a>, <img src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/dnystedt.webp"
            alt="Source Picture"><a href="/source/dan-nystedt">Dan
            Nystedt</a>, and <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/dylan522p.webp"
            alt="Source Picture"><a href="/source/dylan-patel">Dylan Patel</a> are
        just a few of the experts you should consider following.
    </div>
    <div class="sliderHeader">
        <h2>Semiconductor</h2>
        <div>
            <a href="/sources?sector=Semiconductor">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container semiconductor subscribed_sources request %}

    <div class="desc">
        Speaking of sectors with a significant impact on the global economy, Energy cannot be overlooked. With the onset
        of the Russia/Ukraine conflict in 2022, it has taken center stage in discussions. Just like the semiconductor
        industry, Energy also has a vibrant Twitter community, with financial professionals like <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/Energy_Tidbits.webp"
            alt="Source Picture"><a href="/source/dan-tsubouchi">Dan Tsubouchi</a> and <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/staunovo.webp"
            alt="Source Picture"><a href="/source/giovanni-staunovo">Giovanni Staunovo</a>
        sharing valuable insights on the sector's latest developments. Another notable source that
        deserves mention in the Energy space is <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/doomberg.webp"
            alt="Source Picture"><a href="/source/doomberg">Doomberg</a>, a Substack publication that has
        gained
        significant traction.
        While you may not always agree with his perspectives, reading his articles will undoubtedly leave you with a
        fresh outlook and an enjoyable experience.
    </div>
    <div class="sliderHeader">
        <h2>Energy</h2>
        <div>
            <a href="/sources?sector=Energy">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container energy subscribed_sources request %}

    <div class="desc">FinBrowser also offers a diverse selection of sources that specialize in covering the macroeconomy
        in general. What sets these sources apart is their comprehensive global coverage, going beyond the U.S. market.
        For example, <img src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/SofiaHCBBG.webp"
            alt="Source Picture"><a href="/source/sofia-horta-e-costa">Sofia Horta e Costa</a>
        delivers a weekly summary of key
        developments in China, which I
        personally find
        essential to stay informed. If you're seeking in-depth analysis of current macroeconomic topics, <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/apricitas-economics.webp"
            alt="Source Picture"><a href="/source/apricitas-economics">Apricitas Economics</a> and <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/chartbook.webp"
            alt="Source Picture"><a href="/source/chartbook">Chartbook</a> are
        exceptional sources. Their detailed explanations provide valuable perspectives on economic trends and events.
    </div>
    <div class="sliderHeader">
        <h2>Macro</h2>
        <div>
            <a href="/sources?sector=Macroeconomics">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container macro subscribed_sources request %}

    <div class="desc">If you're ready to explore the depths of macroeconomics, it's essential to delve into geopolitics,
        as it drives the global economy. Recent events like the Russia/Ukraine conflict and the unresolved tensions
        surrounding Taiwan serve as reminders that we haven't reached the "end of history." To gain insights into
        geopolitical dynamics, I've carefully curated renowned think tanks such as the <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/foreign-policy-research-institute.webp"
            alt="Source Picture"><a href="/source/foreign-policy-research-institute">Foreign Policy Institute</a>
        and the <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/center-for-strategic-international-studies.webp"
            alt="Source Picture"><a href="/source/center-for-strategic-international-studies">Center for Strategic &
            International Studies</a>
        . Their publications hold significant influence over policymakers
        and offer valuable perspectives. Additionally, I highly recommend <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/palladium.webp"
            alt="Source Picture"><a href="/source/palladium">Palladium</a> for its
        informative,
        thought-provoking articles that often shed light on non-mainstream viewpoints.</div>
    <div class="sliderHeader">
        <h2>Geopolitics</h2>
        <div>
            <a href="/sources?sector=Geopolitics">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container geopolitics subscribed_sources request %}

    <div class="desc">Lastly, it is crucial for me to provide you with diverse perspectives. As an investor, it's
        important to consider alternative viewpoints and thoroughly examine the other side of the argument. That's where
        short sellers come into play. Short sellers often uncover irregularities and questionable practices at
        companies, as demonstrated in high-profile cases like Wirecard and Nikola Motors. If you're interested in
        delving deeper and exploring the possibility of shorting companies yourself, I highly recommend taking a closer
        look at several reputable short selling entities that have gained prominence in this field. Some notable ones
        include <img src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/muddywatersre.webp"
            alt="Source Picture"><a href="/source/muddy-waters-research-blog">Muddy Waters Research</a>,
        <img src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/HindenburgRes.webp"
            alt="Source Picture"><a href="/source/hindenburg-research">Hindenburg Research</a>
        , and <img src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/CitronResearch.webp"
            alt="Source Picture"><a href="/source/citron-research-blog">Citron Research</a>.
        Additionally, it's worth keeping an eye
        on Edwin Dorsey's popular publication, <img
            src="https://finbrowser.s3.us-east-2.amazonaws.com/static/home/favicons/the-bear-cave.webp"
            alt="Source Picture"><a href="/source/the-bear-cave">The Bear Cave</a>, for
        valuable insights.
    </div>
    <div class="sliderHeader">
        <h2>Shorts</h2>
        <div>
            <a href="/sources?sector=Shorts">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container shorts subscribed_sources request %}

    <div class="desc">
        I hope that you've discovered numerous new intriguing sources that will enhance your knowledge of the stock
        market. However, the sources mentioned above only scratch the surface of the vast array of exceptional sources
        available on this platform. I encourage you to explore and uncover them for yourself. There are thousands of
        valuable resources awaiting your exploration.
    </div>
</div>





{% endblock content %}