{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/min_guide_style_v3.css' %}">
<title>Guide | FinBrowser</title>
<meta name="description" content="Uncover valuable sources for financial analysis with FinBrowser's guide.">
{% endblock %}
{% block content %}

<div class="pageWrapper">
    <div class="desc">
        Greetings, valued readers! I am excited to share the story of how FinBrowser came to be. As someone who loves to
        research stocks, I was constantly frustrated by the lack of a one-stop-shop for accessing high-quality insights
        from the best authors in the market. It was a daunting task to sift through endless content on the internet to
        find these talented creators with valuable perspectives to offer. Then, one day, it hit me - why not create a
        platform that consolidates all this information for investors? And that's how FinBrowser was born - out of a
        desire to provide a central hub for investors to discover the top stock market content creators out there. No
        more wasting hours searching through the depths of the internet - let FinBrowser do the heavy lifting for you!
    </div>
    <div class="sliderHeader">
        <h2>The Best</h2>
        <div>
            <a href="/sources?top_sources_only=on">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container the_best subscribed_sources request %}
    <div class="desc">Let me walk you through some of the amazing features you'll find on FinBrowser. For those of you
        who, like me, love to delve deep into long-form reads, we have some great news for you. Our platform boasts
        links to the top authors on SeekingAlpha, Substack, and individual blogs.</div>
    <div class="sliderHeader">
        <h2>Long-Form</h2>
        <div>
            <a href="/sources?website=SeekingAlpha&website=Substack&website=Other">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container long_form subscribed_sources request %}
    <div class="desc">Now, I understand that sometimes you're on the go and don't have the time to read a lengthy
        article. Fear not! FinBrowser got
        something for you too. I've curated a collection of the best stock market podcasters on Spotify and YouTube so
        that you
        can stay in the loop while you're on the move.</div>
    <div class="sliderHeader">
        <h2>Podcasts</h2>
        <div>
            <a href="/sources?website=Spotify&website=YouTube">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container podcast subscribed_sources request %}
    <div class="desc">But wait, there's more! Twitter has become a hot spot for experts to share their
        thoughts and opinions on the
        market, so I've also put together a list of the best stock market content creators on Twitter. Stay up to date
        with the
        latest buzz in the industry by following some of the sources on this list.</div>
    <div class="sliderHeader">
        <h2>Twitter</h2>
        <div>
            <a href="/sources?website=Twitter">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>

    {% create_source_container twitter subscribed_sources request %}
    <div class="desc">
        Let me tell you about another awesome feature you'll find on FinBrowser. We not only provide you with the best
        content creators on individual websites, but we also give you insight into which sources cover specific sectors.
        Now, let's say you're a tech investor through and through, but you've been hearing a lot of buzz about energy
        stocks lately and want to get in on the action. You can easily head over to our Energy page and find recent
        articles on the subject, along with a list of expert investors who cover that sector. FinBrowser makes it easy
        for you to stay informed and up to date on the sectors that matter to you
    </div>

    <div class="sliderHeader">
        <h2>Energy</h2>
        <div>
            <a href="/sources?sector=Energy">VIEW ALL</a>
            <i class="fa-solid fa-chevron-right"></i>
        </div>
    </div>
    {% create_source_container energy subscribed_sources request %}

    <div class="desc">And that's just the tip of the iceberg! With FinBrowser, you'll get access to an array of features
        that will take your investment game to the next level - stay up-to-date with all the latest information and
        sources covering the stocks you care about, effortlessly keep track of your investments with the portfolio and
        list feature, and never miss a beat with personalized notifications about your favorite stocks, keywords, and
        content creators - all in one convenient place!</div>

    <div class="desc"> In summary, FinBrowser is the ultimate platform for investors looking to stay informed and up to
        date on the stock market. With a curated selection of the best content creators and sources covering a range of
        sectors, you can
        be sure that you're getting access to quality insights and perspectives. Whether you're a seasoned investor or
        just
        starting out, this platform has everything you need to make informed investment decisions and stay on top of the
        latest
        market trends.</div>
</div>





{% endblock content %}