{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/min_main_style.css' %}">
<title>FinBrowser</title>
<meta name="description" content="Good investment decisions are only possible with well-founded analysis. Unfortunately,
Wall Street has long had a monopoly on great research. However, that has changed in the last decade and now the
open web has become home to many experts freely sharing their investing knowledge with the world. With
FinBrowser, you can find and manage these sources.">
{% endblock %}
{% block content %}
<div class="firstSection">
    <div class="websiteBigNameContainer">
        <img src="{% static 'home/media/finbrowser-logo.png' %}" alt="finbrowser-logo">
    </div>
    {% if request.user.is_authenticated %}
    <div class="websiteAbout websiteAboutLoggedIn">This website is currently in the beta version and will be expanded
        with a variety of additional
        functionalities. These are already in preparation, but further feature suggestions from users are of course
        always very welcome and can be suggested <a href="{% url 'support:suggestions' %}">here</a>. Suggestions for
        quality sources not already included on the site
        are also <a href="{% url 'support:suggest-sources' %}">welcome</a>. Since this is a beta version and new
        features
        are constantly being added, there is always a
        risk of small bugs creeping in. If you find any, it would be very nice if you could report them <a
            href="{% url 'support:report-bug' %}">here</a>. If you
        have any further questions, please use the <a href="{% url 'support:contact' %}">contact form</a>.</div>
    {% else %}
    <div class="websiteAbout">Good investment decisions are only possible with well-founded
        analysis. Unfortunately,
        Wall Street has long had a monopoly on great research. However, that has changed in the last decade and now the
        open web has become home to many experts freely sharing their investing knowledge with the world. With
        FinBrowser, you can find and manage these sources.</div>
    <a href="{% url 'account_signup' %}" class="registrationButton">Join FinBrowser</a>
    {% endif %}
</div>
<section class="coreFeaturesWrapper">
    <div class="coreFeaturesContainer">
        <div class="titleContainer">
            <p class="title">Core Features</p>
        </div>
        <div class="rowWrapper">
            <div class="rowContainer">
                <div class="iconBox">
                    <p class="icon">1</p>
                    <p class="rowTitle">Find Great Stock Market Sources</p>
                    <p class="rowBody">StockBrowser gives you an overview of great sources from all over the web.
                        From Substack, Fintwit to YouTube, you can find them all here.</p>
                </div>
            </div>
            <div class="rowContainer">
                <div class="iconBox">
                    <p class="icon">2</p>
                    <p class="rowTitle">Stay Up To Date On Your Favorite Sources</p>
                    <p class="rowBody">Stay up to date on the the activity of your favorite stock market sources
                        and get notified when there is new content.</p>
                </div>
            </div>
            <div class="rowContainer">
                <div class="iconBox">
                    <p class="icon">3</p>
                    <p class="rowTitle">Get To Know More About A Specific Sector</p>
                    <p class="rowBody">Interested in a specific stock market sector like tech? Here you will find
                        the top articles and experts on the topic that will help you to become an expert in the industry
                        yourself.
                    </p>
                </div>
            </div>
            <div class="rowContainer">
                <div class="iconBox">
                    <p class="icon">4</p>
                    <p class="rowTitle">Find Articles About Specific Stock</p>
                    <p class="rowBody">Want to know more about a specific stock? Find out what the best
                        sources on the open web have to say about it.</p>
                </div>
            </div>
            <div class="rowContainer">
                <div class="iconBox">
                    <p class="icon">5</p>
                    <p class="rowTitle">Create And Follow Lists</p>
                    <p class="rowBody">Create lists to collect your research in one place and see what research
                        other users have done.</p>
                </div>
            </div>
            <div class="rowContainer">
                <div class="iconBox">
                    <p class="icon">6</p>
                    <p class="rowTitle">Create A Feed To Manage The Information Flow</p>
                    <p class="rowBody">Manage access to your research and the authors and lists you follow in one
                        easy-to-access place.</p>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}