{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'home/min_notifications_style_v3.css' %}">
<title>FinBrowser | Notifications</title>
{% endblock %}
{% block content %}


<div class="tabsContainer">
    <button class="activatedTab" data-for-tab="0">Sources</button>
    <button data-for-tab="1">Stocks</button>
    <button data-for-tab="2">Keywords</button>
</div>

<div class="contentColumnWrapper">
    <div class="tabsContent tabsContentActive" data-tab="0">
        {% if source_notifications %}
        <div class="contentColumnContainer {% if not stock_notifications %}halfPageContainer{% endif %}">
            {% create_fk_content_container "Source Notifications" source_notifications request user_lists csrf_token add_list_form highlighted_content_ids %}
        </div>
        {% endif %}
    </div>
    <div class="tabsContent" data-tab="1">
        {% if stock_notifications %}
        <div class="contentColumnContainer {% if not source_notifications %}halfPageContainer{% endif %}">
            {% create_fk_content_container "Stock Notifications" stock_notifications request user_lists csrf_token add_list_form highlighted_content_ids %}
        </div>
        {% endif %}
    </div>
    <div class="tabsContent" data-tab="2">
        <div
            class="contentColumnContainer {% if not source_notifications or not stock_notifications %}halfPageContainer{% endif %}">
            <div class="categoryHeader">Keyword Notifications</div>
            <form enctype="multipart/form-data" method="POST" class="createKeywordNotificationForm">
                {% csrf_token %} {{ keyword_notification_creation_form }}
                <input name="createKeywordNotificationForm" type="submit" class="formSubmitButton" value="Add" />
            </form>
            <div class="smallFormContentWrapper">
                {% for notification in keyword_notifications %}
                <div class="articleContainer" id="nkni?ai#{{ notification.article.article_id }}">
                    <div class="leftContentSide">
                        <div class="profileImageContainer">
                            <img src="{% static notification.article.source.favicon_path %}" alt="Source Picture" />
                            <a class="sourceProfile" href="{{ notification.article.source.get_absolute_url }}"
                                aria-label="Open Profile Of {{ notification.article.source.name }}"></a>
                        </div>
                    </div>
                    <div class="rightContentSide">
                        <div class="contentInfoContainer">
                            <div class="sourceAndWebsiteContainer">
                                <a class="sourceProfile" href="{{ notification.article.source.get_absolute_url }}"
                                    aria-label="Open Profile Of {{ notification.article.source.name }}">{{ notification.article.source.name }}</a>
                                <div class="sourceWebsiteProfileContainer">
                                    {% if notification.article.source.website.name == "YouTube" %}
                                    <img class="youtubeLogo" src="{% static notification.article.source.website.logo %}"
                                        alt="Website Logo" />
                                    {% else %}
                                    <img src="{% static notification.article.source.website.logo %}"
                                        alt="Website Logo" />
                                    {% endif %}
                                    <a href="{{ notification.article.source.url }}" target="_blank"
                                        aria-label="Open External Profile Of {{ notification.article.source.name }}"></a>
                                </div>
                            </div>
                            <i class="fas fa-ellipsis-h" role="button" aria-label="Open Article Interactions"></i>
                            <div class="articleOptionsContainer">
                                {% if request.user.is_authenticated %}
                                <div class="addToListButton" role="button"><i class="fas fa-list"></i>Add to list
                                </div>
                                {% if notification.article.article_id in highlighted_content_ids %}
                                <div class="addToHighlightedButton" role="button"><i
                                        class="fas fa-times"></i><span>Unhighlight
                                        article</span></div>
                                {% else %}
                                <div class="addToHighlightedButton" role="button"><i
                                        class="fas fa-highlighter"></i><span>Highlight
                                        article</span></div>
                                {% endif %}
                                {% else %}
                                <a href="{% url 'account_login' %}" class="addToListButton registrationLink"
                                    aria-label="Login To Articles Add To Lists"><i class="fas fa-list"></i>Add
                                    to list</a>
                                <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"
                                    aria-label="Login To Highlight Articles"><i
                                        class="fas fa-highlighter"></i><span>Highlight article</span></a>
                                {% endif %}
                            </div>
                            <div class="addToListForm" role="form" aria-labelledby="addToListsForm">
                                <div id="addToListsForm" class="formHeaderContainer">Add To Lists<i
                                        class="fas fa-times closeFormContainerButton"></i>
                                </div>
                                {% if user_lists %}
                                <div class="listSelectionContainer">
                                    {% for list in user_lists %}
                                    <div class="listContainer">
                                        <label for="nkni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}">
                                            {% if notification in list.articles.all %}
                                            <input
                                                id="nkni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}"
                                                type="checkbox" name="lists" checked="True"> {{ list }}
                                            {% else %}
                                            <input
                                                id="nkni?ai{{ notification.article.article_id }}?li#{{ list.list_id }}"
                                                type="checkbox" name="lists">
                                            {{ list }}
                                            {% endif %}
                                        </label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="buttonsContainer">
                                    <button class="saveButton">Save</button>
                                    <button class="createNewListButton">Create</button>
                                </div>
                                {% else %}
                                <div class="listContainer">You haven't created any lists!</div>
                                <button class="createNewListButton createFirstList">Create First List</button>
                                {% endif %}
                            </div>
                            <div class="createListMenu articleCreateListMenu formContainer">
                                <div class="formHeaderContainer">Create A New List<i
                                        class="fas fa-times closeFormContainerButton"></i>
                                </div>
                                <form enctype="multipart/form-data" method="POST" class="createListForm">
                                    {% csrf_token %} {{ add_list_form }}
                                    <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
                                </form>
                            </div>
                        </div>
                        {% if notification.article.tweet_type.type == "Retweet" %}
                        <div class="retweetWrapper">Retweeted post by
                            <span>@{{ notification.article.tweet_type.author }}</span>
                        </div>
                        {% endif %}
                        {% if notification.article.tweet_type.type == "Reply" %}
                        <div class="replyWrapper">Replying to
                            <span>@{{ notification.article.tweet_type.author }}</span>
                        </div>
                        {% endif %}
                        {% if notification.article.tweet_type.type != "Retweet" %}
                        <div class="contentBody">
                            <p>{{ notification.article.title }}</p>
                        </div>
                        {% endif %}
                        {% if notification.article.tweet_type.image_path %}
                        <img class="tweetImage" src="{% static notification.article.tweet_type.image_path %}"
                            alt="Tweet Image">
                        {% endif %}
                        {% if notification.article.tweet_type.type == "Quote" or notification.article.tweet_type.type == "Retweet" or notification.article.tweet_type.type == "Reply" %}
                        <div class="quoteWrapper">
                            <div class="quoteUpperContainer">
                                <div class="quoteAuthor">{{ notification.article.tweet_type.author }}</div>
                                <div class="quoteDate">{{ notification.article.tweet_type.pub_date }}</div>
                            </div>
                            <div class="quoteText">{{ notification.article.tweet_type.text }}</div>
                            {% if notification.article.tweet_type.initial_tweet_img_path %}
                            <img class="tweetImage"
                                src="{% static notification.article.tweet_type.initial_tweet_img_path %}"
                                alt="Tweet Reply Image">
                            {% endif %}
                        </div>
                        {% endif %}
                        <div class="timeContainer">
                            <p>{{ notification.article.pub_date }}</p>
                        </div>
                        <a class="contentLink" href="{{ notification.article.link }}" target="_blank"
                            aria-label="Open Content"></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content %}