{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'article/min_articles_style_v2.css' %}">
<title>FinBrowser | Content</title>
<meta name="description" content="The best stock market-related content from across the open web.">
{% endblock %}

{% block content %}

<div class="filterBar smallerScreenFilterBar">
    <div class="selectContainer filterSelectContainer">
        <button class="filterButton"><span>Filter</span><i class="fa-solid fa-filter"></i></button>
    </div>
    <div class="filterBarMenu">
        <div class="selectContainer">
            <label for="timeframe">Timeframe</label>
            <select id="timeframe">
                <option value="All" selected="selected">All</option>
                <option value="7">Last 7 days</option>
                <option value="30">Last 30 days</option>
                <option value="90">Last 90 days</option>
                <option value="365">Last 365 days</option>
            </select>
        </div>
        <div class="selectContainer">
            <label for="sector">Sector</label>
            <select id="sector">
                <option value="All" selected="selected">All</option>
                {% for sector in sectors %}
                <option value="{{ sector.name }}">{{ sector.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="selectContainer">
            <label for="paywall">Paywall</label>
            <select id="paywall">
                <option value="All" selected="selected">All</option>
                <option value="Yes">Yes</option>
                <option value="Semi">Semi</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="selectContainer">
            <label for="source">Source</label>
            <select id="source">
                <option value="All" selected="selected">All</option>
                <option value="SeekingAlpha">SeekingAlpha</option>
                <option value="Spotify">Spotify </option>
                <option value="Substack">Substack</option>
                <option value="Twitter">Twitter</option>
                <option value="YouTube">YouTube</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="selectContainer searchSelectContainer">
        <div class="searchContainer">
            <input id="search" placeholder="Search term" type="text" />
            <i class="fas fa-search"></i>
        </div>
        <div id="autocomplete_list_results"></div>
    </div>
    <div class="selectContainer searchButtonSelectContainer">
        <button class="searchButton">Search</button>
    </div>
</div>
<div class="searchResultsWrapper">
    <div class="searchResultsContainer">
        <h3>Search Results</h3>
        <div><span>{{ results_found }}</span> Results Found</div>
    </div>
</div>


<div class="contentColumnWrapper">
    {% if articles %}
    <div class="contentColumnContainer halfPageContainer">
        {% create_content_container "Long-Form Content" articles request user_lists csrf_token add_list_form highlighted_content_ids %}
        <div class="pagination">
            <span class="step-links">
                {% for i in articles.paginator.page_range %}
                {% if articles.number == i %}
                <button class="currentPagination">{{ articles.number }}</button>
                {% elif i > articles.number|add:'-3' and i < articles.number|add:'3' %} <a
                    href="?long_form_content={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    {% endif %}
    {% if tweets %}
    <div class="contentColumnContainer halfPageContainer">
        {% create_content_container "Tweets" tweets request user_lists csrf_token add_list_form highlighted_content_ids %}
        <div class="pagination">
            <span class="step-links">
                {% for i in tweets.paginator.page_range %}
                {% if tweets.number == i %}
                <button class="currentPagination">{{ tweets.number }}</button>
                {% elif i > tweets.number|add:'-3' and i < tweets.number|add:'3' %} <a
                    href="?tweets={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    {% endif %}
</div>

<script src="{% static 'article/min_articles_script_v6.js' %}"></script>
{% endblock content %}