{% load static %}

<div class="categoryHeader">{{ title }}</div>
<div class="smallFormContentWrapper">
    {% for tweet in qs %}
    <div class="articleContainer" id="article_id_{{ tweet.article_id }}">
        <div class="leftContentSide">
            <div class="profileImageContainer">
                <img src="{% static tweet.source.favicon_path %}" />
                <a class="sourceProfile" href="{{ tweet.source.get_absolute_url }}"></a>
            </div>
        </div>
        <div class="rightContentSide">
            <div class="contentInfoContainer">
                <div class="sourceAndWebsiteContainer">
                    <a class="sourceProfile" href="{{ tweet.source.get_absolute_url }}">{{ tweet.source.name }}</a>
                    <div class="sourceWebsiteProfileContainer">
                        <img src="{% static tweet.source.website.logo %}" />
                        <a href="{{ tweet.source.url }}"></a>
                    </div>
                </div>
                <i class="fas fa-ellipsis-h"></i>
                <div class="articleOptionsContainer">
                    {% if request.user.is_authenticated %}
                    <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
                    {% if tweet.title in highlighted_content_titles %}
                    <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight
                            article</span></div>
                    {% else %}
                    <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight
                            article</span></div>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i
                            class="fas fa-list"></i>Add
                        to list</a>
                    <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                            class="fas fa-highlighter"></i><span>Highlight article</span></a>
                    {% endif %}
                </div>
                <div class="addToListForm">
                    <div class="formHeaderContainer">Add To Lists<i class="fas fa-times closeFormContainerButton"></i>
                    </div>
                    {% if user_lists %}
                    <div class="listSelectionContainer">
                        {% for list in user_lists %}
                        <div class="listContainer">
                            <label for="list_id_{{ list.list_id }}">
                                {% if tweet in list.articles.all %}
                                <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists" checked="True">
                                {{ list }}
                                {% else %}
                                <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists">
                                {{ list }}
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="buttonsContainer">
                        <button class="saveButton">Save</button>
                        <button class="createNewListButton">Create</button>
                    </div>
                    {% else %}
                    <div class="listContainer">You haven't created any lists!</div>
                    <button class="createNewListButton createFirstList">Create
                        First
                        List</button>
                    {% endif %}
                </div>
                <div class="createListMenu articleCreateListMenu formContainer">
                    <div class="formHeaderContainer">Create A New List<i
                            class="fas fa-times closeFormContainerButton"></i>
                    </div>
                    <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                        {% csrf_token %} {{ add_list_form }}
                        <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
                    </form>
                </div>
            </div>
            <div class="contentBody">
                <p>{{ tweet.title }}</p>
            </div>
            {% if tweet.tweet_type.image_path %}
            <img class="tweetImage" src="{% static tweet.tweet_type.image_path %}">
            {% endif %}
            <div class="timeContainer">
                <p>{{ tweet.pub_date }}</p>
            </div>
            <a class="contentLink" href="{{ tweet.link }}"></a>
        </div>
    </div>
    {% endfor %}
</div>