{% load static %}
{% load tz %}

<div class="smallFormContentWrapper">
    {% for content in qs %}
    <div class="articleContainer" id="fkcc#{{ content.article.article_id }}">
        <div class="leftContentSide">
            <div class="profileImageContainer">
                <img src="{% static content.article.source.favicon_path %}"
                    alt="Picture of {{ content.article.source.name }}" />
                <a class="sourceProfile" href="{{ content.article.source.get_absolute_url }}"
                    aria-label="Open profile of {{ content.article.source.name }}"></a>
            </div>
        </div>
        <div class="rightContentSide">
            <div class="contentInfoContainer">
                <div class="sourceAndWebsiteContainer">
                    <a class="sourceProfile" href="{{ content.article.source.get_absolute_url }}"
                        aria-label="Open profile of {{ content.article.source.name }}">{{ content.article.source.name }}</a>
                    <div class="sourceWebsiteProfileContainer">
                        {% if content.article.source.website.name == "YouTube" %}
                        <img class="youtubeLogo" src="{% static content.article.source.website.logo %}"
                            alt="Website logo" />
                        {% else %}
                        <img src="{% static content.article.source.website.logo %}" alt="Website logo" />
                        {% endif %}
                        <a href="{{ content.article.source.url }}"
                            aria-label="Open external website of {{ content.article.source.name }}" target="_blank"></a>
                    </div>
                </div>
                {% if request.user.is_authenticated %}
                <i class="fas fa-ellipsis-h" role="button" aria-label="Open article interactions menu"></i>
                {% else %}
                <i class="fas fa-ellipsis-h openAuthPrompt ap6" role="button"
                    aria-label="Open article interactions menu"></i>
                {% endif %}
                <div class="articleOptionsContainer">
                    {% if request.user.is_authenticated %}
                    <div class="addToListButton" role="button" aria-label="Open add to list modal"><i
                            class="fas fa-list"></i>Add to List</div>
                    {% if content.article.article_id in highlighted_content_ids %}
                    <div class="addToHighlightedButton" role="button" aria-label="Unhighlight article"><i
                            class="fas fa-times"></i><span>Unhighlight
                            article</span></div>
                    {% else %}
                    <div class="addToHighlightedButton" role="button" aria-label="Highlight article"><i
                            class="fas fa-highlighter"></i><span>Highlight
                            article</span></div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if content.article.tweet_type.type == "Retweet" %}
            <div class="retweetWrapper">Retweeted post by <span>@{{ content.article.tweet_type.author }}</span></div>
            {% endif %}
            {% if content.article.tweet_type.type == "Reply" %}
            <div class="replyWrapper">Replying to <span>@{{ content.article.tweet_type.author }}</span></div>
            {% endif %}
            {% if content.article.tweet_type.type != "Retweet" %}
            <div class="contentBody">
                <p>{{ content.article.title }}</p>
            </div>
            {% endif %}
            {% if content.article.tweet_type.image_path %}
            <img class="tweetImage" src="{% static content.article.tweet_type.image_path %}" alt="Tweet image">
            {% endif %}
            {% if content.article.tweet_type.type == "Quote" or content.article.tweet_type.type == "Retweet" or content.article.tweet_type.type == "Reply" %}
            <div class="quoteWrapper">
                <div class="quoteUpperContainer">
                    <div class="quoteAuthor">{{ content.article.tweet_type.author }}</div>
                </div>
                <div class="quoteText">{{ content.article.tweet_type.text }}</div>
                {% if content.article.tweet_type.initial_tweet_img_path %}
                <img class="tweetImage" src="{% static content.article.tweet_type.initial_tweet_img_path %}"
                    alt="Tweet reply image">
                {% endif %}
            </div>
            {% endif %}
            <div class="timeContainer">
                <p>{{ content.article.pub_date|localtime }}</p>
                {% if content.article.source.paywall == "No" %}
                <div class="tooltipContainer noPaywallTooltip">
                    <i class="fa-solid fa-lock noPaywall"></i>
                    <span class="tooltiptext">No Paywall</span>
                </div>
                {% elif content.article.source.paywall == "Semi" %}
                <div class="tooltipContainer semiPaywallTooltip">
                    <i class="fa-solid fa-lock semiPaywall"></i>
                    <span class="tooltiptext">Some Paywall</span>
                </div>
                {% else %}
                <div class="tooltipContainer yesPaywallTooltip">
                    <i class="fa-solid fa-lock yesPaywall"></i>
                    <span class="tooltiptext">Paywall</span>
                </div>
                {% endif %}
            </div>
            <a class="contentLink" href="{{ content.article.link }}" target="_blank"
                aria-label="Open link to content"></a>
        </div>
    </div>
    {% endfor %}
</div>
{% if qs.paginator.num_pages > 1 %}
<div class="pagination">
    <div class="currOffset"><span>{{ qs.start_index }} - {{ qs.end_index }}
        </span> of
        {{ qs.paginator.count }} Results</div>
    <span class="step-links">
        {% if qs.number == 1 %}
        <button aria-label="No previous page exists" class="backButton notClickable finButtonWhite"><i
                class="fas fa-chevron-left"></i></button>
        {% else %}
        <a role="button" aria-label="Go to previous page" class="backButton finButtonWhite"
            href="?{{qs_name}}={{ qs.number|add:'-1' }}#content"><i class="fas fa-chevron-left"></i></a>
        {% endif %}
        <div class="paginationButtonsContainer">
            {% for i in qs.paginator.page_range %}
            {% if qs.number == i %}
            <button aria-label="Current page" class="currentPagination finButtonBlue">{{ qs.number }}</button>
            {% elif i > qs.number|add:'-3' and i < qs.number|add:'3' %}
            <a role="button" aria-label="Go to page nr.{{ i }}" class="finButtonWhite"
                href="?{{qs_name}}={{ i }}#content">{{ i }}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% if qs.number == qs.paginator.num_pages %}
        <button aria-label="No next page exists" class="nextButton notClickable finButtonWhite"><i
                class="fas fa-chevron-right"></i></button>
        {% else %}
        <a role="button" aria-label="Go to next page" class="nextButton finButtonWhite"
            href="?{{qs_name}}={{ qs.number|add:'1' }}#content"><i class="fas fa-chevron-right"></i></a>
        {% endif %}
    </span>
</div>
{% endif %}