.firstRow {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.firstRow .nameContainer {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    user-select: none;
}

.firstRow .nameContainer .portfolioOptionsContainer {
    z-index: 5;
    display: none;
    position: absolute;
    top: 5rem;
    left: 0;
    background: white;
    font-size: 1.8rem;
    width: 100%;
    min-width: 300px;
    max-width: 100%;
    box-shadow: var(--box-shadowScheme);
}

.firstRow .nameContainer .portfolioOptionsContainer .portfoliosContainer {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 30rem;
}

.firstRow .nameContainer .portfolioOptionsContainer .portfolioOption {
    position: relative;
    padding: 1rem 1rem 1rem 1.5rem;
    border-bottom: 0.1rem solid #e2e6ea;
    overflow: hidden;
}

.firstRow .nameContainer .portfolioOptionsContainer .portfolioOption:hover {
    background: var(--primary-fontColor);
    color: white;
}

.firstRow .nameContainer .portfolioOptionsContainer .portfolioOption a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.firstRow .nameContainer .portfolioOptionsContainer .createPortfolioButton {
    color: white;
    background: var(--primary-fontColor);
    border: 0.1rem solid #e2e6ea;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    text-decoration: none;
    border-radius: 0.45rem;
    padding: 1rem;
    width: 95%;
    margin: 1rem 2.5%;
}

.firstRow .nameContainer .portfolioOptionsContainer .createPortfolioButton .fa-plus {
    margin-right: 1rem;
}

.firstRow h2 {
    color: var(--secondary-fontColor);
    margin-right: 1rem;
}

.firstRow .actionButtonContainer button {
    color: white;
    background: var(--primary-fontColor);
    border: 0.1rem solid #e2e6ea;
    cursor: pointer;
    font-size: 1.85rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    text-decoration: none;
    border-radius: 0.45rem;
    padding: 1.36rem 2.72rem;
    opacity: unset;
    box-shadow: var(--box-shadowScheme);
    margin-left: 1rem;
}

.pageWrapper table tbody td .removeStockButton:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: red;
    color: white;
}

.firstRow .actionButtonContainer button:hover,
.firstRow .nameContainer .portfolioOptionsContainer .createPortfolioButton:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8;
}

.firstRow .actionButtonContainer button i {
    margin-right: 1rem;
}

.pageWrapper .tableWrapper {
    max-width: 100%;
    overflow-x: auto;
    box-shadow: var(--box-shadowScheme);
    border-radius: 0.45rem;
    background: white;
    margin-top: 2rem;
}

.pageWrapper table {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.pageWrapper table thead th {
    color: gray;
    padding: 2rem 4rem;
    font-size: 1.8rem;
    text-align: start;
    white-space: nowrap;
}

tbody tr td:first-of-type span {
    color: var(--primary-fontColor);
}

.pageWrapper table tbody tr {
    position: relative;
    border-top: 0.1rem solid #e2e6ea;
    color: var(--secondary-fontColor);
}

.pageWrapper table tbody tr:hover {
    box-shadow: var(--box-shadowScheme);
}

.pageWrapper table tbody td {
    display: table-cell;
    padding: 2rem 4rem;
    font-size: 1.8rem;
    position: relative;
    text-align: start;
    white-space: nowrap;
    max-width: 250px;
}

.pageWrapper table tbody .companyNameContainer {
    overflow: hidden;
}

.pageWrapper table tbody td .low,
.pageWrapper table tbody td .mid,
.pageWrapper table tbody td .high {
    padding: 1rem 2rem;
    border-radius: 0.45rem;
    border: 0.1rem solid rgb(226, 230, 234);
}

.pageWrapper table tbody td .mid {
    color: orange;
    background: lightgoldenrodyellow;
}

.pageWrapper table tbody td .high {
    color: green;
    background: #cdffdd;
}

.pageWrapper table tbody td .low {
    color: red;
    background: lightpink;
}

.pageWrapper table tbody tr .actionContainer {
    position: relative;
    min-width: 175px;
}

.pageWrapper table tbody tr .actionContainer .fa-trash-can {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #4c4a4a;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.3rem;
}

.pageWrapper table tbody tr .actionContainer .fa-trash-can:hover {
    background: #f5f5f5;
}

.pageWrapper table tbody .actionContainer .openStockButton {
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1rem 2rem;
    border: 0.3rem solid;
    font-size: 1.6rem;
    cursor: pointer;
    background: white;
    position: relative;
    text-decoration: none;
    color: var(--secondary-fontColor);
}

.pageWrapper table tbody .actionContainer .openStockButton:hover {
    background: var(--primary-fontColor);
    color: white;
    border: 0.3rem solid black;
}

.pageWrapper table tbody a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contentColumnWrapper .contentColumnContainer {
    width: 100%;
}

.portfolioMenuWrapper {
    display: none;
    z-index: 998;
    position: absolute;
    max-width: 1250px;
    width: 100%;
    height: 100%;
}

.portfolioMenuWrapper .menuContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 95%;
    max-height: 100%;
}

.portfolioMenuWrapper .editMenu,
.portfolioMenuWrapper .addStocksContainer,
.portfolioMenuWrapper .keywordModal {
    display: none;
    background: white;
    box-shadow: var(--box-shadowScheme);
    font-size: 2rem;
    border-radius: 0.45rem;
    padding: 2rem;
}

.portfolioMenuWrapper .editHeader,
.addStocksContainer .addStocksHeader {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #e2e6ea;
    padding-bottom: 1rem;
}

.portfolioMenuWrapper .editHeader h2,
.addStocksContainer .addStocksHeader h2 {
    font-size: 2.5rem;
}

.portfolioMenuWrapper .editMenu .header .fa-times,
.portfolioMenuWrapper .addStocksContainer .closeAddStockContainer {
    position: absolute;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: grey;
}

.portfolioMenuWrapper .editMenu .header .fa-times:hover,
.portfolioMenuWrapper .addStocksContainer .closeAddStockContainer:hover {
    background: #f5f5f5;
}

.portfolioMenuWrapper .editMenu .portfolioNameContainer {
    display: flex;
    flex-direction: column;
}

.portfolioMenuWrapper .editMenu .portfolioNameContainer input,
.editMenu .blacklistSourceContainer input,
.portfolioMenuWrapper .addStocksContainer input,
.portfolioMenuWrapper .keywordModal .createKeywordsContainer input {
    font-size: 1.6rem;
    width: 100%;
    border: 0.1rem solid rgb(226, 230, 234);
    border-radius: 0.45rem;
    margin: 1rem auto 0;
    padding: 1.25rem 3rem 1.25rem 1.5rem;
}

.pageWrapper table tbody td .keywordModal .createKeywordsContainer input {
    margin-top: 0;
}

.portfolioMenuWrapper .addStocksContainer input {
    margin-top: 1rem;
}

.editMenu .blacklistSourceContainer .actionWrapper input {
    margin-top: 0;
}

.portfolioMenuWrapper .editMenu .mainPortfolioContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.portfolioMenuWrapper .editMenu .mainPortfolioContainer input {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.portfolioMenuWrapper .editMenu button {
    color: white;
    background: var(--primary-fontColor);
    border: 0.2rem solid;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1rem;
    box-shadow: var(--box-shadowScheme);
    width: 100%;
    margin-bottom: 1rem;
}

.portfolioMenuWrapper .editMenu button:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8;
}

.portfolioMenuWrapper .editMenu button:last-of-type {
    color: red;
    background: white;
    border: 0.3rem solid;
    margin-bottom: 0;
}

.portfolioMenuWrapper .editMenu button:last-of-type:hover {
    background: red;
    color: white;
}

.portfolioMenuWrapper .editMenu .searchResult {
    padding: 1rem;
}

.portfolioMenuWrapper .addStocksContainer .searchResultWrapper {
    overflow-y: auto;
    height: 30rem;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.addStocksContainer .selectionContainer .searchResult .stockContainer .companyName {
    max-width: calc(85% - 1.5rem);
    overflow: hidden;
}

.portfolioMenuWrapper .addStocksContainer .addStocksButton {
    border: 0.1rem solid #e2e6ea;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1rem;
    width: 100%;
    margin: 2rem 0 0;
    background: var(--primary-fontColor);
    color: white;
}

.portfolioMenuWrapper .addStocksContainer .addStocksButton:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8;
}

.pageWrapper table tbody td .keywordButton {
    color: var(--primary-fontColor);
    cursor: pointer;
    z-index: 8;
    padding: 1rem;
    position: relative;
}

.pageWrapper table tbody td .keywordButton:hover {
    text-decoration: underline;
}

/* .portfolioMenuWrapper .keywordModal {
    position: absolute;
    display: none;
    background: white;
    color: var(--secondary-fontColor);
    box-shadow: var(--box-shadowScheme);
    z-index: 10;
    font-size: 1.8rem;
    min-width: 400px;
    max-width: 100%;
    left: -10.5rem;
    top: 6.5rem;
    padding: 2rem;
} */

.portfolioMenuWrapper .keywordModal .keywordHeader {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #e2e6ea;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.portfolioMenuWrapper .keywordModal .keywordHeader span {
    color: var(--primary-fontColor);
    padding-left: 0.4rem;
}

.portfolioMenuWrapper .keywordModal .keywordHeader .fa-times {
    position: absolute;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: grey;
}

.portfolioMenuWrapper .keywordModal .keywordHeader .fa-times:hover {
    background: #f5f5f5;
}

.portfolioMenuWrapper .keywordModal .createKeywordsContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0;
}

.portfolioMenuWrapper .keywordModal .keywordsContainer {
    max-height: 22rem;
    overflow-y: auto;
}

.portfolioMenuWrapper .keywordModal .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.portfolioMenuWrapper .keywordModal .keywordContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1rem solid #e2e6ea;
    padding: 1rem 0;
}

.portfolioMenuWrapper .keywordModal .addButton {
    background: var(--primary-fontColor);
    color: white;
    border: 0.2rem solid;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1rem;
    width: 100%;
    margin: 2rem 0 0;
}

.portfolioMenuWrapper .keywordModal .addButton:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8;
}

.warningMessageContainer {
    align-items: center;
    background: #fff;
    border-radius: 0.45rem;
    display: none;
    flex-direction: column;
    width: 325px;
    z-index: 1000;
    box-shadow: var(--box-shadowScheme);
    padding: 2rem;
    margin: 0 auto;
}

.warningMessageContainer .faTimesContainer {
    background: red;
    border-radius: 50%;
    color: #fff;
    font-size: 4.5rem;
    position: absolute;
    top: -4.5rem;
    padding: 1.5rem 3.3rem;
}

.warningMessageContainer h3 {
    color: red;
    font-size: 3rem;
    margin: 3rem 0 2rem;
}

.warningMessageContainer span {
    font-size: 2rem;
    text-align: justify;
}

.warningMessageContainer .buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.warningMessageContainer .buttonContainer button {
    background: #fff;
    border: 0.1rem solid #e2e6ea;
    border-radius: 0.45rem;
    cursor: pointer;
    font-size: 2rem;
    padding: 1.36rem 2.72rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    color: #708090;
    width: 47.5%;
}

.warningMessageContainer .buttonContainer button:last-of-type,
.warningMessageContainer .buttonContainer button:hover {
    background: red;
    color: #fff;
}

.warningMessageContainer .buttonContainer button:last-of-type:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.editMenu .blacklistSourceContainer .header {
    position: relative;
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: unset;
}

.keywordModal .infoLink {
    right: 0;
    top: 0.125rem;
}

.editMenu .blacklistSourceContainer .searchResultWrapper {
    overflow-y: auto;
    height: 20rem;
    max-height: 20rem;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.editMenu .blacklistSourceContainer .searchResultWrapper #searchResultsContainer {
    padding: 0 1rem;
}

.editMenu .blacklistSourceContainer .blacklistedSourceContainer {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 0.1rem solid rgb(226, 230, 234);
    text-decoration: none;
    color: var(--secondary-fontColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.editMenu .blacklistSourceContainer .blacklistedSourceContainer span {
    max-width: calc(100% - 5rem);
    overflow: hidden;
}

.editMenu .blacklistSourceContainer .blacklistedSourceContainer img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
}

.editMenu .blacklistSourceContainer .blacklistedSourceContainer .fa-times,
.portfolioMenuWrapper .addStocksContainer .searchResultWrapper .selectionContainer .fa-times,
.keywordModal .keywordContainer .fa-times {
    margin-left: auto;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 0;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.keywordModal .keywordContainer .fa-times {
    right: 1rem;
}

.editMenu .blacklistSourceContainer .blacklistedSourceContainer .fa-times:hover,
.portfolioMenuWrapper .addStocksContainer .searchResultWrapper .selectionContainer .fa-times:hover,
.keywordModal .keywordContainer .fa-times:hover {
    background: #f5f5f5;
}

.portfolioMenuWrapper .editMenu .portfolioNameContainer,
.portfolioMenuWrapper .editMenu .mainPortfolioContainer,
.portfolioMenuWrapper .editMenu .blacklistSourceContainer .actionWrapper .selectionContainer {
    padding: 1rem 0;
}

.portfolioMenuWrapper .editMenu .mainPortfolioContainer,
.portfolioMenuWrapper .editMenu button:first-of-type,
.portfolioMenuWrapper .editMenu .blacklistSourceContainer,
.portfolioMenuWrapper .editMenu .actionWrapper {
    margin-top: 1rem;
}

.portfolioMenuWrapper .editMenu #searchResultsContainer .searchResult:hover,
.portfolioMenuWrapper .addStocksContainer #searchResultsContainer .searchResult:hover {
    cursor: pointer;
}

.portfolioMenuWrapper .addStocksContainer .selectionContainer .searchResult:hover,
.portfolioMenuWrapper
    .addStocksContainer
    .selectionContainer
    .searchResult:hover
    .stockContainer
    .stockTicker {
    background: unset;
    color: unset;
}

.portfolioMenuWrapper
    .addStocksContainer
    .selectionContainer
    .searchResult:hover
    .stockContainer
    .stockTicker {
    color: var(--primary-fontColor) !important;
}

.landingSection {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.7rem 0;
    overflow-x: hidden;
    min-height: calc(100vh - 17rem);
}

.landingSection .landingSectionContainer {
    min-width: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landingSection .landingSectionContainer h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 7.5rem;
    line-height: 1.15;
    text-align: center;
}

.landingSection .landingSectionContainer h1 span {
    color: var(--primary-fontColor);
}

.landingSection .landingSectionContainer p {
    font-size: 2.3rem;
    margin: 1rem 0 1.5rem;
    max-width: 69rem;
    text-align: center;
    line-height: 1.7;
}

.main p {
    color: #9e9aa7;
}

.signUpButton {
    display: inline-block;
    color: var(--primary-fontColor);
    background-color: white;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.3s;
    font-size: 2.3rem;
    box-shadow: var(--box-shadowScheme);
    padding: 1.6rem 4.8rem;
    color: white;
    background-color: var(--primary-fontColor);
    text-decoration: none;
}

.signUpButton:hover {
    transform: scale(1.05);
}

.landingSection .landingSectionImage {
    position: relative;
}

.featuresContainer {
    margin-top: 11.35rem;
    background-color: #eff0f5;
}

.featureSubContainer {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.sectionText {
    text-align: center;
    margin-bottom: 5.6rem;
}

.sectionText h2 {
    margin-top: 5rem;
    font-size: 7.5rem;
}

.sectionText p {
    width: 65%;
    margin: 0.8rem auto 0;
    font-size: 2.3rem;
}

@media (max-width: 1100px) {
    .pageWrapper table tbody tr .actionContainer {
        min-width: 200px;
    }
}

@media (max-width: 1000px) {
    .firstRow h2 {
        font-size: 3.5rem;
    }
}

@media (max-width: 775px) {
    .firstRow .nameContainer {
        width: calc(100% - 12rem);
    }

    .firstRow .actionButtonContainer {
        margin-left: auto;
        display: flex;
        align-items: center;
        position: absolute;
        right: 1rem;
        top: 0;
    }

    .firstRow .actionButtonContainer button {
        border-radius: 50%;
        color: var(--primary-fontColor);
        background: white;
        width: 4.5rem;
        height: 4.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--box-shadowScheme);
        cursor: pointer;
        font-size: 2.5rem;
        padding: unset;
    }
    .firstRow .actionButtonContainer button:last-of-type {
        background: var(--primary-fontColor);
        color: white;
    }
    .firstRow .actionButtonContainer button span {
        display: none;
    }
    .firstRow .actionButtonContainer button i {
        margin-right: 0;
    }
}

@media (max-width: 700px) {
    .firstRow .nameContainer h2 {
        max-width: 100%;
        white-space: nowrap;
        overflow: auto;
    }
}

@media (max-width: 550px) {
    .pageWrapper .tableWrapper {
        border-radius: 0;
    }

    .firstRow {
        padding-left: 1rem;
    }
}

/* unregistered */

@media (max-width: 1250px) {
    .featureSubContainer {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .landingSection {
        display: flex;
        flex-direction: column;
        margin: 0 5%;
        padding: 2.3rem 0;
        min-height: unset;
    }

    .landingSection .landingSectionContainer h1,
    .sectionText h2 {
        font-size: 6.5rem;
        text-align: center;
    }

    .landingSectionImage {
        margin-top: 4rem;
    }

    .featuresContainer {
        margin-top: unset;
    }

    .sectionText p {
        width: 100%;
    }

    .featureWrapper > div:nth-child(2) {
        margin-top: unset;
    }

    .featureWrapper .feature:before,
    .featureWrapper .feature::after {
        display: none;
    }

    .featureSubContainer {
        width: 90%;
    }

    .featureWrapper {
        align-items: unset;
        display: unset;
        grid-template-columns: unset;
        gap: unset;
    }

    .feature .featureDescription {
        margin-bottom: 2.5rem;
    }

    .featureWrapper > div:nth-child(3) {
        margin-top: unset;
    }

    .popupContainer .createListPopup,
    .popupContainer .addListsPopup,
    .popupContainer .addSourcesPopup {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .popupContainer .createListPopup,
    .popupContainer .addListsPopup,
    .popupContainer .addSourcesPopup {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .landingSection .landingSectionContainer {
        min-width: unset;
    }

    .landingSection .landingSectionContainer h1,
    .sectionText h2 {
        font-size: 3.2rem;
    }

    .landingSection {
        padding: 2.3rem 0;
        margin: unset;
    }

    .sectionText p,
    .landingSection .landingSectionContainer p {
        text-align: justify;
        font-size: 2rem;
    }

    .landingSection .landingSectionContainer p {
        max-width: 90%;
    }

    .landingSectionContainer .signUpButton {
        font-size: 2rem;
        padding: 1.2rem 3.6rem;
    }

    .landingSectionImage {
        margin-top: 3.4rem;
    }

    .sectionText h2 {
        margin-top: 2rem;
    }

    .popupContainer .createListPopup,
    .popupContainer .addListsPopup,
    .popupContainer .addSourcesPopup {
        width: 100%;
        position: relative;
        top: 0;
        transform: unset;
        left: 0;
    }
}
