.companyNameAndNotificationHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.companyNameAndNotificationHeader .fa-bell,
.companyNameAndNotificationHeader .notificationActivated {
  border-radius: 50%;
  color: var(--primary-fontColor);
  background: white;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadowScheme);
  cursor: pointer;
  font-size: 2.5rem;
  padding: unset;
  position: absolute;
  right: 0;
}

.companyNameAndNotificationHeader .fa-bell:hover,
.companyNameAndNotificationHeader .notificationActivated {
  color: white;
  background: var(--primary-fontColor);
}

.companyNameAndNotificationHeader .notificationActivated:hover {
  color: var(--primary-fontColor);
  background: white;
}

.stockHeader {
  font-size: 3.5rem;
  text-align: center;
  margin: 1rem 0;
  max-width: 75%;
}

.sliderWrapper {
  margin-top: 0;
}

.contentColumnWrapper .contentColumnContainer {
  width: 50%;
}

.noContentFound {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2rem;
}

@media (max-width: 1000px) {
  .contentColumnWrapper .contentColumnContainer {
    width: 100%;
  }
}
