.supportWrapper {
    margin: 12.5rem auto 2rem;
    font-size: 1.6rem;
    background: white;
    width: 100%;
    padding: 2rem 4rem;
    border-radius: 0.45rem;
    border: 0.2rem solid var(--border-fontColor);
}

h1 {
    color: var(--secondary-fontColor);
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    font-family: var(--site-Font);
}

.supportWrapper h2 {
    font-size: 2.4rem;
    margin: 2rem 0 1rem;
}

.supportWrapper ul,
.supportWrapper p {
    padding: 1rem 0;
}

.supportWrapper li {
    margin-left: 4rem;
}

.supportWrapper p,
.supportWrapper li {
    font-size: 2.1rem;
    line-height: 1.8;
    text-align: justify;
    font-family: var(--site-Font);
    font-weight: 400;
}

.supportWrapper a:link,
.supportWrapper a:visited,
.supportWrapper a:hover {
    text-decoration: none;
    color: var(--primary-fontColor);
}

@media (max-width: 500px) {
    .supportWrapper {
        padding: 2rem;
    }
}
