{% extends 'home/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/profile_style.css' %}">
<title>{{ profile.user.username }} Userprofile | ResearchBrowser</title>
{% endblock %}

{% block content %}

<div class="createListMenu formContainer">
    <h3>Create A New List</h3>
    <i class="fas fa-times closeFormContainerButton"></i>
    <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
        {% csrf_token %} {{ add_list_form }}
        <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
    </form>
</div>

<div class="contentSection">
    <div class="bannerProfileSocialContainer">
        {% if profile.profile_banner %}
        <img class="profileBanner" src="{{ profile.profile_banner.url }}" alt="profile-banner">
        {% else %}
        <img class="profileBanner" src="{% static 'home/media/standard-banner.jpg' %}" alt="profile-banner">
        {% endif %}
        <div class="profileSocialContainer">
            <div class="avatarContainer">
                {% if profile.profile_pic %}
                <img class="avatar" src="{{ profile.profile_pic.url }}" alt="user-profile-pic">
                {% else %}
                <img class="avatar" src="{% static 'home/media/profile-picture.png' %}" alt="user-profile-pic">
                {% endif %}
                <div class="profileUsername">{{ profile.user.username }}</div>
            </div>
            {% if social_links %}
            <div class="socialMediaLinkContainer">
                {% for link in social_links %}
                <div class="icon">
                    <img src="{% static link.website.favicon %}" alt="">
                    <a href="{{ link.url }}"></a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    <div class="bioContainer">
        <div class="bioHeader">About:</div>
        <div class="bio">{{ profile.bio|safe }}</div>
    </div>

    {% if created_lists %}
    <div class="browserCategory">Created Lists</div>
    <div class="carousel-container">
        <div onClick="prev();" class="prev"></div>
        <div class="carousel-list">
            <ul class="slider-content">
                {% for list in created_lists %}
                <li>
                    <div class="sourceContainer">
                        <div class="iconContainer">
                            {% if list.list_pic %}
                            <img class="sourcePic" src="{{ list.list_pic.url }}" alt="favicon" />
                            {% else %}
                            <img class="sourcePic" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
                            {% endif %}
                        </div>
                        <a class="sourceLink" href="{% url 'home:list-details' list_id=list.list_id %}"></a>
                        <div class="sourceNameOuterContainer">
                            <div class="sourceNameInnerContainer">{{ list.name }}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div onClick="next();" class="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
    {% endif %}


    {% if subscribed_lists and privacy_settings.list_subscribtions_public %}
    <div class="browserCategory">List Subscribtions</div>
    <div class="carousel-container">
        <div onClick="prev();" class="prev"></div>
        <div class="carousel-list">
            <ul class="slider-content">
                {% for list in subscribed_lists %}
                <li>
                    <div class="sourceContainer">
                        <div class="iconContainer">
                            {% if list.list_pic %}
                            <img class="sourcePic" src="{{ list.list_pic.url }}" alt="favicon" />
                            {% else %}
                            <img class="sourcePic" src="{% static 'home/media/bigger_favicon.png' %}" alt="favicon" />
                            {% endif %}
                        </div>
                        <a class="sourceLink" href="{% url 'home:list-details' list_id=list.list_id %}"></a>
                        <div class="sourceNameOuterContainer">
                            <div class="sourceNameInnerContainer">{{ list.name }}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div onClick="next();" class="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
    {% endif %}

    {% if subscribed_sources and privacy_settings.subscribed_sources_public %}
    <div class="browserCategory">Subscribed Sources</div>
    <div class="carousel-container">
        <div onClick="prev();" class="prev"></div>
        <div class="carousel-list">
            <ul class="slider-content">
                {% for source in subscribed_sources %}
                <li>
                    <div class="sourceContainer">
                        <div class="iconContainer">
                            <img class="sourcePic" src="{% static source.favicon_path %}" alt="favicon" />
                        </div>
                        <a class="sourceLink" href="{% url 'source:profile' domain=source.domain %}"></a>
                        <div class="sourceNameOuterContainer">
                            <div class="sourceNameInnerContainer">{{ source.name }}</div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div onClick="next();" class="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>
    {% endif %}

    {% if highlighted_articles and privacy_settings.highlighted_articles_public %}
    <div class="browserCategory highlightedArticlesHeader">Highlighted Articles</div>
    <div class="articlesContainer">
        {% for article in highlighted_articles %}
        <div class="article" id="article{{ article.article_id }}">
            {% if article.article.source %}
            <img src="{% static article.article.source.favicon_path %}" />
            <div class="articleInformationContainer">
                <div class="articleTitle">{{ article.article.title }}</div>
                <div class="articleSectorAndDateContainer">
                    <a href="{% url 'home:sector-details' article.article.source.sector.first.slug %}">
                        {{ article.article.source.sector.first.name }}</a>
                    <div class="articlePubDate">{{ article.article.pub_date }}</div>
                    {% if article.article.source.top_source %}
                    <i class="fas fa-star articleTopSource"></i>
                    {% endif %}
                    {% if article.article.source.paywall == "Yes" %}
                    <i class="fas fa-lock articleFullPaywall"></i>
                    {% elif article.article.source.paywall == "Semi" %}
                    <i class="fas fa-lock articleSemiPaywall"></i>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <i class="fas fa-question-circle"></i>
            <div class="articleInformationContainer">
                <div class="articleTitle">{{ article.article.title }}</div>
                <div class="articleSectorAndDateContainer">
                    <a href="{% url 'home:sector-details' article.article.external_source.sector.all.first.slug %}">
                        {{ article.article.external_source.sector.all.first }}</a>
                    <div class="articlePubDate">{{ article.article.pub_date }}</div>
                </div>
            </div>
            {% endif %}
            <a class="articleLink" href="{{ highlighted_article.article.link }}"></a>
            <i class="fas fa-ellipsis-h"></i>
            <div class="articleOptionsContainer articleOptionsContainer{{ article.article_id }}">
                {% if request.user.is_authenticated %}
                <div class="addToList"><i class="fas fa-list"></i>Add to list</div>
                {% if article.article.title in highlighted_articles_titles %}
                <div id="{{ article.article_id }}" class="addToHighlighted">
                    <i class="fas fa-times"></i><span>Unhighlight article</span>
                </div>
                {% else %}
                <div id="{{ article.article_id }}" class="addToHighlighted">
                    <i class="fas fa-highlighter"></i><span>Highlight article</span>
                </div>
                {% endif %}
                {% else %}
                <a href="{% url 'registration:login' %}" class="addToList registrationLink">
                    <i class="fas fa-list"></i>Add to list</a>
                <a href="{% url 'registration:login' %}" id="{{ article.article_id }}"
                    class="addToHighlighted registrationLink"><i class="fas fa-highlighter"></i>
                    <span>Highlight article</span></a>
                {% endif %}
            </div>
            <div class="addToListForm">
                <i class="fas fa-times"></i>
                <h3>Add to lists</h3>
                {% if user_lists %}
                <div class="listSelectionContainer">
                    {% for list in user_lists %}
                    <div class="listContainer">
                        <label for="id_list_{{ list.list_id }}">
                            {% if article.article in list.articles.all %}
                            <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                value="{{ list.list_id }}" checked="True"> {{ list }}
                            {% else %}
                            <input id="id_list_{{ list.list_id }}" type="checkbox" name="lists"
                                value="{{ list.list_id }}">
                            {{ list }}
                            {% endif %}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="buttonsContainer">
                    <button class="saveButton">Save</button>
                    <button class="createNewListButton">Create</button>
                </div>
                {% else %}
                <div class="listContainer">You haven't created any lists!</div>
                <button class="createNewListButton createFirstList">Create First List</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% include "pagination.html" with page=highlighted_articles %}
    {% endif %}
</div>


{% endblock content %}