{% load static %}
{% load i18n %}
{% load account socialaccount %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'registration/min_login_style_v6.css' %}">
    <link rel="icon" type="image/png" href="{% static 'home/media/favicon.png' %}">
    <title>Login | FinBrowser</title>
    <meta name="description"
        content="Join FinBrowser and get an overview of great stock market content from across the open web.">
    <link rel="canonical" href="https://www.finbrowser.io/registration/login/">
</head>

<body>
    <main>
        <div class="loginUserForm">
            <div id="form-wrapper">
                <img class="logoLarge" src="{% static 'home/media/finbrowser-logo.png' %}" alt="Finbrowser logo">
                <div class="createAccount">Not registred yet? <a href="{{ signup_url }}">Create an
                        Account</a></div>
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <!-- <a href="{% url 'account_reset_password' %}" class="forgotPassword">Forgot Password?</a> -->
                    <button class="primaryAction" type="submit">{% trans "Log In" %}</button>
                </form>
                <div class="googleAuthContainer">
                    <button class="googleAuthButton">
                        <img class="googleLogo" src="{% static 'home/media/google_icon.png' %}" alt="Google logo" />
                        Sign in with Google
                        <form class="googleSignButton" action="{% provider_login_url 'google' %}" method="post">
                            {% csrf_token %}
                            <input type="submit">
                        </form>
                    </button>
                </div>
            </div>
        </div>
    </main>
    {% if messages %}
    <ul class="messages">
        {% for message in messages|slice:":1" %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
</body>

</html>