{% load static %}
{% load i18n %}
{% load account %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'registration/min_password_reset_style_v1.css' %}">
    <link rel="icon" type="image/png" href="{% static 'home/media/favicon.png' %}">
    <title>Password Reset | FinBrowser</title>
</head>

<body>
    <main>
        <div class="signupForm">
            <div id="form-wrapper">
                <h1>{% trans "Password Reset" %}</h1>
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and I will send you an e-mail allowing you to reset it." %}
                </p>
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Reset My Password' %}" />
                </form>
                <p>{% blocktrans %}Please contact me if you have any trouble resetting your password.{% endblocktrans %}
                </p>
            </div>
        </div>
    </main>
</body>

</html>