.overlay {
  width: 75%;
  margin: 2rem auto 0;
}

.bannerProfileSocialContainer {
  position: relative;
  display: flex;
}

.profileBanner,
.bannerPlaceholder {
  width: 60rem;
  height: 20rem;
  border-radius: 4rem 0.5rem 0.5rem 0.5rem;
  box-shadow: var(--box-shadowScheme);
}

.bannerPlaceholder {
  background: var(--primary-fontColor);
  color: white;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profileSocialContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - 60rem);
}

.avatarContainer {
  width: 100%;
  display: flex;
  position: relative;
}

.avatar,
.avatarContainer .logoPlaceholder {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  border: 0.3rem solid white;
  background: white;
  margin-left: -5rem;
  margin-top: -1.5rem;
  position: absolute;
  z-index: 2;
  box-shadow: var(--box-shadowScheme);
}

.avatarContainer .logoPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  background: var(--primary-fontColor);
  color: white;
}

.profileUsername {
  font-size: 3rem;
  padding: 0.5rem 1rem;
  background: var(--primary-fontColor);
  width: 75%;
  text-align: center;
  margin: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  box-shadow: var(--box-shadowScheme);
  border: 0.3rem solid;
  border-radius: 0.8rem;
  color: white;
  left: 2rem;
  position: absolute;
  z-index: 1;
}

.socialMediaLinkContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  margin: 8.5rem 0 0 2rem;
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  color: white;
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: var(--box-shadowScheme);
  margin-left: 1rem;
}

.icon:hover {
  transform: scale(1.1);
}

.icon a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.openAboutButton {
  position: absolute;
  margin-top: 1rem;
  border-radius: 50%;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
  border: 0.3rem solid;
  cursor: pointer;
  top: 0;
  right: 0;
  font-size: 3rem;
  padding: 1rem 2rem;
  display: flex;
}

.openAboutButton:hover {
  transform: scale(1.1);
}

.bioContainer {
  position: absolute;
  right: 6rem;
  display: none;
  border-radius: 1rem;
  letter-spacing: 0.11rem;
  text-align: justify;
  box-shadow: var(--box-shadowScheme);
  width: 36rem;
  margin-left: 62.5rem;
  z-index: 50;
}

.bioContainer .categoryHeader {
  margin: unset;
  border: none;
  border-radius: 0.8rem 0.8rem 0 0;
}

.bioContainer .fa-times {
  position: absolute;
  display: block;
  color: white;
  background: red;
  padding: 0.7rem;
  font-size: 2.5rem;
  top: 0;
  right: 0;
  cursor: pointer;
  box-shadow: var(--box-shadowScheme);
}

.bioContainer .bio {
  padding: 1rem 2rem;
  background: white;
  border-radius: 0 0 0.8rem 0.8rem;
  line-height: 1.4;
  height: 20rem;
  overflow-y: scroll;
}

.slider {
  --items-per-screen: 6;
}

.articleInformationContainer,
.articleSectorAndDateContainer {
  max-width: 72%;
}
