.contentSection {
  width: 75%;
  margin: 20px auto 0;
}

.bannerProfileSocialContainer {
  display: flex;
}

.profileSocialContainer {
  display: flex;
  flex-direction: column;
  width: calc(100% - 600px);
}

.profileBanner {
  width: 600px;
  height: 200px;
  border-radius: 40px 5px 5px 5px;
  box-shadow: var(--box-shadowScheme);
}

.avatarContainer {
  width: 100%;
  display: flex;
  position: relative;
}

.avatar {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  border: 3px solid black;
  background: white;
  margin-left: -50px;
  margin-top: -15px;
  position: absolute;
  z-index: 2;
  box-shadow: var(--box-shadowScheme);
}

.profileUsername {
  font-size: 30px;
  padding: 5px 10px;
  background: var(--primary-fontColor);
  width: 75%;
  text-align: center;
  margin: 10px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: var(--box-shadowScheme);
  border: 3px solid;
  border-radius: 8px;
  color: white;
  left: 20px;
  position: absolute;
  z-index: 1;
}

.socialMediaLinkContainer {
  display: flex;
  margin: 80px auto 0;
}

.icon {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: white;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: var(--box-shadowScheme);
  margin-left: 10px;
}

.icon:nth-child(1) {
  background: #4267b2;
}

.icon:nth-child(2) {
  background: #e1306c;
}

.icon:nth-child(3) {
  background: #0e76a8;
}

.icon:nth-child(4) {
  background: #1da1f2;
}

.icon:nth-child(5) {
  background: #ff0000;
}

.icon:hover {
  transform: scale(1.1, 1.1);
}

.icon i {
  font-size: 25px;
  line-height: 50px;
}

.bioContainer {
  border-radius: 10px;
  margin-top: 20px;
  letter-spacing: 1.1px;
  text-align: justify;
  box-shadow: var(--box-shadowScheme);
}

.bioHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--primary-fontColor);
  color: white;
  padding: 5px;
  border-radius: 8px 8px 0 0;
  font-size: 20px;
}

.bio {
  padding: 10px 20px;
  background: white;
  border-radius: 0 0 8px 8px;
  line-height: 1.4;
}

.browserCategory {
  margin-top: 20px;
}

.sourceContainer {
  overflow: unset;
  width: 170px;
}

.iconContainer {
  width: 170px;
  height: 170px;
}

.highlightedArticlesHeader {
  margin-bottom: 10px;
}

.articleInformationContainer {
  max-width: 30ch !important;
}
