{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'support/min_support_style.css' %}">
<title>FinBrowser | Suggest Sources</title>
{% endblock %}
{% block content %}
<div class="formContainer supportForm">
    <h3>Suggest New Sources</h3>
    <form enctype="multipart/form-data" method="POST" class="createFeatureSuggestionForm">
        {% csrf_token %} {{ form }}
        <input name="createFeatureSuggestionForm" type="submit" class="formSubmitButton" value="Save" />
    </form>
</div>
{% endblock content %}