.interactionWrapper {
  position: relative;
}

.slider .interactionWrapper .formContainer:hover,
.slider .interactionWrapper:hover {
  transform: unset;
}

.slider .interactionWrapper .addButton:hover {
  transform: scale(1.1);
}

.interactionWrapper .createListButton,
.interactionWrapper .addListsButton,
.interactionWrapper .addSourcesButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interactionWrapper .createListMenu,
.interactionWrapper .addListsForm,
.interactionWrapper .addSourcesForm {
  position: absolute;
  height: 100%;
}

.slider .createListMenu .formHeaderContainer {
  margin-bottom: 0;
}

.slider .createListMenu .formSubmitButton {
  margin: auto;
}

.formContainer #textInput {
  font-size: 1.6rem;
  padding: 0.4rem 1rem;
  color: black;
  border: 0.2rem solid rgb(226, 230, 234);
  border-radius: 0.8rem;
  width: 90%;
  margin: 1rem 0;
}

.formContainer .searchResultWrapper {
  position: relative;
  /* height: 11rem; */
  height: 100%;
  width: 90%;
  overflow-y: scroll;
}

.formContainer .searchResultWrapper #searchResultsContainer {
  z-index: 5;
}

.formContainer .searchResultWrapper #searchResultsContainer {
  z-index: 5;
}

.formContainer .searchResultWrapper #searchResultsContainer,
.formContainer .searchResultWrapper .selectionContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}

.formContainer .searchResult {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 0.1rem solid rgb(226, 230, 234);
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.formContainer .searchResult i {
  margin-left: auto;
  margin-right: 2rem;
  color: white;
  background: red;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
}

.formContainer .searchResult img {
  width: 2.5rem;
  height: 2.5rem;
}

.addSourcesForm .formSubmitButton,
.addListsForm .formSubmitButton {
  width: 90% !important;
}

@media (max-width: 500px) {
  .addButton {
    font-size: 10rem;
  }

  .interactionWrapper .formContainer .formHeaderContainer {
    height: 4.8rem;
    font-size: 2.5rem;
  }

  .interactionWrapper
    .formContainer
    .formHeaderContainer
    .closeFormContainerButton {
    padding: 0.95rem;
    height: 100%;
  }

  .interactionWrapper .formContainer {
    width: 100%;
  }

  .interactionWrapper .formContainer form label {
    font-size: 2.4rem;
    margin: 1rem 0;
  }

  .interactionWrapper .formContainer form input,
  .interactionWrapper .formContainer form select,
  .interactionWrapper .formContainer #textInput {
    padding: 0.5rem 1.5rem;
    font-size: 2.2rem;
  }

  .interactionWrapper .formContainer form #id_is_public {
    width: 2rem;
    height: 2rem;
    margin-top: -3.2rem;
    margin-left: 23rem;
  }

  .interactionWrapper .formContainer .formSubmitButton {
    padding: 0.6rem 2.4rem;
    font-size: 2.2rem;
  }

  .interactionWrapper .formContainer #searchResultsContainer {
    font-size: 2rem;
  }

  .interactionWrapper .formContainer #searchResultsContainer .searchResult {
    font-size: 2rem;
  }
}
