.contentColumnWrapper form {
  font-size: 1.8rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentColumnWrapper form input[name="keyword"] {
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
  border: 0.1rem solid rgb(226, 230, 234);
  margin-left: 0.5rem;
}

.contentColumnWrapper form .formSubmitButton {
  display: flex;
  padding: 0.75rem 1.5rem;
  color: white;
  background: var(--primary-fontColor);
  border: 0.2rem solid rgb(226, 230, 234);
  cursor: pointer;
}

@media (max-width: 1125px) {
  .contentColumnWrapper .listNoficiationHeader {
    margin-top: 2rem;
  }
}
