{% load static %}

<div class="sliderWrapper">
    <div class="sliderHeader">
        <div class="sliderHeaderTitle">{{ title }}</div>
        <div class="progressBar"></div>
    </div>
    <div class="sliderContentContainer">
        <button class="handle leftHandle">
            <div class="handleSymbol">&#8249;</div>
        </button>
        <div class="slider">
            {% for source in qs %}
            <div class="contentWrapper">
                <div class="contentContainer">
                    <div class="contentIconContainer">
                        <img class="contentIcon" src="{% static source.favicon_path %}" alt="favicon" />
                    </div>
                    <a class="contentLink" href="{{ source.get_absolute_url }}"></a>
                    <div class="contentNameContainer">
                        <div class="contentName">{{ source.name }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="handle rightHandle">
            <div class="handleSymbol">&#8250;</div>
        </button>
    </div>
</div>