{% extends 'home/base.html' %} {% load static %} {% load tags %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'source/source_ranking_style.css' %}" />
<title>{{ source.name }} Profile | FinBrowser</title>
{% endblock %}
{% block content %}

<div class="pageWrapper">
    <div class="sourceRankingWrapper">
        {% for source in sources %}
        <div class="sourceRankingContainer" id="src?si#{{ source.source_id }}">
            <div class="leftSide">
                <img class="profilePicture" src="{% static source.favicon_path %}" alt="Source Picture" />
                <div class="rating">{{ source.average_rating }}</div>
                <a href="{{ source.get_absolute_url }}" aria-label="Open Profile Of {{ source.name }}"></a>
            </div>
            <div class="rightSide">
                <div class="firstRow">
                    <span class="rank">{{ forloop.counter|calc_ranking:sources.number }}</span>
                    <a class="name" href="{{ source.get_absolute_url }}"
                        aria-label="Open Profile Of {{ source.name }}">{{ source.name }}</a>
                </div>
                <div class="secondRow">
                    <div class="infoContainer sectorInfoContainer">
                        <span>Sector</span>
                        <a href="{{ source.sector.get_absolute_url }}"
                            aria-label="Open Sector - {{ source.sector.name }}">{{ source.sector.name }}</a>
                    </div>
                    <div class="infoContainer">
                        <span>Content Type</span>
                        <span>{{ source.content_type }}</span>
                    </div>
                    <div class="infoContainer websiteInfoContainer">
                        <span>Website</span>
                        <a href="{{ source.url }}" target="_blank"
                            aria-label="Open External Profile Of {{ source.name }}">{{ source.website }}</a>
                    </div>
                    <div class="infoContainer">
                        <span>Paywall</span>
                        <span>{{ source.paywall }}</span>
                    </div>
                    <div class="infoContainer">
                        <span>Amount of Ratings</span>
                        <span>{{ source.ammount_of_ratings }}</span>
                    </div>
                    <div class="infoContainer">
                        <span>Your Rating</span>
                        {% if request.user.is_authenticated and source|check_has_rated:user_ratings %}
                        <span><i class="fas fa-star"></i>{{ source|check_has_rated:user_ratings }}</span>
                        {% else %}
                        <span class="notRated"><i class="fas fa-star"></i>Rate</span>
                        {% endif %}
                    </div>
                </div>
                <div class="thirdRow">
                    <div class="tag">Great Storyteller</div>
                    <div class="tag">Research Service</div>
                    <div class="tag">Blog</div>
                    <div class="tag">Large Following</div>
                    <div class="tag">Green Chicken</div>
                    <div class="tag">Some Other Shit</div>
                </div>
                <div class="fourthRow">
                    {% if request.user.is_authenticated and source in subscribed_sources %}
                    <button class="subscribeButton subscribed">Subscribed</button>
                    {% else %}
                    <button class="subscribeButton">Subscribe</button>
                    {% endif %}
                    <button class="sourceAddToListButton">Add To List</button>
                    <div role="form" class="addToListForm addSourceToListForm">
                        <div class="formHeaderContainer">Add To Lists<i
                                class="fas fa-times closeFormContainerButton"></i>
                        </div>
                        {% if user_lists %}
                        <div class="listSelectionContainer">
                            {% for list in user_lists %}
                            <div class="listContainer">
                                <label for="id_list_{{ list.list_id }}">
                                    {% if source in list.sources.all %}
                                    <input id="id_list_{{ list.list_id }}" class="sourceInList" type="checkbox"
                                        name="lists" value="{{ list.list_id }}" checked="True"> {{ list }}
                                    {% else %}
                                    <input id="id_list_{{ list.list_id }}" class="sourceNotInList" type="checkbox"
                                        name="lists" value="{{ list.list_id }}">
                                    {{ list }}
                                    {% endif %}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="buttonsContainer">
                            <button class="saveButton">Save</button>
                            <button class="createNewListButton">Create</button>
                        </div>
                        {% else %}
                        <div class="listContainer">You haven't created any lists!</div>
                        <button class="createNewListButton createFirstList">Create First List</button>
                        {% endif %}
                    </div>
                    <div class="createListMenu sourcesCreateListMenu formContainer">
                        <div class="formHeaderContainer">Create A New List<i
                                class="fas fa-times closeFormContainerButton"></i>
                        </div>
                        <form enctype="multipart/form-data" method="POST" class="createListForm">
                            {% csrf_token %} {{ add_list_form }}
                            <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% for i in sources.paginator.page_range %}
                {% if sources.number == i %}
                <button class="currentPagination">{{ sources.number }}</button>
                {% elif i > sources.number|add:'-3' and i < sources.number|add:'3' %} <a
                    href="?sources={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    <div class="filterSidebar">
        <div class="selectContainer">
            <label for="website">Website</label>
            <div class="dropdown">Select Websites
                <i class="fa-solid fa-chevron-down"></i>
                <ul class="selectionList">
                    <li value="SeekingAlpha">
                        <img src="{% static 'home/media/seekingalpha_logo.png' %}" alt="SeekingAlpha Logo">
                        <span>SeekingAlpha</span>
                    </li>
                    <li value="Spotify">
                        <img src="{% static 'home/media/spotify_favicon.png' %}" alt="Spotify Logo">
                        <span>Spotify</span>
                    </li>
                    <li value="Substack">
                        <img src="{% static 'home/media/substack_logo.png' %}" alt="Substack Logo">
                        <span>Substack</span>
                    </li>
                    <li value="Twitter">
                        <img src="{% static 'home/media/twitter_logo.png' %}" alt="Twitter Logo">
                        <span>Twitter</span>
                    </li>
                    <li value="YouTube">
                        <img src="{% static 'home/media/youtube_logo.png' %}" alt="YouTube Logo">
                        <span>YouTube</span>
                    </li>
                    <li value="Other">
                        <img src="{% static 'home/media/default_favicon.png' %}" alt="Website Logo">
                        <span>Other</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="selectedOptionsContainer selectedWebsitesContainer"></div>
        <div class="selectContainer">
            <label for="sector">Sector</label>
            <div class="dropdown">Select Sectors
                <i class="fa-solid fa-chevron-down"></i>
                <ul class="selectionList">
                    {% for sector in sectors %}
                    <li value="{{ sector.name }}">{{ sector.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="selectedOptionsContainer selectedSectorsContainer"></div>
        <div class="selectContainer">
            <label for="minimum_rating">Tag</label>
            <div class="mainSearchWrapper">
                <div class="mainSearchContainer">
                    <input aria-label="Search" id="tagAutocomplete" type="text" class="mainInputSearch"
                        placeholder="Search">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-times closeSearchButton"></i>
                </div>
                <div id="tagAutocomplete_result">
                    <ul class="selectionList"></ul>
                </div>
            </div>
        </div>
        <div class="selectedOptionsContainer selectedTagsContainer"></div>
        <div class="selectContainer">
            <label for="content_type">Content Type</label>
            <div class="choiceContainer">
                <input type="checkbox" checked="true">
                <label>Analysis</label>
            </div>
            <div class="choiceContainer">
                <input type="checkbox" checked="true">
                <label>Commentary</label>
            </div>
            <div class="choiceContainer">
                <input type="checkbox" checked="true">
                <label>News</label>
            </div>
        </div>
        <div class="selectContainer">
            <label for="paywall">Paywall</label>
            <div class="choiceContainer">
                <input type="checkbox" checked="true">
                <label>Yes</label>
            </div>
            <div class="choiceContainer">
                <input type="checkbox" checked="true">
                <label>Semi</label>
            </div>
            <div class="choiceContainer">
                <input type="checkbox" checked="true">
                <label>No</label>
            </div>
        </div>
        <div class="selectContainer">
            <input type="checkbox">
            <label for="top_sources">Only Top Sources</label>
        </div>
        <button class="applyFilterButton">Apply Filter</button>
    </div>
</div>

<script src="{% static 'source/source_ranking_script.js' %}"></script>
{% endblock content %}