{% extends 'home/base.html' %} {% load static %} {% load tags %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'source/min_source_profile_style_v9.css' %}" />
<title>{{ source.name }} | FinBrowser</title>
<meta name="description" content="Discover the latest content from {{ source.name }}">
{% endblock %} {% block content %}


<div class="sourceRatingsWrapper">
  <div class="sourceRatingsContainer">
    <div class="ratingsContainer">
      <div class="header">
        <h3></h3>
        <i class="fas fa-times"></i>
      </div>
      <span>How would you rate this source in terms of content quality?</span>
      <div class="ratingsButtonContainer">
        <button class="{% if user_rating == 1 %}selectedRating{% endif %}">1</button>
        <button class="{% if user_rating == 2 %}selectedRating{% endif %}">2</button>
        <button class="{% if user_rating == 3 %}selectedRating{% endif %}">3</button>
        <button class="{% if user_rating == 4 %}selectedRating{% endif %}">4</button>
        <button class="{% if user_rating == 5 %}selectedRating{% endif %}">5</button>
        <button class="{% if user_rating == 6 %}selectedRating{% endif %}">6</button>
        <button class="{% if user_rating == 7 %}selectedRating{% endif %}">7</button>
        <button class="{% if user_rating == 8 %}selectedRating{% endif %}">8</button>
        <button class="{% if user_rating == 9 %}selectedRating{% endif %}">9</button>
        <button class="{% if user_rating == 10 %}selectedRating{% endif %}">10</button>
      </div>
      <div class="buttonsContainer">
        <button class="cancelButton finButtonWhite">Cancel</button>
        <button class="rateSourceButton finButtonBlue">Rate</button>
      </div>
    </div>
  </div>
</div>

<div class="pageWrapper">
  <div class="firstRow">
    <div class="sourcePicContainer smallScreenContainer">
      <img class="profilePicture" src="{% static source.favicon_path %}" alt="Source Picture" />
    </div>
    <h2 id="source#{{source.source_id}}">{{ source.name }}</h2>
    <div class="notificationAndSubscribtionContainer">
      {% if request.user.is_authenticated %}
      <button aria-label="Add Source To Lists" class="addSourceToListButton"><i class="fas fa-ellipsis-h"></i></button>
      {% if notification_id %}
      <i id="nid#{{notification_id}}" role="button" aria-label="Activated Notification"
        class="fas fa-bell-slash notificationButton notificationActivated"></i>
      {% else %}
      <i role="button" aria-label="Deactive Notification" class="fas fa-bell notificationButton"></i>
      {% endif %}
      {% if subscribed %}
      <button class="subscribeButton subscribed finButtonBlue">Subscribed</button>
      {% else %}
      <button class="subscribeButton unsubscribed finButtonWhite">Subscribe</button>
      {% endif %}
      {% else %}
      <button aria-label="Add Source To Lists" class="addSourceToListButton openAuthPrompt ap1"><i
          class="fas fa-ellipsis-h openAuthPrompt ap1 finButtonBlue"></i></button>
      <i role="button" aria-label="Deactivate Notifications"
        class="fas fa-bell notificationButton openAuthPrompt ap3"></i>
      <button class="subscribeButton unsubscribed openAuthPrompt ap2 finButtonWhite">Subscribe</button>
      {% endif %}
    </div>
  </div>
  <div class="secondRow">
    <div class="leftSideContainer">
      <div class="sourcePicContainer">
        <img class="profilePicture" src="{% static source.favicon_path %}" alt="Source Picture" />
      </div>
      <h3>Tags</h3>
      {% if source.tags %}
      <div class="tagsContainer">
        {% for tag in source.tags.all %}
        <div class="tag">{{ tag.name }}</div>
        {% endfor %}
      </div>
      {% endif %}
      <h3>Similiar Sources</h3>
      <div class="similiarSourcesContainer">
        {% for sim_source in similiar_sources %}
        <div class="simSourceContainer">
          <div class="imageContainer">
            <img class="profilePicture" src="{% static sim_source.favicon_path %}" alt="Source Picture" />
          </div>
          <div class="simSourceInfoContainer">
            <span class="sourceName">{{ sim_source.name }}</span>
            <div class="innerRatingContainer">
              {{ sim_source.sector }} - {{ sim_source.content_type }} <i
                class="fas fa-star"></i>{{ sim_source.average_rating }}
            </div>
          </div>
          <i class="fa-solid fa-chevron-right"></i>
          <a href="{{ sim_source.get_absolute_url }}" aria-label="Open Profile Of {{ sim_source.name }}"></a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="rightSideContainer">
      <div class="tabsContainer" id="content" role="navigation" aria-label="Stock Content Navigation">
        <button class="activatedTab" data-for-tab="0">Summary</button>
        <button data-for-tab="1">Ratings</button>
      </div>
      <h3 class="summaryHeader">Summary</h3>
      <div class="infoWrapper tabsContent tabsContentActive">
        <div class="infoContainer sectorInfoContainer">
          <span>Sector</span>
          <a href="{{ source.sector.get_absolute_url }}"
            aria-label="Open Sector - {{ source.sector.name }}">{{ source.sector.name }}</a>
        </div>
        <div class="infoContainer">
          <span>Content Type</span>
          <span>{{ source.content_type }}</span>
        </div>
        <div class="infoContainer websiteInfoContainer">
          <span>Website</span>
          <a href="{{ source.url }}" target="_blank"
            aria-label="Open External Profile Of {{ source.name }}">{{ source.website }} <i
              class="fa-solid fa-arrow-up-right-from-square"></i></a>
        </div>
        <div class="infoContainer">
          <span>Paywall</span>
          <span>{{ source.paywall }}</span>
        </div>
      </div>
      <h3 class="ratingHeader">Ratings</h3>
      <div class="ratingContainer tabsContent">
        <div class="infoContainer">
          <span>Average Rating</span>
          <span><i class="fas fa-star"></i>{{ source.average_rating }}</span>
        </div>
        <div class="infoContainer">
          <span>Ratings</span>
          <span>{{ source.ammount_of_ratings }}</span>
        </div>
        <div class="infoContainer">
          <span>Your Rating</span>
          {% if request.user.is_authenticated %}
          {% if user_rating %}
          <span class="rateSpan"><i class="fas fa-star"></i>{{ user_rating }}</span>
          {% else %}
          <span class="notRated rateSpan"><i class="fas fa-star"></i>Rate</span>
          {% endif %}
          {% else %}
          <span class="notRated rateSpan openAuthPrompt ap7"><i class="fas fa-star"></i>Rate</span>
          {% endif %}
        </div>
        <div class="infoContainer">
          <span>Ranking</span>
          <span>{{ source_ranking }}</span>
        </div>
      </div>

      {% if latest_content %}
      <h3>Content</h3>
      <div class="contentColumnWrapper">
        <div class="contentColumnContainer">
          {% create_content_container latest_content request highlighted_content_ids "latest_content" %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script src="{% static 'source/min_source_profile_script_v10.js' %}"></script>
{% endblock content %}