.companyNameAndNotificationHeader {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 2rem;
}

.companyNameAndNotificationHeader .fa-bell,
.companyNameAndNotificationHeader .notificationActivated,
.companyNameAndNotificationHeader .fa-ellipsis-h {
    border-radius: 50%;
    color: var(--primary-fontColor);
    background: white;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2.5rem;
    padding: unset;
    border: 0.2rem solid var(--border-fontColor);
}

.companyNameAndNotificationHeader .fa-bell:hover,
.companyNameAndNotificationHeader .notificationActivated,
.companyNameAndNotificationHeader .fa-ellipsis-h:hover {
    color: white;
    background: var(--primary-fontColor);
    border: 0.2rem solid var(--primary-fontColor);
}

.companyNameAndNotificationHeader .notificationActivated:hover {
    color: var(--primary-fontColor);
    background: white;
    border: 0.2rem solid var(--border-fontColor);
}

.stockActionContainer {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.stockActionContainer .addStockToListButton {
    background: transparent;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--primary-fontColor);
    margin-right: 2.5rem;
}

.stockHeader {
    max-width: 75%;
    display: flex;
}

.stockHeader h2 {
    color: var(--secondary-fontColor);
    font-family: var(--site-Font);
}

.stockHeader .seperator {
    padding: 0 0.75rem;
}

.sliderHeader {
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
    padding: 0.75rem 0;
    font-size: 2rem;
    color: white;
    border: 0.3rem solid white;
    width: 100%;
    background: var(--primary-fontColor);
    box-shadow: var(--box-shadowScheme);
}

.sliderWrapper {
    margin-top: 0;
}

.contentColumnWrapper .contentColumnContainer {
    width: 100%;
}

.noContentFound {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.companyNameAndNotificationHeader .addToListForm {
    position: absolute;
    top: 7rem;
    right: 0;
}

.companyNameAndNotificationHeader .addToListForm .listContainer {
    display: flex;
}

.companyNameAndNotificationHeader .addToListForm .saveButton {
    margin: 1rem 5%;
    width: 90%;
    color: white !important;
    background: var(--primary-fontColor) !important;
}

.stockMenuWrapper {
    display: none;
    z-index: 1002;
    position: absolute;
    max-width: 1250px;
    width: 100%;
    height: 100%;
}

.stockMenuWrapper .menuContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 95%;
    max-height: 95%;
    overflow-y: auto;
    box-shadow: var(--box-shadowHoverSchme);
}

.stockMenuWrapper .addStockContainer {
    display: none;
    background: white;
    box-shadow: var(--box-shadowScheme);
    font-size: 2rem;
    border-radius: 0.45rem;
    padding: 2rem;
}

.stockMenuWrapper .addStockContainer .formHeaderContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 0.2rem solid var(--border-fontColor);
    padding: 0 0 1rem 1rem;
}

.stockMenuWrapper .addStockContainer .formHeaderContainer h2 {
    font-size: 2rem;
    max-width: 90%;
    text-align: justify;
}

.stockMenuWrapper .addStockContainer .formHeaderContainer h2 span {
    color: var(--primary-fontColor);
}

.stockMenuWrapper .addStockContainer .formHeaderContainer .fa-times {
    position: absolute;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: grey;
}

.stockMenuWrapper .addStockContainer .formHeaderContainer .fa-times:hover {
    background: var(--hover-secondaryColor);
}

.stockMenuWrapper .addStockContainer .descContainer {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid gray;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 0 1rem 1rem;
}

.stockMenuWrapper .addStockContainer .portfolioSelectionContainer {
    max-height: 18rem;
    overflow-y: auto;
}

.stockMenuWrapper .addStockContainer .portfolioContainer {
    border-bottom: 0.2rem solid var(--border-fontColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem 0 1rem 1rem;
}

.stockMenuWrapper .addStockContainer .portfolioContainer:hover {
    color: white;
    background: var(--primary-fontColor);
}

.stockMenuWrapper .addStockContainer .portfolioSelectionContainer label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    user-select: none;
    font-size: 2rem;
}

.stockMenuWrapper .addStockContainer .portfolioSelectionContainer input {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 1.5rem;
    cursor: pointer;
    pointer-events: none;
}

.stockMenuWrapper .addStockContainer .buttonsContainer {
    margin: 2rem auto 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}

.stockMenuWrapper .addStockContainer button {
    font-size: 1.8rem;
    padding: 1rem 4rem;
}

.stockMenuWrapper .addStockContainer button:last-of-type {
    margin-left: 2rem;
}

@media (max-width: 550px) {
    .companyNameAndNotificationHeader {
        padding: 0 2rem;
    }
    .stockHeader {
        flex-direction: column;
    }
    .stockHeader .seperator {
        display: none;
    }
    .stockHeader h2:last-of-type {
        font-size: 2.5rem;
    }
    .stockActionContainer {
        position: absolute;
        right: 2rem;
        top: 0;
    }
    .stockActionContainer .addStockToListButton {
        margin-right: 1.5rem;
    }
}
