.mainHeader{
    font-size: 50px;
    text-align: center;
    margin: 20px auto;
    line-height: 1.5;
}

.mainHeader span{
    color: var(--primary-fontColor);
}

.faqSearchBar{
    display: flex;
    width: 400px;
    margin: 0px auto;
    box-shadow: var(--box-shadowScheme);
}

.faqSearchBar input{
    padding: 15px 20px;
    outline: none;
    font-size: 20px;
    width: 80%;
}

.faqSearchBar button{
    background: var(--primary-fontColor);
    cursor: pointer;
    color: white;
    width: 20%;
    display: flex;
    justify-content: center;
    border: none;
}

.faqSearchBar button:hover{
    background: rgb(10, 71, 163);
}

.faqSearchBar button:active{
    transform: translateY(1px);
}

.faqSearchBar .fa-search{
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 0;
}

.questionBar{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.questionBarTabActive, .questionBarTab:hover{
    background-color: var(--primary-fontColor);
    border-radius: 40px;
    color: white;
}

.questionBarTab{
    padding: 15px 20px;
    font-size: 20px;
    cursor: pointer;
}

.reportContent{
    width: 33%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: var(--box-shadowScheme);
    margin: 0 auto;
    background: white;
}

.collapsibleCategory{
    font-size: 15px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCC;
}

.reportContent div:nth-last-child(2){
    border: none;
}

.collapsibleCategory:hover{
    background: rgb(226, 224, 224);
}

.collapsibleText{
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
  } 

.tabsContent{
    display: none;
}

.tabsContentActive{
    display: block;
    margin-bottom: 20px;
}
