.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 20px auto;
  background: white;
  box-shadow: var(--box-shadowScheme);
  border-radius: 8px;
}

.formContainer h3 {
  display: flex;
  align-items: center;
  background: var(--primary-fontColor);
  color: white;
  padding: 7.5px 40px;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 8px 8px 0 0;
  width: 100%;
  justify-content: center;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 40px;
}

.formContainer input,
.formContainer textarea,
.formContainer select {
  width: 100%;
  padding: 10px 20px;
  margin: 0 0 15px;
  font-family: serif;
  font-size: 18px;
  font-weight: 600;
}

.formContainer label {
  font-size: 20px;
  margin-bottom: 5px;
}

.formContainer .formSubmitButton {
  width: 100%;
  font-size: 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  background: var(--primary-fontColor);
  border: 1px solid;
  padding: 10px 40px;
  font-family: "Lato";
  margin: 5px 0;
}

.formContainer .formSubmitButton:hover {
  transform: scale(1.05, 1.05);
}
