.filterBar {
  display: flex;
  margin: 20px 0 10px;
  border: 3px solid var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}

.selectContainer {
  border-right: 3px solid var(--primary-fontColor);
  width: 15%;
}

.selectContainer:last-of-type {
  border-right: unset;
}

.searchSelectContainer {
  width: 25%;
  position: relative;
}

.selectContainer label {
  padding: 3px 10px;
  position: absolute;
  color: var(--primary-fontColor);
}

.selectContainer select {
  width: 100%;
  height: 100%;
  border-radius: unset;
  outline: unset;
  padding: 20px 0px 5px 10px;
  cursor: pointer;
  font-size: 17px;
  border: 0;
  border-right: 12px solid white;
  background: white;
  letter-spacing: 1.1px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.selectContainer select::-ms-expand {
  display: none;
}

.filterBar .searchContainer {
  height: 100%;
}

.filterBar input {
  font-size: 17px;
  border: 0;
  padding: 10px 40px 10px 15px;
  letter-spacing: 1.1px;
  width: 100%;
  height: 100%;
}

#autocomplete_list_results {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  background: white;
  box-shadow: var(--box-shadowScheme);
  z-index: 10;
}

#autocomplete_list_results .searchResult span {
  max-width: 89%;
}

.filterBar input:focus {
  outline: 1px solid var(--primary-fontColor);
}

.filterBar .searchButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: var(--primary-fontColor);
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
  font-size: 17px;
  letter-spacing: 1.1px;
  height: 100%;
  width: 100%;
}

.filterBar .searchButton:hover {
  background: rgba(0, 85, 212, 0.8);
}

.searchResultsWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.searchResultsWrapper h3 {
  font-size: 25px;
}

.searchResultsWrapper .searchResultsContainer div {
  font-size: 14px;
}

.searchResultsWrapper .searchResultsContainer div span {
  color: var(--primary-fontColor);
}

.categoryHeader {
  margin: 10px 0 5px;
}
