* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: rgb(238, 238, 238);
  --primary-fontColor: rgb(0, 85, 212);
  --secondary-fontColor: rgb(34, 45, 59);
  --box-shadowScheme: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --neonGreen: rgb(57, 255, 20);
  --neonRed: rgb(247, 33, 25);
  --standardBoxShadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.green {
  background: var(--neonGreen);
  box-shadow: var(--standardBoxShadow);
}

.red {
  background: var(--neonRed);
  box-shadow: var(--standardBoxShadow);
}

body {
  color: var(--secondary-fontColor);
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

header {
  display: flex;
  align-items: center;
  height: 85px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background: var(--primary-color);
  /* new */
  position: relative;
  z-index: 1000;
}

.headerContainer {
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  height: 85px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0 5px 5px -5px #333;
  background: var(--primary-color);
  border-bottom: 1px solid rgb(226, 230, 234);
}

.logoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 17.5%;
  max-width: 250px;
  border-right: 1px solid rgb(226, 230, 234);
  user-select: none;
}

.logoSpace {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSpace span {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  margin-top: 3px;
}

.logoSpace span:last-of-type {
  color: var(--primary-fontColor);
  margin-top: -25px;
}

.logoSpace a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.mainNavigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-left: 20px;
}

.mainNavigationLink {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  color: var(--secondary-fontColor);
  border-radius: 20px 30px;
  cursor: pointer;
}

.mainNavigationLink a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.mainNavigationLink:hover {
  background: var(--primary-fontColor);
}

.mainNavigationLink:hover span {
  color: var(--primary-color);
}

.mainSearchWrapper {
  position: relative;
  margin: 0 auto;
}

.mainSearchContainer,
.searchContainer {
  display: flex;
  align-items: center;
  height: 42px;
}

.mainInputSearch {
  font-size: 14px;
  height: 100%;
  padding: 15px 120px 15px 15px;
  border: 1px solid rgb(226, 230, 234);
  border-radius: 12px;
}

.mainSearchContainer i,
.searchContainer i {
  font-size: 16px;
  color: var(--primary-fontColor);
  position: absolute;
  cursor: pointer;
  right: 16px;
}

#mainAutocomplete_result {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  background: white;
  box-shadow: var(--box-shadowScheme);
  z-index: 10;
}

.searchResultHeader {
  background: var(--primary-fontColor);
  color: white;
  text-align: center;
  padding: 5px;
}

.searchResult {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(226, 230, 234);
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchResult img {
  width: 25px;
  height: 25px;
}

.searchResult span {
  margin-left: 5px;
}

.searchResult a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.searchResult:hover {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
}

.userSpace {
  display: flex;
  height: 100%;
}

.fa-cog,
.fa-bell {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: 0 25px;
  color: #4c4a4a;
  border-left: 1px solid rgb(226, 230, 234);
}

.userSpace i a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.profileWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 255px;
  border-left: 1px solid rgb(226, 230, 234);
}

.userProfile {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}

.userProfile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.userInformation {
  padding: 0 8px;
}

.userName {
  max-width: 165px;
  overflow: hidden;
}

.accountType {
  text-align: center;
  font-size: 14px;
  color: rgb(0, 128, 0);
}

.fa-sort-down {
  cursor: pointer;
  font-size: 20px;
  color: #4c4a4a;
  padding-bottom: 5px;
}

.profileMenu {
  display: none;
  position: absolute;
  top: 85px;
  background: white;
  box-shadow: var(--box-shadowScheme);
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.profileMenu a {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.profileMenu div {
  font-size: 16px;
  color: var(--secondary-fontColor);
  padding: 10px;
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.profileMenu div i {
  color: var(--primary-fontColor);
  padding-right: 10px;
}

.profileMenu div:hover,
.profileMenu div:hover * {
  background: var(--primary-fontColor);
  color: white;
  border-radius: 0 0 20px 20px;
}

main {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 1600px;
  margin: 0px auto 10px;
  min-height: calc(100vh - 95px);
}

.messages {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: cssAnimation 0s ease-in 4s forwards;
  -webkit-animation: cssAnimation 0s ease-in 4s forwards;
  -o-animation: cssAnimation 0s ease-in 4s forwards;
  animation: cssAnimation 0s ease-in 4s forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 10;
  margin-left: 8.75%;
}

.messages li {
  color: white;
  font-size: 18px;
  border-radius: 20px;
  padding: 10px 20px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  letter-spacing: 1.2px;
}

.messages .success {
  background: green;
}

.messages .error {
  background: red;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}

.browserCategory,
.articlesHeader {
  /* position: relative;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border: 3px solid;
  border-radius: 40px;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme); */
  position: relative;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 8px 8px 0 0;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 105px;
  padding: 0 20px;
}

.sourceContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 150px;
  background: white;
  border-radius: 10px;
  box-shadow: var(--box-shadowScheme);
  margin: 10px;
}

.sourceContainer:hover {
  transform: scale(1.1, 1.1);
}

.iconContainer {
  position: relative;
  width: 150px;
  height: 150px;
}

.sourcePic {
  width: 100%;
  height: 100%;
}

.iconContainer .fa-star {
  background: gold;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  font-size: 20px;
  padding: 5px;
}

.fullPaywall,
.semiPaywall {
  background: #d50707;
  position: absolute;
  left: 32px;
  font-size: 20px;
  padding: 5px;
  top: 0;
  color: white;
}

.semiPaywall {
  background: orange;
}

.onlyIcon {
  left: 0;
}

.sourceLink {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.sourceNameOuterContainer {
  background: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  white-space: nowrap;
  font-size: 19px;
}

.sourceNameInnerContainer {
  max-width: 90%;
  overflow: hidden;
}

.sourceDeleteOptionOn {
  position: absolute;
  left: 40px;
  top: 0;
  font-size: 15px;
  padding: 0px 5px;
  background: var(--neonRed);
  box-shadow: var(--standardBoxShadow);
  cursor: pointer;
  color: white;
}

.categoryDeleteOptionOn {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 30px;
  padding: 0px 5px;
  background: var(--neonRed);
  box-shadow: var(--standardBoxShadow);
  cursor: pointer;
}

h2 {
  color: var(--primary-fontColor);
  margin-top: 10px;
}

.articlesContainer {
  display: flex;
  flex-direction: column;
}

.article {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  background: white;
  border: 3px solid black;
  border-radius: 8px;
  margin: 7.5px 25px;
}

.article:hover {
  transform: scale(1.1, 1.1);
}

.article .articleInformationContainer,
.article .articleSectorAndDateContainer {
  font-size: 21px;
  padding-left: 5px;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
}

.article .articleSectorAndDateContainer a {
  color: var(--primary-fontColor);
  text-decoration: none;
  font-size: 14px !important;
  margin-right: 3px;
  z-index: 10;
}

.articleSectorAndDateContainer {
  display: flex;
  padding-left: unset !important;
}

.articleSectorAndDateContainer i {
  font-size: 10px;
  padding: 3px;
  margin-left: 3px;
  color: white;
  background: orange;
}

.articleSectorAndDateContainer .fa-star {
  background: gold;
}

.articleSectorAndDateContainer .articleFullPaywall {
  background: red;
}

.article .articleSectorAndDateContainer .articlePubDate {
  font-size: 14px !important;
}

.article .articleTitle {
  font-size: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article .articleLink {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.article img {
  width: 50px;
  height: 50px;
}

.article .listLink {
  position: absolute;
  height: 100%;
  width: 100%;
}

.explanation {
  letter-spacing: 1.1px;
  text-align: justify;
}

.rankingStar {
  font-size: 25px;
  background-color: inherit !important;
  border: 0 !important;
  color: gainsboro;
  cursor: pointer;
}

.checked {
  color: var(--primary-fontColor);
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.pagination button,
.pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 18px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.pagination button:hover,
.currentPagination,
.pagination a:hover,
.currentPagination {
  background: var(--primary-fontColor);
  color: var(--primary-color) !important;
}

footer {
  position: relative;
  background: var(--primary-color);
  color: var(--secondary-fontColor);
  z-index: 999;
  padding: 35px 50px 0;
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  border-top: 1px solid rgb(226, 230, 234);
  box-shadow: 0 -4px 5px -5px #333;
}

.footerContainer {
  display: flex;
  width: 100%;
  border-bottom: 2px solid rgb(226, 230, 234);
  max-width: 900px;
  margin: 0 auto;
}

.leftFooter {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.rightFooter {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyInformation,
.websiteInformation,
.supportInformation {
  display: flex;
  flex-direction: column;
  color: var(--secondary-fontColor);
  flex: 0 0 33%;
}

.companyInformation h2,
.websiteInformation h2,
.supportInformation h2 {
  font-size: 20px;
  color: var(--primary-fontColor);
  margin-bottom: 20px;
}

.companyInformation ul,
.websiteInformation ul,
.supportInformation ul {
  list-style: none;
}

.companyInformation li,
.websiteInformation li,
.supportInformation li {
  margin-bottom: 15px;
}

.companyInformation a,
.websiteInformation a,
.supportInformation a {
  color: var(--secondary-fontColor);
  text-decoration: none;
}

.rightFooter img {
  height: 50px;
  width: 80px;
  margin: 0 auto;
}

.rightFooter p {
  margin: 10px auto;
}

.emailInputContainer {
  display: flex;
  font-size: 16px;
  width: 100%;
}

.emailInputContainer input {
  padding: 5px 10px;
  outline: none;
  width: 70%;
}

.emailInputContainer div:last-child {
  padding: 10px 15px;
  background: var(--primary-fontColor);
  cursor: pointer;
  color: white;
  width: 30%;
  display: flex;
  justify-content: center;
}

.lowerFooter {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  font-size: 13px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.lowerFooter ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 80%;
  max-width: 410px;
}

.lowerFooter ul a {
  text-decoration: none;
  color: var(--secondary-fontColor);
}

.carousel-container {
  position: relative;
}
/* .carousel-container .title {
  color: #fff;
  padding: 0 36px;
}
.carousel-container .title h3 {
  margin: 0;
} */
.carousel-container .carousel-list {
  overflow-x: auto;
  /* padding: 0 36px; */
  padding: 0 10px;
}
.carousel-container .carousel-list::-webkit-scrollbar {
  display: none;
}
.carousel-container .carousel-list .slider-content {
  padding: 0 28px;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.carousel-container .carousel-list .slider-content li {
  list-style-type: none;
  flex: 0 0 auto;
  /* width: calc(33.333% - 8px); */
  width: calc(20% - 8px);
  margin: 0 4px;
  cursor: pointer;
}
/* .carousel-container .carousel-list .slider-content li div {
  width: 100%;
} */
.carousel-container .carousel-list .slider-content li div img {
  border-radius: 8px;
  width: 100%;
}
.carousel-container .carousel-list .slider-content li:nth-of-type(3),
.carousel-container .carousel-list .slider-content li:nth-of-type(7) {
  position: relative;
}
.carousel-container .carousel-list .slider-content.next-animation {
  transition: transform 0.7s ease;
  pointer-events: none;
}
.carousel-container .prev,
.carousel-container .next {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  background: transparent;
}
.carousel-container .prev:hover,
.carousel-container .next:hover {
  background: rgba(0, 0, 0, 0.5);
}
.carousel-container .prev i,
.carousel-container .next i {
  color: #fff;
  padding: 12px;
  display: none;
}
.carousel-container .next {
  right: 0;
}
.carousel-container:hover .prev i,
.carousel-container:hover .next i {
  display: block;
  font-size: 24px;
}

.categoryWrapper {
  background: rgb(255, 255, 255, 0.4);
  margin-top: 20px;
  border-radius: 8px;
  color: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}

.categoryNameDiv {
  font-size: 25px;
  background: var(--primary-fontColor);
  color: white;
  border-radius: 8px 8px 0 0;
  padding: 10px 40px;
  text-align: center;
  box-shadow: var(--box-shadowScheme);
}
