@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"),
    url("../home/fonts/lato-v23-latin/lato-v23-latin-900.woff2") format("woff2"),
    url("../home/fonts/lato-v23-latin/lato-v23-latin-900.woff") format("woff");
}

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../home/fonts/pacifico-v22-latin/pacifico-v22-latin-regular.woff2")
      format("woff2"),
    url("../home/fonts/pacifico-v22-latin/pacifico-v22-latin-regular.woff")
      format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: rgb(238, 238, 238);
  --primary-fontColor: rgb(0, 85, 212);
  --secondary-fontColor: rgb(34, 45, 59);
  --box-shadowScheme: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 55%;
}

body {
  color: var(--secondary-fontColor);
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

header {
  position: relative;
  height: 8.5rem;
  width: 100%;
}

.outerHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  height: 8.5rem;
  width: 100%;
  background: var(--primary-color);
  box-shadow: 0 5px 5px -5px #333;
  border-bottom: 0.1rem solid rgb(226, 230, 234);
  margin: 0 auto;
}

.headerContainer {
  display: flex;
  align-items: center;
  height: 8.5rem;
  width: 100%;
  max-width: 160rem;
  margin: 0 auto;
  background: var(--primary-color);
}

.logoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 17.5%;
  max-width: 25rem;
  border-right: 0.1rem solid rgb(226, 230, 234);
  user-select: none;
}

.logoSpace {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSpace span {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  margin-top: 0.3rem;
}

.logoSpace span:last-of-type {
  color: var(--primary-fontColor);
  margin-top: -2.5rem;
}

.logoSpace a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.mainNavigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-left: 2rem;
}

.mainNavigationLink {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 2rem;
  color: var(--secondary-fontColor);
  border-radius: 2rem 3rem;
  cursor: pointer;
}

.mainNavigationLink a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 2rem 3rem;
}

.mainNavigationLink:hover,
.mainNavigationLink:hover span {
  background: var(--primary-fontColor);
  color: white;
}

.mainSearchWrapper {
  position: relative;
  margin: 0 auto;
}

.mainSearchContainer,
.searchContainer {
  display: flex;
  align-items: center;
  height: 4.2rem;
}

.mainInputSearch {
  font-size: 1.4rem;
  height: 100%;
  width: 40rem;
  padding: 1.5rem 3em 1.5rem 1.5rem;
  border: 0.1rem solid rgb(226, 230, 234);
  border-radius: 1.2rem;
}

.mainSearchContainer i,
.searchContainer i {
  font-size: 1.6rem;
  color: var(--primary-fontColor);
  position: absolute;
  cursor: pointer;
  right: 1.6rem;
}

#mainAutocomplete_result {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  background: white;
  box-shadow: var(--box-shadowScheme);
  z-index: 10;
  font-size: 1.6rem;
}

.searchResultHeader {
  background: var(--primary-fontColor);
  color: white;
  text-align: center;
  padding: 0.5rem;
  border: 0.3rem solid;
}

.searchResult {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 0.1rem solid rgb(226, 230, 234);
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchResult img {
  width: 2.5rem;
  height: 2.5rem;
}

.searchResult span {
  margin-left: 0.5rem;
  max-width: 40ch;
  overflow: hidden;
}

.searchResult a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.searchResult:hover {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
}

.userSpace {
  display: flex;
  height: 100%;
}

.fa-cog,
.fa-bell,
.fa-bars {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  padding: 0 2.5rem;
  color: #4c4a4a;
  border-left: 0.1rem solid rgb(226, 230, 234);
  cursor: pointer;
}

.userSpace i a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.userSpace i .unseenNotifications {
  position: absolute;
  font-size: 1.4rem;
  top: 2rem;
  right: 1.2rem;
  background: var(--primary-fontColor);
  color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 50%;
}

.userSpace .notificationContainer {
  display: none;
  position: absolute;
  width: 40rem;
  background: white;
  margin-top: 8.5rem;
  top: 0;
  right: 0;
  overflow-y: scroll;
  height: calc(100vh - 8.5rem);
  box-shadow: var(--box-shadowScheme);
  max-height: calc(100vh - 8.5rem);
}

.userSpace .notificationContainer .notificationHeadersContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.1rem solid;
  color: var((var(--primary-fontColor)));
  cursor: pointer;
  font-size: 1.6rem;
}

.userSpace .notificationContainer .activeNotificationCategory {
  color: white;
  background: var(--primary-fontColor);
  padding: 0.5rem 0;
}

.userSpace .notificationContainer .noNotificationsAvailable {
  text-align: center;
  padding: 0.5rem;
  font-size: 2rem;
}

.userSpace .notificationContainer .notificationHeadersContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.userSpace .notificationContainer .notificationMessageContainer {
  position: relative;
  display: flex;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  border-bottom: 0.1rem solid;
}

.userSpace .notificationContainer .unseenNotification {
  background: rgba(0, 85, 212, 0.1);
}

.userSpace .notificationContainer .notificationsContainer {
  display: none;
}

.userSpace .notificationContainer .activeNotificationContainer {
  display: block;
}

.userSpace .notificationContainer .notificationMessageContainer img {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 0.5rem;
}

.userSpace .notificationContainer .notificationMessageContainer span {
  text-align: justify;
}

.userSpace .notificationContainer .notificationMessageContainer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profileWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 25.5rem;
  border-left: 0.1rem solid rgb(226, 230, 234);
}

.userProfile {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.5rem;
}

.userProfile img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.userProfile .logoPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Times New Roman";
  font-weight: 900;
  text-transform: UPPERCASE;
  font-size: 3.5rem;
  width: 5rem;
  height: 5rem;
  color: white;
  background: var(--primary-fontColor);
  border-radius: 50%;
  padding: 0.25rem 1.5rem;
}

.userInformation {
  padding: 0 0.8rem;
}

.userName {
  font-size: 1.6rem;
  max-width: 16.5rem;
  overflow: hidden;
}

.accountType {
  text-align: center;
  font-size: 1.4rem;
  color: rgb(0, 128, 0);
}

.fa-sort-down {
  cursor: pointer;
  font-size: 2rem;
  color: #4c4a4a;
  padding-bottom: 0.5rem;
}

.profileMenu {
  display: none;
  position: absolute;
  top: 8.5rem;
  background: white;
  box-shadow: var(--box-shadowScheme);
  width: 100%;
  border-radius: 0 0 0.8rem 0.8rem;
}

.profileMenu form {
  display: flex;
  padding: 1rem;
}

.profileMenu button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1.7rem;
}

.profileMenu a {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.profileMenu div {
  font-size: 1.6rem;
  color: var(--secondary-fontColor);
  padding: 1rem;
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.profileMenu div i {
  color: var(--primary-fontColor);
  padding-right: 0.5rem;
}

.profileMenu div form button:hover,
.profileMenu div form button:hover i {
  background: var(--primary-fontColor);
  color: white !important;
  border-radius: 0 0 0.8rem 0.8rem;
}

.headerButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.headerButtonContainer a {
  padding: 0.8rem 1.6rem;
  font-size: 1.8rem;
  color: white;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  background: var(--primary-fontColor);
  border: 0.3rem solid;
  text-decoration: none;
  box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px 0px;
}

.headerButtonContainer a:first-child {
  color: var(--primary-fontColor);
  background: white;
}

.headerButtonContainer a:hover {
  transform: scale(1.1);
}

.headerContainer .fa-bars {
  display: none;
  align-items: center;
  height: 100%;
}

.horizontalNavigation {
  position: fixed;
  z-index: 999;
  width: 97.5%;
  max-height: 0;
  transition: max-height 1s;
  overflow: hidden;
  background: white;
  box-shadow: var(--box-shadowScheme);
  border-bottom: 0.1rem solid rgb(226, 230, 234);
}

.horizontalNavigation .mainNavigationLink {
  border-radius: unset;
}

.horizontalNavigation form {
  padding: 3.25rem;
}

.horizontalNavigation .mainNavigationLink button {
  position: absolute;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  color: unset;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 160rem;
  margin: 0 auto 1rem;
  min-height: calc(100vh - 9.5rem);
}

footer {
  position: relative;
  background: var(--primary-color);
  color: var(--secondary-fontColor);
  z-index: 999;
  padding: 2rem 5rem;
  width: 100%;
  margin: 0 auto;
  border-top: 0.1rem solid rgb(226, 230, 234);
  box-shadow: 0 -4px 5px -5px #333;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer ul li {
  margin-right: 2rem;
  font-size: 1.8rem;
}

footer ul a {
  text-decoration: none;
  color: var(--secondary-fontColor);
}

.messages {
  position: fixed;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  -moz-animation: cssAnimation 0s ease-in 4s forwards;
  -webkit-animation: cssAnimation 0s ease-in 4s forwards;
  -o-animation: cssAnimation 0s ease-in 4s forwards;
  animation: cssAnimation 0s ease-in 4s forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 10;
}

.messages li {
  color: white;
  font-size: 1.8rem;
  border-radius: 2rem;
  padding: 1rem 2rem;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  letter-spacing: 0.12rem;
}

.messages .success {
  background: green;
}

.messages .error {
  background: red;
}

.messages .remove {
  background: grey;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}

h2 {
  color: var(--primary-fontColor);
}

.notificationContainer .articleOptionsContainer,
.notificationContainer .addToListForm,
.notificationContainer .createListMenu {
  right: 0;
  z-index: 35;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.pagination button,
.pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  margin: 0.5rem;
  border-radius: 0.8rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-fontColor);
  background: white;
  border: 0.3rem solid;
  box-shadow: var(--box-shadowScheme);
}

.pagination button:hover,
.currentPagination,
.pagination a:hover,
.currentPagination {
  background: var(--primary-fontColor) !important;
  color: var(--primary-color) !important;
}

/* ####################################################*/
/* Slider - Start */
/* ####################################################*/

.sliderWrapper {
  --handle-size: 4.8rem;
  --img-gap: 0.8rem;
  margin-top: 2rem;
  box-shadow: var(--box-shadowScheme);
}

.sliderHeader {
  display: flex;
  align-items: center;
  background: var(--primary-fontColor);
  color: white;
  font-size: 2rem;
  border: 0.3rem solid white;
  border-radius: 0.8rem 0.8rem 0 0;
  position: relative;
  padding: 1.7rem 4rem;
}

.sliderHeader div:first-child {
  margin: 0 auto;
}

.sliderHeader .sliderHeaderTitle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.progressBar {
  display: flex;
  gap: 0.4rem;
  margin-left: auto;
}

.progressItem {
  flex: 0 0 2.4rem;
  min-width: 2.4rem;
  height: 0.8rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.progressItem.active {
  background-color: rgba(255, 255, 255, 0.9);
}

.sliderContentContainer {
  display: flex;
  overflow: hidden;
  border: 0.3rem solid white;
  border-top: none;
  background: rgba(0, 85, 212, 0.4);
}

.handle {
  border: none;
  border-radius: 1.6rem;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
  background: var(--primary-fontColor);
  opacity: 0.5;
}

.leftHandle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rightHandle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.handle:hover .text,
.handle:focus .text {
  transform: scale(1.2);
}

.handleSymbol {
  transition: transform 150ms ease-in-out;
}

.slider {
  --items-per-screen: 7;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 600ms ease-in-out;
  height: 215px;
}

.slider > .contentWrapper {
  flex: 0 0 calc(100% / var(--items-per-screen));
  /* max-width: 18rem; */
  /* max-height: 22rem;
  height: 22rem; */
}

.slider .contentWrapper:hover {
  transform: scale(1.05);
}

.contentContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 0.6rem;
  box-shadow: var(--box-shadowScheme);
}

.contentIconContainer {
  position: relative;
  width: 100%;
  height: calc(100% - 3.3rem);
  margin-bottom: 3.3rem;
}

.contentIcon {
  width: 100%;
  height: 100%;
}

.contentLink {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.contentNameContainer {
  position: absolute;
  bottom: 0;
  background: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  white-space: nowrap;
  font-size: 1.9rem;
}

.contentName {
  max-width: 90%;
  overflow: hidden;
}

.createListButton,
.addListsButton,
.addSourcesButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15rem;
  background: var(--primary-fontColor);
  color: white;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 0.6rem;
}

.categoryHeader {
  position: relative;
  text-align: center;
  margin: 2rem 0 1rem;
  padding: 0.75rem 0;
  font-size: 2rem;
  border-radius: 0.8rem;
  color: white;
  border: 0.3rem solid white;
  width: 100%;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}

/* ####################################################*/
/* Slider - End */
/* ####################################################*/

/* ####################################################*/
/* Articles - Start */
/* ####################################################*/

.articlesWrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  height: 40rem;
  overflow: hidden;
}

.articlesWrapper .articleContainer {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border: 0.3rem solid black;
  border-radius: 0.8rem;
  box-shadow: var(--box-shadowScheme);
  width: 49%;
  margin: 0.75rem 0;
  height: 6.5rem;
}

.articlesWrapper .articleContainer:hover {
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.authorImageContainer {
  position: relative;
}

.authorImageContainer,
.articleWebsiteLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.9rem;
  height: 100%;
}

.imageContainerUserLink {
  background: var(--primary-fontColor);
}

.authorImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
}

.authorImageContainer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.articleInformationContainer,
.articleSectorAndDateContainer {
  padding-left: 0.5rem;
  white-space: nowrap;
  max-width: calc(100% - 15rem);
}

.articleTitle {
  font-size: 1.9rem;
  overflow: hidden;
}

.articleTitle:hover .articleTitleTooltip {
  visibility: visible;
  opacity: 1;
}

.articleTitle .articleTitleTooltip {
  position: absolute;
  display: block;
  visibility: hidden;
  z-index: 1;
  color: white;
  padding: 0.2rem 0.4rem;
  font-size: 1.3rem;
  border: 0.2rem solid white;
  box-shadow: var(--box-shadowScheme);
  opacity: 0;
  transition: opacity 1s;
  background: rgba(0, 85, 212, 0.8);
}

.articleSectorAndDateContainer {
  display: flex;
  padding-left: unset;
  font-size: 1.4rem;
}

.articleSectorAndDateContainer a {
  color: var(--primary-fontColor);
  text-decoration: none;
  margin-right: 0.3rem;
}

.articlesWrapper .articleContainer .fa-ellipsis-h {
  position: absolute;
  top: 0.2rem;
  right: 6.5rem;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.articleWebsiteLogoContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.articleWebsiteLogo {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.articleContainer .fa-question-circle {
  font-size: 5rem;
  color: white;
}

.articleLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.articleOptionsContainer {
  display: none;
  flex-direction: column;
  position: absolute;
  /* right: -3.5rem; */
  right: 0;
  border: 0.3rem solid;
  border-radius: 0.8rem;
  background: white;
  top: 2.3rem;
  z-index: 2;
  cursor: pointer;
  font-size: 1.3rem;
}

.articleOptionsContainer .addToListButton {
  padding: 0.5rem 1rem;
  border-bottom: 0.3rem solid;
}

.articleOptionsContainer i {
  margin-right: 0.5rem;
  width: 1.3rem;
}

.articleOptionsContainer a {
  color: black;
  text-decoration: none;
}

.articleOptionsContainer div:hover,
.articleOptionsContainer a:hover {
  background: var(--primary-fontColor);
  color: white;
}

.articleOptionsContainer .addToHighlightedButton,
.deleteExternalLink {
  padding: 0.5rem 1rem;
}

/* Add to list form - start */

.addToListForm {
  display: none;
  background: white;
  width: 25rem;
  box-shadow: var(--box-shadowScheme);
  border-radius: 0.8rem;
  position: absolute;
  z-index: 75;
  top: -0.2rem;
  right: -0.3rem;
}

.addToListForm .listSelectionContainer {
  max-height: 12rem;
  overflow-y: scroll;
}

.addToListForm .listContainer {
  margin-left: 1rem;
  padding: 0.25rem 0;
}

.addToListForm label {
  font-size: 1.4rem;
  cursor: pointer;
}

.addToListForm input {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.addToListForm .buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 80%;
}

.addToListForm button {
  padding: 0.4rem 1.6rem;
  font-size: 1.5rem;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
  background: var(--primary-fontColor);
  border: 0.1rem solid var(--primary-fontColor);
  width: 47.5%;
}

.addToListForm button:last-child {
  color: var(--primary-fontColor);
  background: white;
}

.addToListForm button:hover {
  transform: scale(1.1);
}

/* Add to list form - end */

/* Create List Menu - Start */

.formContainer {
  position: relative;
  display: none;
  background: white;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  box-shadow: var(--box-shadowScheme);
  z-index: 50;
  min-width: 25rem;
}

.articleCreateListMenu {
  position: absolute;
  width: 25rem;
  /* height: 22rem; */
  top: -0.2rem;
  right: -0.3rem;
}

.formContainer .formHeaderContainer,
.addToListForm .formHeaderContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 3.2rem;
  width: 100%;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  background: var(--primary-fontColor);
  color: white;
}

.formContainer .formHeaderContainer .closeFormContainerButton,
.addToListForm .formHeaderContainer .closeFormContainerButton {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: red;
  padding: 0.6rem;
  cursor: pointer;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
}

.formContainer form label {
  margin: 0.75rem 0;
  font-size: 1.7rem;
}

.formContainer form input,
.formContainer form select {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.4rem 1rem;
  color: black;
  border: 0.2rem solid rgb(226, 230, 234);
  border-radius: 0.8rem;
}

.formContainer form #id_list_pic {
  border: none;
  padding-left: 0;
}

.formContainer form #id_is_public {
  width: 1.6rem;
  height: 1.6rem;
  margin-top: -2.5rem;
  margin-left: 16.4rem;
}

.formContainer .formSubmitButton {
  width: 100%;
  padding: 0.4rem 1.6rem;
  font-size: 1.7rem;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
  background: var(--primary-fontColor);
  border: 0.1rem solid var(--primary-fontColor);
  margin: 0.5rem 0;
}

.formContainer .formSubmitButton:hover {
  transform: scale(1.05, 1.05);
}

/* Create List Menu - End */

/* ####################################################*/
/* Articles - End */
/* ####################################################*/

/* ####################################################*/
/* TWITTER - Start */
/* ####################################################*/
.twitterWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.twitterWrapper .highlightedTweetsContainer,
.twitterWrapper .newestTweetsContainer,
.twitterWrapper .mostLikedTweetsContainer {
  width: 33%;
}

.twitterWrapper .twitterHalfPageContainer {
  width: 49%;
}

.twitterWrapper .categoryHeader {
  margin: 0;
  border-radius: 0.8rem 0.8rem 0 0;
}

.twitterWrapper .smallFormContentWrapper,
.twitterWrapper .twitterContainerPlaceholder {
  box-shadow: var(--box-shadowScheme);
  background: white;
}

.twitterWrapper .twitterContainerPlaceholder {
  position: relative;
  min-height: 100rem;
}

.twitterWrapper .twitterContainerPlaceholder div {
  position: absolute;
  top: 20rem;
  left: 0;
  right: 0;
  font-size: 2.5rem;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
  padding: 1.5rem;
  border-radius: 2rem;
  margin: 0 auto;
  max-width: 95%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 0.3rem solid;
}

.smallFormContentWrapper .articleContainer {
  position: relative;
  display: flex;
  padding: 1.5rem;
  box-shadow: 0 5px 5px -5px #333;
  border-bottom: 0.1rem solid rgb(226, 230, 234);
}

.smallFormContentWrapper .leftContentSide img {
  width: 6rem;
  height: 6rem;
  border-radius: 0.8rem;
}

.smallFormContentWrapper .rightContentSide {
  padding-left: 1rem;
  width: 100%;
}

.smallFormContentWrapper .contentInfoContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
}

.smallFormContentWrapper .sourceAndWebsiteContainer {
  display: flex;
}

.smallFormContentWrapper .sourceAndWebsiteContainer a {
  z-index: 30;
  text-decoration: none;
  color: unset;
}

.smallFormContentWrapper .sourceAndWebsiteContainer img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
}

.smallFormContentWrapper .fa-ellipsis-h {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0 0.5rem 0.5rem 0.5rem;
  z-index: 30;
}

.smallFormContentWrapper .contentBody {
  padding: 0.5rem 0;
  cursor: text;
}

.smallFormContentWrapper .contentBody p {
  font-size: 1.9rem;
  text-align: justify;
  font-family: serif;
  font-weight: 400;
}

.smallFormContentWrapper .timeContainer {
  color: gray;
  font-size: 1.4rem;
}

.smallFormContentWrapper .contentLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Twitter- Blur - Start */

.blurContainer {
  position: relative;
}

.blurContainer .blur {
  filter: blur(5px);
}

.blurContainer .blur img {
  width: 100%;
  height: 100%;
}

.blurContainer .blurOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blurContainer .comingSoon {
  position: absolute;
  top: 20rem;
  left: 0;
  right: 0;
  font-size: 2.5rem;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
  padding: 1.5rem;
  border-radius: 2rem;
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 0.3rem solid;
}

/* Twitter- Blur - End */

/* ####################################################*/
/* TWITTER - END */
/* ####################################################*/

/* ####################################################*/
/* Small Source Container - Start */
/* ####################################################*/
.sourceContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 15rem;
  background: white;
  border-radius: 1rem;
  box-shadow: var(--box-shadowScheme);
  margin: 1rem;
}

.sourceContainer:hover {
  transform: scale(1.1);
}

.iconContainer {
  position: relative;
  width: 15rem;
  height: 15rem;
}

.sourcePic {
  width: 100%;
  height: 100%;
}

.sourceLink {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.sourceNameOuterContainer {
  background: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  white-space: nowrap;
  font-size: 1.9rem;
}

.sourceNameInnerContainer {
  max-width: 90%;
  overflow: hidden;
}

/* ####################################################*/
/* Small Source Container - End */
/* ####################################################*/

/* ####################################################*/
/* Media Queries - Start */
/* ####################################################*/

@media (max-width: 1500px) {
  main {
    width: 87.5%;
  }

  .mainInputSearch {
    width: 30rem;
  }

  .slider {
    --items-per-screen: 6;
    /* height: 225px; */
  }
}

@media (max-width: 1250px) {
  main {
    width: 90%;
  }

  .logoContainer {
    max-width: 22rem;
  }

  .mainNavigation {
    margin-left: 0;
  }

  .slider {
    --items-per-screen: 5;
  }

  .sliderHeader .progressBar {
    display: none;
  }
}

@media (max-width: 1125px) {
  .mainNavigation {
    display: none;
  }

  .userSpace {
    display: none;
  }

  .mainInputSearch {
    min-width: 50vw;
    max-width: 60vw;
  }

  .headerContainer .fa-bars {
    display: flex;
  }

  .horizontalNavigation .mainNavigationLink {
    justify-content: center;
    border-bottom: 0.1rem solid rgb(226, 230, 234);
  }

  .slider {
    height: 205px;
  }
}

@media (max-width: 1000px) {
  main {
    width: 92.5%;
  }

  .slider {
    --items-per-screen: 4;
    height: 230px;
  }

  .articlesWrapper {
    height: unset;
  }

  .articlesWrapper .articleContainer {
    width: 100%;
  }

  .twitterWrapper {
    flex-direction: column;
  }

  .twitterWrapper .highlightedTweetsContainer,
  .twitterWrapper .newestTweetsContainer,
  .twitterWrapper .mostLikedTweetsContainer,
  .twitterWrapper .twitterHalfPageContainer {
    width: 100%;
  }
}

@media (max-width: 875px) {
  .slider {
    height: 195px;
  }
}

@media (max-width: 750px) {
  main {
    width: 95%;
  }

  .slider {
    height: 175px;
  }
}

@media (max-width: 625px) {
  footer ul {
    flex-direction: column;
    align-items: center;
  }

  footer ul li {
    margin-bottom: 1rem;
  }

  footer ul li:last-child {
    margin-bottom: unset;
  }

  .slider {
    height: 150px;
  }
}

@media (max-width: 550px) {
  .slider {
    height: 140px;
  }
}

@media (max-width: 500px) {
  main {
    width: 97.5%;
  }

  .outerHeaderContainer {
    max-width: 100vw;
  }

  .slider {
    --items-per-screen: 3;
    height: 150px;
  }

  .contentIconContainer {
    height: calc(100% - 2.3rem);
    margin-bottom: 2.3rem;
  }

  .contentNameContainer {
    font-size: 1.5rem;
    padding: 0.25rem 0;
  }

  .smartphoneCreateListMenu {
    position: fixed;
    width: 97.5%;
  }

  .smartphoneCreateListMenu .formHeaderContainer {
    font-size: 2.2rem;
    padding: 2rem 0;
  }

  .smartphoneCreateListMenu .formHeaderContainer .closeFormContainerButton {
    padding: 0.9rem;
  }

  .smartphoneCreateListMenu form label {
    margin: 1rem 0 0.5rem;
    font-size: 2rem;
  }

  .smartphoneCreateListMenu form input,
  .smartphoneCreateListMenu form select {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
  }

  .smartphoneCreateListMenu form #id_is_public {
    width: 2rem;
    height: 2rem;
    margin-top: -2.6rem;
    margin-left: 19rem;
  }

  .smartphoneCreateListMenu .formSubmitButton {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .addToListForm label {
    font-size: 1.8rem;
  }

  .addToListForm input {
    width: 1.8rem;
    height: 1.8rem;
  }

  .messages {
    white-space: unset;
    width: 90%;
  }
}

@media (max-width: 450px) {
  .slider {
    height: 140px;
  }
}

@media (max-width: 400px) {
  .slider {
    height: 120px;
  }
}

@media (max-width: 350px) {
  .slider {
    height: 110px;
  }
}

/* ####################################################*/
/* Media Queries - End */
/* ####################################################*/
