@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("../home/fonts/lato-v23-latin/lato-v23-latin-900.woff2") format("woff2"),
    url("../home/fonts/lato-v23-latin/lato-v23-latin-900.woff") format("woff");
}

@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../home/fonts/pacifico-v22-latin/pacifico-v22-latin-regular.woff2")
      format("woff2"),
    url("../home/fonts/pacifico-v22-latin/pacifico-v22-latin-regular.woff")
      format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: rgb(238, 238, 238);
  --primary-fontColor: rgb(0, 85, 212);
  --secondary-fontColor: rgb(34, 45, 59);
  --box-shadowScheme: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --neonGreen: rgb(57, 255, 20);
  --neonRed: rgb(247, 33, 25);
  --standardBoxShadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.green {
  background: var(--neonGreen);
  box-shadow: var(--standardBoxShadow);
}

.red {
  background: var(--neonRed);
  box-shadow: var(--standardBoxShadow);
}

body {
  color: var(--secondary-fontColor);
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

header {
  position: relative;
  height: 85px;
  width: 100%;
}

.outerHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  height: 85px;
  width: 100%;
  background: var(--primary-color);
  box-shadow: 0 5px 5px -5px #333;
  border-bottom: 1px solid rgb(226, 230, 234);
  margin: 0 auto;
}

.headerContainer {
  display: flex;
  align-items: center;
  height: 85px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  background: var(--primary-color);
}

.logoContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 17.5%;
  max-width: 250px;
  border-right: 1px solid rgb(226, 230, 234);
  user-select: none;
}

.logoSpace {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoSpace span {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  margin-top: 3px;
}

.logoSpace span:last-of-type {
  color: var(--primary-fontColor);
  margin-top: -25px;
}

.logoSpace a {
  position: absolute;
  height: 100%;
  width: 100%;
}

.mainNavigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-left: 20px;
}

.mainNavigationLink {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  color: var(--secondary-fontColor);
  border-radius: 20px 30px;
  cursor: pointer;
}

.mainNavigationLink a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px 30px;
}

.mainNavigationLink:hover {
  background: var(--primary-fontColor);
}

.mainNavigationLink:hover span {
  color: var(--primary-color);
}

.mainSearchWrapper {
  position: relative;
  margin: 0 auto;
}

.mainSearchContainer,
.searchContainer {
  display: flex;
  align-items: center;
  height: 42px;
}

.mainInputSearch {
  font-size: 14px;
  height: 100%;
  padding: 15px 120px 15px 15px;
  border: 1px solid rgb(226, 230, 234);
  border-radius: 12px;
}

.mainSearchContainer i,
.searchContainer i {
  font-size: 16px;
  color: var(--primary-fontColor);
  position: absolute;
  cursor: pointer;
  right: 16px;
}

#mainAutocomplete_result {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  background: white;
  box-shadow: var(--box-shadowScheme);
  z-index: 10;
}

.searchResultHeader {
  background: var(--primary-fontColor);
  color: white;
  text-align: center;
  padding: 5px;
}

.searchResult {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(226, 230, 234);
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchResult img {
  width: 25px;
  height: 25px;
}

.searchResult span {
  margin-left: 5px;
  max-width: 28ch;
  overflow: hidden;
}

.searchResult a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.searchResult:hover {
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 100%);
}

.userSpace {
  display: flex;
  height: 100%;
}

.fa-cog,
.fa-bell {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 25px;
  padding: 0 25px;
  color: #4c4a4a;
  border-left: 1px solid rgb(226, 230, 234);
  cursor: pointer;
}

.userSpace i a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.userSpace i .unseenNotifications {
  position: absolute;
  font-size: 14px;
  top: 20px;
  right: 12px;
  background: var(--primary-fontColor);
  color: white;
  padding: 3px 6px;
  border-radius: 50%;
}

.userSpace .notificationContainer {
  display: none;
  position: absolute;
  width: 400px;
  background: white;
  margin-top: 85px;
  top: 0;
  right: 0;
  overflow-y: scroll;
  height: calc(100vh - 85px);
  box-shadow: var(--box-shadowScheme);
  max-height: calc(100vh - 85px);
}

.userSpace .notificationContainer .notificationHeadersContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid;
  color: var((var(--primary-fontColor)));
  cursor: pointer;
}

.userSpace .notificationContainer .activeNotificationCategory {
  color: white;
  background: var(--primary-fontColor);
  padding: 5px 0px;
}

.userSpace .notificationContainer .noNotificationsAvailable {
  text-align: center;
  padding: 5px;
}

.userSpace .notificationContainer .notificationHeadersContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.userSpace .notificationContainer .notificationMessageContainer {
  position: relative;
  display: flex;
  padding: 5px 10px 5px 5px;
  border-bottom: 1px solid;
}

.userSpace .notificationContainer .unseenNotification {
  background: rgba(0, 85, 212, 0.1);
}

.userSpace .notificationContainer .notificationsContainer {
  display: none;
}

.userSpace .notificationContainer .activeNotificationContainer {
  display: block;
}

.userSpace .notificationContainer .notificationMessageContainer img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.userSpace .notificationContainer .notificationMessageContainer span {
  text-align: justify;
}

.userSpace .notificationContainer .notificationMessageContainer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profileWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 255px;
  border-left: 1px solid rgb(226, 230, 234);
}

.userProfile {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}

.userProfile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.userInformation {
  padding: 0 8px;
}

.userName {
  max-width: 165px;
  overflow: hidden;
}

.accountType {
  text-align: center;
  font-size: 14px;
  color: rgb(0, 128, 0);
}

.fa-sort-down {
  cursor: pointer;
  font-size: 20px;
  color: #4c4a4a;
  padding-bottom: 5px;
}

.profileMenu {
  display: none;
  position: absolute;
  top: 85px;
  background: white;
  box-shadow: var(--box-shadowScheme);
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.profileMenu form {
  display: flex;
  padding: 10px;
}

.profileMenu button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 17px;
}

.profileMenu a {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.profileMenu div {
  font-size: 16px;
  color: var(--secondary-fontColor);
  padding: 10px;
  display: flex;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.profileMenu div i {
  color: var(--primary-fontColor);
  padding-right: 5px;
}

.profileMenu div form button:hover,
.profileMenu div form button:hover i {
  background: var(--primary-fontColor);
  color: white !important;
  border-radius: 0 0 20px 20px;
}

.headerButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.headerButtonContainer a {
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: var(--primary-fontColor);
  border: 3px solid var(--primary-fontColor);
  text-decoration: none;
}

.headerButtonContainer a:first-child {
  color: var(--primary-fontColor);
  background: white;
}

.headerButtonContainer a:hover {
  transform: scale(1.1, 1.1);
}

main {
  display: flex;
  flex-direction: column;
  width: 85%;
  max-width: 1600px;
  margin: 0px auto 10px;
  min-height: calc(100vh - 95px);
}

.messages {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  -moz-animation: cssAnimation 0s ease-in 4s forwards;
  -webkit-animation: cssAnimation 0s ease-in 4s forwards;
  -o-animation: cssAnimation 0s ease-in 4s forwards;
  animation: cssAnimation 0s ease-in 4s forwards;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 10;
}

.messages li {
  color: white;
  font-size: 18px;
  border-radius: 20px;
  padding: 10px 20px;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  letter-spacing: 1.2px;
}

.messages .success {
  background: green;
}

.messages .error {
  background: red;
}

.messages .remove {
  background: grey;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}

.browserCategory,
.articlesHeader {
  position: relative;
  text-align: center;
  padding: 7.5px 0;
  font-size: 20px;
  border-radius: 8px;
  color: white;
  border: 3px solid white;
  width: 100%;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}
/* position: relative;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  border-radius: 8px 8px 0 0;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
} */

.browserCategory a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  min-height: 105px;
  padding: 0 20px;
}

.sourceContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 150px;
  background: white;
  border-radius: 10px;
  box-shadow: var(--box-shadowScheme);
  margin: 10px;
}

.sourceContainer:hover {
  transform: scale(1.1, 1.1);
}

.iconContainer {
  position: relative;
  width: 150px;
  height: 150px;
}

.sourcePic {
  width: 100%;
  height: 100%;
}

.iconContainer .fa-star {
  background: gold;
  position: absolute;
  color: white;
  top: 0;
  left: 0;
  font-size: 20px;
  padding: 5px;
}

.fullPaywall,
.semiPaywall {
  background: #d50707;
  position: absolute;
  left: 32px;
  font-size: 20px;
  padding: 5px;
  top: 0;
  color: white;
}

.semiPaywall {
  background: orange;
}

.onlyIcon {
  left: 0;
}

.sourceLink {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.sourceNameOuterContainer {
  background: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  white-space: nowrap;
  font-size: 19px;
}

.sourceNameInnerContainer {
  max-width: 90%;
  overflow: hidden;
}

.sourceDeleteOptionOn {
  position: absolute;
  left: 40px;
  top: 0;
  font-size: 15px;
  padding: 0px 5px;
  background: var(--neonRed);
  box-shadow: var(--standardBoxShadow);
  cursor: pointer;
  color: white;
}

.categoryDeleteOptionOn {
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 30px;
  padding: 0px 5px;
  background: var(--neonRed);
  box-shadow: var(--standardBoxShadow);
  cursor: pointer;
}

h2 {
  color: var(--primary-fontColor);
  margin-top: 10px;
}

.articlesContainer {
  display: flex;
  flex-direction: column;
}

.article {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  background: white;
  border: 3px solid black;
  border-radius: 8px;
  margin: 7.5px 25px;
  box-shadow: var(--box-shadowScheme);
}

.article .articleInformationContainer,
.article .articleSectorAndDateContainer {
  font-size: 21px;
  padding-left: 5px;
  color: black;
  white-space: nowrap;
  max-width: 42ch;
}

.article .articleSectorAndDateContainer a {
  color: var(--primary-fontColor);
  text-decoration: none;
  font-size: 14px !important;
  margin-right: 3px;
  z-index: 10;
}

.articleSectorAndDateContainer {
  display: flex;
  padding-left: unset !important;
}

.articleSectorAndDateContainer i {
  font-size: 10px;
  padding: 3px;
  margin-left: 3px;
  color: white;
  background: orange;
}

.articleSectorAndDateContainer .fa-star {
  background: gold;
}

.articleSectorAndDateContainer .articleFullPaywall {
  background: red;
}

.article .articleSectorAndDateContainer .articlePubDate {
  font-size: 14px !important;
}

.article .articleTitle {
  font-size: 21px;
  overflow: hidden;
}

.article .articleLink {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.article .fa-ellipsis-h {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
}

.article .authorImageContainer {
  position: relative;
  z-index: 10;
}

.article .authorImageContainer img,
.article img,
.article .fa-question-circle {
  width: 50px;
  height: 50px;
  font-size: 50px;
  color: var(--primary-fontColor);
}

.article .authorImageContainer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article .listLink {
  position: absolute;
  height: 100%;
  width: 100%;
}

.explanation {
  letter-spacing: 1.1px;
  text-align: justify;
}

.rankingStar,
.ratedStar {
  font-size: 25px;
  background-color: inherit !important;
  border: 0 !important;
  color: gainsboro;
  cursor: pointer;
}

.checked {
  color: var(--primary-fontColor);
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.pagination button,
.pagination a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-fontColor);
  background: white;
  border: 3px solid;
  box-shadow: var(--box-shadowScheme);
}

.pagination button:hover,
.currentPagination,
.pagination a:hover,
.currentPagination {
  background: var(--primary-fontColor) !important;
  color: var(--primary-color) !important;
}

details {
  position: relative;
  height: 100%;
}

details[open] {
  z-index: 1;
}

details summary {
  display: flex;
  align-items: center;
  cursor: pointer;
  list-style: none;
  padding: 10px;
  height: 100%;
  background: white;
  padding: 20px 0px 5px 10px;
  font-size: 17px;
}

details ul {
  width: 100%;
  z-index: 15;
  background: white;
  position: absolute;
  top: 48px;
  left: 0;
  border: 2px solid #ccc;
}

details li {
  border-bottom: 1px solid #ccc;
  list-style: none;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

details img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

details ul li:hover {
  background: var(--primary-fontColor);
  color: white;
}

.sourceLabel {
  z-index: 5;
}

.filterBar select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
}

/* For IE10 */
.filterBar select::-ms-expand {
  display: none;
}

.articlesContainer {
  height: 400px;
  flex-wrap: wrap;
  align-items: center;
}

.article {
  width: 47.5%;
  height: 65px;
  margin: 7.5px 0;
}

.articleOptionsContainer {
  display: none;
  flex-direction: column;
  position: absolute;
  right: -35px;
  border: 3px solid;
  border-radius: 8px;
  background: white;
  top: 23px;
  z-index: 2;
  cursor: pointer;
  font-size: 13px;
}

.articleOptionsContainer a {
  color: black;
  text-decoration: none;
}

.articleOptionsContainer div:hover,
.articleOptionsContainer a:hover {
  background: var(--primary-fontColor);
  color: white;
}

.articleOptionsContainer .addToListButton {
  padding: 5px 10px;
  border-bottom: 3px solid;
}

.articleOptionsContainer i {
  margin-right: 5px;
  width: 13px;
}

.articleOptionsContainer .addToHighlightedButton,
.deleteExternalLink {
  padding: 5px 10px;
}

.article:hover {
  box-shadow: var(--box-shadowScheme);
  transform: unset;
  background-color: #b8c6db;
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.addToListForm {
  display: none;
  background: white;
  width: 250px;
  box-shadow: var(--box-shadowScheme);
  border-radius: 8px;
  position: absolute;
  z-index: 1000;
  top: 0px;
  right: -110px;
}

.addToListForm .fa-times {
  position: absolute;
  right: 0;
  color: white;
  background: red;
  padding: 5px;
  font-size: 20.5px;
  cursor: pointer;
}

.addToListForm h3 {
  padding: 5px 0;
  text-align: center;
  font-size: 17px;
  margin-bottom: 5px;
  background: var(--primary-fontColor);
  border-radius: 8px 8px 0 0;
  color: white;
}

.addToListForm .listSelectionContainer {
  max-height: 120px;
  overflow-y: scroll;
}

.addToListForm .listContainer {
  margin-left: 10px;
  padding: 2.5px 0;
}

.addToListForm label {
  font-size: 14px;
  cursor: pointer;
}

.addToListForm input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.addToListForm .buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 80%;
}

.addToListForm button {
  padding: 4px 16px;
  font-size: 15px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background: var(--primary-fontColor);
  border: 1px solid var(--primary-fontColor);
  width: 47.5%;
}

.addToListForm button:last-child {
  color: var(--primary-fontColor);
  background: white;
}

.addToListForm button:hover {
  transform: scale(1.1, 1.1);
}

.ratingsWrapper {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: baseline;
}

.rankingsUpperContainer {
  position: relative;
  width: 100%;
}

.rateListButton {
  position: absolute;
  bottom: -2px;
  color: white;
  background: var(--primary-fontColor);
  border: 3px solid;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  right: 10px;
  text-decoration: none;
}

.rateListButton:hover {
  transform: scale(1.1, 1.1);
}

.rate-formUpperContainer {
  display: none;
  position: absolute;
  z-index: 10;
}

.rate-formUpperContainer h3 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: -25px;
}

.rate-form {
  background: white;
  padding: 10px 20px;
  left: 50px;
  border-radius: 8px;
}

.rankingsHeader {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.rankingsContainer {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: var(--primary-fontColor);
}

.rating {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  background: white;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 5px 0;
  justify-content: center;
}

.avgRating {
  font-size: 15px;
  color: black;
  letter-spacing: 1.1px;
  margin-left: 10px;
}

.ratedContainer {
  display: flex;
}

.ratingsAmmountContainer {
  font-size: 14px;
  margin: 0 auto;
}

.ratedStar {
  font-size: 20px !important;
}

.ratingsAmmount {
  color: var(--primary-fontColor);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

footer {
  position: relative;
  background: var(--primary-color);
  color: var(--secondary-fontColor);
  z-index: 999;
  padding: 20px 50px;
  width: 100%;
  margin: 0px auto;
  border-top: 1px solid rgb(226, 230, 234);
  box-shadow: 0 -4px 5px -5px #333;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer ul li {
  margin-right: 20px;
  font-size: 18px;
}

footer ul a {
  text-decoration: none;
  color: var(--secondary-fontColor);
}

.carousel-container {
  position: relative;
}
/* .carousel-container .title {
  color: #fff;
  padding: 0 36px;
}
.carousel-container .title h3 {
  margin: 0;
} */
.carousel-container .carousel-list {
  overflow-x: auto;
  /* padding: 0 36px; */
  padding: 0 10px;
}
.carousel-container .carousel-list::-webkit-scrollbar {
  display: none;
}
.carousel-container .carousel-list .slider-content {
  padding: 0 28px;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  min-height: 222px;
  overflow-x: scroll;
}
.carousel-container .carousel-list .slider-content li {
  list-style-type: none;
  flex: 0 0 auto;
  /* width: calc(33.333% - 8px); */
  width: calc(20% - 8px);
  margin: 0 4px;
  cursor: pointer;
}
/* .carousel-container .carousel-list .slider-content li div {
  width: 100%;
} */
.carousel-container .carousel-list .slider-content li div img {
  width: 100%;
}
.carousel-container .carousel-list .slider-content li:nth-of-type(3),
.carousel-container .carousel-list .slider-content li:nth-of-type(7) {
  position: relative;
}
.carousel-container .carousel-list .slider-content.next-animation {
  transition: transform 0.7s ease;
  pointer-events: none;
}
.carousel-container .prev,
.carousel-container .next {
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 999;
  background: transparent;
}
.carousel-container .prev:hover,
.carousel-container .next:hover {
  background: rgba(0, 0, 0, 0.5);
}
.carousel-container .prev i,
.carousel-container .next i {
  color: #fff;
  padding: 12px;
  display: none;
}
.carousel-container .next {
  right: 0;
}
.carousel-container:hover .prev i,
.carousel-container:hover .next i {
  display: block;
  font-size: 24px;
}

.categoryWrapper {
  background: rgb(255, 255, 255, 0.4);
  margin-top: 20px;
  border-radius: 8px;
  color: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}

.categoryNameDiv {
  font-size: 20px;
  background: var(--primary-fontColor);
  color: white;
  border-radius: 8px 8px 0 0;
  padding: 10px 40px;
  text-align: center;
  box-shadow: var(--box-shadowScheme);
}

/* CREATE LIST POPUP menu */ /* CREATE LIST POPUP menu */ /* CREATE LIST POPUP menu */ /* CREATE LIST POPUP menu */ /* CREATE LIST POPUP menu */

.menuHeader {
  border-bottom: 3px solid white;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  background: var(--primary-fontColor);
  border-radius: 8px 8px 0 0;
}

.popUpMenu {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  width: 400px;
  margin: 0px auto;
  padding: 0px 0px 15px;
  border-radius: 8px;
  background: white;
  color: white;
  box-shadow: var(--box-shadowScheme);
  z-index: 25;
}

.popUpMenu form {
  margin: 0 auto;
  width: 85%;
}

.popUpMenu img {
  position: absolute;
  top: -51px;
  right: 20px;
  width: 100px;
}

.popUpMenu i {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 35px;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.popUpMenu h2 {
  text-align: center;
}

.popUpMenu label {
  display: block;
  font-size: 16px;
  margin: 5px 0 5px;
  padding-left: 5px;
  color: black;
}

.popUpButtonContainer {
  display: flex;
  margin-top: 15px;
}

.popUpButtonContainer button,
.popUpButtonContainer input,
.popUpButtonContainer div {
  text-transform: uppercase;
  padding: 8px 50px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  width: 100%;
  background: var(--primary-fontColor);
}

/* # New Form template */ /* # New Form template */ /* # New Form template */ /* # New Form template */ /* # New Form template */

/* .formContainer {
  display: none;
  width: 400px;
  background: white;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: var(--box-shadowScheme);
  margin: 20px auto;
  position: absolute;
  left: 575px;
  z-index: 25;
  top: 275px;
} */

/* .formContainer h3 {
  font-size: 22px;
  background: var(--primary-fontColor);
  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

/* .formContainer .closeFormContainerButton {
  position: absolute;
  display: block;
  color: white;
  background: red;
  padding: 10.8px;
  font-size: 25px;
  top: 0;
  right: 0;
  cursor: pointer;
  box-shadow: var(--box-shadowScheme);
  z-index: 100;

.formContainer #textInput {
  margin: 10px auto 0;
  width: 90%;
  font-size: 14px;
  height: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid rgb(226, 230, 234);
  border-radius: 12px;
}

.formContainer .searchResultWrapper {
  position: relative;
  height: 200px;
  width: 90%;
  overflow-y: scroll;
  margin: 10px 0 20px;
}

.formContainer .searchResultWrapper #searchResultsContainer,
.formContainer .searchResultWrapper .selectionContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.formContainer .searchResultWrapper #searchResultsContainer {
  z-index: 5;
}

.formContainer .formSubmitButton {
  background: var(--primary-fontColor);
  color: white;
  padding: 8px 0;
  width: 90%;
  font-size: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.formContainer form input,
.formContainer form select {
  width: 100%;
  font-size: 15px;
  padding: 7px 20px 7px 10px;
  color: black;
  border: 2px solid rgb(226, 230, 234);
  border-radius: 8px;
}

.formContainer form #id_is_public {
  width: 20px;
  height: 20px;
  margin-left: 155px;
  margin-top: -24px;
}

.formContainer form label {
  margin: 10px 0 5px;
}

/* .formContainer form .formSubmitButton {
  width: 100%;
  margin: 20px auto;
}

.formContainer form .formSubmitButton:hover {
  transform: scale(1.1, 1.1);
} */

.sliderWrapper {
  --handle-size: 3rem;
  --img-gap: 0.5rem;
  margin-top: 20px;
  box-shadow: var(--box-shadowScheme);
}

.sliderHeader {
  display: flex;
  align-items: center;
  background: var(--primary-fontColor);
  color: white;
  padding: 7.5px 40px;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 8px 8px 0 0;
}

.sliderHeader div:first-child {
  margin: 0 auto;
}

.progressBar {
  display: flex;
  gap: 0.25rem;
}

.progressItem {
  flex: 0 0 1.5rem;
  min-width: 1.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.progressItem.active {
  background-color: rgba(255, 255, 255, 0.9);
}

.sliderContentContainer {
  display: flex;
  overflow: hidden;
  border: 3px solid white;
  border-top: none;
  background: rgba(0, 85, 212, 0.4);
}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
  background: var(--primary-fontColor);
  opacity: 0.5;
}

.leftHandle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rightHandle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.handle:hover .text,
.handle:focus .text {
  transform: scale(1.2);
}

.handleSymbol {
  transition: transform 150ms ease-in-out;
}

.slider {
  --items-per-screen: 8;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  /* margin: 0 var(--img-gap); */
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 600ms ease-in-out;
}

.slider > .contentWrapper {
  /* margin: var(--img-gap); */
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: 180px;
  max-height: 220px;
  height: 220px;
}

/* @media (min-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
}

@media (max-width: 500px) {
  .slider {
    --items-per-screen: 2;
  }
} */

.slider .contentWrapper:hover {
  transform: scale(1.05, 1.05);
}

.contentContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 6px;
  box-shadow: var(--box-shadowScheme);
}

.contentIconContainer {
  position: relative;
  width: 100%;
  height: calc(100% - 33px);
  margin-bottom: 33px;
}

.contentIcon {
  width: 100%;
  height: 100%;
}

.contentLink {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.contentNameContainer {
  position: absolute;
  bottom: 0;
  background: black;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  white-space: nowrap;
  font-size: 19px;
}

.contentName {
  max-width: 90%;
  overflow: hidden;
}

.createListButton,
.addListsButton,
.addSourcesButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  background: var(--primary-fontColor);
  color: white;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 6px;
}

.categoryHeader {
  position: relative;
  text-align: center;
  margin: 20px 0 10px;
  padding: 7.5px 0;
  font-size: 20px;
  border-radius: 8px;
  color: white;
  border: 3px solid white;
  width: 100%;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}

/* ####################################################*/
/* TWITTER */
/* ####################################################*/
.twitterWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.twitterWrapper .highlightedTweetsContainer,
.twitterWrapper .newestTweetsContainer,
.twitterWrapper .mostLikedTweetsContainer {
  width: 33%;
}

.twitterWrapper .categoryHeader {
  margin: 0;
  border-radius: 8px 8px 0 0;
}

.twitterWrapper .smallFormContentWrapper,
.twitterWrapper .twitterContainerPlaceholder {
  box-shadow: var(--box-shadowScheme);
  background: white;
}

.twitterWrapper .twitterContainerPlaceholder {
  position: relative;
  min-height: 1000px;
}

.twitterWrapper .twitterContainerPlaceholder div {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  font-size: 25px;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
  padding: 15px;
  border-radius: 20px;
  margin: 0 auto;
  max-width: 95%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 3px solid;
}

.smallFormContentWrapper .articleContainer {
  position: relative;
  display: flex;
  padding: 15px;
  box-shadow: 0 5px 5px -5px #333;
  border-bottom: 1px solid rgb(226, 230, 234);
}

.smallFormContentWrapper .leftContentSide img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.smallFormContentWrapper .rightContentSide {
  padding-left: 10px;
  width: 100%;
}

.smallFormContentWrapper .contentInfoContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.smallFormContentWrapper .sourceAndWebsiteContainer {
  display: flex;
}

.smallFormContentWrapper .sourceAndWebsiteContainer a {
  z-index: 30;
  text-decoration: none;
  color: unset;
}

.smallFormContentWrapper .sourceAndWebsiteContainer img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 3px;
}

.smallFormContentWrapper .fa-ellipsis-h {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0 5px 5px 5px;
  z-index: 30;
}

.smallFormContentWrapper .contentBody {
  padding: 5px 0;
  cursor: text;
}

.smallFormContentWrapper .contentBody p {
  font-size: 19px;
  text-align: justify;
  font-family: serif;
}

.smallFormContentWrapper .timeContainer {
  color: gray;
}

.smallFormContentWrapper .contentLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.notificationContainer .articleOptionsContainer,
.notificationContainer .addToListForm,
.notificationContainer .createListMenu {
  right: 0;
  z-index: 35;
}
