.cookie-container {
  display: none;
  /* display: flex; */
  position: fixed;
  bottom: 2rem;
  left: 0;
  right: 0;
  background: var(--primary-fontColor);
  color: white;
  padding: 1.5rem 3rem;
  transition: 400ms;
  z-index: 1000;
  box-shadow: var(--box-shadowScheme);
  opacity: 0.9;
  margin: 0 16rem;
  border-radius: 2rem;
}

.cookie-container .leftCookieSide {
  width: 75%;
}

.cookie-container .leftCookieSide h3 {
  font-size: 3rem;
}

.cookie-container .leftCookieSide p {
  margin: 1rem 0;
}

.cookie-container .leftCookieSide p a {
  color: #2cce88;
  text-decoration: none;
}

.cookie-container .leftCookieSide div {
  display: flex;
  align-items: center;
}

.cookie-container .leftCookieSide div label {
  font-size: 1.8rem;
}

.cookie-container .leftCookieSide div input {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  margin-left: 0.5rem;
  accent-color: #2cce88;
}

.cookie-container .rightCookieSide {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: space-around;
}

.cookie-container .rightCookieSide .cookie-btn {
  background: #2cce88;
  border: 0;
  color: #f5f6fa;
  padding: 1.2rem 4.8rem;
  font-size: 1.8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  width: 20rem;
}

.cookie-container .rightCookieSide .cookie-btn:hover {
  transform: scale(1.1);
}

.cookie-container .rightCookieSide .cookie-btn:last-child {
  color: var(--primary-fontColor);
  background: white;
}

.cookie-container.active {
  bottom: 0;
}
