.listsWrapper {
  display: flex;
  justify-content: space-between;
}

.myListsContainer,
.subscribedListsContainer {
  width: 47.5%;
}

.carousel-container .carousel-list .slider-content li {
  width: calc(12.6% - 8px);
}

.iconContainer {
  width: 170px;
  height: 170px;
}

.browserCategory {
  margin-top: 20px;
}

.subscribedSourcesArticleHeader {
  margin-bottom: 10px;
}

.articlesContainer {
  height: 400px;
  flex-wrap: wrap;
}

.article {
  width: 47.5%;
  margin: 7.5px 0px;
}

.addSourcesForm,
.addListsForm,
.addExternalLinksContainer {
  display: none;
  width: 400px;
  background: white;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: var(--box-shadowScheme);
  margin: 20px auto;
  position: absolute;
  left: 575px;
  z-index: 1;
  top: 275px;
}

.addSourcesForm h3,
.addListsForm h3,
.addExternalLinksContainer h3 {
  font-size: 22px;
  background: var(--primary-fontColor);
  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.addSourcesForm #addSourcesInput,
.addListsForm #addListsInput {
  margin: 10px auto 0;
  width: 90%;
  font-size: 14px;
  height: 100%;
  padding: 10px 40px 10px 15px;
  border: 1px solid rgb(226, 230, 234);
  border-radius: 12px;
}

.addSourcesForm .sourceSearchResultContainer,
.addListsForm .listSearchResultContainer {
  position: relative;
  height: 200px;
  width: 90%;
  overflow-y: scroll;
  margin: 10px 0 20px;
}

.addSourcesForm .sourceSearchResultContainer #sourceSearchResults,
.addListsForm .listSearchResultContainer #listSearchResults {
  z-index: 5;
}

.addSourcesForm .sourceSearchResultContainer #sourceSearchResults,
.addSourcesForm .sourceSearchResultContainer .selectedSourcesContainer,
.addListsForm .listSearchResultContainer #listSearchResults,
.addListsForm .listSearchResultContainer .selectedListsContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.addSourcesForm button,
.addListsForm button,
.addExternalLinksContainer .saveButton {
  background: var(--primary-fontColor);
  color: white;
  padding: 8px 0;
  width: 90%;
  font-size: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.addSourcesForm button:hover,
.addListsForm button:hover {
  transform: scale(1.1, 1.1);
}

.searchResult {
  cursor: pointer;
}

.searchResult i {
  margin-left: auto;
  margin-right: 20px;
  color: white;
  background: red;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.sourceDeleteOption,
.addSourcesCloseButton,
.addListsCloseButton,
.addExternalLinksCloseButton {
  position: absolute;
  display: none;
  color: white;
  background: red;
  padding: 10px;
  font-size: 20px;
  top: 0;
  right: 0;
  cursor: pointer;
  box-shadow: var(--box-shadowScheme);
  z-index: 100;
}

.addSourcesCloseButton,
.addListsCloseButton,
.addExternalLinksCloseButton {
  display: block;
  font-size: 25px;
  padding: 10.8px;
}

.paginationAndAddExternalContainer {
  position: relative;
}

.addExternalLinkButton {
  position: absolute;
  right: 0;
  top: 50%;
  height: 50px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: var(--primary-fontColor);
  padding: 10px 15px;
  transform: translateY(-50%);
}

.addExternalLinkButton:hover {
  transform: translateY(-50%) scale(1.1, 1.1);
}

.addExternalLinkButton i {
  margin-right: 8px;
}

.addExternalArticlesForm {
  display: flex;
  flex-direction: column;
}
