.interactionWrapper {
  position: relative;
}

.slider .interactionWrapper .formContainer:hover,
.slider .interactionWrapper:hover {
  transform: unset;
}

.slider .interactionWrapper .addButton:hover {
  transform: scale(1.1);
}

.interactionWrapper .createListButton,
.interactionWrapper .addListsButton,
.interactionWrapper .addSourcesButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interactionWrapper .createListMenu,
.interactionWrapper .addListsForm,
.interactionWrapper .addSourcesForm {
  position: absolute;
  height: 100%;
}

.formContainer #textInput {
  width: 90%;
  font-size: 14px;
  padding: 3px 10px;
  border: 2px solid rgb(226, 230, 234);
  border-radius: 8px;
  margin: 5px 0;
}

.formContainer .searchResultWrapper {
  position: relative;
  height: 110px;
  width: 90%;
  overflow-y: scroll;
}

.formContainer .searchResultWrapper #searchResultsContainer {
  z-index: 5;
}

.formContainer .searchResultWrapper #searchResultsContainer {
  z-index: 5;
}
.formContainer .searchResultWrapper #searchResultsContainer,
.formContainer .searchResultWrapper .selectionContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.formContainer .searchResultWrapper #searchResultsContainer,
.formContainer .searchResultWrapper .selectionContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.formContainer .searchResult {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(226, 230, 234);
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.formContainer .searchResult i {
  margin-left: auto;
  margin-right: 20px;
  color: white;
  background: red;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.formContainer .searchResult img {
  width: 25px;
  height: 25px;
}

.addSourcesForm .formSubmitButton,
.addListsForm .formSubmitButton {
  width: 90% !important;
}

.addExternalLinksContainer {
  position: absolute;
  right: 7.5%;
  width: 250px;
}

.addExternalLinksContainer .formSubmitButton {
  margin: 10px 0;
}

.paginationAndAddExternalContainer {
  position: relative;
}

.addExternalLinkButton {
  position: absolute;
  right: 0;
  top: 50%;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: var(--primary-fontColor);
  padding: 10px 15px;
  transform: translateY(-50%);
  border: 3px solid;
}

.addExternalLinkButton:hover {
  transform: translateY(-50%) scale(1.1);
}

.addExternalLinkButton i {
  margin-right: 8px;
}
