/* Article Container styling startet ab hier  */

.articlesWrapper {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
  height: 400px;
  overflow: hidden;
}

.articlesWrapper .articleContainer {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: var(--box-shadowScheme);
  width: 49%;
  margin: 7.5px 0px;
  height: 65px;
}

.articlesWrapper .articleContainer:hover {
  background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.authorImageContainer {
  position: relative;
}

.authorImageContainer,
.articleWebsiteLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 59px;
}

.imageContainerUserLink {
  background: var(--primary-fontColor);
}

.authorImageContainer img {
  width: 100%;
  height: 100%;
}

.authorImageContainer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.articleInformationContainer,
.articleSectorAndDateContainer {
  padding-left: 5px;
  white-space: nowrap;
  max-width: 80%;
}

.articleTitle {
  font-size: 19px;
  overflow: hidden;
}

.articleTitle:hover .articleTitleTooltip {
  visibility: visible;
  opacity: 1;
}

.articleTitle .articleTitleTooltip {
  position: absolute;
  display: block;
  visibility: hidden;
  z-index: 1;
  color: white;
  padding: 2px 4px;
  font-size: 13px;
  border: 2px solid white;
  box-shadow: var(--box-shadowScheme);
  opacity: 0;
  transition: opacity 1s;
  background: rgba(0, 85, 212, 0.8);
}

.articleSectorAndDateContainer {
  display: flex;
  padding-left: unset;
  font-size: 14px;
}

.articleSectorAndDateContainer a {
  color: var(--primary-fontColor);
  text-decoration: none;
  margin-right: 3px;
}

.articlesWrapper .articleContainer .fa-ellipsis-h {
  position: absolute;
  top: 2px;
  right: 65px;
  cursor: pointer;
  padding: 5px;
}

.articleWebsiteLogoContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.articleWebsiteLogo {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.articleContainer .fa-question-circle {
  font-size: 50px;
  color: white;
}

.articleLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.articleOptionsContainer {
  display: none;
  flex-direction: column;
  position: absolute;
  right: -35px;
  border: 3px solid;
  border-radius: 8px;
  background: white;
  top: 23px;
  z-index: 2;
  cursor: pointer;
  font-size: 13px;
}

.articleOptionsContainer .addToListButton {
  padding: 5px 10px;
  border-bottom: 3px solid;
}

.articleOptionsContainer i {
  margin-right: 5px;
  width: 13px;
}

.articleOptionsContainer a {
  color: black;
  text-decoration: none;
}

.articleOptionsContainer div:hover,
.articleOptionsContainer a:hover {
  background: var(--primary-fontColor);
  color: white;
}

.articleOptionsContainer .addToHighlightedButton,
.deleteExternalLink {
  padding: 5px 10px;
}

.addToListForm {
  display: none;
  background: white;
  width: 250px;
  box-shadow: var(--box-shadowScheme);
  border-radius: 8px;
  position: absolute;
  z-index: 100;
  top: 0px;
  right: -110px;
}

.addToListForm .fa-times {
  position: absolute;
  right: 0;
  color: white;
  background: red;
  padding: 5px;
  font-size: 20.5px;
  cursor: pointer;
}

.addToListForm h3 {
  padding: 5px 0;
  text-align: center;
  font-size: 17px;
  margin-bottom: 5px;
  background: var(--primary-fontColor);
  border-radius: 8px 8px 0 0;
  color: white;
}

.addToListForm .listSelectionContainer {
  max-height: 120px;
  overflow-y: scroll;
}

.addToListForm .listContainer {
  margin-left: 10px;
  padding: 2.5px 0;
}

.addToListForm label {
  font-size: 14px;
  cursor: pointer;
}

.addToListForm input {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}

.addToListForm .buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 80%;
}

.addToListForm button {
  padding: 4px 16px;
  font-size: 15px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background: var(--primary-fontColor);
  border: 1px solid var(--primary-fontColor);
  width: 47.5%;
}

.addToListForm button:last-child {
  color: var(--primary-fontColor);
  background: white;
}

.addToListForm button:hover {
  transform: scale(1.1, 1.1);
}

/* NEW SMALLER CREATE LIST MENU | NEW SMALLER CREATE LIST MENU | NEW SMALLER CREATE LIST MENU */
/* NEW SMALLER CREATE LIST MENU | NEW SMALLER CREATE LIST MENU | NEW SMALLER CREATE LIST MENU */
/* NEW SMALLER CREATE LIST MENU | NEW SMALLER CREATE LIST MENU | NEW SMALLER CREATE LIST MENU */

.formContainer {
  position: relative;
  display: none;
  background: white;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: var(--box-shadowScheme);
  z-index: 25;
  min-width: 250px;
}

.formContainer h3 {
  padding: 5px 0;
  text-align: center;
  font-size: 18px;
  background: var(--primary-fontColor);
  border-radius: 8px 8px 0 0;
  color: white;
  width: 100%;
}

.formContainer .closeFormContainerButton {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: red;
  padding: 5px;
  font-size: 22px;
  cursor: pointer;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.formContainer form label {
  margin: 6px 0 3px;
  font-size: 16px;
}

.formContainer form input,
.formContainer form select {
  width: 100%;
  font-size: 15px;
  padding: 4px 10px;
  color: black;
  border: 2px solid rgb(226, 230, 234);
  border-radius: 8px;
}

.formContainer form #id_list_pic {
  border: none;
  padding-left: 0;
}

.formContainer form #id_is_public {
  width: 16px;
  height: 16px;
  margin-top: -19px;
  margin-left: 155px;
}

.formContainer .formSubmitButton {
  width: 100%;
  padding: 4px 16px;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  background: var(--primary-fontColor);
  border: 1px solid var(--primary-fontColor);
  margin-top: 10px;
}

.formContainer .formSubmitButton:hover {
  transform: scale(1.05, 1.05);
}

.formContainer #textInput {
  width: 90%;
  font-size: 14px;
  padding: 3px 10px;
  border: 2px solid rgb(226, 230, 234);
  border-radius: 8px;
  margin: 5px 0;
}

.formContainer .searchResultWrapper {
  position: relative;
  height: 110px;
  width: 90%;
  overflow-y: scroll;
}

.formContainer .searchResultWrapper #searchResultsContainer,
.formContainer .searchResultWrapper .selectionContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.formContainer .searchResultWrapper #searchResultsContainer {
  z-index: 5;
}

.formContainer .searchResult {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(226, 230, 234);
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.formContainer .searchResult i {
  margin-left: auto;
  margin-right: 20px;
  color: white;
  background: red;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.formContainer .searchResult img {
  width: 25px;
  height: 25px;
}

.addSourcesForm .formSubmitButton,
.addListsForm .formSubmitButton {
  margin: 5px 0;
  width: 90% !important;
}

.addExternalLinksContainer {
  width: 250px;
  margin: 10px 0 10px auto;
}

.addExternalLinksContainer .formSubmitButton {
  margin: 10px 0;
}

.interactionWrapper {
  position: relative;
}

.interactionWrapper .createListButton,
.interactionWrapper .addListsButton,
.interactionWrapper .addSourcesButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interactionWrapper .createListMenu,
.interactionWrapper .addListsForm,
.interactionWrapper .addSourcesForm {
  position: absolute;
  height: 100%;
}

/* ######################################################## */

.paginationAndAddExternalContainer {
  position: relative;
}

.addExternalLinkButton {
  position: absolute;
  right: 0;
  top: 50%;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: var(--primary-fontColor);
  padding: 10px 15px;
  transform: translateY(-50%);
  border: 3px solid;
}

.addExternalLinkButton:hover {
  transform: translateY(-50%) scale(1.1, 1.1);
}

.addExternalLinkButton i {
  margin-right: 8px;
}

/* ####################################################*/
.articleCreateListMenu {
  position: absolute;
  width: 250px;
  height: 220px;
  right: -110px;
  top: 0;
}

/* ####################################################*/
/* Blur */
/* ####################################################*/

.blur {
  filter: blur(5px);
}

.upperBlurContainer {
  position: relative;
}

.upperBlurContainer .comingSoon {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  font-size: 25px;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
  padding: 15px;
  border-radius: 20px;
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 3px solid;
}

.upperBlurContainer .blurOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
}

.blur img {
  width: 100%;
  height: 100%;
}
