.nameContainer {
  position: fixed;
  width: 85%;
  z-index: 5;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  border: 3px solid;
  border-radius: 0 0 40px 40px;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}

.nameContainer h2 {
  padding: 10px 0;
  color: white;
  margin-top: unset;
}

.categoryContainer {
  margin-top: 60px;
}

.subscribeButton {
  font-size: 25px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  box-shadow: var(--box-shadowScheme);
  color: white;
  text-decoration: none;
  width: 100%;
  margin-top: 10px;
}

.subscribeButton:hover {
  transform: scale(1.1, 1.1);
}

.subscribed {
  background: red;
}

.unsubscribed {
  background: green;
}
