.upperContainer {
  display: flex;
  margin-top: 20px;
}

.leftInnerContainer {
  width: 30%;
}

.listPictureContainer {
  position: relative;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.listPictureContainer img {
  width: 100%;
  height: 100%;
}

.listPictureContainer label,
.nameChangeContainer,
.nameChangeContainer label {
  display: none;
}

.listPictureContainer #id_list_pic {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.listPictureContainer i {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 72.5%;
  background: var(--primary-fontColor);
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  font-size: 18px;
}

.rightInnerContainer {
  width: 65%;
  margin-left: 5%;
}

.rightFirstRowContainer {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

.nameChangeContainer {
  width: 450px;
}

.nameChangeContainer input {
  font-size: 35px;
  outline: none;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
}

.notificationAndSubscribtionContainer {
  display: flex;
}

.fa-bell {
  border-left: unset;
}

.notificationAndSubscribtionContainer .notificationActivated {
  color: var(--primary-fontColor);
}

.subscribeButton,
.editButton {
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  border: 3px solid;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.subscribeButton:hover,
.editButton:hover {
  transform: scale(1.1);
}

.editButton {
  background: var(--primary-fontColor);
}

.editButton i {
  margin-right: 3px;
}

.subscribed {
  background: var(--primary-fontColor);
}

.subscribed:hover {
  color: red;
}

.unsubscribed {
  background: white;
  color: var(--primary-fontColor);
}

.unsubscribed:hover {
  color: green;
}

.buttonContainer {
  display: none;
  margin-left: auto;
}

.cancelButton,
.buttonContainer input,
.deleteListButton {
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadowScheme);
  color: white;
  background: var(--primary-fontColor);
  width: 100px;
  text-decoration: none;
  margin-left: 10px;
}

.cancelButton:hover,
.buttonContainer input:hover,
.deleteListButton:hover {
  transform: scale(1.1);
}

.cancelButton {
  background: white !important;
  color: var(--primary-fontColor) !important;
}

.deleteListButton {
  background: red;
  width: unset;
}

.creatorContainer {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.creatorContainer a {
  color: var(--primary-fontColor);
  margin-left: 3px;
  text-decoration: none;
}

.ratingsWrapper {
  width: 260px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: baseline;
}

.rankingsUpperContainer {
  position: relative;
  width: 100%;
}

.rateListButton {
  position: absolute;
  bottom: -2px;
  color: white;
  background: var(--primary-fontColor);
  border: 3px solid;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  right: 10px;
  text-decoration: none;
}

.rateListButton:hover {
  transform: scale(1.1);
}

.rate-formUpperContainer {
  display: none;
  position: absolute;
  z-index: 10;
}

.rate-formUpperContainer h3 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: -25px;
}

.rate-form {
  background: white;
  padding: 10px 20px;
  left: 50px;
  border-radius: 8px;
}

.rankingsHeader {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

.rankingsContainer {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: var(--primary-fontColor);
}

.rating {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  background: white;
  padding: 10px 15px;
  border-radius: 20px;
  margin: 5px 0;
  justify-content: center;
}

.avgRating {
  font-size: 15px;
  color: black;
  letter-spacing: 1.1px;
  margin-left: 10px;
}

.ratedContainer {
  display: flex;
}

.ratingsAmmountContainer {
  font-size: 14px;
  margin: 0 auto;
}

.ratedStar {
  font-size: 20px !important;
}

.ratingsAmmount {
  color: var(--primary-fontColor);
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.interactionWrapper {
  position: relative;
}

.slider .interactionWrapper .formContainer:hover,
.slider .interactionWrapper:hover {
  transform: unset;
}

.slider .interactionWrapper .addButton:hover {
  transform: scale(1.1);
}

.interactionWrapper .addSourcesButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.interactionWrapper .addSourcesForm {
  position: absolute;
  height: 100%;
}

.formContainer #textInput {
  width: 90%;
  font-size: 14px;
  padding: 3px 10px;
  border: 2px solid rgb(226, 230, 234);
  border-radius: 8px;
  margin: 5px 0;
}

.formContainer .searchResultWrapper {
  position: relative;
  height: 110px;
  width: 90%;
  overflow-y: scroll;
}

.formContainer .searchResultWrapper #searchResultsContainer {
  z-index: 5;
}

.formContainer .searchResultWrapper #searchResultsContainer {
  z-index: 5;
}
.formContainer .searchResultWrapper #searchResultsContainer,
.formContainer .searchResultWrapper .selectionContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.formContainer .searchResultWrapper #searchResultsContainer,
.formContainer .searchResultWrapper .selectionContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.formContainer .searchResult {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid rgb(226, 230, 234);
  text-decoration: none;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.formContainer .searchResult i {
  margin-left: auto;
  margin-right: 20px;
  color: white;
  background: red;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.formContainer .searchResult img {
  width: 25px;
  height: 25px;
}

.addSourcesForm .formSubmitButton {
  width: 90% !important;
}
