.upperContainer {
  display: flex;
  margin-top: 40px;
}

.leftInnerContainer {
  width: 30%;
}

.rightInnerContainer {
  width: 65%;
  margin-left: 5%;
}

.listPictureContainer {
  position: relative;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.listPictureContainer img {
  width: 100%;
  height: 100%;
}

.rightFirstRowContainer {
  display: flex;
  justify-content: space-between;
}

.rightFirstRowContainer {
  font-size: 30px;
}

.subscribeButton,
.editButton {
  padding: 8px 16px;
  font-size: 18px;
  color: white;
  border: 3px solid;
  border-radius: 8px;
  cursor: pointer;
}

.subscribeButton:hover,
.editButton:hover {
  transform: scale(1.1, 1.1);
}

.editButton {
  background: var(--primary-fontColor);
}

.editButton i {
  margin-right: 3px;
}

.subscribed {
  background: var(--primary-fontColor);
}

.subscribed:hover {
  color: red;
}

.unsubscribed {
  background: white;
  color: var(--primary-fontColor);
}

.unsubscribed:hover {
  color: green;
}

.creatorContainer {
  display: flex;
  align-items: center;
}

.creatorContainer a {
  font-size: 25px;
  color: var(--primary-fontColor);
  margin-left: 5px;
  text-decoration: none;
}

.rankingsHeader {
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 14px;
}

.rankingsContainer {
  display: flex;
  align-items: center;
  font-size: 25px;
  color: var(--primary-fontColor);
}

.rating {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  overflow: hidden;
  flex-direction: row-reverse;
  position: relative;
  margin-left: 5px;
}

.rating > input {
  display: none;
}

.rating > label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  margin-top: auto;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 76%;
  transition: 0.3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.browserCategory {
  margin-bottom: 10px;
}

.listsWrapper {
  display: flex;
  justify-content: space-between;
}

.myListsContainer,
.subscribedListsContainer {
  width: 47.5%;
}

.carousel-container .carousel-list .slider-content li {
  width: calc(12.6% - 8px);
}

.iconContainer {
  width: 170px;
  height: 170px;
}

.subscribedSourcesArticleHeader {
  margin-bottom: 10px;
}

.articleSpace {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.leftSide,
.rightSide {
  width: 49%;
  background: white;
  box-shadow: var(--box-shadowScheme);
  border-radius: 8px;
}

.sourceDeleteOption,
.addSourcesCloseButton {
  position: absolute;
  display: none;
  color: white;
  background: red;
  padding: 10px;
  font-size: 20px;
  top: 0;
  right: 0;
  cursor: pointer;
  box-shadow: var(--box-shadowScheme);
  z-index: 100;
}

.buttonContainer {
  display: none;
  margin-left: auto;
}

.cancelButton,
.buttonContainer input,
.deleteListButton {
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadowScheme);
  color: white;
  background: var(--primary-fontColor);
  width: 100px;
  text-decoration: none;
  margin-left: 10px;
}

.cancelButton:hover,
.buttonContainer input:hover,
.deleteListButton:hover {
  transform: scale(1.1, 1.1);
}

.cancelButton {
  background: white !important;
  color: var(--primary-fontColor) !important;
}

.deleteListButton {
  background: red;
  width: unset;
}

.listPictureContainer form {
  width: 100%;
  height: 100%;
}

.listPictureContainer label {
  display: none;
}

.listPictureContainer #id_list_pic {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -200px;
  opacity: 0;
  cursor: pointer;
  z-index: 4;
}

.listPictureContainer i {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 72.5%;
  background: var(--primary-fontColor);
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  font-size: 18px;
}

.nameChangeContainer,
.nameChangeContainer label {
  display: none;
}

.nameChangeContainer {
  width: 450px;
}

.nameChangeContainer input {
  font-size: 35px;
  outline: none;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
}

.addSourcesButton {
  font-size: 50px;
  background: var(--primary-fontColor);
  color: white;
  opacity: 0.5;
  cursor: pointer;
  display: none;
}

.addSourcesForm {
  display: none;
  width: 400px;
  background: white;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: var(--box-shadowScheme);
  margin: 20px auto;
  position: absolute;
  left: 575px;
  z-index: 1;
  top: 275px;
}

.addSourcesForm h3 {
  font-size: 25px;
  background: var(--primary-fontColor);
  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.addSourcesForm #addSourcesInput {
  margin: 10px auto 0;
  width: 90%;
  font-size: 14px;
  height: 100%;
  padding: 12px 120px 12px 15px;
  border: 1px solid rgb(226, 230, 234);
  border-radius: 12px;
}

.addSourcesForm .sourceSearchResultContainer {
  position: relative;
  height: 200px;
  width: 90%;
  overflow-y: scroll;
  margin: 10px 0 20px;
}

.addSourcesForm .sourceSearchResultContainer #sourceSearchResults {
  z-index: 5;
}

.addSourcesForm .sourceSearchResultContainer #sourceSearchResults,
.addSourcesForm .sourceSearchResultContainer .selectedSourcesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.addSourcesForm button {
  background: var(--primary-fontColor);
  color: white;
  padding: 5px 0;
  width: 90%;
  font-size: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.addSourcesForm button:hover {
  transform: scale(1.1, 1.1);
}

.searchResult {
  cursor: pointer;
}

.searchResult i {
  margin-left: auto;
  margin-right: 20px;
  color: white;
  background: red;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.addSourcesCloseButton {
  display: block;
  font-size: 25px;
  padding: 12.6px;
}

.articleInformationContainer {
  max-width: 39ch !important;
}
