.filterBar {
  display: flex;
  margin: 20px 0 10px;
  border: 3px solid var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}

.selectContainer {
  border-right: 3px solid var(--primary-fontColor);
  width: 15%;
}

.selectContainer:last-of-type {
  border-right: unset;
}

.searchSelectContainer {
  width: 25%;
  position: relative;
}

.selectContainer label {
  padding: 3px 10px;
  position: absolute;
  color: var(--primary-fontColor);
}

.selectContainer select {
  width: 100%;
  height: 100%;
  border-radius: unset;
  outline: unset;
  padding: 20px 0px 5px 10px;
  cursor: pointer;
  font-size: 17px;
  border: 0;
  border-right: 12px solid white;
  background: white;
  letter-spacing: 1.1px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.selectContainer select::-ms-expand {
  display: none;
}

.filterBar .searchContainer {
  height: 100%;
}

.filterBar input {
  font-size: 17px;
  border: 0;
  padding: 10px 40px 10px 15px;
  letter-spacing: 1.1px;
  width: 100%;
  height: 100%;
}

#autocomplete_list_results {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  background: white;
  box-shadow: var(--box-shadowScheme);
  z-index: 10;
}

#autocomplete_list_results .searchResult span {
  max-width: 89%;
}

.filterBar input:focus {
  outline: 1px solid var(--primary-fontColor);
}

.filterBar .searchButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  background: var(--primary-fontColor);
  border: 2px solid white;
  color: white;
  padding: 10px 15px;
  font-size: 17px;
  letter-spacing: 1.1px;
  height: 100%;
  width: 100%;
}

.filterBar .searchButton:hover {
  background: rgba(0, 85, 212, 0.8);
}

.searchResultsAndListCreationContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.searchResultsContainer h3 {
  font-size: 25px;
}

.searchResultsAndListCreationContainer .searchResultsContainer div {
  font-size: 14px;
}

.searchResultsAndListCreationContainer .searchResultsContainer div span {
  color: var(--primary-fontColor);
}

.searchResultsAndListCreationContainer .createListButton {
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
  border: 3px solid;
  padding: 10px 15px;
  opacity: 1;
}

.searchResultsAndListCreationContainer .createListButton:hover {
  transform: scale(1.1);
}

.searchResultsAndListCreationContainer .createListButton i {
  margin-right: 8px;
}

.searchResultsAndListCreationContainer .createListMenu {
  position: absolute;
  top: 0;
  right: 150px;
}

.listResultUpperCont,
.listHeader {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 8px;
  box-shadow: var(--box-shadowScheme);
  margin: 10px 0;
  padding: 7.5px 10px;
}

.listHeader {
  background: var(--primary-fontColor);
  color: white;
  border: 3px solid;
  padding: 7.5px 10px;
  font-size: 18px;
}

.listHeader div {
  width: 25%;
}

.listResultUpperCont:hover {
  transform: scale(1.1);
}

.listCont,
.ratingsCont,
.numberOfSourcesAndArticleCont,
.creatorCont {
  width: 25%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.listResultUpperCont a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.listCont img,
.creatorCont img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 3px;
}
