main {
  margin: 0 auto;
  width: 100%;
}

.firstSection {
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
}

.websiteBigNameContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  user-select: none;
  margin-top: -15px;
  font-size: 100px;
}

.websiteBigNameContainer div:first-child {
  font-family: "Pacifico", cursive;
}

.websiteBigNameContainer div:last-child {
  font-family: "Pacifico", cursive;
  color: var(--primary-fontColor);
  margin-top: -80px;
}

.websiteAbout {
  width: 50%;
  margin: 0 auto;
  line-height: 1.5;
  letter-spacing: 1.2px;
  text-align: justify;
  opacity: 0.8;
  font-size: 20px;
}

.websiteAboutLoggedIn {
  margin-bottom: 30px;
}

.websiteAbout a {
  text-decoration: none;
  color: var(--primary-fontColor);
}

.registrationButton {
  text-decoration: none;
  font-size: 20px;
  padding: 20px 40px;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
  color: white;
  margin: 20px auto;
  border-radius: 40px;
  cursor: pointer;
}

.registrationButton:hover {
  transform: scale(1.1);
}

.coreFeaturesWrapper {
  padding: 3rem 0 !important;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}

.coreFeaturesContainer {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.coreFeaturesContainer .titleContainer,
.coreFeaturesContainer .rowWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: -15px;
  margin-left: -15px;
}

.coreFeaturesContainer .title {
  color: white;
  padding: 0;
  margin-bottom: 20px;
  line-height: 1;
  font-size: 60px;
  font-weight: 600;
}

.coreFeaturesContainer .rowContainer {
  flex: 0 0 47.5%;
  max-width: 47.5%;
}

.coreFeaturesContainer .iconBox {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background-color: #f8f9fa;
  min-height: 165px;
}

.coreFeaturesContainer .iconBox .icon {
  float: left;
  font-size: 30px;
  background: var(--primary-fontColor);
  color: white;
  padding: 5px 15px;
  border-radius: 50%;
}
.coreFeaturesContainer .iconBox .rowTitle {
  margin-left: 70px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 5px;
  color: var(--primary-fontColor);
}

.coreFeaturesContainer .iconBox .rowBody {
  margin-left: 70px;
  line-height: 24px;
  font-size: 15px;
  text-align: justify;
}
