.mainContent {
  margin: 20px auto;
  width: 50%;
}

.mainContent h2 {
  color: var(--primary-fontColor);
  font-size: 35px;
  text-align: center;
}

.sr_mainSearchWrapper {
  margin: 15px auto;
}

.sr_mainSearchWrapper .mainInputSearch {
  width: 100%;
}

.searchCategories {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  font-size: 20px;
  cursor: pointer;
}

.searchCategoryTabActive {
  text-decoration-line: underline;
  text-underline-offset: 7px;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--primary-fontColor);
}

.tabsContent {
  display: none;
  margin-top: 20px;
}

.tabsContentActive {
  display: block;
}

.articlesContainer {
  height: unset;
  flex-wrap: unset;
  align-items: unset;
}

.article {
  width: unset;
  margin: 7.5px 25px;
}

.article .articleTitle {
  max-width: 41ch;
}
