.nameContainer {
  position: fixed;
  width: 85%;
  z-index: 5;
  text-align: center;
  padding: 10px 0;
  font-size: 25px;
  border: 3px solid;
  border-radius: 0 0 40px 40px;
  color: white;
  background: var(--primary-fontColor);
  box-shadow: var(--box-shadowScheme);
}

.nameContainer h2 {
  padding: 10px 0;
  color: white;
  margin-top: unset;
}

.categoryContainer {
  margin-top: 60px;
}

.articleSpace {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.leftSide,
.rightSide {
  width: 49%;
  background: white;
  box-shadow: var(--box-shadowScheme);
  border-radius: 8px;
}

.sourceDeleteOption,
.addSourcesCloseButton {
  position: absolute;
  display: none;
  color: white;
  background: red;
  padding: 10px;
  font-size: 20px;
  top: 0;
  right: 0;
  cursor: pointer;
  box-shadow: var(--box-shadowScheme);
  z-index: 100;
}

.buttonContainer {
  display: none;
  margin-left: auto;
}

.cancelButton,
.buttonContainer input,
.deleteListButton {
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadowScheme);
  color: white;
  background: var(--primary-fontColor);
  width: 100px;
  text-decoration: none;
  margin-left: 10px;
}

.cancelButton:hover,
.buttonContainer input:hover,
.deleteListButton:hover {
  transform: scale(1.1, 1.1);
}

.cancelButton {
  background: white !important;
  color: var(--primary-fontColor) !important;
}

.deleteListButton {
  background: red;
  width: unset;
}

.listPictureContainer form {
  width: 100%;
  height: 100%;
}

.listPictureContainer label {
  display: none;
}

.listPictureContainer #id_list_pic {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -200px;
  opacity: 0;
  cursor: pointer;
  z-index: 4;
}

.listPictureContainer i {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 72.5%;
  background: var(--primary-fontColor);
  padding: 8px 12px;
  color: white;
  border-radius: 8px;
  font-size: 18px;
}

.nameChangeContainer,
.nameChangeContainer label {
  display: none;
}

.nameChangeContainer {
  width: 450px;
}

.nameChangeContainer input {
  font-size: 35px;
  outline: none;
  border: none;
  background: none;
  width: 100%;
  height: 100%;
}

.addSourcesButton {
  font-size: 50px;
  background: var(--primary-fontColor);
  color: white;
  opacity: 0.5;
  cursor: pointer;
  display: none;
}

.addSourcesForm {
  display: none;
  width: 400px;
  background: white;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: var(--box-shadowScheme);
  margin: 20px auto;
  position: absolute;
  left: 575px;
  z-index: 1;
  top: 275px;
}

.addSourcesForm h3 {
  font-size: 25px;
  background: var(--primary-fontColor);
  width: 100%;
  color: white;
  padding: 10px 0;
  text-align: center;
  border-radius: 8px 8px 0 0;
}

.addSourcesForm #addSourcesInput {
  margin: 10px auto 0;
  width: 90%;
  font-size: 14px;
  height: 100%;
  padding: 12px 120px 12px 15px;
  border: 1px solid rgb(226, 230, 234);
  border-radius: 12px;
}

.addSourcesForm .sourceSearchResultContainer {
  position: relative;
  height: 200px;
  width: 90%;
  overflow-y: scroll;
  margin: 10px 0 20px;
}

.addSourcesForm .sourceSearchResultContainer #sourceSearchResults {
  z-index: 5;
}

.addSourcesForm .sourceSearchResultContainer #sourceSearchResults,
.addSourcesForm .sourceSearchResultContainer .selectedSourcesContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.addSourcesForm button {
  background: var(--primary-fontColor);
  color: white;
  padding: 5px 0;
  width: 90%;
  font-size: 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.addSourcesForm button:hover {
  transform: scale(1.1, 1.1);
}

.searchResult {
  cursor: pointer;
}

.searchResult i {
  margin-left: auto;
  margin-right: 20px;
  color: white;
  background: red;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
}

.addSourcesCloseButton {
  display: block;
  font-size: 25px;
  padding: 12.6px;
}
.articleInformationContainer {
  max-width: 39ch !important;
}

.articlesContainer {
  height: unset;
  flex-wrap: unset;
  align-items: unset;
}

.article {
  width: unset;
  margin: 7.5px 25px;
}

.singleArticlesContainerHeader {
  margin: 20px 0 5px;
}

.singleArticlesContainer {
  height: 400px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sectorSourcesHeader {
  margin-top: 20px;
}

/* .iconContainer {
  width: 170px;
  height: 170px;
} */

.carousel-container .carousel-list .slider-content li {
  width: calc(12.6% - 8px);
}

/* NEW SLIDER */ /* NEW SLIDER */ /* NEW SLIDER */ /* NEW SLIDER */ /* NEW SLIDER */ /* NEW SLIDER */ /* NEW SLIDER */ /* NEW SLIDER */

:root {
  --handle-size: 3rem;
  --img-gap: 0.5rem;
}

.container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 10px;
}

.slider {
  --items-per-screen: 6;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  margin: 0 var(--img-gap);
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
}

.slider > img {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
  aspect-ratio: 16 / 9;
  padding: var(--img-gap);
  border-radius: 1rem;
}

.slider > .sourceWrapper {
  margin: var(--img-gap);
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(
    100% / var(--items-per-screen) - var(--items-per-screen) * var(--img-gap)
  );
}

.handle {
  border: none;
  border-radius: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
  z-index: 10;
  margin: var(--img-gap) 0;
  width: var(--handle-size);
  cursor: pointer;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 0;
  transition: background-color 150ms ease-in-out;
  background: var(--primary-fontColor);
  opacity: 0.5;
}

.left-handle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.right-handle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.text {
  transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
  transform: scale(1.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-fontColor);
  color: white;
  box-shadow: var(--box-shadowScheme);
  margin-top: 20px;
  padding: 10px 40px;
  font-size: 20px;
  border-radius: 8px 8px 0 0;
}

.header div:first-child {
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  margin: 0;
}

.progress-bar {
  display: flex;
  gap: 0.25rem;
}

.progress-item {
  flex: 0 0 1.5rem;
  min-width: 1.5rem;
  height: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.progress-item.active {
  background-color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 1000px) {
  .slider {
    --items-per-screen: 3;
  }
}

@media (max-width: 500px) {
  .slider {
    --items-per-screen: 2;
  }
}

.sourceContainer {
  width: 100%;
  height: 100%;
}

.iconContainer {
  width: 100%;
  height: 100%;
}

.sourceNameOuterContainer {
  position: absolute;
  bottom: 0;
}

.iconContainer {
  padding-bottom: 32px;
}
