.overlay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.settingSidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.settingSidebar h3 {
  margin: 0px auto 20px;
  font-size: 25px;
  color: var(--primary-fontColor);
}

.settingSidebar div {
  padding: 10px 0px 10px 10px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
}

.settingSidebar div:hover,
.activeSettingOption {
  background: var(--primary-fontColor);
  color: white;
}

.contentSection {
  width: 75%;
}

.profileSection {
  display: flex;
  align-items: center;
}

.bannerContainer {
  position: relative;
  height: 150px;
  width: 100%;
}

.profileBanner {
  width: 100%;
  height: 100%;
  border-radius: 40px 5px 5px 5px;
}

.bannerChangeContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 50px;
}

.bannerChangeInnerContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bannerChangeInnerContainer input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.bannerChangeInnerContainer label {
  display: none;
}

.bannerChangeInnerContainer i {
  background: var(--primary-fontColor);
  padding: 7.5px 15px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

.avatarContainer {
  position: relative;
  height: 125px;
  margin-left: 50px;
  margin-top: -35px;
  width: 125px;
}

.avatar {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  border: 3px solid black;
}

.avatarContainer label {
  display: none;
}

.avatarContainer i {
  position: absolute;
  bottom: 10%;
  left: 50%;
  background: var(--primary-fontColor);
  padding: 5px 10px;
  color: white;
  border-radius: 10px;
}

.avatarContainer input {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -125px;
  opacity: 0;
  cursor: pointer;
}

.innerProfileSection {
  margin: 15px 0 0 15px;
}

.innerProfileSection div:first-child {
  font-size: 30px;
}

.innerProfileSection div:last-child {
  opacity: 0.8;
}

.buttonContainer {
  margin-left: auto;
  margin-right: 30px;
}

.cancelButton,
.buttonContainer input {
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadowScheme);
  color: white;
  background: var(--primary-fontColor);
  width: 100px;
  text-decoration: none;
}

.cancelButton:hover,
.buttonContainer input:hover {
  transform: scale(1.1, 1.1);
}

.cancelButton {
  background: white !important;
  margin-right: 10px;
  color: var(--primary-fontColor) !important;
}

.editSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.editSection input,
#id_old_password,
#id_new_password1,
#id_new_password2 {
  border: 1px solid rgb(226, 230, 234);
  border-radius: 6px;
  font-size: 18px;
  padding: 13px 12px 13px 12px;
  transition: border-color 250ms ease-in-out;
  background: white;
  opacity: 0.6;
  margin-bottom: 15px;
  width: 50%;
  box-shadow: var(--box-shadowScheme);
}

.tabsContent {
  display: none;
  margin-top: 20px;
}

.tabsContentActive {
  display: block;
}

.changePasswordForm {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

.passwordChangeSubmit {
  background: var(--primary-fontColor);
  color: white;
  padding: 13px 12px 13px 12px;
  border-radius: 6px;
  font-size: 18px;
  width: 50%;
  cursor: pointer;
  border: none;
  box-shadow: var(--box-shadowScheme);
}

.addLinksContainer {
  width: 300px;
  background: white;
  margin: 20px auto 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}

.addLinksContainer h3 {
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
  background: var(--primary-fontColor);
  border-radius: 8px 8px 0 0;
  color: white;
  width: 100%;
}

.selectContainer {
  width: 85%;
}

details {
  position: relative;
  height: 100%;
}

details[open] {
  z-index: 1;
}

details summary {
  cursor: pointer;
  background: white;
  list-style: none;
  margin: 15px 0;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid rgb(226, 230, 234);
  font-size: 17px;
}

details ul {
  width: 100%;
  background: white;
  position: absolute;
  top: 48px;
  left: 0;
  border: 2px solid #ccc;
}

details li {
  border-bottom: 1px solid #ccc;
  list-style: none;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

details img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

details ul li:hover {
  background: var(--primary-fontColor);
  color: white;
}

.sourceLabel {
  z-index: 5;
}

.linkInput {
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid rgb(226, 230, 234);
  width: 85%;
  font-size: 17px;
}

.saveButton {
  text-transform: uppercase;
  padding: 10px 50px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  width: 80%;
  background: var(--primary-fontColor);
  margin: 15px auto;
}

.saveButton:hover {
  transform: scale(1.1, 1.1);
}
