.overlay {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.settingSidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.settingSidebar h3 {
  margin: 0px auto 20px;
  font-size: 25px;
  color: var(--primary-fontColor);
}

.settingSidebar div {
  padding: 10px 0px 10px 10px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
}

.settingSidebar div:hover,
.activeSettingOption {
  background: var(--primary-fontColor);
  color: white;
}

.contentSection {
  width: 75%;
}

.tabsContent {
  display: none;
}

.tabsContentActive {
  display: block;
}

h2 {
  margin: 0 0 15px;
}

.editSection {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.usernameAndEmailContainer {
  display: flex;
  justify-content: space-between;
}

.usernameContainer,
.emailContainer {
  display: flex;
  flex-direction: column;
  width: 47.5%;
}

.editSection label,
.changePasswordForm label {
  margin-bottom: 5px;
}

#id_email,
#id_username,
#id_old_password,
#id_new_password1,
#id_new_password2,
.existingSocialContainer input,
.linkInput {
  border: 1px solid rgb(226, 230, 234);
  border-radius: 6px;
  font-size: 18px;
  padding: 13px 12px 13px 12px;
  transition: border-color 250ms ease-in-out;
  background: white;
  opacity: 0.6;
  margin-bottom: 15px;
  box-shadow: var(--box-shadowScheme);
}

.profilePicAndBannerContainer {
  display: flex;
  justify-content: space-between;
}

.profilePicContainer,
.profileBannerContainer {
  width: 47.5%;
  margin-bottom: 20px;
}

.profilePicInnerContainer,
.profileBannerInnerContainer {
  display: flex;
  margin-top: 5px;
}

.profilePicContainer img,
.profileBannerContainer img,
.existingSocialContainer img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.changeProfilePicButton,
.changeProfileBannerButton {
  position: relative;
  background: white;
  color: black;
  margin-left: 10px;
}

.cancelButton,
.buttonContainer input,
.changeProfilePicButton,
.changeProfileBannerButton,
.profilePicInnerContainer button,
.profileBannerInnerContainer button,
.addSocialLinkButton,
.existingSocialContainer .removeSocialLinkButton {
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadowScheme);
  color: white;
  background: var(--primary-fontColor);
  width: 100px;
  text-decoration: none;
}

.cancelButton:hover,
.buttonContainer input:hover,
.changeProfilePicButton:hover,
.changeProfileBannerButton:hover,
.profilePicInnerContainer button:hover,
.profileBannerInnerContainer button:hover,
.addSocialLinkButton:hover,
.existingSocialContainer .removeSocialLinkButton:hover {
  transform: scale(1.1);
}

.changeProfilePicButton input,
.changeProfileBannerButton input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}

.profilePicInnerContainer button,
.profileBannerInnerContainer button,
.existingSocialContainer .removeSocialLinkButton {
  background: red;
  color: white;
  margin-left: 10px;
}

.existingSocialContainer {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.existingSocialContainer input,
.linkInput {
  margin: 0 0 0 5px;
  width: 100%;
}

.socialLinksWrapper {
  display: flex;
  align-items: center;
}

.addSocialLinksContainer {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.addSocialLinkButton {
  height: 45px;
  width: 110px;
  margin-left: 10px;
}

.selectContainer {
  width: 40px;
  height: 40px;
}

details {
  position: relative;
  height: 100%;
}

details[open] {
  z-index: 1;
}

details summary {
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  border-radius: 50%;
  font-size: 17px;
  justify-content: center;
  background: var(--primary-fontColor);
  color: white;
}

details ul {
  width: 100%;
  z-index: 15;
  background: white;
  position: absolute;
  top: 48px;
  left: 0;
  border: 2px solid #ccc;
}

details li {
  border-bottom: 1px solid #ccc;
  list-style: none;
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

details img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

details ul li:hover {
  background: var(--primary-fontColor);
  color: white;
}

.sourceLabel {
  z-index: 5;
}

.saveSocialLinkChanges {
  display: none;
  background: green;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadowScheme);
  color: white;
  min-width: 100px;
  text-decoration: none;
  margin-left: 10px;
}

.saveSocialLinkChanges:hover {
  transform: scale(1.1);
}

form label[for="id_bio"] {
  margin-top: 10px;
}

.bioContainer {
  overflow: hidden;
}

.django-ckeditor-widget {
  margin-top: 5px;
}

.buttonContainer {
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 5px;
}

.cancelButton {
  background: white !important;
  margin-right: 10px;
  color: var(--primary-fontColor) !important;
}

.changePasswordForm,
.changePrivacySettingsForm {
  display: flex;
  flex-direction: column;
}

.changePasswordForm input,
.privacySettingsChangeSubmit input {
  width: 50%;
}

.passwordChangeSubmit,
.privacySettingsChangeSubmit {
  background: var(--primary-fontColor);
  color: white;
  padding: 13px 12px 13px 12px;
  border-radius: 6px;
  font-size: 18px;
  width: 50%;
  cursor: pointer;
  border: none;
  box-shadow: var(--box-shadowScheme);
}

h3 {
  font-size: 25px;
  color: var(--primary-fontColor);
}

.notificationContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.iconContainer .fa-trash {
  position: absolute;
  color: white;
  background: red;
  padding: 10px;
  font-size: 20px;
  top: 0;
  right: 0;
  cursor: pointer;
  box-shadow: var(--box-shadowScheme);
  z-index: 100;
}

.changePrivacySettingsForm {
  width: 40%;
}

.privacySettingsContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.privacySettingsContainer label {
  width: 80%;
}

.privacySettingsContainer input {
  width: 25px;
  height: 25px;
  margin-left: auto;
}

.privacySettingsChangeSubmit {
  margin-top: 15px;
  width: 100%;
}
