{% extends 'home/base.html' %}
{% load static %}
{% load tags %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'stock/min_portfolio_style_v5.css' %}">
{% if request.user.is_authenticated %}
<title>{{ selected_portfolio.name }} | FinBrowser</title>
<meta name="description" content="FinBrowser portfolio created by {{ request.user.username }}">
<link rel="canonical" href="https://www.finbrowser.io/portfolio/{{ stock.stock_id }}">
{% else %}
<title>Portfolio | FinBrowser</title>
<meta name="description"
    content="Stay informed on the latest analysis, commentary, and breaking news for the stocks in your portfolio with FinBrowser Portfolio.">
<link rel="canonical" href="https://www.finbrowser.io/portfolio/">
{% endif %}
{% endblock %}
{% block content %}


{% if request.user.is_authenticated %}
<div class="portfolioMenuWrapper">
    <div class="menuContainer">
        <div class="addStocksContainer">
            <div class="header addStocksHeader">
                <h2>Add Stocks</h2><i role="button" aria-label="Close form"
                    class="fas fa-times closeAddStockContainer"></i>
            </div>
            <div class="actionWrapper">
                <div class="searchWrapper">
                    <i role="search" class="fas fa-search"></i>
                    <input id="addStocks" type="search" autocomplete="off" spellcheck="false">
                </div>
                <div class="searchResultWrapper">
                    <div id="searchResultsContainer"></div>
                    <div class="selectionContainer"></div>
                </div>
                <div class="buttonContainer">
                    <button class="cancelButton finButtonWhite">Reset</button>
                    <button class="addStocksButton finButtonBlue">Save</button>
                </div>
            </div>
        </div>
        <div class="editMenu">
            <div class="header editHeader">
                <h2>Edit Menu</h2>
                <i role="button" aria-label="Close form" class="fas fa-times"></i>
            </div>
            <div class="portfolioNameContainer">
                <label for="portfolioName">Portfolio Name</label>
                <input id="portfolioName" autocomplete="off" spellcheck="false" minlength="1" maxlength="30"
                    value="{{ selected_portfolio.name }}">
            </div>
            <div class="blacklistSourceContainer">
                <div class="header">Blacklist Sources<span class="infoLink"><i role="button"
                            aria-label="Open explanation" class="fas fa-info"></i></span></div>
                <div class="actionWrapper">
                    <div class="searchWrapper">
                        <i role="search" class="fas fa-search"></i>
                        <input id="textInput" type="search" autocomplete="off" spellcheck="false">
                    </div>
                    <div class="searchResultWrapper">
                        <div id="searchResultsContainer"></div>
                        <div class="selectionContainer">
                            {% for source in selected_portfolio.blacklisted_sources.all %}
                            <div id="blsid#{{source.source_id}}" class="blacklistedSourceContainer">
                                <img src="{% static source.favicon_path %}" alt="Picture of {{ source.name }}" />
                                <span>{{ source.name }}</span>
                                <i role="button" aria-label="Close form" class="fas fa-times"></i>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainPortfolioContainer">
                <label for="mainPortfolio">Main Portfolio</label>
                {% if selected_portfolio.main %}
                <input id="mainPortfolio" type="checkbox" checked="True" disabled>
                {% else %}
                <input id="mainPortfolio" type="checkbox">
                {% endif %}
                <span class="infoLink"><i role="button" aria-label="Open explanation" class="fas fa-info"></i></span>
            </div>
            <button class="saveEditsButton finButtonBlue">Save</button>
            <button class="deletePortfolioButton">Delete Portfolio</button>
        </div>
        <div class="keywordModal">
            <div class="keywordHeader">Keywords for <span></span><i role="button" aria-label="Close form"
                    class="fas fa-times"></i>
            </div>
            <div class="createKeywordsContainer">
                <label for="createNewKeyword">Create New Keyword</label>
                <div class="inputContainer">
                    <input id="createNewKeyword" minlength="3" maxlength="30" placeholder="Enter keyword..."
                        autocomplete="off" spellcheck="false">
                </div>
                <span class="infoLink"><i role="button" aria-label="Open explanation" class="fas fa-info"></i></span>
            </div>
            <div class="keywordsContainer"></div>
            <button class="addButton finButtonBlue">Add</button>
        </div>
        <div class="warningMessageContainer">
            <div class="faTimesContainer">!</div>
            <h3>Warning!</h3>
            <span>Are you sure you want to delete this portfolio? This action can not be undone!</span>
            <div class="buttonContainer"><button class="discardButton">Discard</button><button
                    class="confirmButton">Confirm</button></div>
        </div>
    </div>
</div>

<div class="pageWrapper">
    <div class="firstRow">
        <div class="nameContainer">
            <h2 id="{{ selected_portfolio.portfolio_id }}">{{ selected_portfolio.name }}</h2>
            <i class="fas fa-chevron-down"></i>
            <div class="portfolioOptionsContainer">
                <div class="portfoliosContainer">
                    {% for portfolio in user_portfolios %}
                    <div id="wlist{{portfolio.portfolio_id}}" class="portfolioOption">
                        <span>{{ portfolio.name }}</span>
                        <a href="{{ portfolio.get_absolute_url }}" aria-label="Open {{ portfolio.name }}"></a>
                    </div>
                    {% endfor %}
                </div>
                <button class="createPortfolioButton finButtonWhite"><i class="fas fa-plus"></i>Create New
                    Portfolio</button>
            </div>
        </div>
        <div class="actionButtonContainer">
            <button class="editPortfolioButton finButtonBlue"><i class="fas fa-edit"></i><span>Edit</span></button>
            <button class="addStocksButton finButtonWhite"><i class="fas fa-plus"></i><span>Add</span></button>
        </div>
    </div>
    {% if stocks|length %}
    <div class="tableWrapper">
        <table>
            <thead>
                <tr>
                    <th scope="col">Ticker</th>
                    <th scope="col">Company</th>
                    <th scope="col">Last Content</th>
                    <th scope="col">Coverage</th>
                    <th scope="col">Keywords</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks %}
                <tr id="pstock{{ stock.pstock_id }}" class="stockContainer">
                    <td>
                        <span class="ticker">{{ stock.stock.ticker }}</span>
                        <a href="{{ stock.absolute_path }}"
                            aria-label="Open profile of {{ stock.stock.full_company_name }}"></a>
                    </td>
                    <td class="companyNameContainer">
                        <span>{{ stock.stock.full_company_name }}</span>
                        <a href="{{ stock.absolute_path }}"
                            aria-label="Open profile of {{ stock.stock.full_company_name }}"></a>
                    </td>
                    <td>
                        <span>{{ stock.last_article|get_time_since_last_content_published }}</span>
                        <a href="{{ stock.absolute_path }}"
                            aria-label="Open profile of {{ stock.stock.full_company_name }}"></a>
                    </td>
                    <td>
                        {% if stock.articles_last_7d < 3 %}
                        <span class="low">Low</span>
                        {% elif stock.articles_last_7d > 2 and stock.articles_last_7d < 5 %}
                        <span class="mid">Mid</span>
                        {% elif stock.articles_last_7d > 4 %}
                        <span class="high">High</span>
                        {% endif %}
                        <a href="{{ stock.absolute_path }}"
                            aria-label="Open profile of {{ stock.stock.full_company_name }}"></a>
                    </td>
                    <td>
                        <span class="keywordButton">{{ stock.keywords|length }}</span>
                        <a href="{{ stock.absolute_path }}"
                            aria-label="Open profile of {{ stock.stock.full_company_name }}"></a>
                    </td>
                    <td class="actionContainer">
                        <a href="{{ stock.absolute_path }}" class="openStockButton finButtonWhite">Open</a>
                        <i role="button" aria-label="Remove stock from portfolio" class="fa-regular fa-trash-can"></i>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tabsContainer" id="content" role="navigation" aria-label="Content navigation">
        <button class="activatedTab" data-for-tab="0">Analysis</button>
        <button data-for-tab="1">Commentary</button>
        <button data-for-tab="2">News</button>
    </div>
    <div class="tabsContent tabsContentActive" data-tab="0">
        <div class="contentColumnWrapper">
            {% if analysis %}
            <div class="contentColumnContainer">
                {% create_content_container analysis request highlighted_content_ids "analysis" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No Analysis Found!</h3>
                <div>Hello there! It appears that we couldn't find any analysis related to the stocks in your
                    portfolio.
                    But, no need to worry, there are a few things you can do to stay on top of your investments. One
                    option is to consider broadening your portfolio by adding more stocks. Alternatively, you could try
                    adding some relevant keywords to your current holdings. By doing this, FinBrowser can provide you
                    with the most recent updates on various aspects such as the company's products or the actions of its
                    executives.</div>
                <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="tabsContent" data-tab="1">
        <div class="contentColumnWrapper">
            {% if commentary %}
            <div class="emptyInformationContainer twitterUpdate">
                <h3>Twitter Update</h3>
                <div>
                    Hey there! Due to the recent policy changes implemented by Twitter, I regret to inform you that
                    FinBrowser is currently unable to display any new Tweets. I know this might be disappointing, as
                    Twitter
                    is a valuable source of information and updates for many of us. However, I want to assure you that I
                    am
                    actively working on finding alternative solutions and exploring ways to reintegrate Twitter sources
                    into
                    this website. I appreciate your patience and understanding during this time of transition.
                </div>
            </div>
            <div class="contentColumnContainer">
                {% create_content_container commentary request highlighted_content_ids "commentary" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No Commentary Found!</h3>
                <div>Hello there! It appears that we couldn't find any commentary related to the stocks in your
                    portfolio.
                    But, no need to worry, there are a few things you can do to stay on top of your investments. One
                    option is to consider broadening your portfolio by adding more stocks. Alternatively, you could try
                    adding some relevant keywords to your current holdings. By doing this, FinBrowser can provide you
                    with the most recent updates on various aspects such as the company's products or the actions of its
                    executives.</div>
                <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="tabsContent" data-tab="2">
        <div class="contentColumnWrapper">
            {% if news %}
            <div class="contentColumnContainer">
                {% create_content_container news request highlighted_content_ids "news" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No News Found!</h3>
                <div>Hello there! It appears that we couldn't find any news related to the stocks in your
                    portfolio.
                    But, no need to worry, there are a few things you can do to stay on top of your investments. One
                    option is to consider broadening your portfolio by adding more stocks. Alternatively, you could try
                    adding some relevant keywords to your current holdings. By doing this, FinBrowser can provide you
                    with the most recent updates on various aspects such as the company's products or the actions of its
                    executives.</div>
                <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="emptyInformationContainer emptyPortfolioContainer">
        <h3>This Portfolio Is Empty!</h3>
        <div>It looks like your portfolio is currently empty. Don't worry though, you can easily add your favorite
            stocks to this portfolio to get access to analysis, commentary, and news about those companies. By adding
            stocks, you'll be able to stay up-to-date with the latest information and make informed decisions about your
            investments. So go ahead and add those stocks to your portfolio to get started!</div>
        <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
    </div>
    {% endif %}
</div>
<script src="{% static 'stock/min_portfolio_script_v13.js' %}"></script>

{% else %}

<main class="main">
    <section class="landingSection">
        <div class="landingSectionContainer">
            <img class="logoLarge" src="{% static 'home/media/finbrowser-logo.png' %}" alt="FinBrowser logo">
            <p>
                Are you tired of feeling like you're missing out on crucial information about the stocks in your
                portfolio? Have you ever experienced sudden shifts in the businesses of your invested companies, leaving
                you wondering if the market had insider knowledge? Or perhaps you simply crave a reliable hub where you
                can access comprehensive information about the companies that captivate your interest. Look no further,
                because FinBrowser is the solution you've been searching for!
            </p>

            <p>
                FinBrowser has curated an exceptional collection of stock market content from the web's top producers.
                From real-time insights shared by financial analysts to the strategic viewpoints provided by hedge
                funds, in-depth research reports from reputable research services, captivating blog posts written by
                seasoned professionals, enlightening podcasts hosted by industry experts, and breaking news from trusted
                industry sources, you'll find it all within this platform.
            </p>

            <p>
                Now is the time to join FinBrowser and unlock the secrets surrounding the stocks that pique your
                curiosity. The best part? It's completely free! Simply enter your email, choose a new username and
                password, and you'll gain instant access to a wealth of knowledge. Don't miss out on this incredible
                opportunity — sign up with FinBrowser today!
            </p>
            <a href="{% url 'account_login' %}" class="signUpButton finButtonBlue" aria-label="Sign up"><i
                    class="fa-solid fa-right-to-bracket"></i> Get Started</a>
        </div>
    </section>
</main>

{% endif %}

{% endblock content %}