{% extends 'home/base.html' %} {% load static %} {% load tags %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'stock/min_stock_details_style_v3.css' %}" />
<title>{{ stock.full_company_name }} | FinBrowser</title>
<meta name="description" content="Discover the latest content from {{ sstock.full_company_name }}">
{% endblock %} {% block content %}

<div class="companyNameAndNotificationHeader">
    <h2 class="stockHeader" id="sti#{{ stock.stock_id }}">{{ stock.full_company_name }}</h2>
    {% if request.user.is_authenticated %}
    {% if notifications_activated %}
    <i aria-label="Activate Notifications" class="fas fa-bell notificationActivated"></i>
    {% else %}
    <i role="button" aria-label="Deactivate Notifications" class="fas fa-bell"></i>
    {% endif %}
    {% endif %}
</div>

{% if expert_sources %}
{% create_source_container "Primary Sources" expert_sources %}
{% endif %}

{% if filtered_articles or filtered_tweets %}
<div class="contentColumnWrapper">
    {% if filtered_articles %}
    <div class="contentColumnContainer">
        {% create_content_container "Long-Form Content" filtered_articles request user_lists csrf_token add_list_form highlighted_content_ids %}
        <div class="pagination">
            <span class="step-links">
                {% for i in filtered_articles.paginator.page_range %}
                {% if filtered_articles.number == i %}
                <button class="currentPagination">{{ filtered_articles.number }}</button>
                {% elif i > filtered_articles.number|add:'-3' and i < filtered_articles.number|add:'3' %} <a
                    href="?long_form_content={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    {% endif %}
    {% if filtered_tweets %}
    <div class="contentColumnContainer">
        {% create_content_container "Tweets" filtered_tweets request user_lists csrf_token add_list_form highlighted_content_ids %}
        <div class="pagination">
            <span class="step-links">
                {% for i in filtered_tweets.paginator.page_range %}
                {% if filtered_tweets.number == i %}
                <button class="currentPagination">{{ filtered_tweets.number }}</button>
                {% elif i > filtered_tweets.number|add:'-3' and i < filtered_tweets.number|add:'3' %} <a
                    href="?tweets={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    {% endif %}
</div>
{% else %}
<div class="noContentFound">No content found!</div>
{% endif %}

<script src="{% static 'stock/min_stock_details_script_v2.js' %}"></script>
{% endblock content %}