{% extends 'home/base.html' %} {% load static %} {% load tags %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'stock/min_stock_details_style_v8.css' %}" />
<title>{{ stock.full_company_name }} | FinBrowser</title>
<meta name="description" content="Discover the latest content from {{ sstock.full_company_name }}">
{% endblock %} {% block content %}


<div class="stockMenuWrapper">
    <div class="menuContainer">
        <div role="form" class="addStockContainer">
            <div class="formHeaderContainer">
                <h2>Add <span>{{ stock.ticker }}</span> to your portfolios</h2>
                <i class="fas fa-times closeFormContainerButton"></i>
            </div>
            {% if portfolios %}
            <div class="descContainer">
                <span>Name</span>
                <span>In Portfolio</span>
            </div>
            <div class="portfolioSelectionContainer">
                {% for portfolio in portfolios %}
                <div class="portfolioContainer">
                    <label>{{ portfolio.name }}</label>
                    {% if stock.stock_id in portfolio.stocks %}
                    <input id="id_portfolio_{{ portfolio.portfolio_id }}" class="portfolioInList" type="checkbox"
                        name="portfolios" value="{{ portfolio.portfolio_id }}" checked>
                    {% else %}
                    <input id="id_portfolio_{{ portfolio.portfolio_id }}" class="portfolioNotInList" type="checkbox"
                        name="portfolios" value="{{ portfolio.portfolio_id }}">
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="buttonsContainer">
                <button class="cancelButton finButtonWhite">Cancel</button>
                <button class="saveButton finButtonBlue">Save</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>


<div class="pageWrapper">
    <div class="companyNameAndNotificationHeader">
        <div class="stockHeader" id="sti#{{ stock.stock_id }}">
            <h2>{{ stock.ticker }}</h2>
            <h2 class=" seperator"> - </h2>
            <h2>{{ stock.full_company_name }}</h2>
        </div>
        <div class="stockActionContainer">
            {% if request.user.is_authenticated %}
            <button aria-label="Add Stock To Lists" class="addStockToListButton"><i
                    class="fas fa-ellipsis-h"></i></button>
            <div role="form" class="addToListForm addStockToListForm">
                <div class="formHeaderContainer">Add To portfolios<i class="fas fa-times closeFormContainerButton"></i>
                </div>
                <div class="listSelectionContainer">
                    {% for portfolio in portfolios %}
                    <div class="listContainer">
                        {% if stock.stock_id in portfolio.stocks %}
                        <input id="portfolio_{{portfolio.portfolio_id}}" type="checkbox"
                            value="{{portfolio.portfolio_id}}" checked="True">
                        {% else %}
                        <input id="portfolio_{{portfolio.portfolio_id}}" type="checkbox"
                            value="{{portfolio.portfolio_id}}">
                        {% endif %}
                        <label>{{ portfolio.name }}</label>
                    </div>
                    {% endfor %}
                </div>
                <button class="saveButton">Save</button>
            </div>
            {% if notification_id %}
            <i id="nid#{{notification_id}}" aria-label="Active Notification"
                class="fas fa-bell-slash notificationButton notificationActivated"></i>
            {% else %}
            <i role="button" aria-label="Inactive Notification" class="fas fa-bell notificationButton"></i>
            {% endif %}
            {% else %}
            <button aria-label="Add Stock To Lists" class="addStockToListButton openAuthPrompt ap4"><i
                    class="fas fa-ellipsis-h openAuthPrompt ap4"></i></button>
            <i aria-label="Activate Notifications"
                class="fas fa-bell-slash notificationButton notificationActivated openAuthPrompt ap3"></i>
            {% endif %}
        </div>
    </div>

    <div class="tabsContainer" id="content" role="navigation" aria-label="Stock Content Navigation">
        <button class="activatedTab" data-for-tab="0">Analysis</button>
        <button data-for-tab="1">Commentary</button>
        <button data-for-tab="2">News</button>
    </div>
    <div class="tabsContent tabsContentActive" data-tab="0">
        {% create_source_container analysis_sources subscribed_sources request %}
        <div class="contentColumnWrapper">
            {% if analysis %}
            <div class="contentColumnContainer">
                {% create_content_container analysis request highlighted_content_ids "analysis" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No Analysis Found!</h3>
                <div>Unfortunately, I couldn't find any analysis for this stock. However, if you happen to know about
                    any great sources that cover this stock, please don't hesitate to use the contact form to let me
                    know. I always appreciate your input and feedback!</div>
                <a class="finButtonWhite" href="{% url 'support:contact' %}">Contact Form</a>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="tabsContent" data-tab="1">
        {% create_source_container commentary_sources subscribed_sources request %}
        <div class="contentColumnWrapper">
            {% if commentary %}
            <div class="contentColumnContainer">
                {% create_content_container commentary request highlighted_content_ids "commentary" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No Commentary Found!</h3>
                <div>Unfortunately, I couldn't find any commentary for this stock. However, if you happen to know about
                    any great sources that cover this stock, please don't hesitate to use the contact form to let me
                    know. I always appreciate your input and feedback!</div>
                <a class="finButtonWhite" href="{% url 'support:contact' %}">Contact Form</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="tabsContent" data-tab="2">
        {% create_source_container news_sources subscribed_sources request %}
        <div class="contentColumnWrapper">
            {% if news %}
            <div class="contentColumnContainer">
                {% create_content_container news request highlighted_content_ids "news" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No News Found!</h3>
                <div>Unfortunately, I couldn't find any news for this stock. However, if you happen to know about
                    any great sources that cover this stock, please don't hesitate to use the contact form to let me
                    know. I always appreciate your input and feedback!</div>
                <a class="finButtonWhite" href="{% url 'support:contact' %}">Contact Form</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="{% static 'stock/min_stock_details_script_v6.js' %}"></script>
{% endblock content %}