{% extends 'home/base.html' %} {% load static %} {% load tags %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'list/min_list_details_style_v12.css' %}" />
{% if request.user.is_authenticated %}
<title>{{ list.name }} | FinBrowser</title>
{% else %}
<title>Lists | FinBrowser</title>
{% endif %}
<meta name="description" content="FinBrowser list created by {{ list.creator.username }}">
{% endblock %} {% block content %}

{% if request.user.is_authenticated %}

<div class="listMenuWrapper">
    <div class="menuContainer">
        <div class="addSourceContainer">
            <div class="header">
                <h2>Add Sources</h2><i class="fas fa-times closeAddSourceContainer"></i>
            </div>
            <div class="actionWrapper">
                <input id="textInput" type="text" autocomplete="off" spellcheck="false">
                <div class="searchResultWrapper">
                    <div id="searchResultsContainer"></div>
                    <div class="selectionContainer"></div>
                </div>
                <button class="addSourceButton">Add</button>
            </div>
        </div>
        <div class="editMenu">
            <div class="header">
                <h2>Edit Menu</h2> <i class="fas fa-times"></i>
            </div>
            <div class="listNameContainer">
                <label>List Name</label>
                <input minlength="1" maxlength="30" value="{{ list.name }}" autocomplete="off" spellcheck="false">
            </div>
            <div class="mainListContainer">
                <label>Main List</label>
                {% if list.main %}
                <input type="checkbox" checked="True" disabled>
                {% else %}
                <input type="checkbox">
                {% endif %}
                <span class="infoLink"><i class="fas fa-info"></i></span>
            </div>
            <button class="saveEditsButton">Save</button>
            <button class="deleteListButton">Delete List</button>
        </div>
        <div class="warningMessageContainer">
            <div class="faTimesContainer">!</div>
            <h3>Warning!</h3>
            <span>Are you sure you want to delete this list? This action can not be undone!</span>
            <div class="buttonContainer"><button class="discardButton">Discard</button><button
                    class="confirmButton">Confirm</button></div>
        </div>
    </div>
</div>


<div class="pageWrapper">
    <div class="firstRow">
        <div class="nameContainer">
            <h2 id="{{ list.list_id }}">{{ list.name }}</h2>
            <i class="fas fa-chevron-down"></i>
            <div class="listOptionsContainer">
                <div class="listsContainer">
                    {% for llist in lists %}
                    <div id="list{{llist.list_id}}" class="listOption">
                        <span>{{ llist.name }}</span>
                        <a href="{{ llist.get_absolute_url }}" aria-label="Open list {{ llist.name }}"></a>
                    </div>
                    {% endfor %}
                    <div class="listOption">
                        <span>Subscribed Sources</span>
                        <a href="{% url 'list:list-subscribed_sources' %}" aria-label="Open subscribed sources"></a>
                    </div>
                    <div class="listOption">
                        <span>Highlighted Content</span>
                        <a href="{% url 'list:list-highlighted_content' %}" aria-label="Open highlighted content"></a>
                    </div>
                </div>
                <button class="createListButton"><i class="fas fa-plus"></i>Create New List</button>
            </div>
        </div>
        <div class="actionButtonContainer">
            <button class="editListButton"><i class="fas fa-edit"></i><span>Edit</span></button>
            <button class="addSourceButton"><i class="fas fa-plus"></i><span>Add</span></button>
        </div>
    </div>

    {% if list.sources.all.count > 0 %}
    <div class="sliderWrapper">
        <div class="sliderContentContainer">
            <button aria-label="Slide Left" class="handle leftHandle">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="slider">
                {% for source in list.sources.all|dictsort:"name" %}
                <div class="contentWrapper" id="ldsls?si#{{ source.source_id }}">
                    <img src="{% static source.favicon_path %}" alt="Source Picture" />
                    <div class="contentRatingContainer">
                        <i class="fa fa-star"></i>
                        <span>{{ source.average_rating }}</span>
                    </div>
                    <div class="nameContainer">
                        <span>{{source.name}}</span>
                    </div>
                    {% if source in subscribed_sources %}
                    <button class="subscribeButton subscribed">Subscribed</button>
                    {% else %}
                    <button class="subscribeButton">Subscribe</button>
                    {% endif %}
                    <button class="removeFromListButton">Remove</button>
                    <a class="contentLink" href="{{ source.get_absolute_url }}"
                        aria-label="Open Profile Of {{ source.name }}"></a>
                </div>
                {% endfor %}
            </div>
            <button aria-label="Slide right" class="handle rightHandle">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="tabsContainer" id="content" role="navigation" aria-label="Stock Content Navigation">
        <button class="activatedTab" data-for-tab="0">Analysis</button>
        <button data-for-tab="1">Commentary</button>
        <button data-for-tab="2">News</button>
        <button data-for-tab="3">Saved</button>
    </div>
    <div class="tabsContent tabsContentActive" data-tab="0">
        <div class="contentColumnWrapper">
            {% if analysis %}
            <div class="contentColumnContainer">
                {% create_content_container analysis request highlighted_content_ids "analysis" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No analytical content found!</h3>
                <div>Consider adding more sources to this list!</div>
                <button><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="tabsContent" data-tab="1">
        <div class="contentColumnWrapper">
            {% if commentary %}
            <div class="contentColumnContainer">
                {% create_content_container commentary request highlighted_content_ids "commentary" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No commentary found!</h3>
                <div>Consider adding more sources to this list!</div>
                <button><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="tabsContent" data-tab="2">
        <div class="contentColumnWrapper">
            {% if news %}
            <div class="contentColumnContainer">
                {% create_content_container news request highlighted_content_ids "news" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No news content found!</h3>
                <div>Consider adding more sources to this list!</div>
                <button><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="tabsContent" data-tab="3">
        <div class="contentColumnWrapper">
            {% if saved_content %}
            <div class="contentColumnContainer">
                {% create_content_container saved_content request highlighted_content_ids "saved_content" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No saved content found!</h3>
                <div>You can add content to this list by opening the individual content options menu!</div>
            </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="emptyInformationContainer">
        <h3>This list is empty!</h3>
        <div>Add sources to this list to get the latest information from your favorite content creators.</div>
        <button><i class="fas fa-plus"></i>Add</button>
    </div>
    {% endif %}
</div>

<script src="{% static 'list/min_list_details_script_v12.js' %}"></script>

{% else %}

<main class="main">
    <section class="landingSection">
        <div class="landingSectionContainer">
            <h1>FinBrowser
                <span>Lists</span>
            </h1>
            <p>
                Save interesting content, create lists on specific topics, and always stay up to date when one of your
                favorite stock market content creators publishes new content.
            </p>
            <a href="{% url 'account_login' %}" class="signUpButton" aria-label="Sign Up">Get Started</a>
        </div>
        <div class="landingSectionImage">
            <img src="{% static 'home/media/landing-page.svg' %}" alt="landing-page-logo">
        </div>
    </section>
</main>

{% endif %}

{% endblock content %}