{% extends 'home/base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'list/min_list_details_style.css' %}" />
<title>{{ list.name }} List | FinBrowser</title>
<meta name="description" content="FinBrowser list created by {{ list.creator.username }}">
{% endblock %} {% block content %}

<form action="" class="changeListForm" method="POST" enctype="multipart/form-data">
    <div class="upperContainer">
        <div class="leftInnerContainer">
            <div class="listPictureContainer">
                {% csrf_token %}
                {% if list.creator == request.user %}
                {% if list.list_pic %}
                <img src="{{ list.list_pic.url }}">
                {% else %}
                <img src="{% static 'home/media/finbrowser-bigger-logo.png' %}">
                {% endif %}
                {{ change_list_pic_form }}
                {% else %}
                {% if list.list_pic %}
                <img src="{{ list.list_pic.url }}">
                {% else %}
                <img src="{% static 'home/media/finbrowser-bigger-logo.png' %}">
                {% endif %}
                {% endif %}
                <i class="fas fa-camera"></i>
            </div>
        </div>
        <div class="rightInnerContainer">
            <div class="rightFirstRowContainer">
                <h3 id="list_detail_for_{{ list.list_id }}">{{ list.name }}</h3>
                <div class="nameChangeContainer">{{ change_list_name_form }}</div>
                <div class="creatorContainer creatorContainerSmartphonePositioning">
                    <span>Creator: </span>
                    <a href="{{ list.creator.profile.get_absolute_url }}">{{ list.creator.username }}</a>
                </div>
                {% if list.creator == request.user %}
                <div class="notificationAndSubscribtionContainer">
                    {% if notifications_activated %}
                    <i class="fas fa-bell notificationActivated"></i>
                    {% else %}
                    <i class="fas fa-bell"></i>
                    {% endif %}
                    <button type="button" class="editButton"><i class="fas fa-edit"></i> Edit</button>
                    <div class="buttonContainer">
                        <button type="button" class="deleteListButton">Delete List</button>
                        <a href="{{ list.get_absolute_url }}" class="cancelButton">Cancel</a>
                        <input name="changeListForm" type="submit" value="Save">
                    </div>
                </div>
                {% else %}
                <div class="notificationAndSubscribtionContainer">
                    {% if request.user.is_authenticated %}
                    {% if notifications_activated %}
                    <i class="fas fa-bell notificationActivated"></i>
                    {% else %}
                    <i class="fas fa-bell"></i>
                    {% endif %}
                    {% if subscribed %}
                    <button type="button" class="subscribeButton subscribed">Subscribed</button>
                    {% else %}
                    <button type="button" class="subscribeButton unsubscribed">Subscribe</button>
                    {% endif %}
                    {% else %}
                    <a href="{% url 'account_login' %}"
                        class="subscribeButton unsubscribed registrationLink">Subscribe</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="creatorContainer">
                <span>Creator: </span>
                <a href="{{ list.creator.profile.get_absolute_url }}">{{ list.creator.username }}</a>
            </div>
            <div class="ratingsWrapper">
                <div class="rankingsUpperContainer">
                    <div class="rankingsHeader">Ratings</div>
                    {% if list.creator != request.user %}
                    {% if request.user.is_authenticated %}
                    <button type="button" class="rateListButton">Rate</button>
                    {% else %}
                    <a href="{% url 'account_login' %}" class="rateListButton registrationLink">Rate</a>
                    {% endif %}
                    <div class="rate-formUpperContainer">
                        <h3>Rate {{ list.name }}</h3>
                        <div class="rate-form" action="" method="POST">
                            <button type="button" class="fa fa-star rankingStar" id="first"></button>
                            <button type="button" class="fa fa-star rankingStar" id="second"></button>
                            <button type="button" class="fa fa-star rankingStar" id="third"></button>
                            <button type="button" class="fa fa-star rankingStar" id="fourth"></button>
                            <button type="button" class="fa fa-star rankingStar" id="fifth"></button>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="rankingsContainer">
                    <div class="rating">
                        <div class="ratedContainer">
                            <button type="button" class="fa fa-star ratedStar" id="first"></button>
                            <button type="button" class="fa fa-star ratedStar" id="second"></button>
                            <button type="button" class="fa fa-star ratedStar" id="third"></button>
                            <button type="button" class="fa fa-star ratedStar" id="fourth"></button>
                            <button type="button" class="fa fa-star ratedStar" id="fifth"></button>
                        </div>
                        {% if average_rating != "None" %}
                        <div class="avgRating"><span>{{ list.average_rating }}</span> out of 5</div>
                        {% else %}
                        <div class="avgRating">No Ratings</div>
                        {% endif %}
                    </div>
                </div>
                <div class="ratingsAmmountContainer">based on <span class="ratingsAmmount">
                        {{ list.ammount_of_ratings }}</span> ratings</div>
            </div>
        </div>
    </div>
</form>

<div class="sliderWrapper">
    <div class="sliderHeader">
        <div class="sliderHeaderTitle">Sources</div>
        <div class="progressBar"></div>
    </div>
    <div class="sliderContentContainer">
        <button class="handle leftHandle">
            <div class="handleSymbol">&#8249;</div>
        </button>
        <div class="slider">
            {% for source in list.sources.all|dictsort:"name" %}
            <div class="contentWrapper">
                <div class="contentContainer">
                    <div class="contentIconContainer">
                        <img class="contentIcon" src="{% static source.favicon_path %}" alt="favicon" />
                    </div>
                    {% if list.creator == request.user %}
                    <i class="fas fa-trash sourceDeleteOption" id="source_id_{{ source.source_id }}"></i>
                    {% endif %}
                    <a class="contentLink" href="{{ source.get_absolute_url }}"></a>
                    <div class="contentNameContainer">
                        <div class="contentName">{{ source.name }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if list.creator == request.user %}
            <div class="contentWrapper interactionWrapper">
                <div class="addSourcesButton addButton"><i class="fas fa-plus"></i></div>
                <div class="contentWrapper addSourcesForm formContainer">
                    <div class="formHeaderContainer">Add Sources<i class="fas fa-times closeFormContainerButton"></i>
                    </div>
                    <input id="textInput" type="text">
                    <div class="searchResultWrapper">
                        <div id="searchResultsContainer"></div>
                        <div class="selectionContainer"></div>
                    </div>
                    <button class="formSubmitButton">Add</button>
                </div>
            </div>
            {% endif %}
        </div>
        <button class="handle rightHandle">
            <div class="handleSymbol">&#8250;</div>
        </button>
    </div>
</div>


{% if latest_articles %}
<div class="categoryHeader">Latest Content</div>
<div class="articlesWrapper">
    {% for article in latest_articles %}
    <div class="articleContainer" id="article_id_{{ article.article_id }}">
        <div class="authorImageContainer">
            <img src="{% static article.source.favicon_path %}" />
            <a href="{{ article.source.get_absolute_url }}"></a>
        </div>
        <div class="articleInformationContainer">
            <div class="articleTitle">{{ article.title }}
                <span class="articleTitleTooltip">{{ article.title }}</span>
            </div>
            <div class="articleSectorAndDateContainer">
                <a href="{{ article.source.sector.get_absolute_url }}">
                    {{ article.source.sector }}</a>
                <div class="articlePubDate">{{ article.pub_date }}</div>
            </div>
        </div>
        <i class="fas fa-ellipsis-h"></i>
        <div class="articleWebsiteLogoContainer">
            <img class="articleWebsiteLogo" src="{% static article.source.website.logo %}" alt="">
            <a class="articleLink" href="{{ article.link }}"></a>
        </div>
        <div class="articleOptionsContainer">
            {% if request.user.is_authenticated %}
            <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
            {% if article.title in highlighted_content_titles %}
            <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight article</span></div>
            {% else %}
            <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight article</span>
            </div>
            {% endif %}
            {% else %}
            <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i class="fas fa-list"></i>Add
                to list</a>
            <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                    class="fas fa-highlighter"></i><span>Highlight article</span></a>
            {% endif %}
        </div>
        <div class="addToListForm">
            <div class="formHeaderContainer">Add To Lists<i class="fas fa-times closeFormContainerButton"></i>
            </div>
            {% if user_lists %}
            <div class="listSelectionContainer">
                {% for list in user_lists %}
                <div class="listContainer">
                    <label for="list_id_{{ list.list_id }}">
                        {% if article in list.articles.all %}
                        <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists" checked="True">
                        {{ list }}
                        {% else %}
                        <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists">
                        {{ list }}
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="buttonsContainer">
                <button class="saveButton">Save</button>
                <button class="createNewListButton">Create</button>
            </div>
            {% else %}
            <div class="listContainer">You haven't created any lists!</div>
            <button class="createNewListButton createFirstList">Create First List</button>
            {% endif %}
        </div>
        <div class="createListMenu articleCreateListMenu formContainer">
            <div class="formHeaderContainer">Create A New List<i class="fas fa-times closeFormContainerButton"></i>
            </div>
            <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                {% csrf_token %} {{ add_list_form }}
                <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% for i in latest_articles.paginator.page_range %}
        {% if latest_articles.number == i %}
        <button class="currentPagination">{{ latest_articles.number }}</button>
        {% elif i > latest_articles.number|add:'-3' and i < latest_articles.number|add:'3' %} <a
            href="?latest_articles={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
    </span>
</div>
{% endif %}


{% if highlighted_articles %}
<div class="categoryHeader">Highlighted Content</div>
<div class="articlesWrapper">
    {% for article in highlighted_articles %}
    <div class="articleContainer" id="article_id_{{ article.article_id }}">
        {% if article.source %}
        <div class="authorImageContainer">
            <img src="{% static article.source.favicon_path %}" />
            <a href="{{ article.source.get_absolute_url }}"></a>
        </div>
        {% else %}
        <div class="authorImageContainer imageContainerUserLink">
            <i class="fas fa-question-circle"></i>
            <a href="{{ article.source.get_absolute_url }}"></a>
        </div>
        {% endif %}
        <div class="articleInformationContainer">
            <div class="articleTitle">{{ article.title }}
                <span class="articleTitleTooltip">{{ article.title }}</span>
            </div>
            <div class="articleSectorAndDateContainer">
                <a href="{{ article.source.sector.get_absolute_url }}">
                    {{ article.source.sector }}</a>
                <div class="articlePubDate">{{ article.pub_date }}</div>
            </div>
        </div>
        <i class="fas fa-ellipsis-h"></i>
        {% if article.source %}
        <div class="articleWebsiteLogoContainer">
            <img class="articleWebsiteLogo" src="{% static article.source.website.logo %}">
            <a href="{{ article.source.get_absolute_url }}"></a>
        </div>
        {% else %}
        <div class="articleWebsiteLogoContainer imageContainerUserLink">
            <i class="fas fa-question-circle"></i>
            <a href="{{ article.source.get_absolute_url }}"></a>
        </div>
        {% endif %}
        <div class="articleOptionsContainer">
            {% if request.user.is_authenticated %}
            <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
            {% if article.title in highlighted_content_titles %}
            <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight article</span></div>
            {% else %}
            <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight article</span>
            </div>
            {% endif %}
            {% else %}
            <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i class="fas fa-list"></i>Add
                to list</a>
            <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                    class="fas fa-highlighter"></i><span>Highlight article</span></a>
            {% endif %}
        </div>
        <div class="addToListForm">
            <div class="formHeaderContainer">Add To Lists<i class="fas fa-times closeFormContainerButton"></i>
            </div>
            {% if user_lists %}
            <div class="listSelectionContainer">
                {% for list in user_lists %}
                <div class="listContainer">
                    <label for="list_id_{{ list.list_id }}">
                        {% if article in list.articles.all %}
                        <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists" checked="True">
                        {{ list }}
                        {% else %}
                        <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists">
                        {{ list }}
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <div class="buttonsContainer">
                <button class="saveButton">Save</button>
                <button class="createNewListButton">Create</button>
            </div>
            {% else %}
            <div class="listContainer">You haven't created any lists!</div>
            <button class="createNewListButton createFirstList">Create First List</button>
            {% endif %}
        </div>
        <div class="createListMenu articleCreateListMenu formContainer">
            <div class="formHeaderContainer">Create A New List<i class="fas fa-times closeFormContainerButton"></i>
            </div>
            <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                {% csrf_token %} {{ add_list_form }}
                <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% for i in highlighted_articles.paginator.page_range %}
        {% if highlighted_articles.number == i %}
        <button class="currentPagination">{{ highlighted_articles.number }}</button>
        {% elif i > highlighted_articles.number|add:'-3' and i < highlighted_articles.number|add:'3' %} <a
            href="?highlighted_articles={{ i }}">{{ i }}</a>
        {% endif %}
        {% endfor %}
    </span>
</div>
{% endif %}

{% if newest_tweets %}
<div class="twitterWrapper">
    {% if highlighted_tweets %}
    <div class="highlightedTweetsContainer">
        <div class="categoryHeader">Highlighted Tweets</div>
        <div class="smallFormContentWrapper">
            {% for tweet in highlighted_tweets %}
            <div class="articleContainer" id="article_id_{{ tweet.article_id }}">
                <div class="leftContentSide">
                    <img src="{% static tweet.source.favicon_path %}" />
                </div>
                <div class="rightContentSide">
                    <div class="contentInfoContainer">
                        <div class="sourceAndWebsiteContainer">
                            <a href="{{ tweet.source.get_absolute_url }}">{{ tweet.source.name }}</a>
                            <img src="{% static 'home/media/twitter_logo.png' %}">
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                        <div class="articleOptionsContainer">
                            {% if request.user.is_authenticated %}
                            <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
                            {% if tweet.title in highlighted_content_titles %}
                            <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight
                                    article</span></div>
                            {% else %}
                            <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight
                                    article</span></div>
                            {% endif %}
                            {% else %}
                            <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i
                                    class="fas fa-list"></i>Add
                                to list</a>
                            <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                                    class="fas fa-highlighter"></i><span>Highlight article</span></a>
                            {% endif %}
                        </div>
                        <div class="addToListForm">
                            <div class="formHeaderContainer">Add To Lists<i
                                    class="fas fa-times closeFormContainerButton"></i>
                            </div>
                            {% if user_lists %}
                            <div class="listSelectionContainer">
                                {% for list in user_lists %}
                                <div class="listContainer">
                                    <label for="list_id_{{ list.list_id }}">
                                        {% if tweet in list.articles.all %}
                                        <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists"
                                            checked="True"> {{ list }}
                                        {% else %}
                                        <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists">
                                        {{ list }}
                                        {% endif %}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="buttonsContainer">
                                <button class="saveButton">Save</button>
                                <button class="createNewListButton">Create</button>
                            </div>
                            {% else %}
                            <div class="listContainer">You haven't created any lists!</div>
                            <button class="createNewListButton createFirstList">Create First List</button>
                            {% endif %}
                        </div>
                        <div class="createListMenu articleCreateListMenu formContainer">
                            <div class="formHeaderContainer">Create A New List<i
                                    class="fas fa-times closeFormContainerButton"></i>
                            </div>
                            <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                                {% csrf_token %} {{ add_list_form }}
                                <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
                            </form>
                        </div>
                    </div>
                    <div class="contentBody">
                        <p>{{ tweet.title }}</p>
                    </div>
                    <div class="timeContainer">
                        <p>{{ tweet.pub_date }}</p>
                    </div>
                    <a class="contentLink" href="{{ tweet.article.link }}"></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% for i in highlighted_tweets.paginator.page_range %}
                {% if highlighted_tweets.number == i %}
                <button class="currentPagination">{{ highlighted_tweets.number }}</button>
                {% elif i > highlighted_tweets.number|add:'-3' and i < highlighted_tweets.number|add:'3' %} <a
                    href="?highlighted_tweets={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    {% endif %}
    <div class="newestTweetsContainer {% if not highlighted_tweets %}twitterHalfPageContainer{% endif %}">
        <div class="categoryHeader">Newest Tweets</div>
        {% if newest_tweets %}
        <div class="smallFormContentWrapper">
            {% for tweet in newest_tweets %}
            <div class="articleContainer" id="article_id_{{ tweet.article_id }}">
                <div class="leftContentSide">
                    <img src="{% static tweet.source.favicon_path %}" />
                </div>
                <div class="rightContentSide">
                    <div class="contentInfoContainer">
                        <div class="sourceAndWebsiteContainer">
                            <a href="{{ tweet.source.get_absolute_url }}">{{ tweet.source.name }}</a>
                            <img src="{% static 'home/media/twitter_logo.png' %}">
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                        <div class="articleOptionsContainer">
                            {% if request.user.is_authenticated %}
                            <div class="addToListButton"><i class="fas fa-list"></i>Add to list</div>
                            {% if tweet.title in highlighted_content_titles %}
                            <div class="addToHighlightedButton"><i class="fas fa-times"></i><span>Unhighlight
                                    article</span></div>
                            {% else %}
                            <div class="addToHighlightedButton"><i class="fas fa-highlighter"></i><span>Highlight
                                    article</span></div>
                            {% endif %}
                            {% else %}
                            <a href="{% url 'account_login' %}" class="addToListButton registrationLink"><i
                                    class="fas fa-list"></i>Add
                                to list</a>
                            <a href="{% url 'account_login' %}" class="addToHighlightedButton registrationLink"><i
                                    class="fas fa-highlighter"></i><span>Highlight article</span></a>
                            {% endif %}
                        </div>
                        <div class="addToListForm">
                            <div class="formHeaderContainer">Add To Lists<i
                                    class="fas fa-times closeFormContainerButton"></i>
                            </div>
                            {% if user_lists %}
                            <div class="listSelectionContainer">
                                {% for list in user_lists %}
                                <div class="listContainer">
                                    <label for="list_id_{{ list.list_id }}">
                                        {% if tweet in list.articles.all %}
                                        <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists"
                                            checked="True"> {{ list }}
                                        {% else %}
                                        <input id="list_id_{{ list.list_id }}" type="checkbox" name="lists">
                                        {{ list }}
                                        {% endif %}
                                    </label>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="buttonsContainer">
                                <button class="saveButton">Save</button>
                                <button class="createNewListButton">Create</button>
                            </div>
                            {% else %}
                            <div class="listContainer">You haven't created any lists!</div>
                            <button class="createNewListButton createFirstList">Create First List</button>
                            {% endif %}
                        </div>
                        <div class="createListMenu articleCreateListMenu formContainer">
                            <div class="formHeaderContainer">Create A New List<i
                                    class="fas fa-times closeFormContainerButton"></i>
                            </div>
                            <form action="" enctype="multipart/form-data" method="POST" class="createListForm">
                                {% csrf_token %} {{ add_list_form }}
                                <input name="createListForm" type="submit" class="formSubmitButton" value="Save" />
                            </form>
                        </div>
                    </div>
                    <div class="contentBody">
                        <p>{{ tweet.title }}</p>
                    </div>
                    <div class="timeContainer">
                        <p>{{ tweet.pub_date }}</p>
                    </div>
                    <a class="contentLink" href="{{ tweet.link }}"></a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% for i in newest_tweets.paginator.page_range %}
                {% if newest_tweets.number == i %}
                <button class="currentPagination">{{ newest_tweets.number }}</button>
                {% elif i > newest_tweets.number|add:'-3' and i < newest_tweets.number|add:'3' %} <a
                    href="?newest_tweets={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
        {% else %}
        <div class="twitterContainerPlaceholder">
            <div>You Aren't Subscribed To A Twitter Source!</div>
        </div>
        {% endif %}
    </div>
    <div class="mostLikedTweetsContainer {% if not highlighted_tweets %}twitterHalfPageContainer{% endif %}">
        <div class="categoryHeader">Most Liked Tweets</div>
        <div class="blurContainer">
            <div class="smallFormContentWrapper blur">
                <img src="{% static 'home/media/blurred_top_tweets.png'  %}">
            </div>
            <div class="blurOverlay"></div>
            <div class="comingSoon">Coming Soon</div>
        </div>
    </div>
</div>
{% endif %}


{{ user_rating|json_script:"user-rating" }}
<script src="{% static 'list/min_list_details_script.js' %}"></script>
{% endblock content %}