{% extends 'home/base.html' %} {% load static %} {% load tags %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'list/min_list_details_style_v1.css' %}" />
{% if request.user.is_authenticated %}
<title>{{ list.name }} | FinBrowser</title>
<meta name="description" content="FinBrowser list created by {{ request.user.username }}">
<link rel="canonical" href="https://finbrowser.io/list/{{ list.list_id }}">
{% else %}
<title>Lists | FinBrowser</title>
<meta name="description" content="Easily create themed lists on your favorite stock market topics">
<link rel="canonical" href="https://finbrowser.io/lists">
{% endif %}
{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}

<div class="listMenuWrapper">
    <div class="menuContainer">
        <div class="addSourceContainer">
            <div class="header">
                <h2>Add Sources</h2><i role="button" aria-label="Close form"
                    class="fas fa-times closeAddSourceContainer"></i>
            </div>
            <div class="actionWrapper">
                <div class="searchWrapper">
                    <i role="search" class="fas fa-search"></i>
                    <input id="addSources" type="search" autocomplete="off" spellcheck="false">
                </div>
                <div class="searchResultWrapper">
                    <div id="searchResultsContainer"></div>
                    <div class="selectionContainer"></div>
                </div>
                <div class="buttonContainer">
                    <button class="cancelButton finButtonWhite">Reset</button>
                    <button class="addSourceButton finButtonBlue">Save</button>
                </div>
            </div>
        </div>
        <div class="editMenu">
            <div class="header">
                <h2>Edit Menu</h2> <i role="button" aria-label="Close form" class="fas fa-times"></i>
            </div>
            <div class="listNameContainer">
                <label for="listName">List Name</label>
                <input id="listName" minlength="1" maxlength="30" value="{{ list.name }}" autocomplete="off"
                    spellcheck="false">
            </div>
            <div class="mainListContainer">
                <label for="mainList">Main List</label>
                {% if list.main %}
                <input id="mainList" type="checkbox" checked="True" disabled>
                {% else %}
                <input id="mainList" type="checkbox">
                {% endif %}
                <span class="infoLink"><i role="button" aria-label="Open explanation" class="fas fa-info"></i></span>
            </div>
            <button class="saveEditsButton finButtonBlue">Save</button>
            <button class="deleteListButton">Delete List</button>
        </div>
        <div class="warningMessageContainer">
            <div class="faTimesContainer">!</div>
            <h3>Warning!</h3>
            <span>Are you sure you want to delete this list? This action can not be undone!</span>
            <div class="buttonContainer"><button class="discardButton">Discard</button><button
                    class="confirmButton">Confirm</button></div>
        </div>
    </div>
</div>


<div class="pageWrapper">
    <div class="firstRow">
        <div class="nameContainer">
            <h2 id="{{ list.list_id }}">{{ list.name }}</h2>
            <i class="fas fa-chevron-down"></i>
            <div class="listOptionsContainer">
                <div class="listsContainer">
                    {% for llist in lists %}
                    <div id="list{{llist.list_id}}" class="listOption">
                        <span>{{ llist.name }}</span>
                        <a href="{{ llist.get_absolute_url }}" aria-label="Open {{ llist.name }}"></a>
                    </div>
                    {% endfor %}
                    <div class="listOption">
                        <span>Subscribed Sources</span>
                        <a href="{% url 'list:list-subscribed_sources' %}" aria-label="Open subscribed sources"></a>
                    </div>
                    <div class="listOption">
                        <span>Highlighted Content</span>
                        <a href="{% url 'list:list-highlighted_content' %}" aria-label="Open highlighted content"></a>
                    </div>
                </div>
                <button class="createListButton finButtonWhite"><i class="fas fa-plus"></i>Create New List</button>
            </div>
        </div>
        <div class="actionButtonContainer">
            <button class="editListButton finButtonBlue"><i class="fas fa-edit"></i><span>Edit</span></button>
            <button class="addSourceButton finButtonWhite"><i class="fas fa-plus"></i><span>Add</span></button>
        </div>
    </div>

    {% if list.sources.all.count > 0 or saved_content|length > 0 %}
    {% if list.sources.all.count > 0 %}
    <div class="sliderWrapper">
        <div class="sliderContentContainer">
            <button aria-label="Slide Left" class="handle leftHandle finButtonWhite">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div class="slider">
                {% for source in list.sources.all|dictsort:"name" %}
                <div class="contentWrapper" id="ldsls?si#{{ source.source_id }}">
                    <img src="{% static source.favicon_path %}" alt="Source Picture" />
                    <div class="contentRatingContainer">
                        <i class="fa fa-star"></i>
                        <span>{{ source.average_rating }}</span>
                    </div>
                    <div class="nameContainer">
                        <span>{{source.name}}</span>
                    </div>
                    {% if source in subscribed_sources %}
                    <button class="subscribeButton subscribed finButtonBlue">Subscribed</button>
                    {% else %}
                    <button class="subscribeButton finButtonWhite">Subscribe</button>
                    {% endif %}
                    <button class="removeFromListButton">Remove</button>
                    <a class="contentLink" href="{{ source.get_absolute_url }}"
                        aria-label="Open Profile Of {{ source.name }}"></a>
                </div>
                {% endfor %}
            </div>
            <button aria-label="Slide right" class="handle rightHandle finButtonWhite">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
    {% endif %}
    <div class="tabsContainer" id="content" role="navigation" aria-label="Content navigation">
        <button class="activatedTab" data-for-tab="0">Analysis</button>
        <button data-for-tab="1">Commentary</button>
        <button data-for-tab="2">News</button>
        <button data-for-tab="3">Saved</button>
    </div>
    <div class="tabsContent tabsContentActive" data-tab="0">
        <div class="contentColumnWrapper">
            {% if analysis %}
            <div class="contentColumnContainer">
                {% create_content_container analysis request highlighted_content_ids "analysis" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No Analysis Found!</h3>
                <div>It looks like you could benefit from adding more sources to your list that match the theme you're
                    interested in. That way, you can stay up-to-date with all the latest news and information on the
                    topics you care about. Don't be afraid to explore and add new sources to your list to keep your
                    content fresh and interesting.</div>
                <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="tabsContent" data-tab="1">
        <div class="contentColumnWrapper">
            {% if commentary %}
            <div class="emptyInformationContainer twitterUpdate">
                <h3>Twitter Update</h3>
                <div>
                    Hey there! Due to the recent policy changes implemented by Twitter, I regret to inform you that
                    FinBrowser is currently unable to display any new Tweets. I know this might be disappointing, as
                    Twitter
                    is a valuable source of information and updates for many of us. However, I want to assure you that I
                    am
                    actively working on finding alternative solutions and exploring ways to reintegrate Twitter sources
                    into
                    this website. I appreciate your patience and understanding during this time of transition.
                </div>
            </div>
            <div class="contentColumnContainer">
                {% create_content_container commentary request highlighted_content_ids "commentary" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No Commentary Found!</h3>
                <div>It looks like you could benefit from adding more sources to your list that match the theme you're
                    interested in. That way, you can stay up-to-date with all the latest news and information on the
                    topics you care about. Don't be afraid to explore and add new sources to your list to keep your
                    content fresh and interesting.</div>
                <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="tabsContent" data-tab="2">
        <div class="contentColumnWrapper">
            {% if news %}
            <div class="contentColumnContainer">
                {% create_content_container news request highlighted_content_ids "news" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No News Found!</h3>
                <div>It looks like you could benefit from adding more sources to your list that match the theme you're
                    interested in. That way, you can stay up-to-date with all the latest news and information on the
                    topics you care about. Don't be afraid to explore and add new sources to your list to keep your
                    content fresh and interesting.</div>
                <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="tabsContent" data-tab="3">
        <div class="contentColumnWrapper">
            {% if saved_content %}
            <div class="contentColumnContainer">
                {% create_content_container saved_content request highlighted_content_ids "saved_content" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No Saved Content Found!</h3>
                <div>To add content to this list, you can simply click on the ellipsis button of a content container
                    and select the "Add To List" option. It's a simple and effective way to gather all the content
                    related to a specific theme in one place.</div>
            </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="emptyInformationContainer">
        <h3>This List Is Empty!</h3>
        <div>It looks like your list is currently empty. Don't worry though, you can easily add your favorite content
            creators to this list to get the latest information from them. By adding sources, you'll be able to stay
            up-to-date with the content that matters to you the most. So go ahead and add those sources to your list to
            get started!</div>
        <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
    </div>
    {% endif %}
</div>

<script src="{% static 'list/min_list_details_script_v1.js' %}"></script>

{% else %}

<main class="main">
    <section class="landingSection">
        <div class="landingSectionContainer">
            <img class="logoLarge" src="{% static 'home/media/finbrowser-logo.png' %}">
            <p>FinBrowser's List feature is the ultimate tool for effortlessly organizing and accessing a vast array of
                stock market content. With Lists, you can bring together the expertise of your favorite content
                creators in one centralized hub. No more wasting time and effort navigating through various platforms
                and
                sources. Whether you follow financial analysts, hedge funds, research services, individual blogs, or
                listen to podcasts from sector specialists, FinBrowser's Lists feature consolidates all their valuable
                insights into a single, user-friendly interface.</p>

            <p>Staying organized is crucial, especially when conducting in-depth research on specific topics.
                FinBrowser's
                Lists feature allows you to create personalized collections tailored to your current areas of interest.
                Now,
                you can easily compile articles, analyses, research reports, and more, ensuring that you have all the
                information you need at your fingertips. Say goodbye to scattered notes and fragmented bookmarks - with
                FinBrowser, your research process becomes streamlined and efficient.</p>

            <p>The best part? It's completely
                free! Simply enter your email, choose a new username and password, and
                you'll
                gain instant access to a wealth of knowledge. Don't miss out on this incredible opportunity — sign up
                with
                FinBrowser today!</p>
            <a href="{% url 'account_login' %}" class="signUpButton finButtonBlue" aria-label="Sign up"><i
                    class="fa-solid fa-right-to-bracket"></i> Get Started</a>
        </div>
    </section>
</main>

{% endif %}

{% endblock content %}