{% extends 'home/base.html' %} {% load static %} {% load tags %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'list/min_list_details_style_v15.css' %}" />
<title>Subscribed Sources | FinBrowser</title>
<meta name="description" content="Subscribed sources of {{ request.user.username }}">{% endblock %}
{% block content %}

<div class="listMenuWrapper">
    <div class="menuContainer">
        <div class="addSourceContainer">
            <div class="header">
                <h2>Add Subscriptions</h2><i class="fas fa-times closeAddSourceContainer"></i>
            </div>
            <div class="actionWrapper">
                <div class="searchWrapper">
                    <i class="fas fa-search"></i>
                    <input id="textInput" type="search" autocomplete="off" spellcheck="false">
                </div>
                <div class="searchResultWrapper">
                    <div id="searchResultsContainer"></div>
                    <div class="selectionContainer"></div>
                </div>
                <div class="buttonContainer">
                    <button class="cancelButton finButtonWhite">Reset</button>
                    <button class="addSourceButton finButtonBlue">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="pageWrapper">
    <div class="firstRow">
        <div class="nameContainer">
            <h2 class="noOverflowHeader" id="{{ list.list_id }}">Subscribed Sources</h2>
            <i class="fas fa-chevron-down"></i>
            <div class="listOptionsContainer">
                <div class="listsContainer">
                    {% for llist in lists %}
                    <div id="list{{llist.list_id}}" class="listOption">
                        <span>{{ llist.name }}</span>
                        <a href="{{ llist.get_absolute_url }}" aria-label="Open list {{ llist.name }}"></a>
                    </div>
                    {% endfor %}
                    <div class="listOption">
                        <span>Subscribed Sources</span>
                        <a href="{% url 'list:list-subscribed_sources' %}" aria-label="Open subscribed sources"></a>
                    </div>
                    <div class="listOption">
                        <span>Highlighted Content</span>
                        <a href="{% url 'list:list-highlighted_content' %}" aria-label="Open highlighted content"></a>
                    </div>
                </div>
                <button class="createListButton finButtonWhite"><i class="fas fa-plus"></i>Create New List</button>
            </div>
        </div>
    </div>

    {% if subscribed_sources %}
    <div class="tabsContainer" id="content" role="navigation" aria-label="Stock Content Navigation">
        <button class="activatedTab" data-for-tab="0">Analysis</button>
        <button data-for-tab="1">Commentary</button>
        <button data-for-tab="2">News</button>
    </div>
    <div class="tabsContent tabsContentActive" data-tab="0">
        {% create_source_container analysis_sources subscribed_sources request %}
        <div class="contentColumnWrapper">
            {% if analysis %}
            <div class="contentColumnContainer">
                {% create_content_container analysis request highlighted_content_ids "analysis" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No Analysis Found!</h3>
                <div>It looks like you could benefit from adding more sources to your list that match the theme you're
                    interested in. That way, you can stay up-to-date with all the latest news and information on the
                    topics you care about. Don't be afraid to explore and subscribe to new sources to keep your
                    content fresh and interesting.</div>
                <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="tabsContent" data-tab="1">
        {% create_source_container commentary_sources subscribed_sources request %}
        <div class="contentColumnWrapper">
            {% if commentary %}
            <div class="contentColumnContainer">
                {% create_content_container commentary request highlighted_content_ids "commentary" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No Commentary Found!</h3>
                <div>It looks like you could benefit from adding more sources to your list that match the theme you're
                    interested in. That way, you can stay up-to-date with all the latest news and information on the
                    topics you care about. Don't be afraid to explore and subscribe to new sources to keep your
                    content fresh and interesting.</div>
                <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="tabsContent" data-tab="2">
        {% create_source_container news_sources subscribed_sources request %}
        <div class="contentColumnWrapper">
            {% if news %}
            <div class="contentColumnContainer">
                {% create_content_container news request highlighted_content_ids "news" %}
            </div>
            {% else %}
            <div class="emptyInformationContainer">
                <h3>No News Found!</h3>
                <div>It looks like you could benefit from adding more sources to your list that match the theme you're
                    interested in. That way, you can stay up-to-date with all the latest news and information on the
                    topics you care about. Don't be afraid to explore and subscribe to new sources to keep your
                    content fresh and interesting.</div>
                <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
            </div>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="emptyInformationContainer">
        <h3>No Subscribed Sources Found!</h3>
        <div>Want to stay up-to-date with your favorite content creators? You can easily do that by subscribing! This
            way, you'll always see when they post new content. It's a great way to make sure you
            never miss a thing from your favorite sources. So go ahead and subscribe to your favorite sources today!
        </div>
        <button class="finButtonWhite"><i class="fas fa-plus"></i>Add</button>
    </div>
    {% endif %}
</div>


<script src="{% static 'list/min_subscribed_sources_script_v4.js' %}"></script>
{% endblock content %}