@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
        url('../home/fonts/lato-v23-latin/lato-v23-latin-900.woff2') format('woff2'),
        url('../home/fonts/lato-v23-latin/lato-v23-latin-900.woff') format('woff');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: rgb(238, 238, 238);
    --primary-fontColor: rgb(0, 85, 212);
    --secondary-fontColor: rgb(34, 45, 59);
    --box-shadowScheme: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 55%;
}

input {
    outline-color: var(--primary-fontColor);
}

button {
    user-select: none;
}

body {
    position: relative;
    color: var(--secondary-fontColor);
    /* background-color: #b8c6db;
background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%); */
    background-color: #f5f7fa;
}

header {
    position: relative;
    height: 8.5rem;
    width: 100%;
}

.outerHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    height: 8.5rem;
    background: var(--primary-color);
    box-shadow: 0 5px 5px -5px #333;
    border-bottom: 0.1rem solid rgb(226, 230, 234);
    width: 100%;
    margin: 0 auto;
}

.headerContainer {
    display: flex;
    align-items: center;
    height: 8.5rem;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    background: var(--primary-color);
}

.logoContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 17.5%;
    max-width: 25rem;
    border-right: 0.1rem solid rgb(226, 230, 234);
    user-select: none;
}

.logoSpace {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logoSpace img {
    width: 100%;
    padding-right: 2rem;
}

.logoSpace .logoSmall {
    display: none;
    height: 80%;
    aspect-ratio: 1 / 1;
    width: unset;
    padding: unset;
}

.logoSpace a {
    position: absolute;
    height: 100%;
    width: 100%;
}

.mainNavigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 2rem;
}

.mainNavigationLink {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    color: var(--secondary-fontColor);
    cursor: pointer;
    border-radius: 2rem 3rem;
}

.mainNavigationLink a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 2rem 3rem;
}

.mainNavigationLink:hover,
.mainNavigationLink:hover span {
    color: white;
    background: var(--primary-fontColor);
}

.mainSearchWrapper {
    position: relative;
    margin: 0 auto;
}

.mainSearchContainer,
.searchContainer {
    display: flex;
    align-items: center;
    height: 4.2rem;
}

.fullWidthSearchWrapper {
    width: 95%;
}

.mainInputSearch {
    font-size: 1.4rem;
    height: 100%;
    width: 40rem;
    padding: 1.5rem 3em 1.5rem 1.5rem;
    border: 0.1rem solid rgb(226, 230, 234);
    border-radius: 0.45rem;
}

.fullWidthSearchWrapper .mainInputSearch {
    width: 100%;
    max-width: unset;
}

.mainSearchContainer i,
.searchContainer i,
.headerContainer .smallScreenSearchIcon {
    font-size: 1.6rem;
    color: var(--primary-fontColor);
    position: absolute;
    cursor: pointer;
    right: 1.6rem;
}

.headerContainer .smallScreenSearchIcon {
    display: none;
    font-size: 2rem;
    right: unset;
    position: relative;
    color: var(--primary-fontColor);
    cursor: pointer;
    margin-left: auto;
    padding: 0 2.5rem;
}

.mainSearchContainer .closeSearchButton {
    display: none;
}

#mainAutocomplete_result {
    position: absolute;
    top: 4.5rem;
    display: none;
    flex-direction: column;
    width: 100%;
    background: white;
    box-shadow: var(--box-shadowScheme);
    z-index: 10;
    font-size: 1.6rem;
}

.searchResultHeader {
    padding: 1rem 1rem 0 1rem;
    background: #fff;
    color: gray;
}

.searchResult {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid rgb(226, 230, 234);
    text-decoration: none;
    color: var(--secondary-fontColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchResult img {
    width: 2.5rem;
    height: 2.5rem;
}

.searchResult span {
    margin-left: 0.5rem;
    max-width: 40ch;
    overflow: hidden;
}

.searchResult a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.searchResult:hover,
.searchResult:hover .stockContainer .stockTicker {
    background: var(--primary-fontColor);
    color: white;
}

.searchResult .stockContainer {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.searchResult .stockContainer .stockTicker {
    width: 20%;
    color: var(--primary-fontColor);
}

.searchResult .stockContainer .companyName {
    width: 80%;
}

.userSpace {
    /* position: relative; */
    display: flex;
    height: 100%;
    width: 17.6rem;
}

.fa-bell,
.fa-bars {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    padding: 0 2.5rem;
    color: #4c4a4a;
    border-left: 0.1rem solid rgb(226, 230, 234);
    cursor: pointer;
}

.userSpace .fa-bell {
    border-right: 0.1rem solid rgb(226, 230, 234);
}

.userSpace i a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.userSpace i .unseenNotifications {
    position: absolute;
    font-size: 1.4rem;
    top: 2rem;
    right: 1.2rem;
    background: var(--primary-fontColor);
    color: white;
    padding: 0.3rem 0.6rem;
    border-radius: 50%;
}

.notificationPopupWrapper {
    display: none;
    position: absolute;
    width: 40rem;
    background: white;
    margin-top: 8.5rem;
    top: 0;
    right: 0;
    overflow-y: auto;
    height: calc(100vh - 8.5rem);
    box-shadow: var(--box-shadowScheme);
    max-height: calc(100vh - 8.5rem);
    z-index: 100;
    user-select: none;
    overflow-x: hidden;
}

.notificationPopupWrapper .notificationHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 2rem;
}

.notificationPopupWrapper .notificationHeader .fa-cog {
    position: relative;
    color: grey;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.notificationPopupWrapper .notificationHeader .fa-cog:hover {
    background: #f5f5f5;
}

.notificationPopupWrapper .noNotificationsAvailable {
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
}

.notificationPopupWrapper .createKeywordNotificationModal {
    display: none;
    position: sticky;
    bottom: 9rem;
    box-shadow: var(--box-shadowScheme);
    z-index: 10;
    background: white;
    padding: 2rem 1rem;
    font-size: 1.8rem;
    flex-direction: column;
    width: 100%;
}

.notificationPopupWrapper .createKeywordNotificationModal div {
    position: relative;
    display: flex;
    align-items: center;
}

.notificationPopupWrapper .createKeywordNotificationModal input {
    margin: 1rem 0 2rem;
    font-size: 1.6rem;
    width: 100%;
    border: 0.1rem solid rgb(226, 230, 234);
    border-radius: 0.45rem;
    padding: 1.25rem 3rem 1.25rem 1.5rem;
}

.notificationPopupWrapper .createKeywordNotificationModal button {
    color: white;
    background: var(--primary-fontColor);
    border: 0.2rem solid;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1rem;
}

.notificationPopupWrapper .createKeywordNotificationModal .discardButton {
    background: white;
    color: var(--primary-fontColor);
    margin-top: 1rem;
}

.notificationPopupWrapper .createKeywordNotificationModal .saveButton:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8 !important;
}

.notificationPopupWrapper .createKeywordNotificationModal .discardButton:hover {
    color: white;
    background: var(--primary-fontColor);
}

.notificationPopupWrapper .notificationMessageContainer {
    position: relative;
    display: flex;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-bottom: 0.1rem solid;
}

.notificationPopupWrapper .unseenNotification {
    background: rgba(0, 85, 212, 0.1);
}

.notificationPopupWrapper .notificationsContainer {
    display: none;
}

.notificationPopupWrapper .activeNotificationContainer {
    display: block;
}

.notificationPopupWrapper .notificationMessageContainer img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 0.5rem;
}

.notificationPopupWrapper .notificationMessageContainer span {
    text-align: justify;
}

.notificationPopupWrapper .notificationMessageContainer a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.notificationPopupWrapper .smallFormContentWrapper .leftContentSide .profileImageContainer,
.smallScreenSearchContainer .smallFormContentWrapper .leftContentSide .profileImageContainer {
    width: 6rem;
    height: 6rem;
}

.notificationPopupWrapper .smallFormContentWrapper .rightContentSide,
.smallScreenSearchContainer .smallFormContentWrapper .rightContentSide {
    padding-left: 1rem;
}

.notificationPopupWrapper .smallFormContentWrapper .contentInfoContainer,
.smallScreenSearchContainer .smallFormContentWrapper .contentInfoContainer {
    font-size: 2rem;
}

.notificationPopupWrapper .smallFormContentWrapper .contentBody,
.smallScreenSearchContainer .smallFormContentWrapper .contentBody {
    padding: 0.5rem 0;
}

.notificationPopupWrapper .smallFormContentWrapper .contentBody p,
.notificationPopupWrapper .smallFormContentWrapper .quoteText,
.smallScreenSearchContainer .smallFormContentWrapper .contentBody p,
.smallScreenSearchContainer .smallFormContentWrapper .quoteText {
    font-size: 1.9rem;
}

.notificationPopupWrapper .smallFormContentWrapper .quoteDate,
.notificationPopupWrapper .smallFormContentWrapper .timeContainer,
.smallScreenSearchContainer .smallFormContentWrapper .quoteDate,
.smallScreenSearchContainer .smallFormContentWrapper .timeContainer {
    font-size: 1.4rem;
}

.notificationPopupWrapper .smallFormContentWrapper .quoteUpperContainer,
.smallScreenSearchContainer .smallFormContentWrapper .quoteUpperContainer,
.notificationPopupWrapper .smallFormContentWrapper .quoteText,
.smallScreenSearchContainer .smallFormContentWrapper .quoteText {
    font-size: 1.7rem;
}

.notificationPopupWrapper .smallFormContentWrapper .articleContainer,
.smallScreenSearchContainer .smallFormContentWrapper .articleContainer {
    padding: 1.5rem;
}

.notificationPopupWrapper .smallFormContentWrapper .quoteWrapper,
.smallScreenSearchContainer .smallFormContentWrapper .quoteWrapper {
    padding: 1rem;
}

.profileWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.userProfile {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 2.5rem;
    cursor: pointer;
    border-right: 0.1rem solid rgb(226, 230, 234);
}

.userProfile img,
.profileMenu .profileMenuInfoOption img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.userProfile .logoPlaceholder,
.profileMenu .profileMenuInfoOption .logoPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman';
    font-weight: 900;
    text-transform: UPPERCASE;
    font-size: 3.5rem;
    width: 5rem;
    height: 5rem;
    color: white;
    background: var(--primary-fontColor);
    border-radius: 50%;
    padding: 0.25rem 1.5rem;
    user-select: none;
}

.userInformation {
    padding: 0 0.8rem;
}

.userName {
    font-size: 1.6rem;
    max-width: 16.5rem;
    overflow: hidden;
}

.accountType {
    text-align: center;
    font-size: 1.4rem;
    color: rgb(0, 128, 0);
}

.fa-sort-down {
    cursor: pointer;
    font-size: 2rem;
    color: #4c4a4a;
    padding-bottom: 0.5rem;
}

.profileMenu {
    position: absolute;
    top: 8.5rem;
    background: white;
    box-shadow: var(--box-shadowScheme);
    width: 17.6rem;
    border-radius: 0 0 0.45rem 0.45rem;
    display: none;
    flex-direction: column;
}

.profileMenu button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 2rem;
}

.profileMenu a {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.profileMenu .profileMenuInfoOption {
    display: flex;
    flex-direction: column;
    border-bottom: 0.1rem solid rgb(226, 230, 234);
    padding: 1rem;
    align-items: center;
}

.profileMenu .profileMenuInfoOption span {
    max-width: 100%;
    overflow: hidden;
    user-select: none;
}

.profileMenu .profileMenuInfoOption span:first-of-type {
    font-size: 2rem;
    margin-top: 0.5rem;
}

.profileMenu .profileMenuInfoOption span:last-of-type {
    font-size: 1.4rem;
    color: #96a3b6;
}

.profileMenu .profileMenuOption {
    position: relative;
    font-size: 2rem;
    color: var(--secondary-fontColor);
    padding: 1rem 1.5rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-bottom: 0.1rem solid rgb(226, 230, 234);
    user-select: none;
}

.profileMenu .profileMenuOption:last-of-type {
    border-bottom: none;
}

.profileMenu .profileMenuOption i {
    color: var(--primary-fontColor);
    width: 2rem;
    margin-right: 1rem;
}

.headerContainer .profileMenu .profileMenuOption .fa-cog {
    font-size: unset;
    border-left: unset;
    padding: 0 1rem 0 0;
}

.profileMenu .profileMenuOption:hover,
.profileMenu .profileMenuOption:hover i,
.profileMenu .profileMenuOption:hover button {
    background: var(--primary-fontColor);
    color: white !important;
}

.profileMenu .profileMenuOption:last-of-type:hover {
    border-radius: 0 0 0.45rem 0.45rem;
}

.headerButtonContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.headerButtonContainer a {
    background: #fff;
    border: 0.1rem solid #e2e6ea;
    color: var(--primary-fontColor);
    cursor: pointer;
    font-size: 1.85rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    text-decoration: none;
    border-radius: 0.45rem;
    padding: 1.36rem 2.72rem;
}

.headerButtonContainer a:last-of-type,
.headerButtonContainer a:hover {
    background: var(--primary-fontColor);
    color: white;
}

.headerButtonContainer a:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.headerButtonContainer a:last-of-type {
    white-space: nowrap;
    margin-left: 2rem;
}

.headerButtonContainer a:last-of-type:hover {
    background: #1a73e8 !important;
}

.headerContainer .fa-bars {
    display: none;
    align-items: center;
    height: 100%;
}

.headerContainer .closeNavMenuButton {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 3.5rem;
    padding: 0 2.5rem;
    color: #4c4a4a;
    border-left: 0.1rem solid rgb(226, 230, 234);
    cursor: pointer;
    height: 100%;
}

.horizontalNavigation {
    display: none;
    flex-direction: column;
    position: fixed;
    z-index: 999;
    overflow: hidden;
    background: white;
    width: 100%;
    left: 0;
    padding: 2rem 5%;
    height: 100%;
    overflow-y: auto;
}

.horizontalNavigation .mainNavigationLink {
    border-radius: unset;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 2rem;
    min-height: calc(100vh - 10.5rem);
    max-width: 1250px;
}

footer {
    position: relative;
    background: var(--primary-color);
    color: var(--secondary-fontColor);
    z-index: 998;
    padding: 2rem 5rem;
    width: 100%;
    margin: 0 auto;
    border-top: 0.1rem solid rgb(226, 230, 234);
    /* box-shadow: 0 -4px 5px -5px #333; */
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer ul li {
    margin-right: 4rem;
    font-size: 2rem;
}

footer ul a {
    text-decoration: none;
    color: var(--secondary-fontColor);
}

footer ul a:hover {
    text-decoration: underline;
}

.messages {
    position: fixed;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    -moz-animation: cssAnimation 0s ease-in 4s forwards;
    -webkit-animation: cssAnimation 0s ease-in 4s forwards;
    -o-animation: cssAnimation 0s ease-in 4s forwards;
    animation: cssAnimation 0s ease-in 4s forwards;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    z-index: 1000;
}

.messages li {
    color: white;
    font-size: 1.8rem;
    border-radius: 2rem;
    padding: 1rem 2rem;
    list-style: none;
    text-align: center;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    letter-spacing: 0.12rem;
}

.messages .success {
    background: green;
}

.messages .error {
    background: red;
}

.messages .remove {
    background: grey;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
    }
}

.notificationContainer .articleOptionsContainer,
.notificationContainer .addToListForm,
.notificationContainer .createListMenu {
    right: 0;
    z-index: 35;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0;
    align-items: center;
}

.pagination .currOffset {
    font-size: 2rem;
    background: white;
    height: 5rem;
    border-radius: 0.45rem;
    box-shadow: var(--box-shadowScheme);
    display: flex;
    align-items: center;
    padding: 0 2rem;
}

.pagination .currOffset span {
    color: var(--primary-fontColor);
    margin-right: 0.5rem;
}

.pagination .step-links {
    display: flex;
}

.pagination .paginationButtonsContainer {
    border-radius: 0.45rem;
    margin: 0 1rem;
}

.pagination .backButton,
.pagination .nextButton {
    box-shadow: var(--box-shadowScheme);
    background: white;
    border-radius: 50%;
}

.pagination button,
.pagination a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    margin: 0.5rem;
    border-radius: 0.45rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-fontColor);
    background: white;
    box-shadow: var(--box-shadowScheme);
    border: 0.1rem solid #e2e6ea;
}

.pagination .notClickable {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination .notClickable:hover {
    color: var(--primary-fontColor);
    background: white;
}

.pagination button:hover,
.currentPagination,
.pagination a:hover,
.currentPagination {
    background: var(--primary-fontColor) !important;
    color: var(--primary-color) !important;
}

/* ####################################################*/
/* Slider - Start */
/* ####################################################*/

.sliderWrapper {
    position: relative;
}

.sliderWrapper .sliderContentContainer {
    align-items: center;
    border-top: none;
    display: flex;
    overflow: hidden;
}

.sliderWrapper .sliderContentContainer:hover .handle {
    opacity: 1;
}

.sliderWrapper .sliderContentContainer .slider {
    --items-per-screen: 6;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 600ms ease-in-out;
    width: 100%;
    margin-bottom: 2rem;
}

.sliderWrapper .sliderContentContainer .handle {
    opacity: 0;
    transition: opacity 0.3s ease-out;
    position: absolute;
    z-index: 10;
    top: 35%;
    margin: 0;
    padding: 2.72rem;
    font-size: 4.5rem;
    height: 6.75rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadowScheme);
}

.sliderWrapper .sliderContentContainer .leftHandle {
    margin-left: -1.5rem;
}

.sliderWrapper .sliderContentContainer .rightHandle {
    opacity: 1;
    right: 0;
    margin-right: -1.5rem;
}

.sliderWrapper .sliderContentContainer .slider .contentWrapper {
    position: relative;
    flex: 0 0 calc((100% / var(--items-per-screen)) - 2rem);
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 0.45rem;
    box-shadow: var(--box-shadowScheme);
    overflow: hidden;
}

.sliderWrapper .sliderContentContainer .slider .contentWrapper img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 0.45rem 0.45rem 0 0;
}

.sliderWrapper .sliderContentContainer .slider .contentWrapper .contentRatingContainer {
    display: flex;
    align-items: center;
    margin: 2rem 1rem 1rem;
    font-size: 2.3rem;
}

.sliderWrapper .sliderContentContainer .slider .contentWrapper .contentRatingContainer .fa-star {
    color: gold;
    margin-right: 0.7rem;
}

.sliderWrapper .sliderContentContainer .slider .contentWrapper .nameContainer {
    position: relative;
    font-size: 2.1rem;
    height: 4.7rem;
    margin: 0 1rem;
    line-height: 1.3;
}

.sliderWrapper .sliderContentContainer .slider .contentWrapper .nameContainer span {
    position: absolute;
}

.sliderWrapper .sliderContentContainer button,
.sliderWrapper .sliderContentContainer .loginRedirectButton {
    border: 0.1rem solid #e2e6ea;
    font-size: 1.85rem;
    text-decoration: none;
    border-radius: 0.45rem;
    padding: 1.36rem 0.5rem;
    opacity: unset;
    margin: 1rem;
    color: var(--primary-fontColor);
    background: white;
    cursor: pointer;
    z-index: 10;
    text-align: center;
}

.sliderWrapper .sliderContentContainer button:first-of-type {
    margin-bottom: 0;
}

.sliderWrapper .sliderContentContainer button:hover,
.sliderWrapper .sliderContentContainer .subscribed,
.sliderWrapper .sliderContentContainer .unsubscribed:hover,
.sliderWrapper .sliderContentContainer .notificationActivated,
.sliderWrapper .sliderContentContainer .loginRedirectButton:hover {
    color: white;
    background: var(--primary-fontColor);
}

.sliderWrapper .sliderContentContainer .unsubscribed,
.sliderWrapper .sliderContentContainer .subscribed:hover,
.sliderWrapper .sliderContentContainer .notificationActivated:hover {
    color: var(--primary-fontColor);
    background: white;
}

.sliderWrapper .slider button:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.sliderWrapper .sliderContentContainer .contentLink {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* ####################################################*/
/* Slider - End */
/* ####################################################*/

/* ####################################################*/
/* TWITTER - Start */
/* ####################################################*/
.contentColumnWrapper {
    display: flex;
    justify-content: center;
}

.contentColumnWrapper .contentColumnContainer {
    width: 33%;
}

.contentColumnWrapper .halfPageContainer {
    width: 50%;
}

.contentColumnWrapper .categoryHeader {
    position: relative;
    text-align: center;
    padding: 0.75rem 0;
    font-size: 2rem;
    color: white;
    border: 0.3rem solid white;
    width: 100%;
    background: var(--primary-fontColor);
    box-shadow: var(--box-shadowScheme);
}

.contentColumnWrapper .smallFormContentWrapper,
.contentColumnWrapper .twitterContainerPlaceholder {
    box-shadow: var(--box-shadowScheme);
    background: white;
}

.notificationsContainer .addKeywordsContainer {
    position: sticky;
    bottom: 0;
    z-index: 10;
    background: white;
    padding: 2rem 0;
    box-shadow: var(--box-shadowScheme);
    border-top: 0.1rem solid #e2e6ea;
}

.notificationsContainer .addKeywordsContainer button {
    background: var(--primary-fontColor);
    color: white;
    border: 0.1rem solid #e2e6ea;
    cursor: pointer;
    font-size: 1.85rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1.36rem 2.72rem;
    width: 95%;
    margin: 0 2.5%;
}

.notificationsContainer .addKeywordsContainer button i {
    margin-right: 1rem;
}

.notificationsContainer .addKeywordsContainer button:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8;
}

.smallFormContentWrapper .articleContainer {
    position: relative;
    display: flex;
    padding: 2rem;
    /* box-shadow: 0 5px 5px -5px #333; */
    border-bottom: 0.2rem solid #e2e6ea;
}

.smallFormContentWrapper .articleContainer:hover {
    box-shadow: var(--box-shadowScheme);
}

.smallFormContentWrapper .leftContentSide .profileImageContainer {
    position: relative;
    z-index: 3;
    width: 8rem;
    height: 8rem;
}

.smallFormContentWrapper .leftContentSide .profileImageContainer img,
.smallFormContentWrapper .leftContentSide .profileImageContainer a,
.smallFormContentWrapper .sourceAndWebsiteContainer .sourceWebsiteProfileContainer img,
.smallFormContentWrapper .sourceAndWebsiteContainer .sourceWebsiteProfileContainer a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.smallFormContentWrapper .leftContentSide .profileImageContainer img {
    border-radius: 0.45rem;
}

.smallFormContentWrapper .rightContentSide {
    padding-left: 2rem;
    width: 100%;
}

.smallFormContentWrapper .contentInfoContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;
}

.smallFormContentWrapper .sourceAndWebsiteContainer {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.smallFormContentWrapper .sourceAndWebsiteContainer .sourceProfile {
    z-index: 3;
    text-decoration: none;
    color: unset;
}

.smallFormContentWrapper .sourceAndWebsiteContainer .sourceProfile:hover {
    text-decoration: underline;
}

.smallFormContentWrapper .sourceAndWebsiteContainer .sourceWebsiteProfileContainer {
    position: relative;
    z-index: 3;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    min-width: 20px;
    min-height: 20px;
}

.smallFormContentWrapper .fa-ellipsis-h {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 2rem;
    z-index: 3;
    margin: -2rem -1.5rem -1.5rem -2rem;
}

.articleOptionsContainer {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    border: 0.3rem solid;
    border-radius: 0.45rem;
    background: white;
    top: 2.3rem;
    z-index: 2;
    cursor: pointer;
    font-size: 1.8rem;
    user-select: none;
}

.articleOptionsContainer .addToListButton {
    border-bottom: 0.3rem solid;
    padding: 0.5rem 1rem;
}

.articleOptionsContainer i {
    margin-right: 1.5rem;
    width: 1.25rem;
}

.articleOptionsContainer a {
    color: var(--secondary-fontColor);
    text-decoration: none;
}

.articleOptionsContainer div:hover,
.articleOptionsContainer a:hover {
    background: var(--primary-fontColor);
    color: white;
}

.articleOptionsContainer .addToHighlightedButton,
.deleteExternalLink {
    padding: 0.5rem 1rem;
}

.notificationsContainer .articleOptionsContainer {
    font-size: 1.3rem;
}

.notificationsContainer .articleOptionsContainer i {
    margin-right: 0.5rem;
    width: 1.3rem;
}

/* Add to list form - start */

.addToListForm {
    display: none;
    background: white;
    box-shadow: var(--box-shadowScheme);
    border-radius: 0.45rem;
    z-index: 75;
    padding: 2rem 1rem;
}

.addToListForm .listSelectionContainer {
    max-height: 18rem;
    overflow-y: auto;
}

.addToListForm .listContainer {
    border-bottom: 0.1rem solid #e2e6ea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem 0 1rem 1rem;
}

.addToListForm .listContainer:hover {
    color: white;
    background: var(--primary-fontColor);
}

.addToListForm label {
    display: flex;
    align-items: center;
    white-space: nowrap;
    user-select: none;
    font-size: 2rem;
}

.addToListForm input {
    width: 1.8rem;
    height: 1.8rem;
    margin: 0 1.5rem;
    cursor: pointer;
    pointer-events: none;
}

.addToListForm .buttonsContainer {
    margin: 2rem auto 0;
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}

.addToListForm button {
    color: var(--primary-fontColor);
    background: white;
    border: 0.1rem solid #e2e6ea;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1rem 4rem;
}

.addToListForm button:last-of-type {
    background: var(--primary-fontColor);
    color: white;
    margin-left: 2rem;
}

.addToListForm button:first-of-type:hover {
    background: var(--primary-fontColor);
    color: white;
}

.addToListForm button:last-of-type:hover {
    background: #1a73e8 !important;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.addToListForm .createFirstList {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0.5rem auto 1rem;
}

/* Add to list form - end */

/* Create List Menu - Start */

.formContainer {
    position: relative;
    display: none;
    background: white;
    flex-direction: column;
    align-items: center;
    border-radius: 0.45rem;
    box-shadow: var(--box-shadowScheme);
    z-index: 50;
    min-width: 25rem;
}

.articleCreateListMenu {
    position: absolute;
    width: 35rem;
    top: -0.2rem;
    right: -0.3rem;
}

.formContainer .formHeaderContainer,
.addToListForm .formHeaderContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 0.1rem solid #e2e6ea;
    padding: 0 0 2rem 1rem;
}

.addToListForm .descContainer {
    font-size: 1.8rem;
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid gray;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 0 1rem 1rem;
}

.formContainer .formHeaderContainer h2,
.addToListForm .formHeaderContainer h2 {
    font-size: 2rem;
    max-width: 90%;
    text-align: justify;
}

.formContainer .formHeaderContainer h2 span,
.addToListForm .formHeaderContainer h2 span {
    color: var(--primary-fontColor);
}

.addToListForm .formHeaderContainer .fa-times {
    position: absolute;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: grey;
}

.addToListForm .formHeaderContainer .fa-times:hover {
    background: #f5f5f5;
}

.formContainer .formHeaderContainer .closeFormContainerButton,
.addToListForm .formHeaderContainer .closeFormContainerButton {
    top: -1rem;
}

.formContainer form {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.formContainer form label {
    margin: 0.75rem 0;
    font-size: 1.7rem;
}

.formContainer form input,
.formContainer form select {
    width: 100%;
    font-size: 1.6rem;
    padding: 0.4rem 1rem;
    color: var(--secondary-fontColor);
    border: 0.2rem solid rgb(226, 230, 234);
    border-radius: 0.45rem;
}

.formContainer form #id_list_pic {
    border: none;
    padding-left: 0;
}

.formContainer form #id_is_public {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: -2.5rem;
    margin-left: 13.3rem;
}

.formContainer .formSubmitButton {
    padding: 0.8rem 1.6rem;
    font-size: 1.7rem;
    color: white;
    border-radius: 0.45rem;
    cursor: pointer;
    background: var(--primary-fontColor);
    border: 0.1rem solid #e2e6ea;
    width: 100%;
    margin: 1rem 0;
}

.formContainer .formSubmitButton:hover {
    background: #1a73e8;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.smallFormContentWrapper .replyWrapper,
.smallFormContentWrapper .retweetWrapper {
    font-size: 1.8rem;
    text-align: justify;
    font-family: serif;
    font-weight: 400;
    margin-top: 0.75rem;
}

.smallFormContentWrapper .retweetWrapper {
    margin-bottom: 0.75rem;
}

.smallFormContentWrapper .replyWrapper span,
.smallFormContentWrapper .retweetWrapper span {
    color: rgb(29, 155, 240);
}

.smallFormContentWrapper .contentBody {
    padding: 0.75rem 0;
}

.smallFormContentWrapper .contentBody p,
.smallFormContentWrapper .quoteText {
    font-size: 2.2rem;
    text-align: justify;
    font-family: serif;
    font-weight: 400;
}

.smallFormContentWrapper .tweetImage {
    z-index: 3;
    position: relative;
    cursor: pointer;
    max-width: 100%;
    border-radius: 0.45rem;
    margin-bottom: 0.75rem;
    max-height: 300px;
    border: 0.2rem solid #e2e6ea;
}

.smallFormContentWrapper .quoteWrapper .tweetImage {
    margin-top: 0.75rem;
}

.smallFormContentWrapper .quoteWrapper {
    margin-bottom: 0.75rem;
    border: 0.2rem solid #e2e6ea;
    border-radius: 0.45rem;
    width: fit-content;
    padding: 1rem 2rem;
}

.smallFormContentWrapper .quoteUpperContainer {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
}

.smallFormContentWrapper .quoteDate {
    margin-left: 0.75rem;
}

.smallFormContentWrapper .timeContainer,
.smallFormContentWrapper .quoteDate {
    color: gray;
    font-size: 1.7rem;
    margin-top: 0.25rem;
}

.smallFormContentWrapper .quoteText {
    font-size: 2rem;
    padding: 0.75rem 0 0;
}

.smallFormContentWrapper .contentLink {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ####################################################*/
/* TWITTER - END */
/* ####################################################*/

/* ####################################################*/
/* Small Source Container - Start */
/* ####################################################*/
.sourceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 15rem;
    background: white;
    border-radius: 1rem;
    box-shadow: var(--box-shadowScheme);
    margin: 1rem;
}

.sourceContainer:hover {
    transform: scale(1.1);
}

.iconContainer {
    position: relative;
    width: 15rem;
    height: 15rem;
}

.sourcePic {
    width: 100%;
    height: 100%;
}

.sourceLink {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}

.sourceNameOuterContainer {
    background: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    white-space: nowrap;
    font-size: 1.9rem;
}

.sourceNameInnerContainer {
    max-width: 90%;
    overflow: hidden;
}

/* ####################################################*/
/* Small Source Container - End */
/* ####################################################*/

.tabsContainer,
.notificationHeadersContainer {
    position: relative;
    display: flex;
    align-items: self-start;
    width: calc(100% - 2rem);
    white-space: nowrap;
    overflow: auto;
    border-bottom: 0.3rem solid rgb(226, 230, 234);
    margin: 2rem 1rem;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.notificationHeadersContainer {
    margin: 0 1rem;
}

.tabsContainer::-webkit-scrollbar,
.notificationHeadersContainer::-webkit-scrollbar {
    display: none;
}

.tabsContainer button,
.notificationHeadersContainer button {
    background: none;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;
    padding-right: 4rem;
    margin-bottom: 1.5rem;
}

.notificationHeadersContainer button {
    font-size: 1.8rem;
    padding-right: 5rem;
    margin-bottom: 1.2rem;
}

.tabsContainer .activatedTab,
.tabsContainer button:hover,
.notificationHeadersContainer .activeNotificationCategory,
.notificationHeadersContainer button:hover {
    text-decoration-line: underline;
    text-underline-offset: 1.5rem;
    text-decoration-thickness: 0.4rem;
    text-decoration-color: var(--primary-fontColor);
}

.notificationHeadersContainer .activeNotificationCategory,
.notificationHeadersContainer button:hover {
    text-underline-offset: 1rem;
}

.tabsContent {
    display: none;
}

.tabsContentActive {
    display: block !important;
}

.emptyInformationContainer {
    padding: 2rem;
    background: white;
    width: fit-content;
    border-radius: 0.45rem;
    box-shadow: var(--box-shadowScheme);
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    text-align: center;
    margin-right: auto;
    user-select: none;
    margin-top: 2rem;
}

.emptyInformationContainer h3 {
    font-size: 2.5rem;
    color: var(--primary-fontColor);
}

.emptyInformationContainer span {
    font-size: 2.2rem;
}

.emptyInformationContainer div {
    margin-top: 1rem;
}

.emptyInformationContainer button {
    color: white;
    background: var(--primary-fontColor);
    border: 0.1rem solid #e2e6ea;
    cursor: pointer;
    font-size: 1.8rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.emptyInformationContainer button:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8;
}

.emptyInformationContainer button i {
    margin-right: 1rem;
}

/* ####################################################*/
/* Media Queries - Start */
/* ####################################################*/

@media (max-width: 1300px) {
    .pageWrapper {
        padding: 0 2rem;
    }

    .logoSpace img {
        padding: 0 2rem;
    }
}

@media (max-width: 1275px) {
    .headerButtonContainer {
        margin-right: 2rem;
    }

    .headerButtonContainer a:last-of-type,
    .mainNavigation {
        margin-left: 1rem;
    }
    .sliderWrapper .sliderContentContainer .leftHandle {
        margin-left: 0;
    }
    .sliderWrapper .sliderContentContainer .rightHandle {
        margin-right: 0;
    }
}

@media (max-width: 1250px) {
    .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 5;
    }
}

@media (max-width: 1200px) {
    .mainNavigationLink {
        padding: 1.5rem;
    }
    .sliderWrapper .sliderContentContainer .handle {
        opacity: 1;
    }
}

@media (max-width: 1100px) {
    .headerContainer .mainInputSearch {
        width: 37.5rem;
    }
    .searchResult .stockContainer .stockTicker {
        width: 20%;
    }
    .searchResult .stockContainer .companyName {
        width: 80%;
    }

    .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 4;
    }
}

@media (max-width: 1075px) {
    .headerContainer .mainInputSearch {
        width: 32.5rem;
    }

    .headerButtonContainer {
        margin-right: 1rem;
    }
}

@media (max-width: 1000px) {
    .horizontalNavigation .mainNavigationLink {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
        padding: 2rem;
        border-radius: 0.45rem;
        border: 0.1rem solid rgb(226, 230, 234);
        cursor: pointer;
    }

    .outerHeaderContainer .mainSearchWrapper {
        display: none;
    }

    .headerContainer .smallScreenSearchIcon {
        display: flex;
    }

    .logoContainer {
        width: 20%;
    }

    .articlesWrapper {
        height: unset;
    }

    .articlesWrapper .articleContainer {
        width: 100%;
    }

    .contentColumnWrapper {
        flex-direction: column;
    }

    .contentColumnWrapper .contentColumnContainer {
        width: 100%;
    }

    .sliderWrapper .sliderContentContainer {
        overscroll-behavior-x: contain;
        overflow-x: auto;
        scroll-behavior: smooth;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .sliderWrapper .sliderContentContainer::-webkit-scrollbar {
        display: none;
    }

    .sliderWrapper .sliderContentContainer .handle {
        display: none;
    }

    .searchResult .stockContainer .stockTicker {
        width: 15%;
    }
    .searchResult .stockContainer .companyName {
        width: 85%;
    }

    .searchResult span {
        max-width: 100%;
    }
}

@media (max-width: 900px) {
    .logoContainer {
        width: 25%;
    }
}

@media (max-width: 800px) {
    .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 3;
    }
}

@media (max-width: 750px) {
    .mainNavigation,
    .userSpace,
    .headerButtonContainer {
        display: none;
    }

    .headerContainer .fa-bars {
        display: flex;
    }

    .horizontalNavigation form {
        background: var(--primary-fontColor);
    }

    .horizontalNavigation form button {
        font-size: 2rem;
        width: 100%;
        border: none;
        cursor: pointer;
        text-align: center;
        background: none;
        color: white;
    }

    .horizontalNavigation .headerButtonContainer {
        display: flex;
        justify-content: space-between;
        margin: 2rem 0 0;
    }

    .headerButtonContainer a {
        width: 47.5%;
        text-align: center;
        font-size: 2rem;
        padding: 2rem;
    }

    .logoContainer {
        max-width: unset;
        border-right: none;
    }

    .logoSpace img {
        padding: 0;
    }

    header,
    .outerHeaderContainer,
    .headerContainer {
        height: 6.5rem;
    }

    .fullScreenPlaceholder .closeImageButton {
        left: 2rem;
        top: 8rem;
    }
}

@media (max-width: 700px) {
    .logoContainer {
        width: 30%;
    }
    footer ul {
        flex-direction: column;
        align-items: center;
    }

    footer ul li {
        margin-bottom: 1rem;
    }

    footer ul li:last-child {
        margin-bottom: unset;
    }

    .pagination {
        flex-direction: column-reverse;
    }

    .pagination .currOffset {
        margin-top: 2rem;
    }
}

@media (max-width: 600px) {
    .logoContainer {
        width: unset;
        margin: 0 auto;
        height: 80%;
        aspect-ratio: 4/1;
    }

    .pageWrapper .smallFormContentWrapper .leftContentSide .profileImageContainer {
        width: 6rem;
        height: 6rem;
    }

    .pageWrapper .smallFormContentWrapper .rightContentSide {
        padding-left: 1rem;
    }

    .pageWrapper .smallFormContentWrapper .contentInfoContainer {
        font-size: 2rem;
    }

    .pageWrapper .smallFormContentWrapper .contentBody {
        padding: 0.5rem 0;
    }

    .pageWrapper .smallFormContentWrapper .contentBody p,
    .pageWrapper .smallFormContentWrapper .quoteText {
        font-size: 1.9rem;
    }

    .pageWrapper .smallFormContentWrapper .quoteDate,
    .pageWrapper .smallFormContentWrapper .timeContainer {
        font-size: 1.4rem;
    }

    .pageWrapper .smallFormContentWrapper .quoteUpperContainer {
        font-size: 1.7rem;
    }

    .pageWrapper .smallFormContentWrapper .quoteText {
        font-size: 1.7rem;
    }

    .pageWrapper .smallFormContentWrapper .articleContainer {
        padding: 1.5rem;
    }

    .pageWrapper .smallFormContentWrapper .quoteWrapper {
        padding: 1rem;
    }

    .headerContainer .smallScreenSearchIcon {
        margin-left: unset;
    }
}

@media (max-width: 575px) {
    .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 2;
    }
}

@media (max-width: 550px) {
    .pageWrapper {
        padding: 0;
    }
    .tabsContainer {
        margin: 2rem;
    }
    .emptyInformationContainer {
        margin: 2rem;
    }
}

@media (max-width: 500px) {
    .closeSearchIcon {
        position: absolute;
        top: 0;
        right: 0.5%;
        color: #fff;
        background: red;
        padding: 0.6rem;
        cursor: pointer;
        width: 10%;
        font-size: 2.5rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.8rem;
    }

    .smartphoneCreateListMenu {
        position: fixed;
        width: 97.5%;
    }

    .smartphoneCreateListMenu .formHeaderContainer {
        font-size: 2.2rem;
        padding: 2rem 0;
    }

    .smartphoneCreateListMenu .formHeaderContainer .closeFormContainerButton {
        padding: 0.9rem;
    }

    .smartphoneCreateListMenu form label {
        margin: 1rem 0 0.5rem;
        font-size: 2rem;
    }

    .smartphoneCreateListMenu form input,
    .smartphoneCreateListMenu form select {
        font-size: 1.8rem;
        padding: 0.5rem 1rem;
    }

    .smartphoneCreateListMenu form #id_is_public {
        width: 2rem;
        height: 2rem;
        margin-top: -2.6rem;
        margin-left: 19rem;
    }

    .smartphoneCreateListMenu .formSubmitButton {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .addToListForm label {
        font-size: 1.8rem;
    }

    .addToListForm input {
        width: 1.8rem;
        height: 1.8rem;
    }

    .messages {
        white-space: unset;
        width: 90%;
    }

    .quoteDate {
        display: none;
    }

    .searchResult .stockContainer .stockTicker {
        width: 20%;
    }
    .searchResult .stockContainer .companyName {
        width: 80%;
    }
}

@media (max-width: 450px) {
    .pageWrapper .smallFormContentWrapper .leftContentSide .profileImageContainer {
        width: 4rem;
        height: 4rem;
    }
    .emptyInformationContainer {
        margin: 2rem;
    }
}

@media (max-width: 425px) {
    .searchResult .stockContainer .stockTicker {
        width: 25%;
    }
    .searchResult .stockContainer .companyName {
        width: 75%;
    }
}

@media (max-width: 400px) {
    .logoSpace .logoSmall {
        height: 70%;
    }

    .pagination button,
    .pagination a {
        width: 4rem;
        height: 4rem;
    }
}

@media (max-width: 350px) {
    .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 1;
    }
    .searchResult .stockContainer .stockTicker {
        width: 30%;
    }
    .searchResult .stockContainer .companyName {
        width: 70%;
    }
}

@media (max-width: 335px) {
    .pagination button,
    .pagination a {
        margin: 0.25rem;
    }
}

/* ####################################################*/
/* Media Queries - End */
/* ####################################################*/

.infoLink {
    position: absolute;
    right: 0;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.infoLink:hover {
    background: #f5f5f5;
}

.infoLink .fa-info {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.3rem;
    color: gray;
    border: 0.2rem solid;
}

.fullScreenPlaceholder {
    display: none;
    z-index: 999;
    position: absolute;
    width: 100%;
    height: 100%;
}

.fullScreenPlaceholder .fullScreenWrapper,
.fullScreenPlaceholder .fullScreenImage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-width: 95%;
    max-height: 100%;
}

.fullScreenPlaceholder .closeImageButton {
    display: none;
    border-radius: 50%;
    background: var(--primary-fontColor);
    cursor: pointer;
    font-size: 3rem;
    position: fixed;
    left: 0;
    top: 10.5rem;
    z-index: 1;
    width: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0 25px 25px 0;
    color: white;
}

.fullScreenPlaceholder .closeImageButton:hover {
    background: #fff;
    color: var(--primary-fontColor);
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer,
.fullScreenPlaceholder .fullScreenWrapper .explanationContainer,
.fullScreenPlaceholder .fullScreenWrapper .smallScreenSearchContainer {
    display: none;
    background: white;
    box-shadow: var(--box-shadowScheme);
    font-size: 2rem;
    border-radius: 0.45rem;
    padding: 2rem;
}

.fullScreenPlaceholder .fullScreenWrapper .smallScreenSearchContainer {
    height: 57.5rem;
    overflow-y: auto;
}

.fullScreenPlaceholder .fullScreenWrapper .explanationContainer .formHeaderContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #e2e6ea;
    padding-bottom: 1rem;
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer .fa-times,
.fullScreenPlaceholder .fullScreenWrapper .explanationContainer .fa-times {
    position: absolute;
    right: 0;
    font-size: 2rem;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: grey;
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer .fa-times:hover,
.fullScreenPlaceholder .fullScreenWrapper .explanationContainer .fa-times:hover {
    background: #f5f5f5;
}

.fullScreenPlaceholder .fullScreenWrapper .explanationContainer .explanation {
    text-align: justify;
    font-size: 2rem;
    line-height: 1.4;
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer img {
    width: 80%;
    margin: 0 10%;
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer h3,
.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer .desc {
    width: 80%;
    text-align: justify;
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer h3 {
    font-size: 2.5rem;
    margin: 1rem 10% 0;
    color: var(--primary-fontColor);
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer .desc {
    margin: 0 auto;
    font-size: 2rem;
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer .buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer a {
    color: white;
    background: var(--primary-fontColor);
    border: 0.2rem solid;
    cursor: pointer;
    font-size: 1.6rem;
    transition: background 0.2s, box-shadow 0.2s, color 0.2s;
    border-radius: 0.45rem;
    padding: 1rem;
    width: 100%;
    text-align: center;
    user-select: none;
    text-decoration: none;
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer .registerButton {
    background: white;
    color: var(--primary-fontColor);
    margin-top: 1rem;
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer .loginButton:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background: #1a73e8 !important;
}

.fullScreenPlaceholder .fullScreenWrapper .authPromptContainer .registerButton:hover {
    color: white;
    background: var(--primary-fontColor);
}

.fullScreenPlaceholder .smallScreenSearchContainer .mainInputSearch {
    width: 100%;
}

.fullScreenPlaceholder .smallScreenSearchContainer h3 {
    margin-top: 2rem;
    font-size: 2rem;
}

.smallScreenSearchContainer .smallFormContentWrapper #mainAutocomplete_result {
    box-shadow: unset;
    position: relative;
    top: 0;
}

.smallScreenSearchContainer .noResultsFound {
    display: none;
    padding: 4rem 0.5rem 2rem;
    text-align: center;
}

.errorContainer {
    display: flex;
    align-items: center;
}

.errorContainer img {
    height: 300px;
    margin: 0 auto;
}

.errorContainer .errorMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorContainer .errorMessageContainer h2 {
    font-size: 3rem;
    color: red;
}

.errorContainer .errorMessageContainer span:first-of-type {
    margin: 2rem 0;
}

.errorContainer .errorMessageContainer span {
    font-size: 2.5rem;
    text-align: center;
}
