.pageWrapper {
    display: flex;
}

.pageWrapper h3 {
    font-family: var(--site-Font);
}

.pageWrapper .longFormContentContainer {
    width: 67.5%;
}

.pageWrapper .tweetsContainer {
    display: block;
    position: sticky;
    right: 0;
    top: 10.5rem;
    margin-left: 2.5%;
    width: 30%;
    max-height: calc(100vh - 10.5rem);
}

.pageWrapper .tweetsContainer .smallFormContentWrapper {
    overflow-y: auto;
    max-height: calc(100vh - 14.6rem);
}

.pageWrapper .tweetsContainer h3 {
    font-size: 2.5rem;
    margin: 0 0 1rem;
}

.pageWrapper .longFormContentContainer h3 {
    font-size: 2.5rem;
    margin: 2rem 0 1rem;
}

.pageWrapper .longFormContentContainer .firstRow {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0;
}

.pageWrapper .longFormContentContainer .firstRow .smallLatestContainer {
    width: 49%;
    font-size: 1.4rem;
    background: white;
    border-radius: 0.45rem;
    padding: 1rem;
    border: 0.2rem solid var(--border-fontColor);
    border-radius: 0.45rem;
}

.pageWrapper .smallFormContentWrapper {
    background: white;
    border: 0.2rem solid var(--border-fontColor);
    border-top: none;
    border-radius: 0.45rem;
}

.pageWrapper .longFormContentContainer .firstRow .smallLatestContainer h3 {
    font-size: 2rem;
    border-bottom: 0.2rem solid var(--border-fontColor);
    padding-bottom: 0.5rem;
    margin: 0;
    font-family: 'LATO';
}

.pageWrapper .longFormContentContainer .firstRow .smallLatestContainer .smallContentContainer {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    border-bottom: 0.2rem solid var(--border-fontColor);
    overflow: hidden;
    white-space: nowrap;
}

.pageWrapper
    .longFormContentContainer
    .firstRow
    .smallLatestContainer
    .smallContentContainer:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.pageWrapper
    .longFormContentContainer
    .firstRow
    .smallLatestContainer
    .smallContentContainer:hover
    div {
    text-decoration: underline;
}

.pageWrapper .longFormContentContainer .firstRow .smallLatestContainer .smallContentContainer img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.pageWrapper .longFormContentContainer .firstRow .smallLatestContainer .smallContentContainer div {
    width: calc(100% - 2rem);
}

.pageWrapper .longFormContentContainer .firstRow .smallLatestContainer .smallContentContainer a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.pageWrapper .longFormContentContainer .sliderWrapper .sliderContentContainer .slider {
    --items-per-screen: 3;
}

.pageWrapper .smallFormContentWrapper .leftContentSide .profileImageContainer {
    width: 6rem;
    height: 6rem;
}

.pageWrapper .smallFormContentWrapper .rightContentSide {
    padding-left: 1rem;
}

.pageWrapper .smallFormContentWrapper .contentInfoContainer {
    font-size: 2rem;
}

.pageWrapper .smallFormContentWrapper .contentBody {
    padding: 0.5rem 0;
}

.pageWrapper .smallFormContentWrapper .contentBody p,
.pageWrapper .smallFormContentWrapper .quoteText {
    font-size: 1.8rem;
}

.pageWrapper .smallFormContentWrapper .quoteDate,
.pageWrapper .smallFormContentWrapper .timeContainer {
    font-size: 1.4rem;
}

.pageWrapper .smallFormContentWrapper .quoteUpperContainer {
    font-size: 1.7rem;
}

.pageWrapper .smallFormContentWrapper .quoteText {
    font-size: 1.7rem;
}

.pageWrapper .smallFormContentWrapper .articleContainer {
    padding: 1.5rem;
}

.pageWrapper .smallFormContentWrapper .quoteWrapper {
    padding: 1rem;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--primary-fontColor);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    animation: spin 2s linear infinite;
    margin: 2rem auto 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pageWrapper .tabsContainer {
    display: none;
}

@media (max-width: 1000px) {
    .pageWrapper {
        flex-direction: column;
    }
    .pageWrapper .longFormContentContainer {
        width: 100%;
    }
    .pageWrapper .longFormContentContainer .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 4;
    }
    .pageWrapper .tweetsContainer {
        display: none;
        position: relative;
        top: 0;
        margin-left: 0;
        width: 100%;
        max-height: unset;
    }
    .pageWrapper .recommendedHeader {
        display: none;
    }
    .pageWrapper .tweetsContainer .smallFormContentWrapper {
        overflow-y: unset;
        max-height: none;
    }

    .pageWrapper .tabsContainer {
        display: flex;
    }
}

@media (max-width: 800px) {
    .pageWrapper .longFormContentContainer .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 3;
    }
}

@media (max-width: 575px) {
    .pageWrapper .longFormContentContainer .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 2;
    }
}

@media (max-width: 550px) {
    .pageWrapper .longFormContentContainer h3 {
        margin-left: 1rem;
    }
    .pageWrapper .longFormContentContainer .firstRow {
        display: none;
    }
}

@media (max-width: 350px) {
    .pageWrapper .longFormContentContainer .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 1;
    }
}
