.sliderWrapper .sliderContentContainer .slider {
    --items-per-screen: 5;
}

.pageWrapper h2 {
    color: var(--secondary-fontColor);
    font-size: 2.5rem;
    margin: 2rem 0;
}

.pageWrapper .desc {
    text-align: justify;
    margin-top: 2rem;
    line-height: 1.8;
    font-size: 2.1rem;
    font-weight: 400;
    font-family: var(--site-Font);
}

.pageWrapper .desc a {
    color: var(--primary-fontColor);
    text-decoration: none;
}

.pageWrapper .desc img {
    height: 24px;
    width: 24px;
    margin-right: 1rem;
}

.pageWrapper .sliderHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}

.pageWrapper .sliderHeader div {
    cursor: pointer;
}

.pageWrapper .sliderHeader div:hover {
    text-decoration: underline;
}

.pageWrapper .sliderHeader div a {
    text-decoration: none;
    color: var(--secondary-fontColor);
}

.pageWrapper .sliderHeader i {
    margin-left: 1rem;
}

@media (max-width: 1100px) {
    .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 4;
    }
}

@media (max-width: 800px) {
    .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 3;
    }
}

@media (max-width: 575px) {
    .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 2;
    }
}

@media (max-width: 550px) {
    .pageWrapper .desc {
        margin: 2rem 2rem 0;
    }
    .pageWrapper .sliderHeader {
        margin: 0 1rem;
    }
}

@media (max-width: 350px) {
    .sliderWrapper .sliderContentContainer .slider {
        --items-per-screen: 1;
    }
}
