.mainContent h2 {
  color: var(--primary-fontColor);
  font-size: 3.5rem;
  text-align: center;
  margin-top: 1rem;
}

.mainContent .mainSearchWrapper {
  margin: 1.5rem auto;
  width: 50%;
}

.mainContent .mainInputSearch {
  width: 100%;
  font-size: 1.8rem;
  padding: 2.5rem 3rem 2.5rem 1.5rem;
}

.mainContent #autocomplete_list_results {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 100%;
  background: white;
  box-shadow: var(--box-shadowScheme);
  z-index: 100;
  font-size: 1.6rem;
}

.mainContent #autocomplete_list_results .searchResult span {
  max-width: 95%;
}

.tabsContainer {
  width: 50%;
  margin: 2rem auto;
}

.articlesWrapper {
  height: unset;
}

.articlesWrapper .articleContainer {
  width: 100%;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.websiteSearchWrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.websiteSearchWrapper .websiteSearchContainer {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.websiteSearchWrapper img {
  width: 3rem;
  margin-right: 0.5rem;
}

.websiteSearchWrapper a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.stocksWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.stocksWrapper .categoryHeader {
  position: relative;
  text-align: center;
  padding: 0.75rem 0;
  font-size: 2rem;
  color: #fff;
  border: 0.3rem solid #fff;
  width: 100%;
  background: var(--primary-fontColor);
}

.stocksWrapper .stockContainer {
  position: relative;
  display: flex;
  background: white;
  cursor: pointer;
  font-size: 2rem;
  padding: 1rem 0;
  border-bottom: 0.1rem solid #e2e6ea;
}

.stocksWrapper .stockContainer:hover {
  background: var(--primary-fontColor);
  color: white;
}

.stocksWrapper .stockContainer:hover .stockTicker {
  color: white;
}

.stocksWrapper .stockContainer .stockTicker {
  width: 15%;
  padding-left: 2.5%;
  color: var(--primary-fontColor);
}

.stocksWrapper .stockContainer .companyName {
  width: 85%;
}

.stocksWrapper .stockContainer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .mainContent {
    width: 100%;
  }

  .mainContent .mainSearchWrapper,
  .stocksWrapper,
  .tabsContainer {
    width: 75%;
  }

  .mainContent .searchCategories {
    width: 50%;
  }

  .mainContent .mainInputSearch {
    min-width: unset;
    max-width: unset;
  }
}

@media (max-width: 500px) {
  .mainContent .mainSearchWrapper,
  .stocksWrapper,
  .tabsContainer {
    width: 100%;
  }

  .mainContent .searchCategories {
    width: 75%;
  }

  .stockContainer .stockTicker {
    width: 25%;
  }

  .stockContainer .companyName {
    width: 75%;
  }
}
