{% extends 'home/base.html' %} {% load static %} {% load tags %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'sector/sector_details_style.css' %}">
<title>{{ sector.name }} Sector | FinBrowser</title>
<meta name="description" content="Discover the latest content related to {{ sector }}.">
{% endblock %} {% block content %}

<div class="sliderHeader">{{sector.name}} - Sources</div>
<div class="sliderWrapper">
    <div class="sliderContentContainer">
        <button aria-label="Slide Left" class="handle leftHandle">
            <i class="fas fa-chevron-left"></i>
        </button>
        <div class="slider">
            {% for source in sector.source_set.all|dictsort:"name" %}
            <div class="contentWrapper" id="fsss?si#{{ source.source_id }}">
                <img src="{% static source.favicon_path %}" alt="Source Picture" />
                <div class="contentRatingContainer">
                    <i class="fa fa-star"></i>
                    <span>{{ source.average_rating }}</span>
                </div>
                <div class="nameContainer">
                    <span>{{source.name}}</span>
                </div>
                {% if request.user.is_authenticated %}
                {% if source in subscribed_sources %}
                <button class="subscribeButton subscribed">Subscribed</button>
                {% else %}
                <button class="subscribeButton">Subscribe</button>
                {% endif %}
                {% if source.source_id in notification_sources %}
                <button class="notificationButton notificationActivated">Notification Off</button>
                {% else %}
                <button class="notificationButton">Notification On</button>
                {% endif %}
                {% else %}
                <a class="loginRedirectButton" aria-label="Login to subscribe" href="{% url 'account_login' %}">Subscribe</a>
                <a class="loginRedirectButton" aria-label="Login to turn on notifications" href="{% url 'account_login' %}">Notification
                    On</a>
                {% endif %}
                <a class="contentLink" href="{{ source.get_absolute_url }}"
                    aria-label="Open Profile Of {{ source.name }}"></a>
            </div>
            {% endfor %}
        </div>
        <button aria-label="Slide right" class="handle rightHandle">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>

<div class="contentColumnWrapper">
    {% if articles_from_sector %}
    <div class="contentColumnContainer halfPageContainer">
        {% create_content_container "Long-Form Content" articles_from_sector request user_lists csrf_token add_list_form highlighted_content_ids %}
        <div class="pagination">
            <span class="step-links">
                {% for i in articles_from_sector.paginator.page_range %}
                {% if articles_from_sector.number == i %}
                <button class="currentPagination">{{ articles_from_sector.number }}</button>
                {% elif i > articles_from_sector.number|add:'-3' and i < articles_from_sector.number|add:'3' %} <a
                    href="?long_form_content={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    {% endif %}
    {% if tweets_from_sector %}
    <div class="contentColumnContainer halfPageContainer">
        {% create_content_container "Tweets" tweets_from_sector request user_lists csrf_token add_list_form highlighted_content_ids %}
        <div class="pagination">
            <span class="step-links">
                {% for i in tweets_from_sector.paginator.page_range %}
                {% if tweets_from_sector.number == i %}
                <button class="currentPagination">{{ tweets_from_sector.number }}</button>
                {% elif i > tweets_from_sector.number|add:'-3' and i < tweets_from_sector.number|add:'3' %} <a
                    href="?tweets={{ i }}">{{ i }}</a>
                {% endif %}
                {% endfor %}
            </span>
        </div>
    </div>
    {% endif %}
</div>


{% endblock content %}