{% extends 'home/base.html' %} {% load static %} {% load tags %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'sector/sector_details_style.css' %}">
<title>{{ sector.name }} | FinBrowser</title>
<meta name="description" content="Discover the latest content related to {{ sector }}.">
{% endblock %} {% block content %}

<div class="pageWrapper">
    <h2>{{sector.name}}</h2>

    <div class="tabsContainer" id="content">
        <button class="activatedTab" data-for-tab="0">Analysis</button>
        <button data-for-tab="1">Commentary</button>
        <button data-for-tab="2">News</button>
    </div>

    <div class="tabsContent tabsContentActive" data-tab="0">
        {% if analysis_sources %}
        <div class="contentColumnContainer halfPageContainer">
            {% create_source_container analysis_sources subscribed_sources request %}
            {% create_content_container analysis request highlighted_content_ids "analysis" %}
        </div>
        {% else %}
        <div class="emptyInformationContainer">
            <span>No analytical content found!</span>
        </div>
        {% endif %}
    </div>
    <div class="tabsContent" data-tab="1">
        {% if commentary_sources %}
        <div class="contentColumnContainer halfPageContainer">
            {% create_source_container commentary_sources subscribed_sources request %}
            {% create_content_container commentary request highlighted_content_ids "commentary" %}
        </div>
        {% else %}
        <div class="emptyInformationContainer">
            <span>No commentary found!</span>
        </div>
        {% endif %}
    </div>
    <div class="tabsContent" data-tab="2">
        {% if news_sources %}
        <div class="contentColumnContainer halfPageContainer">
            {% create_source_container news_sources subscribed_sources request %}
            {% create_content_container news request highlighted_content_ids "news" %}
        </div>
        {% else %}
        <div class="emptyInformationContainer">
            <span>No news content found!</span>
        </div>
        {% endif %}
    </div>
</div>



<script src="{% static 'sector/sector_details_script.js' %}"></script>
{% endblock content %}