{% extends 'home/base.html' %}
{% load static %}
{% load cache %}
{% block head %}
<title>FinBrowser | Sectors</title>
<link rel="stylesheet" type="text/css" href="{% static 'sector/min_sectors_style_v5.css' %}">
<meta name="description" content="Discover the latest content on a specific topic.">
{% endblock %}

{% block content %}

<div class="filterBar smallerScreenFilterBar" role="form" aria-label="Filter Menu">
    <div class="selectContainer filterSelectContainer">
        <button aria-label="Filter" class="filterButton"><span>Filter</span><i class="fa-solid fa-filter"></i></button>
    </div>
    <div class="filterBarMenu">
        <div class="selectContainer">
            <label for="paywall">Paywall</label>
            <select id="paywall">
                <option value="All" selected="selected">All</option>
                <option value="Yes">Yes</option>
                <option value="Semi">Semi</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="selectContainer">
            <label for="type">Type</label>
            <select id="type">
                <option value="All" selected="selected">All</option>
                <option value="Analysis">Analysis</option>
                <option value="News">News</option>
            </select>
        </div>
        <div class="selectContainer">
            <label for="minimum_rating">Minimum Rating</label>
            <select id="minimum_rating">
                <option value="All" selected="selected">All</option>
                <option value="4.5">4.5 Stars</option>
                <option value="4">4.0 Stars </option>
                <option value="3.5">3.5 Stars</option>
                <option value="3">3.0 Stars</option>
                <option value="2.5">2.5 Stars</option>
                <option value="2">2.0 Stars</option>
            </select>
        </div>
        <div class="selectContainer">
            <label for="website">Website</label>
            <select id="website">
                <option value="All" selected="selected">All</option>
                <option value="SeekingAlpha">SeekingAlpha</option>
                <option value="Spotify">Spotify </option>
                <option value="Substack">Substack</option>
                <option value="Twitter">Twitter</option>
                <option value="YouTube">YouTube</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>
    <div class="selectContainer searchSelectContainer">
        <div class="searchContainer">
            <input aria-label="Search" id="search" placeholder="Search term" type="text" />
            <i class="fas fa-search"></i>
        </div>
        <div id="autocomplete_list_results"></div>
    </div>
    <div class="selectContainer searchButtonSelectContainer">
        <button class="searchButton">Search</button>
    </div>
</div>

<div class="searchResultsWrapper">
    <div class="searchResultsContainer">
        <h3>Search Results</h3>
        <div><span>{{ results_found }}</span> Sources Found</div>
    </div>
</div>

{% for sector in sectors %}
<div class="headerAndShowMoreContainer">
    <h3>{{ sector.name }}</h3>
    <a href="{{ sector.get_absolute_url }}" aria-label="Open Sector - {{ sector.name }}">Show More <i
            class="fas fa-chevron-right"></i></a>
</div>
<div class="sliderWrapper">
    <div class="sliderContentContainer">
        <button aria-label="Slide Left" class="handle leftHandle">
            <i class="fas fa-chevron-left"></i>
        </button>
        <div class="slider">
            {% for source in sector.source_set.all|dictsort:"name" %}
            {% if source.name in filtered_sources %}
            <div class="contentWrapper" id="fsss?si#{{ source.source_id }}">
                <img src="{% static source.favicon_path %}" alt="Source Picture" />
                <div class="contentRatingContainer">
                    <i class="fa fa-star"></i>
                    <span>{{ source.average_rating }}</span>
                </div>
                <div class="nameContainer">
                    <span>{{source.name}}</span>
                </div>
                {% if request.user.is_authenticated %}
                {% if source in subscribed_sources %}
                <button class="subscribeButton subscribed">Subscribed</button>
                {% else %}
                <button class="subscribeButton">Subscribe</button>
                {% endif %}
                {% if source.source_id in notification_sources %}
                <button class="notificationButton notificationActivated">Notification Off</button>
                {% else %}
                <button class="notificationButton">Notification On</button>
                {% endif %}
                {% else %}
                <a class="loginRedirectButton" aria-label="Login to subscribe" href="{% url 'account_login' %}">Subscribe</a>
                <a class="loginRedirectButton" aria-label="Login to turn on notifications" href="{% url 'account_login' %}">Notification
                    On</a>
                {% endif %}
                <a class="contentLink" href="{{ source.get_absolute_url }}"
                    aria-label="Open Profile Of {{ source.name }}"></a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <button aria-label="Slide right" class="handle rightHandle">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>
{% endfor %}
<script src="{% static 'sector/min_sectors_script_v3.js' %}"></script>
{% endblock %}