{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'support/support_style.css' %}">
<title>ResearchBrowser | Suggest Sources</title>
{% endblock %}
{% block content %}

<div class="browserCategory aboutHeader">About</div>

<div class="aboutContainer">
    <h3>Background</h3>
    <p>I remember very well the time I started investing. I was absolutely clueless where to get good information on
        individual
        companies and the best thing that came to my mind right away was to look up all the YouTube stock research I
        could find
        on a company.
    </p>
    <p>
        However, it didn't take long for me to realize that very few channels conveyed any real informational value.
        Instead,
        you mostly only learned a few basic things about the company and heard some metrics.
    </p>
    <p>So I moved on pretty quickly and looked for new sources that go into a little more detail. After finding a number
        of
        sites with similarly weak content to YouTube, I found SeekingAlpha. There, for the first time, I came across a
        wide range of top authors who publish great deep dives. So, over the course
        of the year, I spent day after day reading through article after article, building a deeper understanding of
        individual
        companies and industries.</p>
    <p>
        At the time I was doing this, I noticed that many authors were starting to publish articles on Substack as well.
        That's
        how I became aware of the growing number of great new writers on Substack, and my list of sources outside of
        SeekingAlpha grew rapidly. On Substack, in turn, I became aware that a large community of professional investors
        had formed on Twitter that shared
        their knowledge with the masses.
    </p>
    <h3>Why I Created This Site</h3>
    <p>Now, as retail investors, we are very fortunate that such a huge number of great sources exist on the open
        internet.
        Unfortunately, these sources are very scattered and it is not always easy to find good information in the large
        sea of
        mediocre content. Furthermore, many are not even aware that this content is freely available on the Internet. My
        hope is
        to change that with this website and to generate more traffic for authors who generously share their detailed
        knowledge
        with us retail investors. I hope that the number of such sources will continue to increase in the future and
        believe
        that this could make a great contribution to the democratization of the financial world by reducing the
        information
        dissymmetry between Wall Street and Main Street.
    </p>
    <h3>About Me</h3>
    <p>Since I started dealing with stocks more than half a decade ago, it has developed into my biggest hobby, into
        which a
        large part of my free time goes. My focus is primarily on the tech industry, although lately I have also been
        increasingly involved with other industries such as energy and commodities. My other great passion in life is
        computer
        science, in which I am currently working on my master's degree. So this website was also a great opportunity to
        combine
        my two interests.
    </p>
    <p>P.S I am German so please excuse if my english is not always 100% on point.</p>




</div>

{% endblock content %}