{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'support/sitemap_style.css' %}">
<title>ResearchBrowser | Suggest Sources</title>
{% endblock %}
{% block content %}
<div class="container">

    <section id="sec1">

        <h2>ResearchBrowser</h2>
        <div class="row">
            <div class="col-md-3">
                <h3>Website Navigation</h3>
                <ul>
                    <li><a href="{% url 'home:feed' %}">Feed</a></li>
                    <li><a href="{% url 'home:lists' %}">Lists</a></li>
                    <li><a href="{% url 'home:sectors' %}">Sector</a></li>
                    <li><a href="{% url 'home:articles' %}">Articles</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Support</h3>
                <ul>
                    <li><a href="{% url 'support:sitemap' %}">Sitemap</a></li>
                    <li><a href="{% url 'support:suggest-sources' %}">Suggest Sources</a></li>
                    <li><a href="{% url 'support:suggestions' %}">Suggest Features</a></li>
                    <li><a href="{% url 'support:faq' %}">Support Center</a></li>
                    <li><a href="{% url 'support:report-bug' %}">Report Bug</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Policy</h3>
                <ul>
                    <li><a href="{% url 'support:about' %}">About</a></li>
                    <li><a href="{% url 'support:cookie-statement' %}">Cookie Statement</a></li>
                    <li><a href="{% url 'support:privacy-policy' %}">Privacy Policy</a></li>
                    <li><a href="{% url 'support:terms-of-service' %}">Terms Of Service</a></li>
                </ul>
            </div>
        </div>
    </section>

</div>

{% endblock content %}