{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'support/support_style.css' %}">
<title>ResearchBrowser | Suggest Sources</title>
{% endblock %}
{% block content %}

<div class="formContainer">
    <h3>Suggest New Sources</h3>
    <form action="" enctype="multipart/form-data" method="POST" class="createFeatureSuggestionForm">
        {% csrf_token %} {{ source_suggestion_form }}
        <input name="createFeatureSuggestionForm" type="submit" class="formSubmitButton" value="Save" />
    </form>
</div>

{% endblock content %}